[2017-03-24 13:39] differentreality commented on #1356
Well yes, this is a ruby on rails application :-)

[2017-03-24 13:40] jaels commented on #1356
Ohh. My mistake. I do see there are some JS files...

[2017-03-24 20:27] nikhilgupta1211 opened #1402 "Security issue from Hakiri"
Nokogiri version 1.7.1 has been released, pulling in several upstream patches to the vendored libxml2 to address the following CVEs: CVE-2016-4658 CVSS v3 Base Score: 9.8 (Critical) libxml2 in Apple iOS before 10, OS X before 10.12, tvOS before 10, and watchOS before 3 allows remote attackers to execute arbitrary code or cause a denial.

[2017-03-25 05:06] TheAssassin opened #1403 "HTTP 500 when SMTP server is not available"
Whenever the SMTP server is not available, the very non intuitive error 500 page is displayed. I noticed this every time during registration tests while writing a Dockerfile when an SMTP server was not available, which was the reason for having to set up MailHog for testing.

I think OSEM should display a message like "mail could not be sent, please try again later".

[2017-03-25 05:07] BelieveC opened #1404 "SyntaxError in SchedulesController#events"
`app/views/schedules/_event.html.haml` have unexpected `=>` on line 21

![screenshot from 2017-03-25 10-23-14](https://cloud.githubusercontent.com/assets/14261624/24319618/0f620e08-1147-11e7-963a-17b361e49a1c.png)

[2017-03-25 08:55] TheAssassin opened #1406 "in registration form"

[2017-03-25 14:15] a-tze commented on #1188
Ok then. And what happens if your conference is today and tomorrow and takes place in Europe?

[2017-03-25 16:33] #1404 closed

[2017-03-25 16:34] differentreality commented on #1403
@TheAssassin how is this reproducable in development?

[2017-03-25 19:24] TheAssassin commented on #1403
Just set `OSEM_SMTP_ADDRESS` and/or `OSEM_SMTP_PORT` to some random host that doesn't exist or at least does not provide an SMTP server (e.g. `localhost` and `12345`). Then try to register. OSEM creates the user, and you can login, but after it finished the database interactions, it tries to send the mail to the SMTP gateway, and as the service is not available, a 500 page is rendered and shown.
I

[2017-03-25 22:05] TheAssassin commented on #1377
I've set it all up and created a PR (see above). I followed your words about database support and set it up to use MariaDB by default. The version in the PR solves the

problem by even including MailHog, a tiny SMTP server that intercepts every mail and displays it in a browser.

I haven't got to writing documentation about it, but I put lots of comments into the source files.

The comments also d

[2017-03-25 22:51] msdundar commented on #1406
There is an inconsistent situation here.

"Name" field stands for the real name of users, however it's not clear if a full name, first name or last name expected.

The issue is because of lack of necessary validations on password and password_confirmation. Beside this, there is no validation about "name" on the User model:

[code]

So it is probably best to remove { required: true } tag for 'name'

[2017-03-25 23:28] msdundar opened #1409 "Missing Label and Unnecessary Fields in Edit Account Page"
Firstly, in the 'edit account' page (/accounts/edit), label for the 'email_public' field is missing. The default behavior of Rails brings 'Email public' string to the view, however this is not a clear explanation for users.

Secondly, OpenID instructions are rendered in the edit account page, even though there is no openid associated with the account.

[2017-03-25 23:42] msdundar opened #1410 "Name, Nickname and Username Are Confusing"
When registering to OSEM, the form consists a 'name' field, but there is no further explanation. What do we mean with name? First name, last name or full name?

Also it is very confusing to have two similar but separate fields named as 'username' and 'nickname'.  The username is located in the 'edit account' page and the nickname is located in 'edit profile' page. What is the difference between th

[2017-03-26 13:58] #1383 closed

[2017-03-26 14:08] #1402 closed

[2017-03-26 14:21] differentreality commented on #1410
Name is the name of the person, we don't want to assume that everybody has a first name and last name, and that they want to give both to us. So there is a single field for people to fill out as they see fit.

Nickname is your identifier online, eg IRC. It is not the username for logging in to OSEM.

Does that make sense?
We can of course provide clarifications (hints) on the edit fields.

[2017-03-26 14:56] msdundar commented on #1410
Yes, probably it is better to provide hints for the fields.

[2017-03-26 17:27] differentreality commented on #1157
Is this supposed to be a state between :new and :accept? Meaning before we make an official acceptance?

[2017-03-26 20:58] BelieveC opened #1411 "No method error in Admin::Events#index"
When you try to download XLS file from Admin::Events#index you get error as follows:
Error: `undefined method 'reopen' for "streamed":String`

![screenshot from 2017-03-27 00-05-23](https://cloud.githubusercontent.com/assets/14261624/24335078/63c78862-1294-11e7-91be-456d20a28f45.png)

Ref: [Link](https://github.com/straydogstudio/axlsx_rails/issues/18#issuecomment-132234648)

[2017-03-27 08:23] Ana06 opened #1412 "CVE-2016-4658 in nokogiri"
Nokogiri version 1.7.1 has been released, pulling in several upstream patches to the vendored libxml2 to address the following CVEs:

CVE-2016-4658 CVSS v3 Base Score: 9.8 (Critical) libxml2 in Apple iOS before 10, OS X before 10.12, tvOS before 10, and watchOS before 3 allows remote attackers to execute arbitrary code or cause a denial of service (memory corruption) via a crafted XML document.

C

[2017-03-27 08:37] BelieveC commented on #1411
On it!

[2017-03-27 08:38] nikhilgupta1211 commented on #1412
@Ana06 it was resolved in #1401 :)

[2017-03-27 09:20] Ana06 commented on #1412
Didn't see it, sorry. :+1:

[2017-03-27 09:20] #1412 closed

[2017-03-27 09:24] Ana06 commented on #1188
@a-tze

What do you exactly mean?

[2017-03-27 10:03] #1385 closed

[2017-03-27 10:16] a-tze commented on #1188
I was referring to the this-year-magic-weekend with DST change. Is the conference timezone +0100 or +0200 then? Does it work if you plan the conference in February and schedule something for March 26th 10am, is it then magically 11am after DST change (it shouldn't be) and so on. In my experience you get around those problems only if you save every timestamp with timezone.
(And yes, we did already

[2017-03-27 17:43] alator21 commented on #1410
Can i work on it?

[2017-03-28 06:54] differentreality commented on #1410
Go ahead @alator21 !

[2017-03-28 08:48] #1373 closed

[2017-03-28 08:50] Ana06 opened #1414 "Enable Rails/Validation Rubocop cop"
Enable Rails/Validation Rubocop cop: https://rubocop.readthedocs.io/en/latest/cops_rails/#railsvalidation

[2017-03-28 08:54] Ana06 opened #1415 "Enable Style/NegatedIf Rubocop cop"
Enable Style/NegatedIf Rubocop cop: https://rubocop.readthedocs.io/en/latest/cops_style/#stylenegatedif

[2017-03-28 08:55] Ana06 opened #1416 "Enable Style/ZeroLengthPredicate Rubocop cop"
Enable Style/ZeroLengthPredicate Rubocop cop: https://rubocop.readthedocs.io/en/latest/cops_style/#stylezerolengthpredicate

[2017-03-28 08:58] BelieveC commented on #1416
On it!

[2017-03-28 09:00] BelieveC commented on #1415
On it!

[2017-03-28 09:02] differentreality commented on #1415
@BelieveC you currently have 5 pending open PRs with OSEM. I would rather you focus on them and how you can enhance those things you are already working on, work on them more, and leave the new junior jobs open for other people that want to get to know OSEM.

[2017-03-28 09:02] differentreality commented on #1416
@BelieveC you currently have 5 pending open PRs with OSEM. I would rather you focus on them and how you can enhance those things you are already working on, work on them more, and leave the new junior jobs open for other people that want to get to know OSEM.

[2017-03-28 09:17] BelieveC commented on #1415
@differentreality Alright! :+1:

[2017-03-28 09:26] BelieveC commented on #1416
@differentreality, Sorry, I opened a PR before I read your comment. I focus them too, sometimes it takes time to get my PR reviewed therefore working on different PR parallelly. Won't work on more than 5 PR concurrently. :+1:

[2017-03-28 09:28] BelieveC commented on #1415
Anyone who is interested can work on this!

[2017-03-28 11:18] #1416 closed

[2017-03-28 11:59] alator21 commented on #1410
@differentreality Are the messages okay?Is the view okay?Show i create a hint button near each field instead?
![screenshot from 2017-03-28 14-51-19](https://cloud.githubusercontent.com/assets/24437129/24403705/cc226a48-13c6-11e7-9b3d-df52f3482c28.png)

[2017-03-28 18:40] sunny-b commented on #1415
Can I take a stab at this one? Haven't contributed before and this seems simple enough.

[2017-03-28 19:32] siaw23 commented on #1414
on it ...

[2017-03-28 20:10] alator21 commented on #1410
#1419

[2017-03-28 20:17] lagartoflojo commented on #1415
@sunny-b go ahead :)

[2017-03-29 06:56] #1414 closed

[2017-03-29 08:15] siaw23 commented on #1379
should i do this one? @shlok007 @Ana06 @ChrisBr

[2017-03-29 09:26] siaw23 commented on #1342
how do i reproduce this? want to check it out.

[2017-03-29 09:35] siaw23 commented on #1282
3 likes means it's a nice idea :P. i find it reasonable too to have the same name across board to avoid confusion. just my 2 cents.

[2017-03-29 09:42] differentreality commented on #1282
I will be working on this in the next month.

[2017-03-29 14:57] neilhalligan commented on #1409
Ok if I take this on?

[2017-03-29 17:59] neilhalligan commented on #1409
Will do thanks

[2017-03-30 01:28] nikhilgupta1211 opened #1422 "Missing components in the splashpage"
![image](https://cloud.githubusercontent.com/assets/14905919/24483478/04d02470-1516-11e7-99b7-7873403acc3b.png)
Include Venue and lodgings are missing

[2017-03-30 05:15] suprgyabhushan commented on #1087
There is no error in upgrading to Rails 5 but is it not better to look up this matter at a later stage as many of the existing gems required for solving other bugs may not be compatible with Rails 5.

[2017-03-30 05:20] suprgyabhushan opened #1424 "Profile Picture and Mobile Number in Edit Profile Page"
For Issue#73 in openSUSE/mentoring, will it not be better to add a mobile number and profile picture section for adding more security to the user side. The issue is to generate a QR code which will be scanned at the meeting venue for the ease of the user. It will be better if thorough verification of the user is still done like getting the picture of the user or sending an OTP to the registered mo

[2017-03-30 08:18] differentreality commented on #1087
That's precisely the goal of this issue

[2017-03-30 08:30] #1415 closed

[2017-03-30 19:10] neilhalligan commented on #1356
Is it ok to work on this?

[2017-03-31 05:54] Ana06 commented on #1342
@siaw23 Open the schedule in Firefox for example :wink:

[2017-03-31 09:35] #1188 closed

[2017-04-03 08:23] #1220 closed

[2017-04-03 09:52] differentreality opened #1427 "admin/resources error if there is no current_user"
If you try to access admin/resources#index directly, and you are not signed_in, it throws an error instead of asking you to sign in.

[2017-04-03 10:59] #1422 closed

[2017-04-03 12:42] shlok007 commented on #1427
Oh! I'll work on it.

[2017-04-03 13:58] Ana06 opened #1428 "Enable Style/Tab Rubocop cop"
Enable Style/Tab Rubocop cop:
https://rubocop.readthedocs.io/en/latest/cops_style/#styletab :bowtie:

[2017-04-03 15:14] JewelSam commented on #1403
@differentreality I don't know how important this task so I made quick decision (in pull request). If you say it's okay I will improve it. Problems which I noticed:

- if user register, account will be created but confirmation mail will not be sent. And user will see message "mail could not be sent, please try again later", but account with such email already exists.
- I didn't check how it behave

[2017-04-03 15:43] nasia-sam commented on #1427
i would be interested to work on it :)

[2017-04-03 15:44] differentreality commented on #1427
Go ahead @nasia-sam

[2017-04-04 13:15] Abhinand-p commented on #1356
@differentreality
Hi,
I am working on this issue. I have included **geocoding code** in order to eliminate latitude and longitude entries. I am trying to resolve the errors.

![image](https://cloud.githubusercontent.com/assets/12455261/24658169/8d86f72c-1966-11e7-9908-67c63b553c29.png)

![image](https://cloud.githubusercontent.com/assets/12455261/24656881/dd664fae-1961-11e7-875f-e91dcda1a1df.png)

[2017-04-04 13:30] Ana06 opened #1431 "Enable Style/DotPosition Rubocop cop"
Enable Style/DotPosition Rubocop cop:
https://rubocop.readthedocs.io/en/latest/cops_style/#styledotposition

[2017-04-04 13:57] sunny-b commented on #1431
I can do this one

[2017-04-04 15:24] shlok007 opened #1432 "Permission to access admin/schedules by cfp"
Currently only users with `organizer` role can manage admin/schedules as specified in https://github.com/openSUSE/osem/blob/master/app/models/ability.rb#L160 .

Users with role `cfp` handles the events in a conference so giving them access to schedules as well is something that could be considered .

[2017-04-04 15:52] sunny-b commented on #1431
So I've enabled the cop and ran autocorrect. There is one small bump. Line 65 in app/models/cfp.rb is now 209 characters long -- 1 character longer than your specified max length.

Should I leave it like that and complete the PR or change the maxlength cop to 209?

[2017-04-04 19:13] neilhalligan commented on #1428
I would like to take this on. Is it available?

[2017-04-04 20:26] davidsf opened #1435 "Missing description field in schedule xml"
The app giggity complains about the xml returned by our osem installation.

The problem is that the xml doesn't have a description field.

[2017-04-04 20:48] codyborders commented on #1428
@neilhalligan I am working on it -- sorry I didn't post a comment claiming it!

[2017-04-05 07:44] Ana06 commented on #1435
But we have never pretend OSEM to work with [Gigity](https://play.google.com/store/apps/details?id=net.gaast.giggity), have we? There may be more things that doesn't work with it. Do we want to have the field abstract and description in the `xml` with both the abstract? :thinking:

There is a related issue here: https://github.com/openSUSE/osem/issues/1049

@hennevogel, @differentreality, @ChrisBr

[2017-04-05 07:46] Ana06 commented on #1432
I would say that user with `cfp` role don't need to access the schedule. :thinking:

@differentreality what do you think?

[2017-04-05 07:47] Ana06 commented on #1431
@sunny-b You should fix the offense but without changing the maxlength. You can write the line in several lines instead or something like that.

[2017-04-05 07:50] Ana06 opened #1437 "Enable Lint/DuplicatedKey Rubocop cop"
Enable Lint/DuplicatedKey Rubocop cop:
https://rubocop.readthedocs.io/en/latest/cops_lint/#lintduplicatedkey

[2017-04-05 07:50] Ana06 commented on #1428
@neilhalligan what about issue https://github.com/openSUSE/osem/issues/1437?? It is quite similar to this one. :slightly_smiling_face:

If so please add a comment in the issue so everybody is aware you are working on it :wink:

[2017-04-05 07:53] Ana06 commented on #1437
@neilhalligan do you want to do this? :slightly_smiling_face:

[2017-04-05 10:48] neilhalligan commented on #1437
Hi Ana06, Ill take this thanks!

[2017-04-05 11:34] Ana06 opened #1439 "Splashpage show and edit pages should look similar"
We should make the Splashpage show and edit pages to look similar. Order the items that can be in the Splashpage the same. And also there are two items missed in the show page.

Splashpage edit page:

![image](https://cloud.githubusercontent.com/assets/16052290/24703555/f1841f1e-1a03-11e7-9009-2d5547db8bf5.png)

Splashpage show page:

![image](https://cloud.githubusercontent.com/assets/16052290/24

[2017-04-05 12:25] Abhinand-p commented on #1356
@differentreality
Hi,
I am successful in eliminating latitude and longitude entries from the create venue form. I have executed in localhost. The geocoder package is installed. Based on the address specified, latitude and longitude values are automatically generated and entered into the Venues database. The map is now displayed based on the computed values. The following snapshots depict successfu

[2017-04-05 12:34] #1340 closed

[2017-04-05 14:41] nasia-sam commented on #1439
Hello, could I work on it ?

[2017-04-05 16:26] nasia-sam commented on #1439
@Ana06 Actually, I've done some work. Should I make a pull request ?

![screenshot from 2017-04-05 19-04-37hg](https://cloud.githubusercontent.com/assets/24506693/24715834/9ba428d2-1a35-11e7-8a03-3515e028515e.png)

[2017-04-06 02:53] sunny-b commented on #1431
Oh yeah, duh haha. Will do

[2017-04-06 06:58] differentreality commented on #1435
We didn't shout it out loud, but when we implemented the XML export, we did it with the structure that was useful (useful to apps like Gigity, and to the video team). So I would say that we should provide a valid XML export to be used in android apps and to make the life of video people easier.

I am indeed wondering myself why we need to have abstract shown twice. @davidsf can you help us underst

[2017-04-06 07:01] differentreality commented on #1432
CfP team is exactly who should be handling the schedule. They handle the call for papers, that is not just setting the dates for the cfp, it's taking care of the conference's program, that includes assigning tracks/difficulty levels, accepting/rejecting proposals, and coming up with the conference's schedule.

[2017-04-06 07:22] Ana06 commented on #1435
@differentreality

I guess that the abstract field is called description in Gigity. So I would say that for Gigity it would be fine if we remove abstract and add description. The problem is that this may not work for other apps.

[2017-04-06 07:26] differentreality commented on #1435
If that's the case now (wasn't last year) we should just add the field description with the abstract content.

[2017-04-06 07:34] #1437 closed

[2017-04-06 07:47] nasia-sam commented on #1432
I could work on it :)

[2017-04-06 07:48] differentreality commented on #1432
@nasia-sam you can go ahead, I don't think anything else before you do, @Ana06 ?

[2017-04-06 09:41] Ana06 opened #1444 "Enable Performance/StringReplacement Rubocop cop"
Enable Performance/StringReplacement Rubocop cop:
https://rubocop.readthedocs.io/en/latest/cops_performance/#performancestringreplacement

[2017-04-07 04:02] BelieveC opened #1447 "Registration limit should not be less than count of registrations in conference"
In conference, `registration_limit` attribute should be greater than equal to `conference.registrations.count`.

Scenario:

- Initially, conference have no restriction on registration
- 10 attendee registered for the conference
- Later admin want to add restriction on registration
- Registration Limit to the conference should be greater than equal to 10

Following update should raise an error

![r

[2017-04-07 09:21] #1431 closed

[2017-04-07 11:29] sunny-b commented on #1444
I can get this one

[2017-04-07 15:57] Ana06 commented on #1447
Not sure, for example speaker to register even after the Registration period is over because they will be there anyway. So, because of the same reason we should allow them to Register even if the exceed the Registration limit. Then introducing a validation should take this into account. :thinking:

@differentreality @ChrisBr ideas?

[2017-04-07 16:50] #1428 closed

[2017-04-07 16:51] Ana06 commented on #1432
yes, go ahead! :wink:

[2017-04-08 19:01] AEtherC0r3 commented on #1315
This should have been closed when #1366 was merged

[2017-04-08 19:33] #1315 closed

[2017-04-08 19:38] siddhantbajaj commented on #1447
@Ana06 @BelieveC I had a discussion with @differentreality regarding this here #1347  and we decided not to add a validation for this. :wink:

[2017-04-08 20:02] AEtherC0r3 commented on #1365
I think that the tests should include:
1. View tests to verify that the buttons for every provider are available in the root, signup and signin pages
2. Tests for signing up/in with every provider using the mock accounts

Since we don't have view tests anymore, no. 1 will not be implemented.

For no. 2, I found out that there are some macros defined in spec/support/omniauth_macros.rb.
So, should I

[2017-04-11 08:52] Ana06 commented on #1447
@siddhantbajaj

ok, then I'll close this! :wink:

[2017-04-11 08:52] #1447 closed

[2017-04-11 08:54] Ana06 commented on #1439
@nasia-sam sorry I didn't read it until now. The PR is already merged, so I'll close this :wink:

[2017-04-11 08:54] #1439 closed

[2017-04-12 14:05] Ana06 opened #1450 "Update Rubocop"
Update Rubocop to the last version 0.48.1.

`.rubocop_todo.yml` file should be generated again after the update.

[2017-04-12 14:07] Ana06 commented on #1450
@agrim123 do you want to work on this? :wink:

[2017-04-12 14:08] Ana06 commented on #1395
This is block until https://github.com/openSUSE/osem/issues/1450 get merged, as haml-lint depends on Rubocop 0.48 and our current version is too old. Changing everything in one single PR is too much.

[2017-04-12 14:08] agrim123 commented on #1450
@Ana06 I think I can give it a shot.

[2017-04-13 11:11] differentreality commented on #379
https://github.com/ankane/ahoy/issues/32  is now closed and there are new versions of ahoy gem. Worth updating and re-checking if this issue is still valid?

[2017-04-13 11:56] #1427 closed

[2017-04-13 12:00] differentreality commented on #1424
@suprgyabhushan if you want to refer people to another issue, please properly link to that issue.

[2017-04-13 12:19] nasia-sam commented on #1390
I could work on it!

[2017-04-14 13:04] differentreality opened #1453 "[production][subscriptions#create] ActiveRecord::RecordInvalid: Validation failed: User has already been taken, User already subscri..."
subscriptions#create threw this 0 times
<pre>
ActiveRecord::RecordInvalid: Validation failed: User has already been taken, User already subscribed!
</pre>
[https://events.opensuse.org/conference/oSC17/subscriptions](https://events.opensuse.org/conference/oSC17/subscriptions)"

[See this exception on Errbit](https://errbit-opensuse.herokuapp.com/apps/5620ca99dc71fa00b1000002/problems/58f0c3b670ffe6

[2017-04-14 13:23] differentreality opened #1454 "Schedule shows first speaker image twice"
After introducing multiple speakers per talk #1278, the schedule shows the image of the first speaker twice. This is happening even if the speaker is not the submitter of the proposal.

![screenshot from 2017-04-14 12-10-26](https://cloud.githubusercontent.com/assets/4322737/25041794/5428f3a6-211b-11e7-9d79-b702c286e907.png)

[2017-04-14 13:25] differentreality opened #1455 "Move users collection to a helper"
Comment https://github.com/openSUSE/osem/pull/1278#issuecomment-283924951 in #1278 has not been implemented yet.

The code in the view should look like this https://github.com/openSUSE/osem/pull/1278#issuecomment-287769708

[2017-04-14 13:30] differentreality commented on #652
Done in 790e2fd3a285fc765e681712754c23661619da27

[2017-04-14 13:30] #652 closed

[2017-04-14 13:41] differentreality commented on #1252
We discussed this during the GSoC meeting (voice call) and we will add booths to OSEM.

[2017-04-14 13:50] differentreality commented on #1435
@davidsf ping

[2017-04-14 14:02] BelieveC opened #1456 "Make each Lodging Card in the Splashpage of equal height w.r.t to its row"
Lodging Cards in the Splashpage have different height according to its content.

![screenshot from 2017-04-14 19-14-26](https://cloud.githubusercontent.com/assets/14261624/25045399/c09abb04-2149-11e7-8f6c-cff31c0886c6.png)

We can improve user experience by making Height of each card in the single row of the same height as anyway we are starting next lodging card on next row.

This can be easily d

[2017-04-14 14:12] differentreality opened #1457 "Refactor authorization for schedule"
There is no longer a `schedule` action for conferences controller
https://github.com/openSUSE/osem/blob/master/app/models/ability.rb#L37

Program doesn't really need to be authorized for schedule, we only need to load it, and only authorize schedule resource
https://github.com/openSUSE/osem/blob/master/app/controllers/admin/schedules_controller.rb#L6

[2017-04-14 14:14] #1432 closed

[2017-04-14 14:21] BelieveC opened #1458 "Add Link to Lodging(Where to stay part of Splashpage) in the Navbar of Splashpage's Navbar"
We don't have link to `Lodging(Where to stay part of Splashpage)` in `splashpage` navbar

- Splashpage Navbar:

![navbar](https://cloud.githubusercontent.com/assets/14261624/25045798/9dcff506-214b-11e7-9721-01dc2fbab8b9.png)

- Splashpage Lodging part:

![screenshot from 2017-04-14 19-24-49](https://cloud.githubusercontent.com/assets/14261624/25045812/b1a5f77e-214b-11e7-9eb9-906f085d2d38.png)

I t

[2017-04-14 15:14] davidsf commented on #1435
Sorry for the delay,

With the patch, gigity works great for us. So, just adding the abstract content as another description field it's ok.

[2017-04-14 15:42] siddhantbajaj opened #1459 "Organiser of a conference can remove the admin of OSEM app"
Since organiser of the conference has access to revision history therefore organiser can revert is_admin attribute of admin. I don't think organiser should be allowed to revert this change.

![screenshot from 2017-04-14 21 06 04](https://cloud.githubusercontent.com/assets/17237680/25047880/fb819410-2156-11e7-9f7d-1ec564fc7dc3.png)

[2017-04-14 15:48] differentreality commented on #1435
@davidsf what I was asking is do we need both fields? Or just description? Do you know if this is a new requirement of gigity?

[2017-04-14 15:52] differentreality commented on #1459
Definitely not! Good catch!

[2017-04-14 16:12] davidsf commented on #1435
A quick test show me that with only the description field gigity workf s ok. I don't know if this is a new requirement, In giggity readme it says that supports  xcal/Pentabarf/frab/wafer formats. What is the format of osem xml ?

[2017-04-17 12:19] nikhilgupta1211 commented on #1454
I am on it :)

[2017-04-17 12:30] BelieveC commented on #1457
On it!

[2017-04-17 18:37] cniedzwiedz commented on #747
Not sure if this is the appropriate way to indicate this, but I would also like this feature.  I can here to open a similar request.

[2017-04-18 13:16] AEtherC0r3 commented on #1455
I will work on this

[2017-04-18 13:20] #1454 closed

[2017-04-18 13:37] #1302 closed

[2017-04-19 13:26] BelieveC commented on #1457
Fixing bug in the #1352. Will refactor authorization for schedule immediately after fixing it.

[2017-04-20 07:50] Ana06 opened #1463 "Enable Style/WordArray Rubocop cop"
Enable Style/WordArray Rubocop cop: https://rubocop.readthedocs.io/en/latest/cops_style/#stylewordarray

[2017-04-21 05:50] BurtGummer commented on #1376
Same here, need LDAP authentication because all my users authenticate with LDAP.

[2017-04-22 10:07] nasia-sam commented on #1463
i could work on it !

[2017-04-23 09:01] AEtherC0r3 opened #1466 "The field "Name" in the sign up form is required"
In the User model the presence of :name is not validated, and in the signup form there is no asterisk indicating that the "Name" field is required. Yet, in  https://github.com/openSUSE/osem/blob/master/app/views/devise/registrations/new.html.haml#L12 we can see that the attribute "required" is set to true, which results in a message nagging anyone who wants to leave that field empty.
![2017-04-23

[2017-04-24 07:16] #1390 closed

[2017-04-24 07:20] differentreality opened #1467 "Merge with rebase instead of merge commit?"
Do we want to merge the pull requests using *rebase and merge* option, instead of *create a merge commit* option?

[2017-04-24 07:24] differentreality commented on #1466
Good catch! Isn't this a duplicate of #1406 though?

[2017-04-24 08:03] AEtherC0r3 commented on #1466
Closed as duplicate of #1406

[2017-04-24 08:03] #1466 closed

[2017-04-24 08:14] differentreality opened #1468 "Allow users to remove openid"
Currently a user can add multiple openids from the user Account settings. However those openids cannot be removed, they should.

[2017-04-24 08:53] #1450 closed

[2017-04-24 10:28] differentreality commented on #747
@cniedzwiedz you don't have to open another issue for this. Commenting here is fine. Even though at this point this issue is vague in terms of implementation. As a result, don't expect it to be implemented, before we come up with a plan on how to do it.

[2017-04-24 11:28] Ana06 commented on #747
@differentreality  we could have a new attribute in events that indicate if this event take place in all the rooms or not. Then it will be render in all the rooms and when schedule it, it could only be schedule if there are not more events at the same time in any room.

I think it is not that difficult, although it implies changes things in several places.

[2017-04-25 06:40] differentreality commented on #1435
It's frab format https://github.com/openSUSE/osem/issues/733

[2017-04-25 06:45] differentreality commented on #1049
@sleep-walker can you confirm #1435 ?

[2017-04-25 08:56] sleep-walker commented on #1435
I can confirm that giggity can't parse exported schedules.

[2017-04-25 10:35] #1435 closed

[2017-04-26 07:39] AEtherC0r3 opened #1470 ".rubocop_todo.yml should exclude the application helper"
In #1451 the line that excludes the application helper was removed (https://github.com/openSUSE/osem/pull/1451/files#diff-74423563ec7c74f4cb7f74689b49e7c1L45)

This change causes rubocop on travis to fail with `app/helpers/application_helper.rb:1:1: C: Metrics/ModuleLength: Module has too many lines. [478/472]`

[2017-04-26 11:32] Ana06 commented on #1470
Rubocop in master is working, see the last build: https://travis-ci.org/openSUSE/osem/builds/225553409

In #1451 the `todo` file was generated again after update Rubocop. Application helper got removed but the number of lines increased.

[2017-04-26 11:32] #1470 closed

[2017-04-26 11:38] #1333 closed

[2017-04-27 12:52] AEtherC0r3 commented on #829
I'm going to work on this.
About the registration_limit, do we want to take into account the speakers of new, unconfirmed and confirmed events in order not to exceed it or just bypass the registration_limit for speakers of confirmed events in case it has been reached or exceeded

[2017-04-27 12:54] AEtherC0r3 commented on #802
While working on #829 i will add the final touches so this can be closed too

[2017-05-02 16:40] AEtherC0r3 commented on #1470
The number 472 was deliberately chosen in order for the rule to cop without the application_helper excluded. This implies that if someone adds even a single line of code then the cop will fail. As far as I know the purpose of rubocop is to enforce best coding practices. Therefore, I don't think that changing the rules to fit our case is the "proper" thing to do. So I think we should leave the excl

[2017-05-02 18:05] alator21 opened #1472 "HTML generated code isn't up to standards."
HTML code generated by the app isnt up to any of the HTML standards.You can check this out by pasting the source code from any page of the project in the [w3 validator](https://validator.w3.org/).Is that okay?Should this be fixed?

[2017-05-02 19:06] AEtherC0r3 opened #1473 "Tickets turnover and sold contains unpaid tickets"
admin/tickets#index and #show include tickets that have not been paid.

To recreate:
1. As an attendee select tickets (with non zero price) to buy
2. Press the Continue button with the little cart
3. Do not make the payment
4. Go to admin/tickets#index, the columns sold and turnover will have taken into account the unpaid tickets

[2017-05-02 19:06] alator21 commented on #1473
I can work on  it.

[2017-05-03 10:14] danimo opened #1474 "frab XML view: dates not sorted"
The current export is: ```<day date="2017-05-27" index="1">, <day date="2017-05-26" index="2">, <day date="2017-05-28" index="3">```

This is obviously wrong. My guess is that
https://github.com/openSUSE/osem/blob/master/app/views/schedules/show.xml.haml#L12
is the culprit and that sorting the keys would fix it.

[2017-05-03 10:32] differentreality commented on #1474
This is specific to events.opensuse.org and not the current branch of OSEM.

[2017-05-03 10:34] danimo commented on #1474
If it's fixed it would be nice to learn which commit fixes the issue so we can backport it.

[2017-05-03 20:47] TeddySmoker commented on #1468
Hey!

I want to get involved in FOSS and I recently found OSEM on up-for-grabs. I think this issue is fairly easy and I can do it myself, but I would like first to have a bit of guidance.

I have a rough idea of how to test it, similarly to the omniauth feature spec which tests the adding of openid to an existing user.
But I don't really know where I should place the logic, should it be in the Use

[2017-05-03 21:40] differentreality commented on #1468
Hi @TeddySmoker ! If you are going to remove an openid, you are destroying a record of Openid model, so the openids controller should be handling that. Does that cover your question? Feel free to reach out through here, or IRC if you require more help.

[2017-05-03 22:03] TeddySmoker commented on #1468
Hey @differentreality, thanks for clearing that out.
I was guessing that it should be similar to a simple delete method, but all the time I was thinking of "Fat model, Skinny controller" and if I should place the logic in the model or not.

Again, thanks for clearing that out and I will give it a try to see how it works out, should be quite easy.

Cheers!

[2017-05-03 22:23] AEtherC0r3 opened #1475 "An admin shouldn't be able to submit a proposal when the submission period is closed"
If the cfp for a conference exists then an admin can submit a proposal for that conference, even when the submission period isn't open

Steps to reproduce:
1. Sign in with an admin account
2. Select a conference
3. Create cfp with dates in the future
4. Go to root_path
5. Press the 'Submit Proposal' button
6. Create a proposal

The same happens if the cfp dates are in the past

[2017-05-06 06:30] differentreality commented on #1470
#1335 will solve this. Indeed the file should have stayed excluded in rubocop.

[2017-05-06 06:33] differentreality commented on #1473
Good catch @AEtherC0r3
@alator21 go ahead :)

[2017-05-06 06:40] differentreality commented on #1473
It also seems that in admin/tickets#index the total number of tickets (and of turnover) changes to the newest amount of tickets being ready to be purchased, ie I chose to buy 2 tickets, but then didn't. The next day I chose to buy 5 tickets (but haven't paid yet). What is shown in admin/tickets#index is the 5 tickets (latest tickets I wanted to buy, plus the latest any other user would like to buy

[2017-05-06 07:03] differentreality commented on #1475
An admin can do everything, and should be able to bypass things other users cannot access.
An admin, or an organizer, can (and should be able to) submit events like lunch breaks, or a last minute competition session, or extra open slots for BoFs.
These things do not fall into the rules of CfP, ie don't need voting or approval, and are not tightly related to the job the CfP team.

[2017-05-06 07:03] #1475 closed

[2017-05-06 07:37] #1365 closed

[2017-05-06 17:49] differentreality opened #1477 "Check for speakers biography in reports"
In admin/reports#index we refer to `submitter biography`, but what we actually care about is speakers biographies

[2017-05-06 17:50] nasia-sam commented on #1459
i will work on it

[2017-05-07 14:32] divyanshumehta commented on #1458
I would like to work on this issue.

[2017-05-07 18:48] AEtherC0r3 commented on #1477
i will work on this

[2017-05-08 12:28] #1458 closed

[2017-05-08 17:03] differentreality opened #1479 "File reports.html.haml should no longer be in views/admin/events"
This file https://github.com/openSUSE/osem/blob/master/app/views/admin/events/reports.html.haml is no longer used after reports were moved to their own controller in #1250

[2017-05-09 06:38] AEtherC0r3 commented on #1479
I'm going to fix this along with #1477

[2017-05-10 04:50] divyanshumehta commented on #1456
I would like to work on it

[2017-05-10 19:09] differentreality opened #1482 "Show proposals to all speakers, not just submitter"
Users are able to see their submissions, but that only works if the user is the submitter. It should be showing the proposals where the user is just the speaker as well.

[2017-05-11 04:02] kallewa opened #1485 "/accounts/sign_out - page doesn't exist"
clicking "Sign out" link
launches
... /accounts/sign_out

and an error message
The page you were looking for doesn't exist.
You may have mistyped the address or the page may have moved.

[2017-05-11 04:40] kallewa commented on #1485
from /var/log/apache2/error.log
App 27845 stdout: Started GET "/accounts/sign_out" at 2017-05-11 04:36:36 +0000
App 27845 stdout: ActionController::RoutingError (No route matches [GET] "/accounts/sign_out"):

[2017-05-11 11:01] #1307 closed

[2017-05-11 11:10] divyanshumehta commented on #1482
ok on it

[2017-05-11 11:24] BelieveC commented on #1485
@kallewa, I think above log from `/var/log/apache2/error.log` is itself a reason for message that you are getting error message as when you do `/accounts/sign_out` as per Rails conventions we use `DELETE` http verb instead of `GET`. It is trivial no route will match for `/accounts/sign_out` using `GET`. I don't think this is an problem. :wink:

[2017-05-11 13:15] kallewa commented on #1485
`/accounts/sign_out` is an operation called by OSEM. OSEM is wanting to `GET` something from the server, not `DELETE`anything. I didn't change any OSEM code; this is baked in.

[2017-05-11 13:30] kallewa commented on #1485
You're correct; `DELETE` it is.

Page Source
[code]

[2017-05-12 06:09] divyanshumehta commented on #1482
So in the index view of the conferences when the user clicks `Submit Proposals` the user must see all the existing proposals also?

[2017-05-12 08:43] differentreality commented on #1485
@kallewa is it possible you tried to open the sign_out link in a new tab? That can cause the action to ge GET instead of DELETE

[2017-05-12 10:14] kallewa commented on #1485
PEBKAC. Since posting this issue, I've already learned a lot, such as there's still more to learn.
The INSTALL instructions suggest looking on the web for how to deploy rails apps. It's clear that more looking and learning is in order. I'm closing this issue in favor of following the INSTALL instructions.

[2017-05-12 10:14] #1485 closed

[2017-05-13 14:47] #802 closed

[2017-05-13 15:30] #1394 closed

[2017-05-14 18:44] AEtherC0r3 commented on #1410
This issue should be closed

[2017-05-15 09:10] differentreality commented on #1410
Fixed in #1419

[2017-05-15 09:10] #1410 closed

[2017-05-18 15:29] differentreality commented on #1473
@alator21 ping

[2017-05-18 15:30] differentreality commented on #1468
@TeddySmoker are you working on this? What's your progress? Do you need help with anything?

[2017-05-18 15:30] differentreality commented on #1459
@nasia-sam ping what's the progress on this?

[2017-05-19 05:05] AEtherC0r3 commented on #1087
I'm going​ to work on this

[2017-05-19 09:22] Ana06 opened #1488 "Enable Rails/Delegate Rubocop"
Enable Rails/Delegate Rubocop cop
https://rubocop.readthedocs.io/en/latest/cops_rails/#railsdelegate

[2017-05-20 15:26] #1477 closed

[2017-05-20 15:26] #1479 closed

[2017-05-20 15:27] #1455 closed

[2017-05-20 20:16] AEtherC0r3 commented on #1087
Rails 5 needs at least Ruby 2.2.2, the vagrant installation has 2.1 by default. A way to overcome this is to install rvm or rbenv and use that to install the required ruby version. Is there a simpler method available?

[2017-05-20 20:34] AEtherC0r3 commented on #1054
This happens in CanCanCan's exception handler (https://github.com/openSUSE/osem/blob/master/app/controllers/application_controller.rb#L50), because a not signed in user doesn't have the ability to Registration#new when OSEM_ICHAIN_ENABLED is true (https://github.com/openSUSE/osem/blob/master/app/models/ability.rb#L53). Maybe we can add an if statement that chooses the redirect path depending on wh

[2017-05-21 14:37] divyanshumehta commented on #1488
I would like to work on it

[2017-05-21 15:22] divyanshumehta commented on #1482
ping @differentreality

[2017-05-21 21:14] Ana06 commented on #1488
@divyanshumehta go ahead! :wink:

[2017-05-22 09:28] hennevogel commented on #1087
@AEtherC0r3 sure. distro packages :-)

https://build.opensuse.org/project/show/devel:languages:ruby has everything you need

[2017-05-23 12:24] #1488 closed

[2017-05-26 05:07] Colemalban commented on #1468
Is this issue open now? If no one is working on it I would be interested.

[2017-05-26 05:41] differentreality commented on #1468
@Colemalban hi! I haven't seen any activity from @TeddySmoker for some time now, so I'd say you can go ahead and work on it.

[2017-05-26 05:50] orangecms commented on #1049
Perfect, I ended up here looking for the XML file. :D Thanks, maybe the link could simply be included in each year's event description? Anyway, I'm using it for https://metaspora.org/osc17 - a mobile-friendly schedule for browsers :clinking_glasses: :)

[2017-05-26 20:55] TheRealBro opened #1492 "provide API to publish videos in OSEM during conference"
Please implement some kind of  API - to be able to publish video from the publishing-chain to the OSEM-website. (Identifier should be the event id - like shown in the schedule: https://events.opensuse.org/conference/oSC17/schedule.xml) - ask me if you have further questions :)

[2017-05-26 20:58] TheRealBro opened #1493 "User model cannot be created for new users to OSEM"
PLACEHOLDER issue for @darix (please add your information)

[2017-05-27 15:55] darix commented on #1493
1. new user authenticates
2. user model gets set up for the user
3. when osem tries to save it, mysql reports "duplicate email address"
4. User.find(email: 'email from user') throws RecordNotFound error

smells like trying to save twice within a transaction?

[2017-05-28 08:43] differentreality commented on #1492
We are working on importing a text file with format
event_id:youtube_url, eg 111:http://www.youtube.com/etcetc

Would that work? Do you have anything else in mind?

https://github.com/openSUSE/osem/pull/1198

[2017-05-28 08:50] TheRealBro commented on #1492
https://github.com/voc/publishing

these are the scripts we are using atm for YouTube, Twitter and media.ccc.de

Something which behaves API-like would be cool, to include it into these scripts.

[2017-05-28 10:36] TheRealBro opened #1496 "Have more than one speaker per talk"
at the moment OSEM generates the following file:
https://events.opensuse.org/conference/oSC17/schedule.xml
which is used for the exports to media.ccc.de and youtube after processing the videos.
Also the metadata are automatically added from this schedule file.

Unfortunately - atm - OSEM has only the speaker who requested the talk as "speaker" in the schedule and in the system - examples see here:

[2017-05-28 11:43] differentreality commented on #1496
This has already been implemented in OSEM (it is not deployed to events.opensuse.org though)
https://github.com/openSUSE/osem/pull/1278

[2017-05-28 11:43] #1496 closed

[2017-05-28 21:42] Ana06 opened #1497 "Enable Style/SpaceInsideBrackets Rubocop cop"
Enable Style/SpaceInsideBrackets Rubocop cop
https://rubocop.readthedocs.io/en/latest/cops_style/#stylespaceinsidebrackets

:bowtie:

[2017-05-29 03:13] divyanshumehta commented on #1497
on it :+1:

[2017-05-29 08:59] lagartoflojo opened #1499 "Test issue for Hosted OSEM"
Testing!

[2017-05-29 08:59] #1499 closed

[2017-05-29 09:01] lagartoflojo opened #1500 "test issue"
test

[2017-05-29 09:01] #1500 closed

[2017-05-29 09:08] shlok007 opened #1501 "Test"

[2017-05-29 09:08] #1501 closed

[2017-05-29 09:25] shlok007 opened #1502 "Modify schema to introduce organizations"
The part of modified schema is as follows:

![organization_table](https://cloud.githubusercontent.com/assets/14155445/26544009/cca6ea56-447d-11e7-953e-6ac368af2015.png)

Organizations will have a belongs_to has_many relationship with conference.

[2017-05-29 10:39] shlok007 opened #1503 "Introduce views to manage organizations"
Views to be added can include the following:

- admin/organization#index
![admin organization index](https://cloud.githubusercontent.com/assets/14155445/26545318/c34a59fc-4482-11e7-993d-edebfd346a74.png)

- organization#new
![screenshot_20170529_160157](https://cloud.githubusercontent.com/assets/14155445/26546560/3b151454-4488-11e7-8b3c-a7134bc56ad9.png)

[2017-05-31 08:13] danimo opened #1508 "Provide API to submit oembed commercials"
Out video releasing pipeline can automatically submit the YouTube URL of a talk at release time. It knows the ID of the event as well as the URL YouTube is going to publish the video under.

What is needed is an (authenticated) API that the video publisher can call. It should accept the talk ID and the URL of the video. Authentication could happen via a simple token.

[2017-05-31 12:01] shlok007 opened #1509 "Change root to display organizations along with conferences"
The new root page should contain organizations as well as upcoming conferences from all organizations:

Mock-up for organization#index:

![organisation index](https://cloud.githubusercontent.com/assets/14155445/26630982/b180e5b0-4626-11e7-94f4-20b08b1b0466.png)

[2017-05-31 12:28] shlok007 commented on #1502
A simple solution could be to add a rake task to move all past conferences that does not belong to any organization yet to move them to a organization tittled something like "Multiple Organizations". This way every conference will belong to a particular organization from now on and there won't be a case where organization_id is not present.

[2017-05-31 12:40] lagartoflojo commented on #1502
That makes very good sense.
Since, up until now, only a single organization could use OSEM, instead of "Multiple Organizations" I would use something like "default" or "organization", which is generic enough.

Also, following your proposed logic, I'd add foreign key constraint forcing all Conferences to have an organization_id.

[2017-05-31 17:02] Andrew908 opened #1511 "Add event button does not appear in Events section"
![error](https://cloud.githubusercontent.com/assets/5663144/26643972/76f4885e-4633-11e7-9df2-d59d0d09f5c5.JPG)

As you can see from the print screen I can't see the button to add an event. the version for ruby i tried 3.4.1 2.3.4 and 2.2.7 same result. I also tried with rails 5 and 4. No change.

Can you please tell me how I can make the button appear.
I am using Linux Centos 7 with Apache.

Regar

[2017-05-31 18:42] differentreality commented on #1511
Hi @Andrew908, your ruby and rails versions are not relevant to this.

In order for proposals/events to show up on the table, users must first submit them, eg. http://demo.osem.io/conferences/osemdemo/program/proposals supposing cfp is open.

Alternatively an organizer can add an event from the admin panel (from where you are showing on your screenshot), but you probably need to pull the latest ch

[2017-05-31 22:19] thomic commented on #1508
@danimo this relates #1492 ... either close or merge issue to this one here

[2017-05-31 22:35] shlok007 opened #1512 "Add ability to upload logo for an organization"

[2017-06-02 10:00] danimo commented on #1492
Carry over from #1508: What is needed is an (authenticated) API that the video publisher can call. It should accept the talk ID and the URL of the video. Authentication could happen via a simple token.

[2017-06-02 10:01] danimo commented on #1508
Duplicate of #1492

[2017-06-02 10:01] #1508 closed

[2017-06-02 11:58] differentreality commented on #1511
@Andrew908 I will close this as it does not appear to be a bug with OSEM itself. Feel free to reach out again, if you are still unable to figure things out.
You can also find us on IRC (Freenode server #osem).

[2017-06-02 11:58] #1511 closed

[2017-06-02 18:07] shlok007 opened #1514 "Introduce new role 'organization admin' to manage organizations"
Related PR: #1538
The dotted/dashed line represents the permission for specific organization/conference the user belongs to whereas solid lines represents permission to create/manage all.

![organization_admin_role](https://cloud.githubusercontent.com/assets/14155445/26739308/ec942bca-47ee-11e7-8db3-a06b003388b7.png)

[2017-06-04 09:09] shlok007 opened #1518 "Change routes to introduce organizations"

[2017-06-04 17:52] shlok007 opened #1521 "Create a migration for organizations"
The migration should include the following:

- [ ] Add organization as reference to conferences
- [ ] Create a first default organization.
- [ ] Fill out the organization_id column on all existing conferences with the default organization's id.
- [ ] Create a foreign key so that the conference-organization relation is always valid.

[2017-06-04 19:49] AEtherC0r3 opened #1522 "Replace Date.today with Date.current in the rspec specs"
The test in https://github.com/openSUSE/osem/blob/master/spec/models/program_spec.rb#L154-L157 is passing because of a false negative. More specifically, in line 155 it uses build instead of create, so the new cfp isn't saved in the db, therefore Program#cfp_open? returns false because cfp.psesent? is false in https://github.com/openSUSE/osem/blob/master/app/models/program.rb#L140 and not because

[2017-06-05 07:29] Ana06 commented on #1522
@AEtherC0r3 good catch! the cfp should definitely be saved in thr test and `Date.current` should be used, as it is what is also used in the `cfp_open` method.

@AEtherC0r3 will send a PR? :wink:

There is also a nice RoboCop cop to ensure that the timezone it is always used: https://rubocop.readthedocs.io/en/latest/cops_rails/#railstimezone. It would also be nice to enable it with the *flexible* o

[2017-06-05 09:31] shlok007 commented on #1518
One way to do this is to change all existing named routes throughout the app and include organizations in them.

For example:
` admin_conferences_path`
becomes:
`admin_organization_conferences_path(@organization) `

I can't figure out any simpler way by myself. We could just keep the routes as it is but it would violate the conventions and could maybe cause inconvenience later on.

@lagartoflojo

[2017-06-05 11:19] lagartoflojo commented on #1518
I actually don't know if we want to change all the routes... What benefits will it bring?

[2017-06-05 18:16] shlok007 commented on #1518
Currently there should be a unique short title for every conference in OSEM. I was hoping that after introducing organizations many organizers might have the same short title of their  conference in different organizations so we can limit the short title to be unique for a particular organization only.

Example::
`/organization/openSUSE/conference/osc17`
`/organization/cloudCV/conference/osc17`
ca

[2017-06-06 06:26] AEtherC0r3 commented on #1522
@Ana06 I will do both of them (the fix and the cop)

[2017-06-06 12:56] #1463 closed

[2017-06-06 13:02] Ana06 commented on #1522
@AEtherC0r3 great! 😉

[2017-06-06 14:48] shlok007 opened #1524 "Ability to select organizations while creating a conference"
Reference #1637

[2017-06-06 16:07] Andrew908 opened #1525 "E-mail not sent when user registered for a conference"
Good afternoon,

First, Thank you for your answer. I was able to resolve the issue of the previous ticket.
Second. I check the box: Send an email when the user registers for the conference? but the user still doesn't receive an e-mail when he is registering to a conference. The users receives e-mails when he signs up, but not when he registers for the conference.

Third. Would it be possible to im

[2017-06-06 16:23] differentreality commented on #1525
Hey @Andrew908, have you setup the email_settings of the conference?
You need to check the box, as shown in the screenshot, and add data for subject & body of the email.

![screenshot from 2017-06-06 19-10-39](https://user-images.githubusercontent.com/4322737/26839501-dfde301a-4aeb-11e7-8944-475a6ad2e95c.png)

Also keep in mind
https://github.com/openSUSE/osem/blob/master/INSTALL.m

[2017-06-06 17:14] Andrew908 commented on #1525
As you can see from the print screen I have done this. And the e-mail is setup correctly otherwise I would not receive the confirmation e-mail.

Regards,
![error](https://user-images.githubusercontent.com/5663144/26842237-628c85c0-4aec-11e7-867a-a427d7a2b023.JPG)

[2017-06-06 18:59] differentreality commented on #1525
The link I pasted was broken in the previous comment, are you running `bundle exec rake jobs:work`?

[2017-06-06 19:00] differentreality opened #1527 "Refactor ticket purchases"
1. The ticket_purchases controller is not authorizing TicketPurchase
https://github.com/openSUSE/osem/blob/master/app/controllers/ticket_purchases_controller.rb

2. Theoretically, a ticked_purchase can occur at any time (after the conference, after registration period is over, etc), as there is no ability limiting it

3. Ticket graphs over time, in admin/conferences#index and admin/conferences#sho

[2017-06-06 21:37] Andrew908 commented on #1525
I get the following error message when I run that command:

rake aborted!
NoMethodError: undefined method `web_console' for #<Rails::Application::Configuration:0x007f822a42a820>
/var/www/html/osem/vendor/bundle/ruby/2.2.0/gems/railties-4.2.7.1/lib/rails/railtie/configuration.rb:95:in `method_missing'
/var/www/html/osem/config/environments/development.rb:5:in `block in <top (required)>'
/var/www/ht

[2017-06-06 21:47] differentreality commented on #1525
What's the exact command you are running? Is this your production environment? Perhaps you need to specify RAILS_ENV=production bundle exec ...

Why don't you join our IRC channel #osem on freenode?
Also keep in mind that by the end of the summer we will have implemented a new feature where you can use our hosted OSEM to create your conference.

Regarding your other questions for registering to ev

[2017-06-07 05:47] Andrew908 commented on #1525
Thank you for your answer and your time again. Indeed I was missing the production enviroment. But now I get a strange error that I don't understand why:

2017-06-07T07:35:34+0200: [Worker(host:v-host pid:11809)] Starting job worker
[Worker(host:v-inea-osem01 pid:11809)] Job ActiveJob::QueueAdapters::DelayedJobAdapter::JobWrapper (id=1) RUNNING
2017-06-07T07:35:34+0200: [Worker(host:v-host pid:118

[2017-06-07 07:05] differentreality commented on #1525
It would be extremely helpful if you were also posting the actual command you run.

Can you confirm you have the following lines?
https://github.com/openSUSE/osem/blob/master/config/environments/production.rb#L70-L82

[2017-06-07 08:40] Ana06 opened #1529 "Separate test suit"
Run the test suites separately.

Run linters (Rubocop and haml-lint) and RSpec in different jobs in Travis.

[2017-06-07 13:23] Ana06 opened #1531 "Enable Style/SelfAssignmen Rubocop cop"
Enable Style/SelfAssignmen Rubocop cop:
https://rubocop.readthedocs.io/en/latest/cops_style/#styleselfassignment

[2017-06-07 13:46] Andrew908 commented on #1525
this is the command: bundle exec rake jobs:work RAILS_ENV=production.

Yes I can confirm that some of them are enabled, others I have commented as they are not relevant for my mail server.

REgards,

[2017-06-07 20:00] harpojaeger commented on #1529
I'd be happy to take this on.  Here's what I see in .travis.yml now:
[code]

Am I right that what's needed here is to refactor .travis.yml roughly according to [these specs](https://docs.travis-ci.com/user/speeding-up-the-build/)?

[2017-06-07 23:13] shlok007 opened #1532 "Worklow to assign organization admins to organizations"
Being resolved in #1571
Since, only site admins have the ability to create organizations for now. Site admins should be able to assign organization admins of an organization.

I propose the following workflow:

A new button in organization#index to manage organization admin of a particular organization.
![screenshot_20170608_043224](https://user-images.githubusercontent.com/14155445/26905327-6e8f5

[2017-06-08 11:29] Ana06 commented on #1529
@harpojaeger great! :+1:

Travis should run rubocop and haml-lint (linter cop) together and rspec separately. so basically two `env`:

[code]

[2017-06-08 17:04] harpojaeger commented on #1529
Okay, looks good.  However, I forked the repo and Travis is failing right off the bat:
[code]

I want to make sure Travis is working *before* I start messing with the settings so I don't compound things further.

[2017-06-09 11:50] mdeniz commented on #1529
@harpojaeger I already was working on that before  @Ana06 created this issue... BTW I already fixed that failure of the dependencies for axlsx. 😄

[2017-06-09 12:27] Ana06 commented on #1529
@harpojaeger sorry for the misunderstanding :confounded:

[2017-06-09 15:11] harpojaeger commented on #1529
NP!

[2017-06-10 00:21] #1529 closed

[2017-06-10 12:18] differentreality commented on #1525
@Andrew908 re-reading your error it seems that jobs start just fine, and then you try to send an email which raises the error ` An SMTP From address is required to send a message. `

So perhaps you haven't set the email it requires?
https://github.com/openSUSE/osem/blob/master/app/mailers/mailbot.rb#L4

Which gets set from the contact information of your conference
http://demo.osem.io/admin/confer

[2017-06-11 14:01] Ana06 opened #1535 "Enable Rails/FindEach Rubocop cop"
Enable Rails/FindEach Rubocop cop
https://rubocop.readthedocs.io/en/latest/cops_rails/#railsfindeach

[2017-06-11 17:25] divyanshumehta commented on #1531
@Ana06 I would like to do this

[2017-06-12 12:16] differentreality commented on #462
Doughnut charts for tickets are already implemented in tickets#index, they can be made visible in conferences#index, when the conference is over.

[2017-06-13 10:04] #1468 closed

[2017-06-13 13:39] shlok007 commented on #1514
Since, `organization admin` will be presiding over all the conferences and `organizers` are restricted to their conference only, it makes sense __not__ to give permission to `organizers` to create new conference anymore.

A conference then, can __only__ be created by the site admin and the organization admin in the hosted version.

[2017-06-13 16:35] dPliakos commented on #1535
Hello! May I give a try to this?

[2017-06-13 18:11] lagartoflojo commented on #1514
I think, at least for now, there should only be an arrow from Site Admin -> Create organization, since that's the only thing we're allowing, right?

[2017-06-13 18:16] lagartoflojo commented on #1514
As for disallowing `organizers` from creating conferences, that probably makes sense.
So does the `organization admin` choose who the `organizer`s for each conference are?

[2017-06-13 18:17] lagartoflojo commented on #1514
Can you please explain what the different lines (solid, dashed, dotted) mean?

[2017-06-13 19:08] shlok007 commented on #1514
Since, we have made a few changes now, I'll update the diagram. The dotted/dashed line represents the permission for specific organization/conference the user belongs to whereas solid lines represents permission to create/manage all.

`organization admin` behave as just as organizers do for all it's conferences. So, yes.

There can be two possibilities here:

- Give permission to `organization adm

[2017-06-13 23:32] shlok007 opened #1542 "Add feature tests for organizations introduced"
Related PR: #1538

[2017-06-14 20:41] #1531 closed

[2017-06-15 00:19] vmbrasseur opened #1544 "Confusion with "complete your proposal""
We use OSEM for [SeaGL](https://osem.seagl.org).

Last year we had a LOT of questions from proposers about the "Complete your proposal" widget on their submissions page:

![screen shot 2017-06-14 at 17 12 27](https://user-images.githubusercontent.com/298927/27159863-f96cbaf8-5124-11e7-8385-da41d7a4a798.png)

Clicking the "Complete your proposal" text does nothing (but that could be because the exa

[2017-06-15 07:42] differentreality commented on #1544
Hey @vmbrasseur
The proposal tooltip is currently hard coded, https://github.com/openSUSE/osem/blob/master/app/views/proposals/index.html.haml#L76

We have found this to be useful for speakers registering to the conference, and speakers submitting their biography, which is in our opinion is necessary to properly review a proposal, and to properly present it once accepted.

I assume the only 2 thin

[2017-06-15 07:45] differentreality commented on #1544
By the way, clicking on the tooltip even after the cfp is closed, should be working just fine. Perhaps @vmbrasseur it's another issue if you can't see it?

[2017-06-15 10:19] lagartoflojo commented on #1514
I think option 1. is better - organization admins have full control of everything under their organization.
In case 2, if at some point, you want to "kick out" an organization admin from the organization, it will be much more work, since you'll have to remove them from every conference separately. I think there's more code (hence, increased possibilities of bugs) in this second scenario as well.

[2017-06-15 22:36] AEtherC0r3 opened #1546 "The markdown hint in text filelds is broken"
In the screenshot, we can see that bellow the text field, instead of the markdown hint, it shows the html code of the hint
Example from Users#edit
![markdown-hint](https://user-images.githubusercontent.com/3638310/27204489-29a728d8-5234-11e7-9676-30579e64b2cb.png)

[2017-06-16 03:43] vmbrasseur commented on #1544
@differentreality Perhaps it's something with our installation? I'm afraid I don't have the information or access to answer that.

The tooltip isn't the problem. The existence of the "Complete your proposal" widget at all is. We just don't use some of the items in the list, so having the widget there causes questions much more than it solves problems for us.

Perhaps the answer is to allow adminis

[2017-06-16 08:01] Ana06 commented on #1535
Sure! :+1:
You should also remove it from the `.rubocop-todo.yml` file as this one overwrite what is inside the `.rubocop.yml`. :wink:

[2017-06-16 08:04] #1286 closed

[2017-06-16 08:14] shlok007 commented on #1532
@lagartoflojo please do let me know if this looks good..

[2017-06-16 23:36] shlok007 opened #1548 "Instructions for site admins to work on OSEM."
The idea is to create instructions in the hosted version of OSEM that will help the site admins know how to start creating conferences after signing up. It can involve instruction to create their first organization, assign organization admins and conferences as well

Points that can be covered:
- Describe what organizations mean in OSEM
- Instruction to create new organization
- Describe what orga

[2017-06-19 03:02] shlok007 opened #1551 "Move specific features in OSEM to be organization wide"
The following table divides the features of OSEM into 3 different parts:
![screenshot_20170619_070231](https://user-images.githubusercontent.com/14155445/27266802-74d53310-54c1-11e7-8ebf-7abbdc92c019.png)

[2017-06-19 17:15] differentreality commented on #1548
We should definitely add instructions, somewhere. And it sounds like a good idea to point to those instructions on our INSTALL.md and/or README.md

Is this still the workflow you are working with?
When I am a site admin, and I have deployed OSEM for the very first time, when signing up I am redirected to admin area, where I can see the link to create a new conference (or now a new organization I a

[2017-06-19 17:39] shlok007 commented on #1548
Perfect! Sounds like the simplest solution.

I was hoping we can redirect to conferences dashboard, `admin/conferences#index` ( the way it is now ) as it displays the various insights into all the conferences. The `admin/organizations#index` will have nothing but a list of organizations for now. We can have a link to create new organizations somewhere in the admin/conference#index itself.

[2017-06-20 00:47] shlok007 commented on #1459
I was hoping I can move `admin/users` and the revision history for users registered in OSEM to be available __only__ for the site administrators now. In the hosted version, it doesn't make sense to allow organizers to view/edit other users registered in the app. This won't be an issue once that change takes place.

[2017-06-20 08:27] shlok007 commented on #1551
Here, do we want the whole revision history to be available only for `site admins`?

I suggest we can allow `organizers` to access revision history of their conference and `organization_admins` for their organizations and conferences within their organization.

[2017-06-20 08:38] #1535 closed

[2017-06-20 09:45] differentreality commented on #1551
Perhaps #1530 is relevant to this - it shows history per conference.
So that admins can see everything, and conference organizers can see what is relevant to their conference.

Site admins could keep the current functionality of admins, I guess? Which is that they are able to see all changes.

Then we would just need to add the possibility for organization_admins to see the relevant history, as yo

[2017-06-20 10:13] shlok007 commented on #1551
That makes perfect sense. I'll wait for #1530 to get merged before messing with versions. :)

[2017-06-20 12:45] differentreality commented on #1459
@shlok007 this is still an issue that needs to be fixed. When do you plan on implementing this change at a mergeable state? If it is happening soon, then sure, let's introduce your change directly.

[2017-06-20 12:46] differentreality commented on #1548
Sounds good to me!

[2017-06-20 17:23] shlok007 commented on #1459
It was the first thing on my to-do list  but I planned not to mess with versions unless #1530 is merged. We can have a temporary fix until then but as soon as #1530 is merged, this will jump right up to the first place again.

[2017-06-21 18:15] shlok007 opened #1552 "Define separate abilities for controllers in admin namespace"
Since, we are using separate controllers for administrators and non- administrators, there comes a situation when we want to allow access to actions in the controller without namespace and restrict access to the same actions present in the admin namespace.

For example: Allow access to `edit` action in the `UsersController` but restrict access to `edit` action in the `Admin::UsersController`

It m

[2017-06-22 08:30] stephlocke commented on #1087
Hi peeps,
I'm currently evaluating some conference management systems for use by some R conferences and my ruby guy pointed out the lack of Rails >=5 for osem right now.

We're hoping to do a deployment of a prototype second week of July - do you think this issue is likely to get fixed and closed at least in the git repo (not necessarily a release) within the next 3-4 weeks?

Cheers for developing

[2017-06-22 09:15] differentreality commented on #1087
Hi @stephlocke, we haven't done much progress with Rails 5 lately, as we are currently running 4 projects on GSoC, and we are focusing on those features. @AEtherC0r3 who started working on it is also a GSoC student.
We also have the GSoC evaulations that are coming up, so we are quite busy on that end.

That said, the Rails 5 update is definitely something we want to implement - and we will - howe

[2017-06-22 09:17] differentreality commented on #1552
We could do that, I'd work with you on this. However is this something you want to implement for/during your GSoC project?

[2017-06-22 11:33] lagartoflojo commented on #1551
I can have a look :)

[2017-06-22 11:53] lagartoflojo commented on #1532
Do we need to display the `id` field in the users table?

[2017-06-22 11:58] shlok007 commented on #1532
Sorry, I just realized this. I'll try to figure out why we why we have that in `admin/conference/roles` . If there is no particular reason, we can get rid of it!

[2017-06-22 12:43] differentreality commented on #1532
No direct reason, just so we know who is who, in case something goes wrong / we need sth, we have a user id to refer to (which is easier than an email or a name, etc).

[2017-06-23 00:20] shlok007 commented on #1548
I have added few instructions here: https://github.com/shlok007/osem/blob/update-installmd/INSTALL.md#setting-up-osem-for-the-first-time

[2017-06-23 05:09] differentreality commented on #1548
The instructions seem to be about the hosted version, so not really about installation.
How about we move this guide completely on our wiki, and just mention something like 'You can also use our hosted version directly, read more on our wiki'

In the screenshot it shows in the drop down menu that you have the items Users and Revision History, I don't think this will happen with the actual users, r

[2017-06-23 05:39] shlok007 commented on #1548
Let's do that! We use README.md because it gives a preview in our github repository too. I was not sure why are we using INSTALL.md when we have wiki available on github! :sweat_smile:

The preview is for site administrators who have access to both `Users` and `Revision History`. Sorry, do you have a problem with permissions to access those items by site administrators or the presence of those lin

[2017-06-23 05:42] shlok007 commented on #1552
Yes, I'll be happy to take this as well, thank you! :v:

[2017-06-23 06:50] differentreality commented on #1548
Right, it's for site admins, sorry!

INSTALL.md is for production environment. The process for development is different, so those things are split up.
I'd suggest we don't put too much data on the README.md (text, instructions, screenshots) that we make it huge.

[2017-06-23 13:15] AEtherC0r3 opened #1555 "Duplicate label attribute in admin/targets/_form"
One of the labels should be removed https://github.com/openSUSE/osem/blob/master/app/views/admin/targets/_form.html.haml#L13

[2017-06-26 10:40] lagartoflojo commented on #1532
Ok, I think I would just get rid of the ID column, since it doesn't really provide anything too useful.
Also, what's the first column with the yes/not toggle?

[2017-06-26 11:31] shlok007 commented on #1532
Toggling it to 'No' removes the assigned role.

[2017-06-26 11:47] lagartoflojo commented on #1532
Is this list supposed to show ONLY organization admins?

[2017-06-26 12:19] shlok007 commented on #1532
Yes, because the rest of the roles are conference specific and belongs to a particular conference only, they can be viewed/altered in `admin/conferences/#{short_title}/roles` ( just like they are being now. )

[2017-06-26 12:48] lagartoflojo commented on #1532
But then, by using the switch, as soon as it goes to "OFF", the user should disappear from the list, since this list is only for org admins...
Therefore it doesn't seem to me that the switch is the correct UI element to use here.

[2017-06-26 13:12] shlok007 commented on #1532
Okay! That's definitely not something we want.

What about something like this instead?
![screenshot_20170626_183307](https://user-images.githubusercontent.com/14155445/27540800-08d03e10-5a9f-11e7-8603-e4ad064675b5.png)

[2017-06-26 13:30] lagartoflojo commented on #1532
That looks much better.
I don't think the "view profile" button is needed. Wouldn't just clicking on the user's name take you to their profile?
And I'd label the button "Remove from organization admins" so it's more explicit

[2017-06-26 13:31] lagartoflojo commented on #1532
Does the "edit" button on the top right corner do anything?

[2017-06-26 18:12] shlok007 commented on #1532
And I'd label the button "Remove from organization admins" so it's more explicit

Sure!

I used the existing view for conference/roles to create this mockup. They have the 'edit' button to edit the _description_ of the roles. I suggest we keep it for `organization admins` as well. This will do no harm and only increase the level of customization we have.

[2017-06-27 08:00] lagartoflojo commented on #1532
hehe, when someone says "more customization", I hear "more complexity" 😛
I leave it up to you, I just didn't know what it was there for :)

[2017-06-27 08:24] Ana06 opened #1561 "Flickering proposal feature test"
This tests are sometimes failing:

[code]

[code]

[code]

[2017-06-27 15:30] #1546 closed

[2017-06-28 07:55] Ana06 opened #1562 "Flickering versions feature test"
This test is sometime failing:

[code]

Could be related to https://github.com/openSUSE/osem/issues/1561

[2017-06-28 08:30] Ana06 opened #1563 "Update Ruby to 2.4"

[2017-06-28 16:14] LiamElliott commented on #1555
Can I complete this? Good for a first contribution.

[2017-06-29 07:53] differentreality commented on #1555
Hi @LiamElliott, absolutely give it a go!

[2017-07-01 13:55] greggawatt commented on #1522
is this issued fixed?

[2017-07-02 00:34] Ana06 commented on #1522
No, this part is not done:

@AEtherC0r3 do you still plan to work on this? :thinking:

[2017-07-02 08:27] AEtherC0r3 commented on #1522
I still want to work on that but I don't think that is going to happen soon. So, @greggawatt if you want to do it, then go ahead :)

[2017-07-03 11:52] differentreality commented on #1555
Hey @LiamElliott, have you started working on this already?

[2017-07-05 13:36] differentreality commented on #1467
During our meeting at oSC17, we (me, Ana, Chris, Hernan, Moises, Sayali) decided to use rebase.

[2017-07-05 13:36] #1467 closed

[2017-07-05 13:43] differentreality commented on #1525
Due to the inactivity of the thread, I am assuming this was solved and it was not a bug in OSEM.

[2017-07-05 13:43] #1525 closed

[2017-07-05 13:45] #1474 closed

[2017-07-05 13:48] differentreality commented on #1395
@Ana06 can we close this?

[2017-07-05 15:40] differentreality commented on #1555
Closed in https://github.com/openSUSE/osem/pull/1567

[2017-07-05 15:40] #1555 closed

[2017-07-05 20:17] AEtherC0r3 commented on #1411
This seems to have been fixed in master

[2017-07-06 00:39] shlok007 commented on #1514
Closed via: #1538

[2017-07-06 00:39] #1514 closed

[2017-07-06 00:39] shlok007 commented on #1542
Closed via: #1538

[2017-07-06 00:39] #1542 closed

[2017-07-06 07:47] Ana06 commented on #1395
Sure! It was done in https://github.com/openSUSE/osem/pull/1469 :wink:

[2017-07-06 07:47] #1395 closed

[2017-07-06 07:49] Ana06 commented on #1527
@siddhantbajaj we are changing things here as part of your GSoC project. You also plan to improve the statistics, so I would say you would like to take a look at this issue. :wink:

[2017-07-06 08:04] differentreality commented on #1411
Fixed in https://github.com/openSUSE/osem/commit/ebe1ca374da3366e29efe1e63a65d618cdfe9fe5

[2017-07-06 08:04] #1411 closed

[2017-07-06 14:43] shlok007 commented on #1532
I gave it some thought again and it doesn't make sense to allow editing `Organization Admin` role name for somebody because that's exactly what the role is doing for every organization. Which might not be the case for roles like `info desk` or `volunteers coordinator` in conferences.

[2017-07-07 06:53] rahul2240 commented on #1563
I want to work on it

[2017-07-07 08:27] siddhantbajaj commented on #1527
Yes definitely. 👍

[2017-07-07 14:56] Ana06 commented on #1563
@rahul2240 go ahead! :+1:

[2017-07-08 20:27] #1230 closed

[2017-07-08 22:06] #1236 closed

[2017-07-09 05:56] BelieveC opened #1574 "Introduce Hound-CI for commenting on Ruby-Style violation"
Hound will use RuboCop to review Ruby code.

Ref: [https://houndci.com](https://houndci.com)

[2017-07-09 19:38] #1377 closed

[2017-07-13 18:15] #1552 closed

[2017-07-14 10:40] differentreality opened #1589 "[production][subscriptions#create] ActiveRecord::RecordInvalid: Validation failed: User has already been taken, User already subscri..."
subscriptions#create threw this 0 times
<pre>
ActiveRecord::RecordInvalid: Validation failed: User has already been taken, User already subscribed!
</pre>
[https://events.opensuse.org/conference/oS3DW/subscriptions](https://events.opensuse.org/conference/oS3DW/subscriptions)"

[See this exception on Errbit](https://errbit-opensuse.herokuapp.com/apps/5620ca99dc71fa00b1000002/problems/596487efa8d5e5

[2017-07-14 10:44] differentreality commented on #1589
User is subscribed to a conference. User tries to subscribe to the same conference. An exception is thrown, what should happen is that we just see a message saying that the user is already subscribed.

[2017-07-14 10:52] dPliakos commented on #1589
Hello!!
May I give a try on this ?

[2017-07-14 11:09] differentreality commented on #1589
Go ahead @dPliakos :D

[2017-07-14 13:13] svbeon commented on #1274
I have changed it a bit for [freenode live](https://freenode.live) to actually use bootstrap form elements. However we've also changed the base colors etc. But I would still prefer how we've changed the elements by adding classes

[2017-07-14 13:25] svbeon commented on #1274
Opened #1592 to make form elements have the class form-control

[2017-07-14 13:58] svbeon commented on #1527
Stats are horrible on mobile, they resize and grow extremely large when scrolling, the other day I got a diagram with the y labels 0.0001, 0.0002, 0.0003, 0.0004... All the way through 17.0000

[2017-07-15 00:15] dPliakos commented on #1589
The same could happen when the user tries to unsubscribe from a conference, but in that case osem produces a `NoMethodError`.
This must happens because the there is no conference with the requested id at the user subscriptions.
What should be done in such a case?

[2017-07-15 10:44] differentreality commented on #1589
Good catch @dPliakos :)
What do _you_ think the workflow should be like in this case?

[2017-07-15 10:46] differentreality commented on #1527
Hi @svbeon, the issue on mobile devices is being tracked in issue https://github.com/openSUSE/osem/issues/579 and worked on in PR https://github.com/openSUSE/osem/pull/1269

[2017-07-15 10:58] dPliakos commented on #1589
I think it should test if there is such a subscription before the try to destroy it and then provide a message in case of absence.
But the error message are under subscription using `@subscription.errors.full_messages.to_sentence`, so do we need to have something like that for the user instead ?

[2017-07-15 11:21] differentreality commented on #1589
And where would you redirect the user?

[2017-07-15 11:42] dPliakos commented on #1589
We want the user to be on the same page, but with an error shown.
Now is redirected to root_path. I do not know what actually is, but I guess it the main/base url. And error is set to `@subscription.errors.full_messages.to_sentence`.

We want to redirect root_path and set `error: ` to another message ?

[2017-07-15 11:58] differentreality commented on #1589
Nice, so we want to redirect to root_path, with an error message, if there is no subscription for the user. Right? You can put that in one line code before `@subscription.destroy` happens.

[2017-07-16 18:54] rahul2240 commented on #1563
@Ana06 Please check the PR, i think its done.

[2017-07-17 10:25] #1195 closed

[2017-07-17 14:32] Ana06 commented on #1563
This was done in https://github.com/openSUSE/osem/pull/1583 :smile:

[2017-07-17 14:32] #1563 closed

[2017-07-17 14:32] Ana06 opened #1598 "fix warning in Rspec"
`WARNING: Using the `raise_error` matcher without providing a specific error or message risks false positives, since `raise_error` will match when Ruby raises a `NoMethodError`, `NameError` or `ArgumentError`, potentially allowing the expectation to pass without even executing the method you are intending to call. Actual error raised was #<ActiveRecord::RecordInvalid: Validation failed: User alrea

[2017-07-17 20:16] rahul2240 commented on #1598
want to try.

[2017-07-18 02:27] shlok007 opened #1599 "Support of Custom Domains for conferences"
The idea is to allow an organizer of a conference to add his own domain name to the conference.

- The custom domain will point to `conference#show` or `splashpage` of a particular conference.
![screenshot_20170718_070958](https://user-images.githubusercontent.com/14155445/28296823-2164d68a-6b88-11e7-9bda-9c3c7215e0e1.png)

Summary of changes to be required when using a custom domain :
- Hosted ve

[2017-07-18 07:44] Ana06 commented on #1598
@rahul2240 go ahead! :wink:

[2017-07-18 11:19] AEtherC0r3 opened #1601 "The update to Ruby 2.4 broke the development environment (vagrant)"
It looks like the package ruby2.4-devel that was added in #1588 in `bootstrap.sh` doesn't exist in openSUSE 42.2 repositories

![2017-07-18 10-43-58](https://user-images.githubusercontent.com/3638310/28314623-ff2d2568-6bc3-11e7-904d-b10d42f9ebbb.png)

[2017-07-18 11:41] differentreality commented on #1601
I get the same thing on a new vagrant box, and I can't zypper in ruby2.4-devel in vagrant either.

@rahul2240 any ideas? How did you get it working on your local instance?

[2017-07-18 16:17] rahul2240 commented on #1601
I am really sorry, i was continuously facing problems with setting up vagrant. so i didnt . I made these changes and osem started working on localhost. So i thought editing bootstrap.sh will work in vagrant. I apologize for my mistake.

[2017-07-18 21:07] lagartoflojo commented on #1601
Do the new versions of gems from #1588 still work with the earlier Ruby version?
Maybe we ought to revert the changes to [bootstrap.sh](https://github.com/openSUSE/osem/pull/1588/files#diff-3af436e6760a0c5f1e3d16a3384853a8) for now.

[2017-07-18 21:11] lagartoflojo commented on #1599
Can the domain name be a domain with sub-domain? What about redirecting www.myconference.com to myconference.com or vice-versa?

What do you mean by that?

[2017-07-19 07:35] AEtherC0r3 commented on #1601
I'm getting the following warning in the rails console
`Expected string default value for '--serializer'; got true (boolean)`
`irb: warn: can't alias context from irb_context.`
Otherwise, the current master seems to work with the ruby2.3 package

[2017-07-19 15:40] shlok007 commented on #1599
Thanks, If the domain name added is `osem.com` then we can redirect `www.osem.com` to the former and vice versa.

Currently we can focus on adding `apex domains` or just `www subdomains` by adding CNAME record with their domain registrar and providing documentation for the same. Maybe work with extending support for subdomains later when this gets ready and working. Does this sound possible?

Sinc

[2017-07-19 16:11] divyanshumehta commented on #1497
@Ana06 shouldn't this issue be closed.

[2017-07-19 21:15] lagartoflojo commented on #1599
Sure, that sounds perfectly reasonable. Let's implement the simplest version first, and then we can look into the details.
Another subject we have to look into is SSL. For example, we don't want to login through a non-encrypted endpoint and send our password in plain text. Could you add a card for that in the project?

[2017-07-20 00:14] shlok007 commented on #1599
Yes, sure, I will create a card for this.

I was thinking, one way to maintain session can be to manually configure devise to pass a session token in the header while redirecting back to `myconference.com` after login in from `hosted-version.com` . This can be tricky but sounds possible. This can however cause security vulnerabilities which might be covered by using SSL . I'll dig into this more a

[2017-07-20 09:05] differentreality commented on #1601
I am having trouble with my student because of this change which is impossible to implement in vagrant.
Is there any solution for this? Otherwise we should revert the ruby version change in bootstrap.sh ASAP.

[2017-07-20 09:10] lagartoflojo commented on #1601
Unfortunately, I never got Vagrant to work on my local machine, so I use Docker and I can't really test if Vagrant works.
I would revert the changes to `bootstrap.sh` (assuming everything else works OK).

[2017-07-20 12:37] Ana06 commented on #1601
@lagartoflojo

Maybe we ought to revert the changes to bootstrap.sh for now.

Reverting to a previous Ruby version just because we have a missing repo in vagrant makes no sense at all. It is just a small fix. :see_no_evil:

@differentreality

Is there any solution for this? Otherwise we should revert the ruby version change in bootstrap.sh ASAP.

As said, it is just a small fix. I'll send a PR in

[2017-07-20 13:36] lagartoflojo commented on #1524
Please link the corresponding PR :)

[2017-07-20 13:37] lagartoflojo commented on #1524
Ah, I see it's not "In Review" anymore.
When should we do this? It sounds like it should be done before the domain name stuff.

[2017-07-20 13:38] lagartoflojo commented on #1518
Would it be possible to have URLs like Github does?
`/openSUSE/osc17`

[2017-07-20 14:31] shlok007 commented on #1524
Yeah we did revert the change in the first merged PR https://github.com/openSUSE/osem/pull/1517/commits/cce3ff7aea589d18d4da96acda3341afbaf024a3#diff-168f74a68f9e23df7672afdf50ff0da9R10 . I'll add this again.

[2017-07-20 14:33] shlok007 commented on #1518
That would be really cool :smiley:
However, its a lot of time and effort to change routes throughout the application. Can we work on this after the work on custom domain is completed?

[2017-07-20 17:18] lagartoflojo commented on #1518
Yes, let's leave it as a nice to have for later :-)

[2017-07-21 05:27] Ana06 commented on #1497
@divyanshumehta yes! :wink:

BTW, do u know u can mention the issue u are working on in your commit and then the issue is closed automatically when merging? https://help.github.com/articles/closing-issues-using-keywords/

[2017-07-21 05:27] #1497 closed

[2017-07-21 14:41] #1561 closed

[2017-07-22 22:30] differentreality opened #1608 "Remove delete action from ability"
There is no delete action for proposals, yet there is an ability for it, which should not be there.
https://github.com/openSUSE/osem/blob/master/app/models/ability.rb#L84

[2017-07-22 23:27] differentreality opened #1609 "Only ask speakers to register, if registrations are possible for the conference"
https://github.com/openSUSE/osem/blob/master/app/views/proposals/index.html.haml#L54

Only show the relevant text, if there is a registration period set for the conference, otherwise it will be confusing.

Same for the tooltip link that encourages speakers to register for the conference, this only makes sense if the conference has a registration_period set.

[2017-07-23 14:07] #1589 closed

[2017-07-24 08:30] shlok007 opened #1611 "Ability to destroy a conference or make it private"
When the organizers are currently in progress of creating their conference in the hosted version, there should be an option to toggle the conference data as **private** so that users with no role does not see the conference in `conference#show` or `conference#index`.

Similarly, if by any reason, a fake conference or a conference with improper details is created, an organization administrator and

[2017-07-25 09:26] differentreality commented on #1611
We should take into serious consideration that destroying a conference, means also destroying everything about it (events, tracks, roles, comments, tickets), if this happens, by any chance, by mistake, it can be disasterous. Moreover we would need to think very had on which conference can be destroyed and which not (ie destroy a conference with events? what if none of the events are confirmed yet?

[2017-07-26 17:27] rahul2240 opened #1614 "Add valid email regex for user registration"
A user can sign up with email like a@a , so i think validation on the email is required.

[2017-07-27 16:40] rahul2240 commented on #1598
![image](https://user-images.githubusercontent.com/25618739/28681804-63e33438-7318-11e7-94be-46684994d9e0.jpg)

[2017-08-02 02:30] shlok007 commented on #1599
- conference/custom_domain#show
![shlok](https://user-images.githubusercontent.com/14155445/28854826-f3f897d8-7756-11e7-9531-ff43b780acbc.jpg)

[2017-08-03 07:11] namangupta01 commented on #1609
i am working on this issue

[2017-08-03 14:14] laosb commented on #1611
In many cases, we'd like to take something about our planning conference on the system, and after finishing most details we push this to attendees. We don't want anyone register for a conference with a not-confirmed date and list of events. Please do offer this functionality!

[2017-08-04 11:06] Ana06 commented on #1614
I am not completely sure if we want to change this validation.

 We are using [devise gem](https://github.com/plataformatec/devise) for authentication. So the email validation come from the gem and this is made on purpose on the gem:

@differentreality @hennevogel @ChrisBr @lagartoflojo what do you think? do we want to be stricter here?

[2017-08-04 11:09] lagartoflojo commented on #1614
I agree, we don't really need anything more complex than what comes out of the box from Devise. The better way of confirming your email by clicking a secret link on an email sent to you.

[2017-08-04 15:11] davidsf commented on #1259
What is the state of this? I see some implementation by @divyanshumehta. It is completed ?

[2017-08-04 20:00] rahul2240 commented on #1614
Thanks!
i will ask the same from devise developers.

[2017-08-05 23:32] differentreality commented on #1259
No, unfortunately not @davidsf but it is in my plans to have this done soon.

[2017-08-06 13:08] afranke opened #1625 "Rename "size" field to "capacity" in Room"
Venue rooms have a size field which seems to be the number of attendees it can accommodate. This should be named capacity as size is an ambiguous term and probably not the first one would think of for that.

[2017-08-06 13:42] namangupta01 commented on #1625
Want to work on it

[2017-08-06 14:16] afranke opened #1626 "Support "pay what you want" fees"
Some conferences have their registration on a "pay what want"/"pay what you can" basis. For them to e able to use OSEM, this feature is required.

[2017-08-06 14:46] Ana06 commented on #1625
@afranke you mean changing the name of this field that the user see or do you mean also the code?

[2017-08-06 14:47] Ana06 commented on #1614
@rahul2240 there are many related issues in the devise gem regarding this. The reason they give is the one I already posted:

So, I'll close this then :wink:

[2017-08-06 14:47] #1614 closed

[2017-08-06 14:54] afranke commented on #1625
I have no clue about the code. I am a user, I organize conferences and I am evaluating OSEM as such. I won’t delve into the code. ☺

[2017-08-07 04:07] rahul2240 commented on #1614
yes thanks.

[2017-08-07 22:28] namangupta01 opened #1628 "User can only register once for every conference"
https://github.com/openSUSE/osem/blob/master/app/models/ability.rb#L69 Ability of user to register should not return true when he have already register.

[2017-08-11 08:57] #1601 closed

[2017-08-11 15:10] #1608 closed

[2017-08-11 18:24] vmbrasseur opened #1633 "User docs?"
We're using OSEM for [SeaGL](http://seagl.org). It's my first year on the organising committee & I'm finding OSEM very difficult to use.

I've searched here and on osem.io, but I can't locate any user docs. Could you please direct me to them?

[2017-08-12 15:11] differentreality commented on #1633
@vmbrasseur if you have already been over our installation guide here, then probably not. We mainly try to guide you through the application to the next steps you need to take, but clearly not for what you want to do.
You can find the developers in #osem on freenode. I am also on #seagl channel.
What are you looking for precisely?

[2017-08-12 17:07] rahul2240 commented on #1598
@Ana06   i used "rescue ActiveRecord::RecordInvalid" in the example in registration_spec.rb  to remove this warning.If you approve this then i can send the PR.

[2017-08-14 20:15] vmbrasseur commented on #1633
User docs of any variety. Every time I try to do something in the software I end up having to use trial & error to puzzle it out. Having to ask just slows everything down further and is inefficient.

There's a lot more to software than just installation. I encourage OSEM to consider adding a user guide in the future.

[2017-08-14 20:15] #1633 closed

[2017-08-15 20:22] differentreality commented on #1633
@vmbrasseur I agree, there is a lot more to it than just installation, specially with new features being added.

This is definitely something we want to do, the reason why I asked what in particular you wanted to know was because I want to help. The user guide will obviously not happen overnight. With seagl coming up in a couple of months (or so), I realize you want to get things going fast.

Addi

[2017-08-15 22:51] kkavita92 commented on #1522
@Ana06 happy to jump on this if it's still open! Let me know :)

[2017-08-15 23:23] differentreality commented on #1522
@kkavita92 you can go ahead and enable the cop!

[2017-08-16 23:39] justinmoninger commented on #1376
+1

[2017-08-19 12:40] differentreality opened #1640 "EventSchedule deletion when conference dates change"
If the conference **hours** change, then event schedules are deleted accordingly.

https://github.com/openSUSE/osem/blob/master/app/models/conference.rb#L79
` after_update :delete_event_schedules`
https://github.com/openSUSE/osem/blob/master/app/models/conference.rb#L99
`if start_hour_changed? || end_hour_changed?`

What if only the **day** changes? What happens then?
@Ana06 can you help me with t

[2017-08-21 09:52] #853 closed

[2017-08-21 09:56] Ana06 commented on #1598
@rahul2240

That remove the error, but you are not testing it then. You don't need to do that. The error is complaining about the lack of message in https://github.com/openSUSE/osem/blob/master/spec/models/registration_spec.rb#L23. And you have the error here: `<ActiveRecord::RecordInvalid: Validation failed: User already Registered!, Registration limit exceeded>` So you can just add the error mes

[2017-08-21 18:39] shlok007 opened #1641 "Refactor abilities defined in ability.rb and admin_ability.rb"
After defining separate abilities for admin namespace (#1552) , there are abilities defined for actions in ability.rb and admin_ability.rb which does not exist in their respective controllers.

Resolution of this issue requires removal of every such redundant ability defined.

[2017-08-22 12:07] #1527 closed

[2017-08-22 12:52] #1532 closed

[2017-08-22 14:09] Ana06 commented on #1625
@afranke ok, I think we can change this :+1: thanks for the suggestion :wink:

[2017-08-22 14:40] Ana06 commented on #1626
@afranke I like the idea. :+1: @differentreality @ChrisBr what do you think?

[2017-08-22 14:45] Ana06 commented on #1472
Yes, I would say that any improvementin the HTML is welcome! :wink:

[2017-08-22 15:57] rahul2240 commented on #1598
I tried adding the message as a param in the raise_error a month ago,and i tried it again today but i dont understand why i am getting this error.

Failures:

  1) Registration validation registration_limit_not_exceed is not valid when limit exceeded
     Failure/Error: expect { create(:registration, conference: conference, user: user) }.to raise_error('User already Registered')

       expected E

[2017-08-22 16:19] rahul2240 commented on #1598
@Ana06 Thanks for the help.I got the mistake,it was with error message which i was writing wrong from last 1 month :disappointed_relieved:

[2017-08-22 16:23] rahul2240 commented on #1625
can i try?

[2017-08-22 17:04] differentreality commented on #1626
Similar to a donation box at the conference. I like the idea too.

[2017-08-22 18:15] cocolote commented on #1641
@shlok007 Is this issue still open? I would like to help. But!!! this will be my first attempt to contribute on an open source project.

[2017-08-22 18:33] #1524 closed

[2017-08-22 21:29] shlok007 opened #1645 "Cross-Site Scripting Warnings in app/views/conferences"
[Security issue from Hakiri](https://hakiri.io/projects/d1eb39a7696349/stacks/70eaa9009f1f2b/builds/51071bafacecd2/warnings/4a3a8cf37c2073): Unsafe model attribute in link_to href in app/views/conferences/_venue.html.haml
[Security issue from Hakiri](https://hakiri.io/projects/d1eb39a7696349/stacks/70eaa9009f1f2b/builds/51071bafacecd2/warnings/8f60bfccfeba77): Unescaped model attribute in app/view

[2017-08-23 10:33] differentreality commented on #1641
@cocolote To work on this issue would require you to also get familiar with [cancancan](https://github.com/CanCanCommunity/cancancan/wiki), on top of everything else. Perhaps that's an extra layer you don't want to add for your first contribution in OSEM.

I would suggest you choose an issue from the [junior](https://github.com/openSUSE/osem/issues?q=is%3Aissue+is%3Aopen+label%3AJunior) ones, such

[2017-08-23 10:42] #1264 closed

[2017-08-23 10:51] differentreality commented on #1274
I have noticed that if the screen is less than the size of dropdown panel (after clicking on sign in) then you are unable to scroll down to the rest of the content (social buttons, need help button).

I tried this with an actual mobile device as well.

![screenshot from 2017-08-23 13-50-33](https://user-images.githubusercontent.com/4322737/29612473-2455e9da-880a-11e7-85e4-3c6b348e1f27.png)

[2017-08-23 10:53] differentreality commented on #1453
https://github.com/openSUSE/osem/issues/1589
Fixed in https://github.com/openSUSE/osem/pull/1596

[2017-08-23 10:53] #1453 closed

[2017-08-23 11:20] #1456 closed

[2017-08-23 13:42] cocolote commented on #1641
@differentreality Thanks Stella for the tip. I'll look into the junior issues

[2017-08-24 06:57] #1598 closed

[2017-08-24 10:32] differentreality commented on #1459
@shlok007 what's the status with this? What do you want to do?

[2017-08-24 17:26] shlok007 commented on #1459
Unfortunately, this is still an issue because of the following ability defined for organizers https://github.com/openSUSE/osem/pull/1587/files#diff-8f75bcf1395a2acae3d4c762ed3e0a13R170 . Since, we plan to allow **only** site admins to access users related actions in admin side, the following ability has to be removed. I'll send a PR to fix this.

[2017-08-25 13:48] differentreality opened #1648 "Do not show datatable if there are not data"
In admin/tracks#index the datatable appears even if there is no track to show. It's not useful to be there, so we should not be showing it.

Same happens in admin/booths#index

[2017-08-25 14:20] differentreality opened #1649 "Hint in booths#form"
The form in booths has a field called 'Responsibles'. That field lets you search for users and add them as a responsible for the booth you create. It searches from users that already exist, ie have an account in osem.
We should add a hint to the responsibles field to communicate that.

[2017-08-25 14:56] differentreality opened #1650 "Add description field for cfps"
So that organizers can customize the text that appears in proposals#index, tracks#index, booths#index and encourage/inform submitters about what they should focus on, and what they should know about their submissions.

[2017-08-25 15:06] differentreality opened #1651 "Browsing is confusing with organization name on the top left navbar"
When I am anywhere (eg proposals#index) I see the organization name on the top left corner of the navigation bar. That takes me to organizations#index.

Usually on the top left we find the link to homepage.

Also there is nothing I want to do in organizations#index (99% of the time at least).

The organization name could be the same as the app name (for the non hosted version of OSEM), as such I s

[2017-08-25 17:33] differentreality opened #1652 "Export tracks and booths"
It would be useful to have similar export options like we do for proposals.

[2017-08-25 18:01] rahul2240 commented on #1648
@differentreality Please let me know if i did something wrong.

[2017-08-25 18:45] rahul2240 commented on #1649
Please check this and let me know my mistakes,if any.

[2017-08-25 20:31] differentreality opened #1655 "Add field feedback for booths and tracks"
Since they go through evaluation a general feedback is useful. We should consider when to show it to submitter though. That should probably be after acceptance/rejection, instead of in the middle of evaluation.

[2017-08-26 08:42] rahul2240 opened #1656 "Getting error message even after visiting some other page"
I edit my booth request and removed everything from the field and after submitting that i got this error "An error prohibited the Booth for Title can't be blank. Description can't be blank. Reasoning can't be blank. Responsibles can't be blank. Website url can't be blank. Submitter relationship can't be blank. "
When i go to some other page, the error was still there on the top.

[2017-08-27 10:24] differentreality opened #1658 "Openid needs to require email"
* Openid model needs to validate for email existence, because user model requires it, and if it is not there, there is no point in creating the openid record without the user record.

That already means we should put all that into a transaction in the users/omniauth controller.

* We need to explicitly request access to user's email when authorizing with openid. If a user does **not** have a publi

[2017-08-27 12:07] #1625 closed

[2017-08-27 12:11] differentreality opened #1659 "proposals#edit form show text in track field"
The field for track selection should show some text, like difficulty level does.

[2017-08-27 12:29] namangupta01 commented on #1659
@differentreality want to work on it!

[2017-08-27 12:44] differentreality commented on #1659
@namangupta01 thanks :) Go ahead!

[2017-08-27 12:47] differentreality commented on #1656
I can reproduce this, I believe it was also mentioned in another issue. We should fix that in all occurences. First I would focus on reproducing locally this error. Then investigating as to why it appears. Try to apply a solution. If the solution works for this particular case, then apply it in other places of the app where this can occur.

Thanks for reporting this @rahul2240 :+1:

[2017-08-27 12:54] differentreality commented on #1611
People cannot register anyway, unless you enable the registration period. Which is independent to showing a conference.

So my suggestion remains:
Provide the attribute `public` to Conference, set it to true by default, so that the current functionality does not change. Add an informative hint about what that field is all about.

What do others think about this?

[2017-08-27 14:24] laosb opened #1660 "Always-on Paper Submissions"
Hi,
We're using this manage system to manage our events. One point that we need is, we hope that we can have an overall always-on paper submissions. We can then choose to accept these submissions to some event later.

[2017-08-27 14:31] differentreality commented on #1660
@laosb that makes little sense for most conferences that open a call for papers for a specific period of time, and then they close their cfp and evaluate the available submissions.

If you want to keep getting proposals indefinitely, you could enter a date in the very far future for your CfP, and conference.

[2017-08-27 14:53] laosb commented on #1660
@differentreality But to make this this work, we basically need a functionality to move a paper from an event (let's say, the long-lasting conference containing the cfp) to another (the real conference we will hold).

[2017-08-27 14:55] differentreality commented on #1660
@laosb so the feature you are requesting is that you are able to de-associate a proposal from conference X, and associate that proposal with conference Y instead?

[2017-08-27 14:56] laosb commented on #1660
@differentreality Yes, basically yes.

[2017-08-27 16:46] #1649 closed

[2017-08-28 16:55] rahul2240 commented on #1656
@differentreality Thanks,I got the solution.

Flash[:notice]‘s message will persist to the next action and should be used when redirecting to another action via the ‘redirect_to’ method.
Flash.now[:notice]‘s message will be displayed in the view your are rendering via the ‘render’ method.

Reference: https://gist.github.com/awesome/4356500

[2017-08-28 17:56] differentreality commented on #1656
👍 nice, let's fix this in all places where it is needed!

[2017-08-28 17:57] rahul2240 commented on #1656
@differentreality  ok :smile:

[2017-08-29 07:25] tobru opened #1664 "Expected string default value for '--serializer'; got true (boolean)"
When starting the application in Docker, there is this error message displayed:

[code]

[2017-08-29 07:29] #1656 closed

[2017-08-29 07:38] Ana06 opened #1665 "Fix Fixnum deprecated warnings"
Fixnum is deprecated

[2017-08-29 08:21] differentreality opened #1666 "config/environments/production.rb should be in .example file"
production.rb should be renamed to production.rb.example, and production.rb should be added in gitignore.

[2017-08-29 08:23] differentreality commented on #1664
This also happens for me without docker

[code]

[2017-08-29 08:33] tobru commented on #1666
This would make deploying the application with Docker much more complicated as we would have to somehow generate the file or create it with a template.

[2017-08-29 10:57] differentreality commented on #1666
So this would not be enough?
`cp config/environments/production.rb.example config/environments/production.rb`

[2017-08-29 11:44] ViditChitkara commented on #1665
Can I take up this issue?

[2017-08-29 15:25] tobru commented on #1666
Yeah, would be a solution if the example file is ready to be used.

[2017-08-29 17:38] tobru opened #1667 "Persistent Storage directories unclear"
Looking at the provided `docker-compose.yml.example` it looks like all persistent data is stored under `/data`. But that doesn't seem to be the case, at least the uploaded conference logo is stored under `/osem/public/system/conferences/logos`. Would it be possible to make sure everything which must be persistent (uploads, generated files, ...) will be saved under `/data`?

[2017-08-30 10:06] differentreality opened #1668 "Text on top of proposals#index should not show track information, when there is no track"
`Proposals should fit in one of the 0 tracks: .`
That should not appear when there are no tracks.

[2017-08-30 10:09] differentreality opened #1669 "Add voting options"
After our recent upgrades (ability for users to submit booth and track requests), it makes sense to also integrate voting, as well as the option for organizers to comment on the proposals.

This needs to happen for both models in admin side:

- [ ] Booths
- [ ] Tracks

[2017-08-31 17:03] namangupta01 commented on #1664
@differentreality This error is because of the gem **Thor 0.19.4**. Which can be resolved by downgrading the **Thor** version to **0.19.1**. I added the **gem 'thor', '0.19.1'**. And then run the command **bundle update**. It works for me. Here is the screenshot.
![screenshot from 2017-08-31 22-29-40](https://user-images.githubusercontent.com/20709985/29935410-4881e5b4-8e9c-11e7-93d8-fa1716966615.

[2017-08-31 17:48] namangupta01 commented on #1664
Starting of server occurs without error but by doing this when we are requesting home page it is showing error.
![screenshot from 2017-08-31 23-17-47](https://user-images.githubusercontent.com/20709985/29937283-ac21a5ea-8ea2-11e7-8a69-91970e8e199f.png)

[2017-09-01 07:17] #1648 closed

[2017-09-01 10:43] namangupta01 opened #1672 "There should be submitter name when admin creates a track"
There is a bug when admin creates a new track. There is no name in the submitter i.e submitter field is empty. As shown in the screenshot.
![screenshot from 2017-09-01 16-11-53](https://user-images.githubusercontent.com/20709985/29966623-5ce05092-8f30-11e7-9dc0-1bcd0fd7d452.png)

[2017-09-01 12:13] differentreality commented on #1672
That's by design.
We care about the submitter only when a user submits a track proposal. The existence of the submitter defines whether or not this is a self organized track.
Changing this behavior would require defining self organized tracks in a different way.

[2017-09-01 14:37] namangupta01 commented on #1672
@differentreality Track with Track ID 1 is also a self organised track, yet it is showing the submitter name which is weird.
This track was created by the drop down menu present on the top-right of the web page.
I think this should not happen if we are not showing name for self organised track.

[2017-09-01 16:33] differentreality commented on #1672
@namangupta01 self organized tracks show submitter name.

[2017-09-01 16:33] #1672 closed

[2017-09-02 06:33] differentreality commented on #1664
That's probably because in your closed PR you updated tons of gems instead of just updating thor. You should **not** do that. For this issue, you should only update thor gem, if that's where the problem is, and any gem that is a dependency to thor's new version (if there is one).

[2017-09-04 13:02] ViditChitkara commented on #1650
Can I take up this issue?

[2017-09-04 13:47] differentreality commented on #1650
go ahead @ViditChitkara :)

[2017-09-05 07:50] ViditChitkara commented on #1650
Could you please explain what is exactly meant by "customize" here. What I am thinking is just to add a field in cfp model and show it in cfp#index.

[2017-09-05 08:12] differentreality commented on #1650
Yes, that's what I meant @ViditChitkara

Customize, as in a conference organizer can choose what text to show. So yes, that means a field with the information.

[2017-09-05 12:18] namangupta01 commented on #1664
@differentreality Thanks! Now i have only added ** gem 'thor', '0.19.1'** in gem file and after running sudo bundle update thor, it's working fine without showing any error. :)

[2017-09-05 15:13] namangupta01 commented on #1652
@differentreality What are the fields of tracks and booths should be included while exporting?

[2017-09-05 15:22] differentreality commented on #1652
@namangupta01 **designing** the feature is part of working on the issue to implement this feature, so if you want to work on this, as with any project, smaller or bigger, you should come up with a plan.

For this particular issue your plan is to understand who will use this, when/why an organizer will need this. What is an organizer getting out of this export? That way you come up with your workfl

[2017-09-06 05:32] namangupta01 commented on #1652
@differentreality Okay, thanks! Working on it!

[2017-09-06 11:39] ViditChitkara commented on #1669
Can I give it a go?

[2017-09-06 11:42] Ana06 commented on #1669
@ViditChitkara sure! :wink: but take into account that this is not a [Junior issue](https://github.com/openSUSE/osem/issues?q=is%3Aissue+is%3Aopen+label%3AJunior), so may be not that easy.

[2017-09-07 09:28] differentreality opened #1676 "Database config examples for all supported databases"
https://github.com/openSUSE/osem/blob/master/config/database.yml.example only shows the config for sqlite3.

Since we support mysql and postresql, I would add comments with the configuration for each of those databases as well.

[2017-09-07 09:50] akshitahluwalia commented on #1676
I would like to work on this issue please assign it to me.
 :smile:

[2017-09-07 10:48] akshitahluwalia commented on #1676
@differentreality I have created the PR for the same please have a look at it.

[2017-09-07 17:36] namangupta01 commented on #1652
@differentreality For tracks we can have a fields :
ID
Name
Description
Events ( as a Track has many events)
Rooms
Start Date
End Date
Included in Cfp
Submitter's Name
But my doubt is that, as Track has many events, but we can only set one room for a track. What if there are two events of a particular Track are taking place in parallel in different rooms but a track can only have one room.
Please

[2017-09-07 18:18] namangupta01 commented on #1659
@differentreality Here, how it look likes :
![screenshot from 2017-09-07 23-42-41](https://user-images.githubusercontent.com/20709985/30178509-cba2c0b4-9426-11e7-813a-284787946e8d.png)

[2017-09-08 11:29] differentreality opened #1679 "admin/cfps#show does not show the type"
When in the show page of a cfp, you are not able to tell which cfp type this is. Type should also be visible.

[2017-09-08 11:36] differentreality commented on #1659
@namangupta01 please add the screenshots of your changes in your PR instead :)

[2017-09-08 12:09] differentreality commented on #1652
It's not possible to schedule an event with trackA in a room different than trackA's room (however I just realized the opposite is true, you can double check and open an issue for it, if you want to).

However, when we export tracks into a pdf or spreadsheet, how do you plan to show the events? Like a big list? Isn't that going to occupy a lot of room? I am not sure if we should do that.

[2017-09-08 12:14] namangupta01 commented on #1679
Can i work on it?

[2017-09-08 12:22] differentreality commented on #1679
@namangupta01 you already have 6 open PRs pending review and/or changes, so I would strongly suggest to focus on improving them instead of taking up a new issue.

[2017-09-08 12:25] namangupta01 commented on #1679
Sure :)

[2017-09-08 12:26] ViditChitkara commented on #1679
Can I work on it!!

[2017-09-08 12:31] differentreality commented on #1679
@ViditChitkara how about we first merge your open PR and then you get started with this?
I have some time today to further review your PR, but there are some more comments you still haven't replied to.

[2017-09-08 12:49] namangupta01 commented on #1652
As of now track can only have one room, but track can have many rooms. So should i open the issue for "track has many rooms"?
For exporting the track we can make multiple tables in a pdf, each table corresponding to particular track or we can also ask user to which track he wants to export. What you say?

[2017-09-08 14:00] differentreality commented on #1652
I am confused with both of your points.

The feature is about adding a button in admin/tracks#index which will export our tracks list into a pdf, and XLS file. And that's needed, for example, for organizers to get a list of all track proposals, or all confirmed tracks of their conference.

Why would they need to export 1 track?

[2017-09-08 15:06] namangupta01 commented on #1652
As i was thinking to include all the events and rooms that belongs to a particular track into the export which will make a row in a table big thats why i was saying to import one track but which is now i think is  wrong.
And as the events will make it a big list we can exclude **events** and **room** field from beign exported in track.
So, the fields should be :
ID
Name
Description
Start Date
End

[2017-09-08 15:14] differentreality commented on #1652
@namangupta01 I don't understand why you are saying that 1 track will be in multiple rooms.
Each track is happening in 1 room. Where did you see things written differently?

[2017-09-08 15:41] namangupta01 commented on #1652
@differentreality I am saying about one track will be in multiple rooms because:
track has many events and events can occur in different rooms so indirectly track has many rooms.
I have a doubt regarding this, please clear it.

[2017-09-08 16:34] ViditChitkara commented on #1679
OK,I'll work on it later!

[2017-09-09 10:19] rahul2240 commented on #1679
If no one is working on this issue,then please allow me to work on it.

[2017-09-09 19:57] Ana06 commented on #1679
@ViditChitkara there are many other issues you can work on when you finish your current PR :wink: so we can allow @rahul2240 to work on this now. @rahul2240 go ahead! :smile:

[2017-09-10 07:55] rahul2240 opened #1681 "admin/cfps#index does not require datatables"
We can create cfp for events, booths and tracks only,so i believe that datatables should be removed from it.
It should look like this
![cfp_new](https://user-images.githubusercontent.com/25618739/30247171-7f21e4d4-962b-11e7-8d97-25f39b93b0c2.png)
rather than this
![cfp_old](https://user-images.githubusercontent.com/25618739/30247176-9095eb98-962b-11e7-898b-ab24950769b5.png)

[2017-09-10 08:32] rahul2240 opened #1682 "admin/physical_ticket#index should contain a amount paid option"
In case price for tickets change, then the admin should be able to see which User paid how much money.

[2017-09-10 08:37] rahul2240 opened #1683 "error in generating pdf for ticket when venue is not set"
physicalticketcontroller#show should contain condition on @venue.name that if it exist then only pdf will be generated otherwise venue is nil and app will show error

[2017-09-11 02:13] kormoc commented on #1640
I would like to request that a click though okay/cancel is given that displays the number of events this change will delete before deleting them. It was non-obvious that we had to expand, move, and then contract to change hour windows.

Thanks!

[2017-09-11 02:17] kormoc commented on #1652
Side note, I would like to request that any exports also be available via json/jsonp for embedding in external websites and/or native mobile applications.

Thanks!

[2017-09-11 02:23] kormoc commented on #1403
We ran into this issue and it ended up confusing our users a lot.

If the user registers, could the message be "confirmation mail could not be sent, please go to your profile and try resending later" or something like that? Having the user unable to confirm and not knowing what to do next adds a lot of support burden on us.

Thanks!

[2017-09-11 02:36] kormoc opened #1684 "Allow users to opt-out of displaying profile publicly on registration page"
When registering for a conference, it currently displays all the other registered users and speakers for the conference. We would like to allow users to opt-in into their profile being displayed publicly, or allow opt-outs at the very least.

The screen that I'm talking about is ![screen shot 2017-09-10 at 7 34 40 pm](https://user-images.githubusercontent.com/475320/30256396-3eabd8ae-965f-11e7-97a

[2017-09-11 03:05] kormoc opened #1685 "Allow users to delete their accounts"
We would like our users to be able to delete their accounts and still allow them to re-sign up later. Perhaps just set all their information to 'DELETED USER' and 'deleted@example.org' and scramble their password?

[2017-09-11 04:03] kormoc commented on #1252
I would like to request that we be able to have classes of booths. For example, we have multiple sponsorship levels and it would be nice for people to indicate at a minimum if they're a commercial exhibitor or a community exhibitor.

[2017-09-11 04:14] kormoc commented on #1053
We would rather have each event speaker be able to specify if they're willing to be recorded and what license the recording would take. Perhaps this should be done as more generic custom event questions rather then hard coding specific questions.

[2017-09-11 04:16] kormoc commented on #1083
This could also be useful if the conference has blocks of rooms at specific hotels in the area.

[2017-09-11 04:19] kormoc commented on #1122
We would like our speakers to be able to provide a direct url or allow them to upload video assets (up to a specific size) rather then requiring OEmbed everywhere they might host a video file.

[2017-09-11 04:27] kormoc commented on #1685
Dupe of #383 and #330

[2017-09-11 04:27] #1685 closed

[2017-09-11 04:35] kormoc commented on #330
I think indicating that you can't delete an account when there are scheduled events makes sense. They would need to withdraw then all.

I also think wiping out the PII and making it so the account can't log would be enough and would allow them to re-register with the same email address in the future.

[2017-09-11 04:40] kormoc opened #1686 "Custom questions for event CFP"
We would like to be able to specify custom questions for speakers on the CFP. For example we wanted to ask the speaker if they were a first time speaker or not.

[2017-09-11 07:41] Ana06 commented on #1083
We already have lodging, so what you want is to make this configurable, so you can have any lodging/food that you want. I also like the idea! :+1:

From the implementation perspective this means that we need a new model `LodgingType`.

[2017-09-11 15:55] differentreality commented on #1683
` draw_text @conference.venue.name.to_s, at: [@mid_horizontal + 30, cursor - 70]`

app/pdfs/ticket_pdf.rb:54:in `draw_second_square'

[2017-09-11 15:58] differentreality commented on #1652
@kormoc like these ones? https://github.com/openSUSE/osem/blob/master/app/controllers/api/v1/events_controller.rb

[2017-09-11 16:01] rahul2240 commented on #1683
can i take this?

[2017-09-11 16:08] differentreality commented on #1652
@namangupta01 yes, that's not the intended behavior exactly.

But this is independent of what we want to do here. We want to export the list of tracks (not their events), and we want to show room in which the track is assigned (if the room exists).

[2017-09-11 16:09] differentreality commented on #1640
I will put this into a different issue. @Ana06 any input for my initial issue?

[2017-09-11 16:09] differentreality opened #1687 "Inform in advance about eventschedule deletion upon change of conference dates"
From @kormoc in #1640

I would like to request that a click though okay/cancel is given that displays the number of events this change will delete before deleting them. It was non-obvious that we had to expand, move, and then contract to change hour windows.

Thanks!

[2017-09-11 16:10] differentreality commented on #1683
Go ahead @rahul2240, thanks for reporting and taking up on it :)

[2017-09-11 16:17] differentreality commented on #1252
@kormoc does this only boil down to a 'type' attribute that corresponds to either 'sponsor' or 'project'?
You said indicate at minimum those 2 things, are there more things you had in mind?

[2017-09-11 16:25] differentreality commented on #1053
I wonder how practical it is for organizers to release different videos of the conference talks under different licenses, as per speaker's desire.

If this is a custom question, then it is difficult to automatically export this particular information as part of the event itself, eg like described above for the XML export.

Perhaps organizers can set a **variable with the licenses they want to supp

[2017-09-11 16:32] differentreality commented on #330
Thanks for the input @kormoc
Withdraw does not make sense after the conference has taken place. Other than that yes, we should implement all that.

[2017-09-11 16:34] differentreality commented on #1686
Entirely custom questions will be made possible once #1100  is completed. Can you take a look at it @kormoc and close this if what you have in mind is covered by that PR?

[2017-09-11 17:46] rahul2240 commented on #1687
can i take this?

[2017-09-11 17:50] rahul2240 opened #1689 "Error opening revision history"
![revision_history](https://user-images.githubusercontent.com/25618739/30288856-ccb77098-9747-11e7-9824-72eb7efdcd5f.png)

[2017-09-12 01:11] kormoc commented on #1652
Yes indeed @differentreality!

[2017-09-12 01:12] kormoc commented on #1252
We currently only have two types of tables, but I do know that other conferences do have a lot more. For example a premium sponsor would have a different sized booth then a silver sponsor. I would think that making this generic would be very useful.

[2017-09-12 06:45] differentreality commented on #1687
@rahul2240 you can, if you want to :)

[2017-09-12 06:53] differentreality opened #1691 "Email in ticket shows beyond the square outline"
![screenshot from 2017-09-12 09-52-35](https://user-images.githubusercontent.com/4322737/30311942-2a5717fa-97a0-11e7-8587-93eb7cc1fe4f.png)

[2017-09-12 07:17] differentreality opened #1692 "Cross-Site Scripting Warning in app/views/conferences/_venue.html.haml"
[Security issue from Hakiri](https://hakiri.io/projects/d1eb39a7696349/stacks/70eaa9009f1f2b/builds/f5a462c5036e62/warnings/b63c0b1464fa55): Unsafe model attribute in link_to href in app/views/conferences/_venue.html.haml

[2017-09-12 07:33] siddhantbajaj commented on #1682
Yes actually a good feature to have because ticket price do gets changed a lot and there is early bird discount on tickets as well. But @rahul2240 what do you propose to achieve this?
One possible approach could be having a "amount_paid" attribute in physical_ticket model so that we can store amount paid for that ticket. @Ana06 , @mdeniz your thoughts?

[2017-09-12 08:04] ViditChitkara commented on #1691
@differentreality Can I work on it?🙂🙂

[2017-09-12 08:12] siddhantbajaj commented on #1691
@ViditChitkara sure go ahead. One possible fix could be using a `bounding_box` instead of `stroke_rectangle`. Check Prawn pdf [documentation](http://prawnpdf.org/manual.pdf) for more.

[2017-09-12 09:11] #1664 closed

[2017-09-12 11:14] ViditChitkara opened #1693 "Error opening schedule page"
Error occurs when we try to view schedule of an upcoming conference (eg. today is 12th september and conference is scheduled between 14th-17th september) or a past conference. Shouldn't users be able to view schedules of upcoming and past conferences as well.
![screenshot from 2017-09-12 15 54 54](https://user-images.githubusercontent.com/22616017/30323063-5ebc209c-97d9-11e7-9f9f-fbab908e1c95.png)

[2017-09-12 12:51] rahul2240 commented on #1682
@siddhantbajaj I was thinking the same.

[2017-09-12 12:51] #1681 closed

[2017-09-12 22:19] #1689 closed

[2017-09-12 22:21] Ana06 opened #1696 "Fix Hakiri security warnings"
There are 5 security warnings reported by Haikiri as you can see for example here (or in any other PR open as it is faillling in all of them): https://hakiri.io/github/openSUSE/osem/master/cceb11c73a6007fb6b538eefabacf6dcd667dedc/warnings?name=Cross-Site+Scripting

[2017-09-12 22:23] namangupta01 commented on #1652
@differentreality  working on it 👍

[2017-09-14 19:02] tobru opened #1697 "Add Currency"
How can I add a currency? We sell tickets in CHF so it would be very great to have CHF as currency available.

[2017-09-15 08:28] #1659 closed

[2017-09-15 08:50] #1668 closed

[2017-09-16 01:56] akshitahluwalia commented on #1692
@differentreality I would like to work on this issue please assign it to me.

[2017-09-16 08:35] akshitahluwalia commented on #1696
@Ana06 I would like to work on it please assign it to me
Thanks :+1:

[2017-09-16 08:54] rahul2240 opened #1700 "getting error on get more ticket option"
Getting this error when i try to buy more tickets. When only 1 event is there and the user already bought the ticket for the conference, then either get more ticket option should be hidden or the continue button on the ticket purchase screen should be locked.
![new1](https://user-images.githubusercontent.com/25618739/30510860-64b8bad2-9aea-11e7-95f5-6133aa7eb817.png)

[2017-09-16 13:34] rahul2240 opened #1702 "Total amount is not showing cents"
if the price of the ticket is 1.53 then in total only 1 is visible
![total](https://user-images.githubusercontent.com/25618739/30512650-d401441e-9b11-11e7-9fee-9d6b4e844c25.png)

[2017-09-17 10:00] differentreality commented on #1682
All that (ticket, physical_ticket, etc.) should be linked with payment in the end. Payment does hold the amount info. So we should be able to extract how much users have paid, based on the type of ticket they have purchased. Isn't that so?

[2017-09-17 10:05] differentreality commented on #1702
Yeap, for total we are only adding the integer part of the number.

[2017-09-17 10:33] differentreality opened #1703 "Payments grooming"
1. Do not go to payments#new, if amount is 0
Currently you can:
* go to payments#new path directly, which will show that you can pay 0 euro,
* it will ask for your credit card information (the button will even go green, as if the transaction was successful)
* and then you will be told that

Relevant screenshots:

![screenshot from 2017-09-17 13-25-59](https://user-images.githubusercontent.com/4322

[2017-09-17 10:41] rishabhptr commented on #1703
Can I work on this issue?

[2017-09-17 10:53] namangupta01 commented on #1684
can i work on this issue?

[2017-09-17 10:59] differentreality commented on #1684
@namangupta01 when issues don't have a label, it means that we haven't gone through them yet to confirm a bug is indeed there and needs fixing, or that we want a feature.

That said, feel free to post your ideas on how to approach this here, but please do not open a PR until we agree on how to implement this.

[2017-09-17 11:01] differentreality commented on #1697
We should enable this more globally:
https://github.com/openSUSE/osem/pull/1699#issuecomment-330033169

[2017-09-17 11:07] differentreality commented on #1703
@rishabhptr absolutely, go ahead! Thanks for picking it up :)

[2017-09-17 11:08] namangupta01 commented on #1684
@differentreality okay! :+1:  I think that there should be option for users while user is doing registrations for asking whether a user want to show that he is coming to a conference. I think that should be depend upon users whether they want to show or not that they are coming to a conference.

[2017-09-17 11:09] differentreality commented on #1692
Closing this as duplicate of https://github.com/openSUSE/osem/issues/1696

@akshitahluwalia May I suggest we first finalize and merge your open PR before you start working on something entirely different?

[2017-09-17 11:09] #1692 closed

[2017-09-17 11:29] rahul2240 commented on #1682
I was thinking to create a new column in purchase_ticket model and if the payment is done then before rendering physical ticket, the price of the ticket can be stored in the amount_paid column.right now i am doing this , if this is not the correct way then please let me know.

[2017-09-17 11:30] rahul2240 commented on #1702
@differentreality thanks.Will send the PR asap.

[2017-09-17 11:36] differentreality commented on #1682
I am not sure I understand **why** we need the new column. Why are we not extracting the amount information from payments table?
Maybe I am missing something in our tickets workflow.

[2017-09-17 12:25] tobru opened #1704 "Generate PDF (Ticket) broken"
The link "Generate PDF" generates an internal server error:

[code]

[2017-09-17 12:38] tobru commented on #1704
I could solve this by replacing the conference logo with a JPG image. So I guess this issue can be closed, unless the OSEM team wants to add some error-handling for this case.

[2017-09-17 12:44] akshitahluwalia commented on #1696
@differentreality I have already started working on this and the other PR is pending for review with updated changes as proposed.

[2017-09-17 12:47] tobru opened #1705 "Link to ticket missing"
After buying a ticket the page `/conferences/myconf/physical_ticket/ID` is displayed where the ticket can be viewed or downloaded as PDF. When closing this page I cannot find a link to it afterwards. I would expect to find a link under `/conferences/myconf/register`. Where can a participant see his tickets?

[2017-09-17 12:50] tobru opened #1706 ""Get more tickets" not possible"
When clicking on the link `Get more tickets` on the page `/conferences/myconf/register` after buying a ticket the column "Quantity" is greyed out. Is this by intention or a bug?

[2017-09-17 13:02] differentreality commented on #1706
Perhaps it's a bug, but I cannot reproduce it on my instance.
Is this the screen  you are referring to?

![screenshot from 2017-09-17 16-02-10](https://user-images.githubusercontent.com/4322737/30521067-9b063ea2-9bc1-11e7-8286-bb6796df0f37.png)

[2017-09-17 13:04] differentreality commented on #1705
One place to find your tickets is from the home page, there is a button 'Tickets'.

It makes sense to make this visible in conference_registrations#show as well.

[2017-09-17 13:06] tobru commented on #1705
Oh yeah, I see... This wasn't obvious. Thanks for pointing there!

[2017-09-17 13:07] differentreality commented on #1705
Our current master is under active development for the past months. This is a new feature coming from our GSoC, and there is even a related PR still open, so it is very possible that there is still room for improvement. Feel free to report your findings :)

[2017-09-17 13:32] tobru commented on #1705
Thanks, I'll do. I see that master is living, which is great. I love software like this who sees great activity, this also makes me confident that my testing and reporting helps to make OSEM great.

[2017-09-17 13:37] tobru commented on #1706
Yes, exactly this screen.

Digging deeper into the sourcecode under https://github.com/openSUSE/osem/blob/master/app/views/tickets/_ticket.html.haml#L16 gives me the impression that a user can only buy one ticket. If this is the case - which I guess makes sense - the button "Get more tickets" should be removed and the page `/conferences/myconf/tickets` should be inaccessible by a user which alread

[2017-09-17 20:35] Ana06 commented on #1682
@differentreality

Because in payment we have the total amount, so if you buy 3 different tickets it is impossible to know what is the price of every ticket.

However, I am not pretty sure if including the new column in `physical_ticket`, as @rahul2240 and @siddhantbajaj suggested, is the best option. Why not in `ticket_purchase`?
 Currently we are delegating this to the ticket, but as the price c

[2017-09-17 20:41] #1693 closed

[2017-09-17 20:44] Ana06 opened #1707 "Fix Haikiri offenses"
Due to Cross-Site Scripting offenses found in our code by Haikiri, it is failing in all PR. For example: https://hakiri.io/github/openSUSE/osem/master/8b9933968ce346f1e555fde03db7cc058e32119e

[2017-09-17 20:49] ViditChitkara commented on #1707
@Ana06 Isn't #1696 also for hakiri warnings?

[2017-09-18 02:07] namangupta01 commented on #1707
Can i work on this issue?

[2017-09-18 07:35] Ana06 commented on #1707
@ViditChitkara you right, I open the same issue twice :rofl:

[2017-09-18 07:35] #1707 closed

[2017-09-18 07:41] Ana06 commented on #1707
@namangupta01, @akshitahluwalia is already working on it.

[2017-09-18 11:25] siddhantbajaj commented on #1706
@tobru user can only buy one registration type tickets so if user has already bought a registration type ticket than the quantity column for registration type tickets will be disabled. But it is possible that there are other type of tickets (non-registration) also available in conference that the user can still buy so it does not make sense to remove the `get more tickets` option from registration

[2017-09-18 14:42] rishabhptr commented on #1703
@differentreality Actually, the page is physical_ticket#index instead of physical_tickets#index, therefore I cant directly change in routes.rb because then the controller would need to be changed too,so do you think `resources :physical_ticket, path:"physical_tickets", only: [:index]`  would suffice?

[2017-09-18 18:09] rahul2240 opened #1709 "Getting too many digits after decimal point"
While buying a ticket I increase the quantity of the tickets having price in decimal , for simple integers it was fine, but numbers with decimal part, i got this big total. And in most cases i am getting this when my quantity is 3 or above. Please check this.
![decim](https://user-images.githubusercontent.com/25618739/30557021-9421a59a-9cca-11e7-9097-8e0d0494079b.png)
![d](https://user-images.gith

[2017-09-18 18:16] rahul2240 commented on #1700
I think it is fixed in some pr ,because i am also not able to reproduce this now.

[2017-09-19 06:30] differentreality commented on #1706
@tobru can you confirm if that's the case? That you have only 1 ticket, which is the registration ticket?

@siddhantbajaj we should probably add a check about this and not show the button to buy more tickets if there are no more tickets to be bought.

[2017-09-19 08:21] #1702 closed

[2017-09-20 16:39] rahul2240 commented on #1687
@differentreality  I have to show the events that are going to delete when the conference dates are changed.Nothing else right? Please correct me if i am wrong.

[2017-09-20 20:34] #1709 closed

[2017-09-21 14:15] daamien opened #1711 "translation missing: fr.devise.failure.user.unconfirmed"
Hi !

We're trying OSEM at the moment and we have switch the langage to french.

Now we can't log in.  On this page :  ``/accounts/sign_in``, we get the follwing error message 👍

[code]
The French translation is not complete but if an item is missing I guess it should be possible to fallback on the English version.

[2017-09-21 14:35] differentreality commented on #1711
@daamien what's the link of your OSEM instance?

Yes, it should fall back to English, and I've seen it happening, so not sure why this is not the case with you. This is handled by Transifex, and not us.

[2017-09-21 15:28] daamien commented on #1711
Hi !

Thanks for the quick reply.

The instance is not in production at the moment. For now we can't publish the URL on github or any public channel. But I can send it to you in a private message

[2017-09-23 14:22] rahul2240 commented on #1696
@akshitahluwalia are you working on this issue?

[2017-09-23 14:26] rahul2240 commented on #1706
#1700 I was facing the same problem.

[2017-09-24 06:13] akshitahluwalia commented on #1696
Yes @rahul2240 I am working on this.

[2017-09-24 18:03] rahul2240 opened #1712 "distribution should be accurate"
I think this distribution should be accurate for turnover as it is dependent on real part only
![turnover showing real part](https://user-images.githubusercontent.com/25618739/30785196-64786da0-a180-11e7-96ef-e32c64acdf33.png)

[2017-09-24 19:51] #1712 closed

[2017-09-24 19:56] rahul2240 commented on #1700
@differentreality  create a ticket and tick the registration ticket required option.After buying that ticket, you will not be able to buy more ticket as the quantity option will be freezed, and if you go to continue then you will see this error.

[2017-09-25 08:22] faraazahmad commented on #1665
While running `bundle exec rspec --color --format documentation`, the Fixnum deprecated warnings appear to be due to the dependencies of of the required gems, rather than the business logic itself.

For example, the monetize gem
[code]
similarly, it also occurs in the `formtastic` and `simplecov` gems. The issue should be created on repositories of those gems IMHO.

Please correct me if I'm wrong.

[2017-09-25 08:26] faraazahmad commented on #1655
Hi! Can you please provide the link where this issue can be noticed and elaborate a little.
Thanks

[2017-09-28 07:38] AEtherC0r3 commented on #1665
For the upgrade to rails 5 #1714, I had to update formtastic, so the deprecation warnings that can be attributed to it have been fixed

[2017-09-29 17:56] ViditChitkara opened #1718 "More than one options of Multiple choice while creating a new question"
![bug1](https://user-images.githubusercontent.com/22616017/31028636-4866cde2-a56c-11e7-940f-061b348c3f54.png)
Not sure why there are multiple options in question type Drop down for "multiple choice" question

[2017-09-29 19:48] ViditChitkara opened #1720 "Landing on error page when upon clicking the show or edit buttons of a question"
![bug2](https://user-images.githubusercontent.com/22616017/31033154-ad387a6c-a57c-11e7-9399-b5556ab39a3a.png)
Error occurs specifically for those questions(global) which either do not have a conference_id or conference_id of the question is not same as the conference we are currently managing.

[2017-09-30 06:54] namangupta01 commented on #1718
@ViditChitkara I didn't get this. Mine is showing only one time
![screen shot 2017-09-30 at 12 10 20 pm](https://user-images.githubusercontent.com/20709985/31043422-e05a111a-a5d8-11e7-9123-683a14cf5140.png)
I think some line of code gets repeated in your code check it out!

[2017-09-30 07:56] namangupta01 opened #1722 "Error opening revision history"
While opening revision history we are getting the error saying **Couldn't find organization**
1. When version.item_type == 'UserRoles' and role.name == 'organization_admin'
2. When version.item_type == 'Role'
![screen shot 2017-09-30 at 12 34 07 pm](https://user-images.githubusercontent.com/20709985/31043918-7e949cca-a5e2-11e7-9308-5f78325edb04.png)

[2017-09-30 13:27] namangupta01 opened #1724 "not returning link to organization"
link_to_organization method in versions_helper.rb is not returning link to organization
[https://github.com/openSUSE/osem/blob/master/app/helpers/versions_helper.rb](url)

[2017-10-01 10:12] differentreality commented on #1724
I guess you are referring to this line
https://github.com/openSUSE/osem/blob/master/app/helpers/versions_helper.rb#L9
which is indeed not creating a link.

Organization additions in versions also cause an error for line
https://github.com/openSUSE/osem/blob/master/app/views/admin/versions/_object_desc_and_link.html.haml#L225
Where role variable is not defined.

(Clicking on the line number, will h

[2017-10-01 15:09] namangupta01 opened #1725 "wrong argument passing while calling link_to_organization method"
Argument given while calling the **link_to_organization**  method in file https://github.com/openSUSE/osem/blob/master/app/views/admin/versions/_object_desc_and_link.html.haml is not correct as it is passing the conference_id as shown in lines:
https://github.com/openSUSE/osem/blob/master/app/views/admin/versions/_object_desc_and_link.html.haml#L8
https://github.com/openSUSE/osem/blob/master/app/v

[2017-10-01 15:39] namangupta01 commented on #1724
@differentreality As **link_to_organization** should return a link to show the organization but there is no  action 'show' in Admin :: OrganizationController ?

[2017-10-01 16:20] differentreality commented on #1724
@namangupta01 yes, that's right.
For this to be named link... it obviously needs to link somewhere. And it should link somewhere as long as there is data to show. So far organizations#show only displays the organization name.

I am not sure what was intended here.
@lagartoflojo @shlok007 did you plan on adding admin/organizations#show ? Should this be a link to redirect to organizations#show (outs

[2017-10-01 16:25] differentreality commented on #1725
I no longer see that for https://github.com/openSUSE/osem/blob/master/app/views/admin/versions/_object_desc_and_link.html.haml#L8 but it's true for https://github.com/openSUSE/osem/blob/master/app/views/admin/versions/_object_desc_and_link.html.haml#L22 :+1:

[2017-10-01 16:27] differentreality commented on #1722
Duplicate of https://github.com/openSUSE/osem/issues/1725, isn't it @namangupta01 ?

[2017-10-01 16:30] namangupta01 commented on #1722
@differentreality I think it is somewhat related to this but its not exactly duplicate. Because in this issue we were trying to find the organization with conference_id and in #1725 we are passing wrong argument. Yes it seems somewhat related. Should i close that issue?

[2017-10-01 16:32] namangupta01 commented on #1725
@differentreality I didn't get why it is not true for https://github.com/openSUSE/osem/blob/master/app/views/admin/versions/_object_desc_and_link.html.haml#L8
as here version.item_id is not a organization id.

[2017-10-01 16:32] differentreality commented on #1718
@ViditChitkara it's because the question type has been added multiple times in your DB.

We are refactoring questions entirely in #1100, so fixing this is not a priority.

[2017-10-01 16:33] differentreality commented on #1725
@namangupta01 why not? What is it?

[2017-10-01 16:35] namangupta01 commented on #1724
@differentreality It can also be done that link to edit the organization can be done as done in the **link_to_conference** method  https://github.com/openSUSE/osem/blob/master/app/helpers/versions_helper.rb#L17

[2017-10-01 16:52] differentreality commented on #1655
@faraazahmad not sure which link you are looking for. This is the issue. We would have to come up with our implementation plan before working on this though.

Perhaps, for your first time, you would prefer a simpler junior issue?

[2017-10-01 16:56] namangupta01 commented on #1725
@differentreality yes, you are correct when the item_type is organization then item_id gives the id of the organization.
Should i close this issue?

[2017-10-01 16:59] differentreality commented on #1700
OK got it, thanks!

I agree, it is confusing. If I can only buy a registration ticket (no other kind), and I have already bought one, there is no point seeing the tickets#index page at all.

[2017-10-01 17:01] differentreality commented on #1725
Yes, let's work on #1722

[2017-10-01 17:01] #1725 closed

[2017-10-01 17:01] differentreality commented on #1722
https://github.com/openSUSE/osem/blob/master/app/views/admin/versions/_object_desc_and_link.html.haml#L227 too

[2017-10-01 17:03] namangupta01 commented on #1722
okay 👍

[2017-10-01 17:07] differentreality commented on #1687
Showing all events is an overkill (and can be a lot of data to show on a pop up).

We should show something along those lines:
'Are you sure you want to make to change conference hours? You have already scheduled content, which will be unscheduled if you proceed. Do you wish to proceed?'

[2017-10-01 17:07] rahul2240 commented on #1700
@differentreality  i think everything is fine on this page , we just need to disable the continue button if all tickets are bought by the user. Let me know if you agree?

[2017-10-01 17:10] rahul2240 commented on #1687
Thanks 😄 I will do it.

[2017-10-01 17:13] #1666 closed

[2017-10-01 17:18] ViditChitkara commented on #1718
Yes,there are multiple records of multiple choice type question😅😅. Should I close this issue?

[2017-10-01 17:19] differentreality commented on #1700
To be honest, I wouldn't redirect users on a page there is nothing for them to do.
Users get there from the 'Get more tickets' button in the registration page (conference_registrations#show).

This is what should be disabled, in my opinion. And with a short explanation as to why this button is now disabled.

[2017-10-01 17:20] differentreality commented on #1718
Yes, please.

[2017-10-01 17:23] rahul2240 commented on #1700
Yes i think you are right,user should not be redirected to that page.I will do it, Thanks

[2017-10-01 17:57] #1718 closed

[2017-10-01 18:55] sagarpreet-chadha opened #1726 "Error downloading PDF if VENUE not set"
<img width="1367" alt="screen shot 2017-10-01 at 8 34 25 pm" src="https://user-images.githubusercontent.com/14952645/31055921-fdf0c646-a6e7-11e7-9a1e-5d82c0690c78.png">

[2017-10-01 21:35] Anthematics commented on #1522
I could maybe take a look at it -> I'm a jr. developer who is about to finish a boot camp -. my stack is ruby (and rails), JS, and I can work with JSON  & My SQL.

I have never contributed to open source but would love to try!

[2017-10-02 06:09] rahul2240 commented on #1726
Hi :smile: , #1683 this issue was already assigned to me and the pr #1688 is ready to merge.

[2017-10-02 06:20] differentreality commented on #1726
@sagarpreet-chadha thank you for reporting this. As @rahul2240 said, we also have https://github.com/openSUSE/osem/issues/1683 for the same thing, and there is a PR that fixes it, which should be merged into our master soon.

Generally it is a good practice that you choose issues that have labels to avoid such problems.

There are many other issues to choose from, if you want to work on something

[2017-10-02 06:20] differentreality commented on #1726
Closing as it is a duplicate of #1683

[2017-10-02 06:20] #1726 closed

[2017-10-02 06:27] differentreality commented on #1522
Hi @Anthematics, welcome :)

@kkavita92 wanted to work on this some time ago. @kkavita92 please let us know if you are working on this, otherwise someone else could take it up.

@Anthematics there are also other issues to choose from, if you want to. You can get started with our [junior issues](https://github.com/openSUSE/osem/labels/Junior)!

[2017-10-02 06:40] differentreality commented on #1153
This is now implemented in OSEM as part of @siddhantbajaj GSoC 2017 project https://github.com/openSUSE/osem/pull/1600

[2017-10-02 06:40] #1153 closed

[2017-10-02 06:53] #1703 closed

[2017-10-02 06:54] #1679 closed

[2017-10-02 06:56] #1683 closed

[2017-10-02 08:04] #1691 closed

[2017-10-02 09:28] namangupta01 opened #1728 "Confusing name conference_id in versions table"
In file https://github.com/openSUSE/osem/blob/master/app/models/role.rb#L6 when name of the role is **organization_admin** then we have resource_type equals to **organization** and **resource_id** contains contains the id of the **organization** but in this line https://github.com/openSUSE/osem/blob/master/app/models/role.rb#L6
**conference_id** is given a value of **resource_id**, where resource_

[2017-10-02 10:25] rahul2240 commented on #1700
@differentreality While fixing this issue, i got some more. I think i didn't properly understand  the use of registration ticket while creating a ticket.Please tell me why we need that option and when we need that option to be ticked and when not.

[2017-10-02 10:39] rahul2240 opened #1729 "Unable to create rooms when venue is not set"
Create room is redirecting to home page with a flash message that says "You are not authorized to access this page."
When i am facing this situation-
Create a conference(venue is not set), go to schedules then go to track schedules.
Click on  add track schedules button, then create schedule, now go to create rooms.

I think if venue is not set then instead of create rooms link , add venue link sho

[2017-10-02 12:08] sagarpreet-chadha commented on #1655
Hello mam
I was thinking of showing a button to user when his/her Booth request is Rejected or Accepted .
<img width="1391" alt="screen shot 2017-10-02 at 5 37 07 pm" src="https://user-images.githubusercontent.com/14952645/31076549-5f06b390-a798-11e7-96cf-d83e94421a48.png">

On clicking this button the user can see the feedback given by the organiser (if any) .
Alternatively we can also send email

[2017-10-02 12:25] rahul2240 opened #1731 "Conference dates"
In conference#edit conference date is set to read-only but still it can be changed to other date.
Input field for dates is confusing for users as it looks like it is locked

[2017-10-02 13:21] sagarpreet-chadha opened #1732 "Opening of Blank Page when SplashPage is not created ."
When SplashPage is not created by organiser and we click this link , then a blank page is opened .
<img width="1438" alt="screen shot 2017-10-02 at 6 35 01 pm" src="https://user-images.githubusercontent.com/14952645/31079264-a6ab84dc-a7a2-11e7-857c-e239cb81d29d.png">

It should be opening page splashpage#new if splashpage is not created
else it should open the spashpage .

[2017-10-02 13:30] differentreality commented on #1732
This link is to show what a splashpage is, and where it is found / how it is accessed. It takes you to conferences#show (outside of admin).

If you want to create a splashpage, there is a create button right underneath!

[2017-10-02 13:30] #1732 closed

[2017-10-02 13:39] sagarpreet-chadha commented on #1732
Okay mam...sorry about that ! Thanks !

[2017-10-02 14:55] rishabhptr opened #1733 "Use CanCan Exception to handle payments#new amount check"
Instead of using a new function in the controller ,raise a CanCan exception for the same with a suitable redirect message.

[2017-10-02 15:18] rishabhptr opened #1735 "Payment for tickets are still possible after conference end date"
User can still make payment and edit purchase if there were any unpaid tickets even after the conference has ended.

[2017-10-02 16:38] ViditChitkara opened #1736 ""Byebug_history" file should be added to gitignore"
SInce "byebug_history" file is automatically created when using byebug, it should be added to gitignore.

[2017-10-03 17:05] namangupta01 commented on #1655
@differentreality can i take up this issue?

[2017-10-04 11:13] differentreality commented on #1700
Introduced in https://github.com/openSUSE/osem/pull/1627 a registration ticket is the ticket you will use to register to the conference (register in person when you arrive). For open source conferences there is usually no cost to attend, so this ticket could be of 0 amount, still you would get the ticket, and present it upon your arrival, so that it can be scanned and you may be marked as attended

[2017-10-04 11:15] differentreality commented on #1731
Are we talking about this screen?

![screenshot from 2017-10-04 14-14-54](https://user-images.githubusercontent.com/4322737/31172981-6dd52f4c-a90e-11e7-94b3-e81fae72480b.png)

And are you saying that you can actually type on the input box?

[2017-10-04 11:17] differentreality commented on #1733
Discussed in https://github.com/openSUSE/osem/pull/1715

[2017-10-04 12:26] rahul2240 commented on #1731
Yes, i am talking about this screen and No i cannot type in input box but using that calendar i can change the date.

[2017-10-04 12:32] differentreality commented on #1731
The input field is read-only so that people cannot type in it, and the data comes only from the selection on the calendar.

[2017-10-04 12:55] rahul2240 commented on #1700
@differentreality Thank You 😄 . I was trying to remove the get more ticket option when a user already bought all the tickets for the conference. But i found if i buy a ticket for a event (where registration ticket is required) then i cannot buy tickets for other events (where registration ticket is required) as they get disabled and i can only buy ticket for the event (where registration ticket is

[2017-10-04 13:03] rahul2240 commented on #1731
Yes but don't you think it is confusing for users because it looked like the dates cannot be changed

[2017-10-04 13:10] differentreality commented on #1731
Feel free to propose an alternative.

[2017-10-04 13:13] differentreality commented on #1700
Well perhaps something is wrong with the condition you are using? I can't know unless I see your code.

I asked this before: Do you have a clear written implementation plan which you are following? If so, please share it with us, along with the code that is giving you trouble, so that we can help you out.

[2017-10-04 13:18] rahul2240 commented on #1700
@differentreality I will add screenshots.
What i did was, i created a conference then created 2-3 tickets  and marked the registration ticket option.Then i signed in as a user and bought 1 ticket for a event then i came back to home page , now i again click on registration then get more ticket then i found that all 3 tickets were disabled.

[2017-10-04 13:20] differentreality commented on #1655
@namangupta01 this is a new feature, we should discuss here how to implement it, and after we decide, we can move on coding. So feel free to propose your implementation.

I will give it some more thought myself when I can.

[2017-10-04 13:35] namangupta01 commented on #1655
okay 👍

[2017-10-04 14:03] rahul2240 commented on #1731
Add white background colour to this input field?

[2017-10-06 18:55] ViditChitkara opened #1738 "Error in nested comments"
![nested_comments_bug](https://user-images.githubusercontent.com/22616017/31293692-b178989a-aaf5-11e7-9f66-c4e123e338d3.png)
Error in events' nested comments. May be the URL in semantic form is having some syntactical error.

[2017-10-07 07:39] ViditChitkara commented on #1669
@Ana06 @differentreality could you please explain this a bit more so that I have a bit more clarity about this feature.

[2017-10-07 19:27] namangupta01 opened #1741 "Error opening link to difficulty level in Revision history"
When the link to particular difficulty level in Revision history is click, then it shows the error!

![screen shot 2017-10-08 at 12 56 21 am](https://user-images.githubusercontent.com/20709985/31311144-af277cf4-abc3-11e7-970b-ba9c50568069.png)

[2017-10-07 19:54] namangupta01 opened #1742 "No way to register and to buy a ticket for new users"
When the user just signup then there is no way that a user can register for the conference and also there is no way to buy a ticket.

[2017-10-07 21:01] meonkeys opened #1743 "Include speaker email in "Events" admin CSV/XLS export"
This would make the export useful for emailing groups of speakers, e.g. those with Confirmed events.

Here's my workaround (no I did not write this on my own):

[code]

[2017-10-08 06:49] namangupta01 opened #1744 ".DS_Store file should be added in gitignore"
In the Apple macOS,  **.DS_Store ( Desktop Services Store )** is a file that stores custom attributes of its containing folder such as the position of icons or the choice of a background image. It is created by **Finder** in folder that a user works with.

![screen shot 2017-10-08 at 12 11 06 pm](https://user-images.githubusercontent.com/20709985/31314627-87351f9e-ac22-11e7-9d7b-af0f1e3df1fa.png)

[2017-10-08 08:28] #1742 closed

[2017-10-08 11:55] differentreality commented on #1669
@ViditChitkara I would strongly suggest you pick a junior issue to solve. We have a lot of other issues you can work on. This is a more demanding issue that requires some familiarity with OSEM functionality and code. You can always re-visit this issue when you feel more confident as to what it is about. Feel free to ask on our IRC channel (#osem on freenode server) if you are not sure which issue

[2017-10-08 12:00] ViditChitkara commented on #1669
Sure @differentreality . Could I try and give just the approach on how to implement it?

[2017-10-08 12:11] differentreality opened #1746 "PDF export with pdfkit + wkhtmltopdf"
https://github.com/pdfkit/pdfkit allows us to write our view as we would normally do (eg. in HAML) and it will export the view to PDF.

We can even be using existing views, if it makes sense for our PDF exports. Or we can write another view.

It requires 3 more lines on the controller to do the export, and if we want to make the PDF look nice, we can add a layout file to load the necessary CSS.
Th

[2017-10-08 12:19] #1738 closed

[2017-10-08 12:34] differentreality opened #1747 "Set a more meaningful openid username"
When creating a new account with openid, the username depends on whether or not the service is returning a username field (auth.info.username), if not the username becomes like 1234@facebook (uuid@provider), which does not mean anything to users reading it, and conveys no information whatsoever regarding who this user is.

We should setup the username during user creation in a more meaningful way,

[2017-10-08 12:40] ViditChitkara commented on #1747
@differentreality can I give it a try?

[2017-10-08 12:43] namangupta01 opened #1748 "Buttons in event are not properly grouped"
Export option button are not properly grouped

[2017-10-08 12:48] differentreality commented on #1748
That's in admin/events#index

@namangupta01 it is always useful to mention exactly where the issue is (if needed, provide information on how to reproduce what you are seeing). Even better if you can link to the exact line on the file https://github.com/openSUSE/osem/blob/master/app/views/admin/events/index.html.haml#L11

[2017-10-08 12:49] differentreality commented on #1747
@ViditChitkara go ahead :+1:

[2017-10-08 13:23] #1733 closed

[2017-10-08 13:30] differentreality commented on #1729
Yes the admin/schedules#index and admin/schedules#show should show the same messages regarding creating a venue and rooms.

[2017-10-08 13:35] differentreality commented on #1728
@shlok007 did you, by any chance, already run into this?

[2017-10-08 17:02] #1748 closed

[2017-10-08 17:33] rahul2240 commented on #1700
@differentreality should i open a separate issue for this?

[2017-10-08 17:36] differentreality commented on #1700
@rahul2240 not sure what _this_ refers to.

[2017-10-08 19:11] rishabhptr opened #1750 "Error on opening links to roles in revision history"
When a role is assigned to a user, the link of that role is not working in revision_history.

![image](https://user-images.githubusercontent.com/26951824/31319962-0e4da3e0-ac8a-11e7-9c89-ad4b425bb578.png)

![image](https://user-images.githubusercontent.com/26951824/31319973-3b8b2346-ac8a-11e7-9034-ef6c4d783ff6.png)

[2017-10-09 18:50] kormoc opened #1751 "Conference News Feed"
This is less a discrete task and more just a conversation starter.

One of the reasons why SeaGL keeps a second website is that we don't have a way to publish news (aka blog posts) in OSEM. Is this something that the OSEM team would be interested in having integrated into the codebase?

[2017-10-10 09:05] hennevogel commented on #1751
Nope sorry. What keeps you from integrating OSEM and your blog?

[2017-10-10 16:38] kormoc commented on #1751
We've been attempting to keep compatibility with upstream (openSUSE/osem), as sharing features is a good thing, however I understand that there are limits. I'll go ahead and fork ours off and break compatibility.

Thanks for all the code and the hard work over the years!

[2017-10-10 16:38] #1751 closed

[2017-10-12 10:22] namangupta01 commented on #1743
@differentreality  Can i take this issue?

[2017-10-12 11:14] namangupta01 commented on #1743
As there can be multiple speakers to the event so should there be email id of all the speakers. Isn't it?

[2017-10-12 11:21] namangupta01 opened #1758 "Include all the speaker's name in every event while exporting"
As any event can have multiple speakers so there should be the name of all the speakers in the exported files. As we have in following screenshot.

![screen shot 2017-10-12 at 4 50 09 pm](https://user-images.githubusercontent.com/20709985/31493596-839d70b8-af6d-11e7-9533-6f923440c2db.png)

[2017-10-12 13:16] differentreality commented on #1758
@namangupta01 this is a duplicate of https://github.com/openSUSE/osem/issues/1743 where you commented before. Why did you also open this issue?

[2017-10-12 13:18] namangupta01 commented on #1758
Yup that was for email i guess!

[2017-10-12 13:18] namangupta01 commented on #1758
@differentreality Yup that was for email i guess!

[2017-10-12 13:21] namangupta01 commented on #1758
And also that was not dealing with multiple speakers i guess!

[2017-10-12 13:24] differentreality commented on #1758
I realize it said email,  but we don't need a separate issue to include the names as well!
Leave your comments on how to enhance that issue and its solution in the other PR please.

[2017-10-12 13:24] #1758 closed

[2017-10-12 13:28] namangupta01 commented on #1743
we can also have multiple speakers belongs to a particular event because event can have many speakers and also there can be many emails of them so we should have name of all the speakers and all the emails of them.

[2017-10-12 16:14] #1736 closed

[2017-10-12 16:43] #1744 closed

[2017-10-12 18:56] namangupta01 commented on #1741
@differentreality As there is nothing much to display in difficulty level should it link towards the difficulty_level page?

[2017-10-12 21:37] namangupta01 commented on #1655
Speaker submit a proposal, the proposal is to be evaluate by the admin of the conference, after evaluation the admin accept or reject the proposal, if the proposal is accepted then admin can send a feedback to the speaker so that he can further confirm the event. If admin rejected the proposal then also he can send the feedback to the speaker and after getting feedback he can re-submit his proposa

[2017-10-13 10:24] namangupta01 commented on #1655
When the admin click to accept or to reject then a pop up box will appear and then admin can type the feedback there.

[2017-10-13 11:55] akshitahluwalia opened #1763 "Pull Request and Issue Templates"
The repository lacks uniformity in pull requests and issues templates. There should be a uniform way in which the issues and pull requests are described. This enables complete documentation of the issue and pull request.

These templates would be picked up default by the github when a person chooses to create a pull request or issue.

@bear454 @differentreality @Ana06
Please suggest any further ch

[2017-10-14 16:25] rahul2240 commented on #1700
@differentreality  There are 2 type of tickets-
1) Where registration ticket is required (i.e only 1 ticket per user )
2) Where registration ticket is not required (i.e any number of ticket per user)

for the first type, on buying 1 ticket for a event other tickets of first type gets disabled.

I am facing problem because of the above issue as other ticket are getting locked.

If i try to ignore t

[2017-10-15 17:11] shlok007 commented on #1728
Yes, this is definitely something I ran into. However, I am not sure if we should label it as a bug because it does not break anything at the moment, right? This `conference_id` name however might confuse someone else reading our code.

[2017-10-16 15:18] #1729 closed

[2017-10-17 09:41] rahul2240 opened #1767 "Allow users to sign up from other apps"
Sign up process will become much easier if we allow users to sign up with their facebook, github or twitter accounts.

[2017-10-17 10:15] differentreality commented on #1767
Absolutely, which we do. So what's this issue about? Adding twitter as one of the apps users can sign up with?

[2017-10-17 10:23] rahul2240 commented on #1767
Sorry,my bad. I am unable to find it so i opened this issue.

[2017-10-17 10:26] #1767 closed

[2017-10-17 11:12] differentreality commented on #1728
Well if we have the attribute conference_id and it ends up holding the organization_id, I'd say this is a bug. The fact that things have not broken completely is completely coincidental.

[2017-10-17 11:19] ViditChitkara commented on #1747
@differentreality I guess #1658 is a prerequisite for this issue, I guess we need to validate email presence so that it can be used to give a nice username. What do you think?

[2017-10-17 11:24] differentreality commented on #1700
Did you buy 1 **registration** ticket?

The conference should have only 1 registration ticket, right @Ana06 @siddhantbajaj ?

[2017-10-17 11:27] differentreality commented on #1747
It is not necessarily a prerequisite, since there can be no user record without email.
You can start developing this issue first and go step-by-step.

So assuming there is an email, make sure the user record gets a nice username.

[2017-10-17 11:28] rahul2240 commented on #1700
Yes i bought 1 registration ticket.

[2017-10-17 11:34] differentreality commented on #1700
Then you cannot buy another registration ticket. The disabled tickets are all registration_tickets.

I think this issue might be due to the fact that 1 conference can only have 1 registration_ticket, but we allow the organizer to create multiple registration tickets.

I'd wait for @Ana06 and @siddhantbajaj to confirm this.

[2017-10-17 12:46] differentreality commented on #1741
There is no show page.
So we should either manually redirect to the index page, or add a show page for difficulty_levels.

While a difficulty level does not have any information to show, except for its name and description, we can still present useful information, such as a list of the conference events that have this particular difficulty level.

@namangupta01 can you please check if the same err

[2017-10-17 12:49] #1747 closed

[2017-10-17 12:51] differentreality commented on #1750
@rishabhptr nice catch!
When you prepare a PR for merging, make sure you add the issue (eg #1750) so that the issue is closed automatically, when the PR is merged :)

[2017-10-17 12:51] #1750 closed

[2017-10-17 12:57] ViditChitkara commented on #1658
Can I start working on this @differentreality ?

[2017-10-17 13:10] differentreality commented on #1658
Sure @ViditChitkara

[2017-10-17 13:57] Ana06 opened #1768 "Consider changing junior label"
Github will use good first issue label to help new contributors to find issues.

![image](https://user-images.githubusercontent.com/16052290/31668436-8077a082-b352-11e7-8c2a-8a1100a7bc21.png)

Do we want to rename our `junior` label to be `good first issues`? :thinking:

[2017-10-17 13:57] Ana06 commented on #1768
@differentreality @ChrisBr what do you think?

[2017-10-17 14:11] differentreality commented on #1768
I've seen that from github too, and I've also been wondering if we can make any changes.
`help wanted` is too general, and does not really convey the message that this issue is good for a first-timer.
`good first issue` is much better, but perhaps I wouldn't put all of our junior issues under this label. We have junior issues that are easy to do, but not necessarily the first thing one should work

[2017-10-17 14:17] namangupta01 commented on #1741
sure! 👍

[2017-10-17 16:46] namangupta01 commented on #1741
@differentreality for event_types this error doesn't exist as it is redirecting to event_types page.

[2017-10-19 17:34] bear454 commented on #1651
I think what we're missing is some logic for when there's only one organization. In that case, I agree, it makes no sense to deal with the organizational level.

[2017-10-19 19:09] bear454 commented on #1735
I can think of valid use cases for allowing payment after-the-fact. What's the argument for blocking it?

[2017-10-19 19:15] shlok007 commented on #1728
I remember writing code keeping this in mind that for `organisation admin` role, `conference_id` column will contain organisation_id instead of conference_id : https://github.com/openSUSE/osem/blob/master/app/views/admin/versions/_object_desc_and_link.html.haml#L144 . ( I also did add a comment to make sure we remember to rename this later on )

[2017-10-20 09:06] differentreality commented on #1735
@bear454 could you share some of the use cases you can think of?

[2017-10-20 19:59] #1696 closed

[2017-10-20 19:59] differentreality commented on #1645
Fixed in https://github.com/openSUSE/osem/pull/1755

[2017-10-20 19:59] #1645 closed

[2017-10-20 20:01] #1722 closed

[2017-10-20 20:45] differentreality commented on #1741
OK then we can do the same thing for difficulty levels.

@namangupta01 you currently have a couple of things you are working on in peding PRs. We can leave this for a new contributor, shall we?

[2017-10-20 20:47] namangupta01 commented on #1741
I have already completed the work for this! Only thing is left is just to make pr! But if you want we can leave this for new contributor. Let me know!

[2017-10-20 20:50] differentreality commented on #1728
@shlok007 where does this happen? That org_id is assigned in conference_id attribute of roles table.

[2017-10-20 20:52] differentreality commented on #1741
Oh, I see. Why didn't you open a PR already?
If you have already done the work, then there is no point to no not send a PR.

But I strongly suggest you should focus on improving your open PRs, even while you are awaiting review, you can always go back and see your code - do your own review, check if there is something you can write better, rebase and update your PR.

[2017-10-20 20:58] namangupta01 commented on #1741
I didn't make pr. Because as you said you have already five pr open so don't open new pr. That's why! :)

[2017-10-20 21:34] differentreality commented on #1741
@namangupta01 but that is not at all my point :)

My point is that if you have multiple pending PRs, you have other things to focus on, and work on. It is not the count of the PR that matters, is where your focus and energy is. Not opening a PR means, not working on more things, so that you can focus on the work that is not yet finished.
I hope it is now more clear what I meant.

The point is not

[2017-10-22 10:07] differentreality commented on #1704
Seems that prawn doesn't like some png files.
We could add an error check in physical_tickets#show and/or https://github.com/openSUSE/osem/issues/1746

[2017-10-26 13:23] akshitahluwalia commented on #1763
@differentreality @bear454 @Ana06 Please look into this.

[2017-10-26 15:05] ftake opened #1775 "Commercials do not accept a SlideShare URL"
The URL input field on the Commercial tab does not accept a URL of SlideShare.
The following error message is shown

[code]

Tested with the following URL:
https://www.slideshare.net/ftake/welcome-to-opensuseasia-summit-2017

[2017-10-27 12:22] #1682 closed

[2017-10-28 13:01] differentreality commented on #1775
I can confirm this is not working :'(

[2017-10-29 13:13] cho2 commented on #1775
https://events.opensuse.org/conference/summitasia17/program/proposal/1502

It works with SlideShare with `http` instead of `https`

[2017-10-29 14:58] Ana06 commented on #1775
We already knew this issue, because in the last openSUSE conference there were instructions to remove the `s`. Not very nice :see_no_evil:

Isn't there an issue for that?

I think @ChrisBr tried to fix it. If we can't easily fix it, maybe removing automatically the s in production, at least to make it work by now... :thinking:

[2017-11-02 11:07] differentreality commented on #1735
@bear454 in my experience tickets are bought prior to events, and donations are made during the event.
What's the scenario you are thinking for a conference that gets payments after it is over?
I could think of late sponsorship payments, if they would want to do the payment this way instead of bank transfer.

[2017-11-03 16:53] namangupta01 commented on #1609
Fixed in #1621
Please close this issue!

[2017-11-03 18:57] #1741 closed

[2017-11-05 05:59] namangupta01 opened #1780 "Fix typos"
https://github.com/openSUSE/osem/blob/464b1483210a1d9b15abde9201d9492692da5faf/app/views/proposals/index.html.haml#L70

[2017-11-05 14:59] #1780 closed

[2017-11-05 19:32] ViditChitkara opened #1782 "Error viewing all_comments in notifications dropdown"
![comments-bug](https://user-images.githubusercontent.com/22616017/32418287-f4abc7be-c28c-11e7-93a1-f4ef8529441d.png)
This occurs when a user is deleted and the associated comments are not destroyed.
https://github.com/openSUSE/osem/blob/be1992a03af2766aef4d39276e34fb3814f882da/app/views/admin/comments/_all_comments.html.haml#L11
The error is occuring in above line when user associated with a comm

[2017-11-07 15:32] differentreality commented on #1782
@ViditChitkara OSEM does not support user deletion at the moment. Did you manually delete the user to trigger this error?

[2017-11-07 15:36] ViditChitkara commented on #1782
Yes I manually deleted a user not specifically for this but for testing out openid. Just randomly I noticed that this was happening due to user deletion. This should not happen if someone programmatically removes a user. What do you think??@differentreality

[2017-11-07 17:14] #1652 closed

[2017-11-07 18:36] differentreality commented on #1782
I think this is relevant to https://github.com/openSUSE/osem/issues/330 and we should consider this in regards with that issue.
For what it's worth, I think comments should persist as they play a viable role in event selection. Perhaps users with comments cannot be deleted? Or their name is maintained? Or neither, and we just copy their name with 'deleted user'.

It's a good catch, but I think the

[2017-11-07 18:36] #1782 closed

[2017-11-07 19:33] ViditChitkara commented on #1782
Sure! No issues

[2017-11-07 22:32] #1651 closed

[2017-11-08 02:22] #1743 closed

[2017-11-08 08:50] namangupta01 commented on #1092
@differentreality As far as i understand the issue, form should be also be submitted when user give no input to abstract?

[2017-11-08 17:00] namangupta01 opened #1786 "Returns all the users from event_users of a program where it should only return speakers"
As programs has many speakers through event_users, so it should only returns all the speakers not submitter.
https://github.com/openSUSE/osem/blob/aeded80a111a9b026e5b65b0c0c6ea07aa8871c7/app/models/program.rb#L45

[2017-11-09 16:39] #1786 closed

[2017-11-10 19:44] rahul2240 opened #1789 "Remove data table from program/cfps"
we can create only 3 types of cfps, so i don't think data tables is required here.

[2017-11-12 22:06] hennevogel opened #1791 "Schedule Redesign"
There is a very nice responsive schedule template on [codyhouse](https://codyhouse.co/gem/schedule-template/) we should steal from :-)

[2017-11-13 02:14] adrianovieira commented on #1791
May I could share this free template https://github.com/almasaeed2010/AdminLTE...
 Hope it could be a good reference, too!

[2017-11-13 10:22] hennevogel commented on #1791
@adrianovieira  for what? :-)

[2017-11-14 14:13] differentreality opened #1794 "Change Travis to use db:schema:load instead of db:migrate"
https://github.com/openSUSE/osem/pull/1714#issuecomment-343210789

[2017-11-14 15:13] rahul2240 commented on #1700
@Ana06 @siddhantbajaj  please see the issue.

[2017-11-14 15:31] #1650 closed

[2017-11-14 15:53] #1687 closed

[2017-11-14 17:08] omiday opened #1795 "what's happening events not reflacting current time"
See the screenshot below, with clock configured to display the current time in Seattle.
![screenshot_2017-11-14_09-00-32](https://user-images.githubusercontent.com/3902548/32793517-01706d94-c91b-11e7-98c7-faae68ea9b79.png)

[2017-11-15 10:18] differentreality commented on #1795
@omiday from your description I don't understand what you were expecting to see as time of the talk, instead of the 16:40

[2017-11-15 10:31] #1609 closed

[2017-11-15 11:38] namangupta01 commented on #1092
@differentreality can you please explain the issue in terms of the behaviour we want?

[2017-11-15 11:59] differentreality commented on #1092
If the type does not require an abstract, we should not validate against it.

[2017-11-15 16:04] hennevogel opened #1796 "Link to LFNW from osem.io"
https://2018.linuxfestnorthwest.org/conferences/lfnw18

[2017-11-15 23:10] omiday commented on #1795
At 9:40am when I viewed the page I expected to see nothing. See the schedule for Nov14 at https://www.pgconf.us/conferences/Seattle2017/schedule/events#2017-11-14.
At 9:40am Seattle time (the "now") there was no event going on. The first event started at 10am. OTOH the events in the screenshot were going to happen on that day but later on in the afternoon.

[2017-11-16 09:56] siddhantbajaj commented on #1700
Sorry for the late response, I was busy with my exams. A registration ticket is the one that is used for check-in for a conference with the help of qr code. A conference can have multiple registration tickets because it is very common for conferences to have different types of free and paid tickets. But registration are used only for the check in for a conference. They belong to a conference not t

[2017-11-16 16:39] namangupta01 commented on #1388
@nikhilgupta1211 are you working on it?

[2017-11-16 18:55] namangupta01 opened #1800 "No 'description' method in Cfp where description is a field in cfp table"
![screen shot 2017-11-17 at 12 21 40 am](https://user-images.githubusercontent.com/20709985/32909857-bbb07550-cb2d-11e7-96f9-f2bfc3e5f2aa.png)

[2017-11-16 19:08] #1800 closed

[2017-11-19 10:14] namangupta01 opened #1803 "Travis is failing sometimes"
In #1629 it passes where in #1799 is fails.
https://travis-ci.org/openSUSE/osem/jobs/304244668
https://travis-ci.org/openSUSE/osem/jobs/305983507

[2017-11-19 18:32] rishabhptr opened #1804 "Conference name repeated in revision_history on adding commercial."
When adding/updating commercial for a conference, the conf. name is repeated two times where first one links to commercial page for that conf.
I think it would be better that in case of 'commercial in conference' the link is included in commercial text as conference name is already added in the end.
![screenshot from 2017-11-19 23-53-40](https://user-images.githubusercontent.com/26951824/32993927-

[2017-11-19 18:58] differentreality commented on #1804
I do not understand what you are suggesting as a solution, but I do agree we need to remove the repetition. I will make this a junior issue so that a new contributor can pick it up.

[2017-11-19 19:20] rishabhptr commented on #1804
@differentreality My solution was to get rid of the first repetition and add hyperlink of commercial#index in commercial text. Anyways this can be fixed in various ways.

[2017-11-20 18:57] ViditChitkara commented on #1473
@differentreality If this issue is still available, I'd like to work on it

[2017-11-21 08:00] esquith commented on #1804
I would like to take this. This would be my first open-source thing. Let me know if this is possible and I'll start.

[2017-11-21 08:48] differentreality commented on #1804
Hi @esquith, welcome! Thank you for taking this, looking forward to your PR.

[2017-11-21 10:06] differentreality commented on #1795
@omiday I am assuming you refer to the part that says 'What's happening now' and the fact that the events listed below that are not happening **now**?

Sorry it hasn't been very clear to me from the comments so far  (if that's indeed what you are referring to).

This part was introduced/altered by pgconf, and not OSEM team.

If the intended behavior was indeed different, and this is not just a bad

[2017-11-22 00:00] esquith commented on #1804
Im having trouble with getting the 'vagrant up' command to work. It never completes the download. Having trouble reaching anyone on the IRC channel as well. Is there any alternative to vagrant that I can use?

[2017-11-22 01:31] #1473 closed

[2017-11-22 08:00] namangupta01 commented on #1482
Is anybody working on it?

[2017-11-22 08:18] differentreality commented on #1482
Doesn't look like it

[2017-11-22 09:05] rahul2240 opened #1808 "organization picture bug"
![capture](https://user-images.githubusercontent.com/25618739/33118613-5ad0f7be-cf92-11e7-8e4d-bf5b6079bb43.PNG)

[2017-11-22 11:05] rishabhptr commented on #1697
Can I work on this?

[2017-11-22 11:26] differentreality commented on #1697
Sorry I didn't update this, there is ppl working on this already. Could you please choose sth else? Thanks!

[2017-11-22 11:33] rishabhptr commented on #1697
@differentreality Alright, no problem!

[2017-11-22 18:27] rahul2240 commented on #1808
I was facing this in windows, its maybe because of imagemagick not available in windows so closing this.

[2017-11-22 18:50] namangupta01 commented on #1482
@differentreality Does speaker only able to see the proposals or they can even modify it ?

[2017-11-23 08:39] Ana06 opened #1810 "User proposals page"
I would to have a page where all my proposals for any conference are rendered. Currently we have that for a single conference, for example:

![image](https://user-images.githubusercontent.com/16052290/33164088-a62e932a-d031-11e7-8988-022cb5528c8c.png)

The new page should render all the talks, ordered by the date of creation.

A link should be add in the dropdown menu, before `Edit perfil` for exa

[2017-11-23 08:40] Ana06 commented on #1768
then I'll add the good first issue label and keep the junior one as well 👍

[2017-11-23 08:40] #1768 closed

[2017-11-23 08:41] ViditChitkara commented on #1810
Can I do this?

[2017-11-23 08:42] Ana06 commented on #1705
@siddhantbajaj what is the state of that?

[2017-11-23 08:44] Ana06 commented on #1697
@differentreality who is working on this? is there a pr? 😕

[2017-11-23 08:45] rahul2240 opened #1811 "Fix splashpage lodgings section"
![lodgingview](https://user-images.githubusercontent.com/25618739/33164435-ce8dbcc0-d058-11e7-840c-25feaf30e18c.png)
![pi](https://user-images.githubusercontent.com/25618739/33207457-c7e152fc-d133-11e7-8b43-e6082b4060f5.png)

[2017-11-23 08:46] Ana06 commented on #1665
@AEtherC0r3 but are there still deprecation warnings or do you mean that we can close this? 🤔

[2017-11-23 08:53] Ana06 commented on #1665
and Rails 5 PR is not still merged

[2017-11-23 14:09] AEtherC0r3 commented on #1665
@Ana06 I've only fixed the `formtastic` related deprecation warnings in #1714. The ones that are caused by `monetize`, `simplecov` or other gems, are still there.

[2017-11-23 15:51] differentreality commented on #1808
But you haven't described the bug. What's the bug and which steps do we need to take in order to reproduce it?

[2017-11-23 17:28] rahul2240 commented on #1808
while creating a new organization i found this(in windows).

[2017-11-23 17:32] rahul2240 commented on #1811
After adding lodgings for  a conference, i found this at the bottom of the splashpage(lodgings section).columns are not properly divided this can be  fixed either by giving thumnail class 100% width.

[2017-11-24 10:50] rahul2240 opened #1812 "only admin can access registered link"
![proposal](https://user-images.githubusercontent.com/25618739/33207219-dcd123c8-d132-11e7-8211-9bf6e5b5a8c5.png)

Login as a user(not admin)
Submit a proposal for conference
click on the registered button(red colored) below the proposal title.
Will be redirected to index page with flash saying you are not authorized to access the page

If user cannot access that page then the link tag should not

[2017-11-24 11:15] rahul2240 opened #1813 "splashpage's submit request for track should redirect to track#new"
On Splashpage submit request for track is redirecting user to program/tracks which is a empty page initially with new track request button, therefore the button on splashpage should redirect user to track#new

[2017-11-26 18:29] Harry30897 commented on #1804
Can I solve this issue @differentreality ?

[2017-11-27 15:24] Ana06 opened #1815 "Update to RuboCop 0.51"
Update Rubocop to the last version. To do this it is important to read the [Release notes](https://github.com/bbatsov/rubocop/releases). The todo file will need to be regenerated.

[2017-11-27 15:24] Ana06 commented on #1815
@rahul2240 maybe you want to work on this 😉

[2017-11-27 15:27] Ana06 commented on #1810
@ViditChitkara go ahead! 👍

[2017-11-27 15:35] Ana06 opened #1816 "Fix Bundler/OrderedGems offenses"
Fix Bundler/OrderedGems Rubocop cop offenses and remove the exclusion from the todo file. :bowtie:

This cop ensure that gems are alphabetically sorted within groups. It support autocorrection.

https://rubocop.readthedocs.io/en/latest/cops_bundler/#bundlerorderedgems

[2017-11-28 07:07] differentreality commented on #1482
I'd say that all speakers of the event should be able to see the event (index and show actions), as well as edit it, and add commercials for it, so that:

- Each speaker might want to add a piece of text in the event abstract
- Each speaker should upload slides, and add a commercial for them

[2017-11-28 07:48] differentreality commented on #1813
@rahul2240 by splashpage do you perhaps mean the conferences#index (splashpage is the conferences#show) ?

In conferences#index the button does direct to **new** action.

Perhaps a screenshot of where the button is would help.

[2017-11-28 09:32] esquith opened #1819 "'vagrant up' doesn't finish downloading when creating the development environment"
When trying to execute 'vagrant up' in the directory, the download never finishes. I think the most I've ever gotten to is 12%.

<img width="978" alt="screen shot 2017-11-28 at 4 33 16 am" src="https://user-images.githubusercontent.com/18001622/33312185-1eaf4d3c-d3f5-11e7-8439-2b2d6c528ad9.png">

Anyone willing to help me get setup?

[2017-11-28 11:08] rahul2240 commented on #1813
@differentreality Yes, In conferences#show
![splashpage](https://user-images.githubusercontent.com/25618739/33316559-5a5fbfbe-d45a-11e7-9599-5057c62b456f.png)

submit your request for track should redirect user to tracks#new but right now it is redirecting to tracks#index.

[2017-11-28 11:30] namangupta01 commented on #1482
@differentreality All the things listed by you is already taken care in pr #1809. Please have a look.

[2017-11-28 21:25] bear454 commented on #1574
We already have this tested via travis.

[2017-11-28 21:25] #1574 closed

[2017-11-29 05:30] rishabh92 commented on #1816
Hi @Ana06,
Can i take this one?

[2017-11-29 08:20] #1815 closed

[2017-11-29 08:21] Ana06 commented on #1816
@rishabh92 sure! 😉

[2017-11-29 08:44] namangupta01 commented on #1655
can i take this issue?

[2017-11-29 09:02] namangupta01 commented on #1092
okay 👍  working on it!

[2017-11-29 09:45] Ana06 commented on #1819
@esquith It works for me. It could be a problem with your internet connection 🤔

[2017-11-29 09:49] esquith commented on #1819
Heres a thread where like 30 different people have the same issue.

https://github.com/hashicorp/vagrant/issues/5319

[2017-11-29 10:53] olea opened #1822 "No link to organizations menu in admin page"
At /admin there is no link to the list of current organizations in database. After some examination I've found it exists a /admin/organizations page which work as expected.

Another expected way to add a new organization could be when creating a new conference, but in that page you just can choose organizations in the database but can't create a new one.

Using master branch at 8442eb813f87cf23776

[2017-11-29 12:55] Ana06 opened #1823 "Fix Style/UnneededInterpolation offenses"
Fix Style/UnneededInterpolation Rubocop cop offenses and remove the exclusion from the todo file. :bowtie:

This cop checks for strings that are just an interpolated expression. It support autocorrection.

https://rubocop.readthedocs.io/en/latest/cops_style/#styleunneededinterpolation

[2017-11-29 12:56] Ana06 opened #1824 "Fix Style/RedundantReturn offenses"
Fix Style/RedundantReturn Rubocop cop offenses and remove the exclusion from the todo file. :bowtie:

This cop checks for redundant `return` expressions. It support autocorrection.

https://rubocop.readthedocs.io/en/latest/cops_style/#styleredundantreturn

[2017-11-29 13:00] Ana06 opened #1825 "Fix Performance/HashEachMethods offenses"
Fix Performance/HashEachMethods Rubocop cop offenses and remove the exclusion from the todo file. :bowtie:

This cop enforces using `keys.each` and `values.each` instead of `each_key` and `each_value`. It support autocorrection, but it is important to review what is autocorrected.

https://rubocop.readthedocs.io/en/latest/cops_performance/#performancehasheachmethods

[2017-11-30 12:57] Ana06 commented on #1822
A link seems reasonable 👍

But you can create the organisation first and afterwards create the conference, right? I am not sure if it we want to add this to the creation of the conference, as it would complicate the process. 🤔  This would be a separate issue anyway (just to avoid mixing things up).

[2017-11-30 15:49] bear454 opened #1827 "Speaker proposals allow registration outside registration period"
**I'm submitting a ..**
- [X] Bug Report
- [ ] Feature Request

**Current behavior:**
After submitting a proposal (Event), a number of steps are presented to the user, to finish their proposal. One of those steps is event registration, regardless of whether the registration period is open for the conference.

**Expected behavior:**
No registration link is presented outside of registration period;

[2017-11-30 15:55] bear454 opened #1828 "Ticket generation fails when using Cloudinary"
**I'm submitting a ..**
- [X] Bug Report
- [ ] Feature Request

**Current behavior:**
After purchasing a ticket, confirmation email never goes out, due to pdf generation failure, due to trying to manipulate Conference#picture directly.

**Expected behavior:**
PDF should be generated; email should go out; code should never touch the 'file' part of an upload after upload; as it is probably not on th

[2017-11-30 17:53] olea opened #1830 "«Requirements» | «Description» labels mismatch"
Checked at demo.osem.io:

1. as a user you add a proposal of event, say at /conferences/osemdemo/program/proposals/11/edit and there appears a field called «requirements».
2. as admin you check the proposed event, say at  /admin/conferences/osemdemo/program/events/11 but the field containing the text is tittled «Description».

Check screenshot:

![captura de pantalla de 2017-11-30 18-44-26](https:

[2017-11-30 17:57] olea commented on #1822
Well, this could be just a matter of UX refinement. You should consider if the effort pays enough.

In any case seems clear an entry menu is needed somewhere.

Thanks!

[2017-11-30 18:33] namangupta01 opened #1831 "Time Zone mismatching in Tests"
There are some cases in **spec/factories** where Date.today is used which gives time in local time format:
https://github.com/openSUSE/osem/blob/master/spec/factories/conferences.rb#L8
https://github.com/openSUSE/osem/blob/master/spec/factories/tracks.rb#L15
https://github.com/openSUSE/osem/blob/master/spec/factories/tracks.rb#L16
https://github.com/openSUSE/osem/blob/master/spec/factories/vdays.r

[2017-11-30 19:58] adrianovieira opened #1832 "Error trying data:demo rake task"
## Description

Error trying to have demo data in a fresh database installation

[code]

### Steps to Reproduce

1. `rm db/development.sqlite3`
2. `bundle exec rake db:setup`
3. `bundle exec rake data:demo`

**Expected behavior:** database with data for demonstration, including an **admin** user to sigin in into the app

**Reproduces how often:** I reproduced it every time I've tried.

**Version:*

[2017-11-30 20:33] olea opened #1833 "Rebuilding containers lost loaded images"
- [x]  bug report
- [ ] enhancement

1. setup docker containers with docker-compose as expected
2. containers up, you start to add details and content for a conference
3. particularly you add pictures as: conf logo, venue logo and lodging pictures
4. everything is fine, sun shines, live is beautiful
5. you rebuild containers: docker-compose up --build -d
6. with the new container up all the data i

[2017-11-30 21:33] adrianovieira commented on #1173
I just took a look in the transifex project.

I believe that there are some (may be a lot of) strings which are not for the app itself, but for past opensuse conferences.

[2017-11-30 22:45] adrianovieira opened #1835 "Allow payments through another partner instead of Stripe"
Unfortunatelly, we couldn't use our payment service via Stripe.

So, how could I change this integration to another partner?

[2017-11-30 23:00] adrianovieira commented on #1819
The OpenSuse box is very big (1GB+).

So, if I can give you a sample tip:

Before you run the box (via `vagrant up`) you could (or try to) download it first.

This can be done by simply execute `vagrant box add opensuse/openSUSE-42.2-x86_64` - it'll be a long time to be finished as this box is too big (if nothing happens, e.g: timeout, connection loosing etc).

---

PS: I've created my own box to

[2017-11-30 23:12] adrianovieira opened #1837 "Fix bootstrap script for dbsetup user"
When starting up the box the `bootstrop.sh`:

- it needs to change to `/vagrant` directory for centos box to "create" database config
- it should install gems as `vagrant` user.

[2017-12-01 07:53] Ana06 commented on #1827
@bear454 take into account that if the talk is accepted, this is intended. Speakers will be there anyway, so we want to allow them to register even if the registration period is closed already. See https://github.com/openSUSE/osem/issues/829

[2017-12-01 08:54] differentreality commented on #1832
And you still got this same image?
https://github.com/openSUSE/osem/blob/master/spec/support/logos/OSEM.jpg

Are the relevant packages installed on your system?
That's the imagemagick and imagemagick-devel packages.

On a slightly different note, the first user that registers, will also become an admin.

[2017-12-01 09:39] differentreality commented on #1835
Right now you can't. We have only implemented support for Stripe in OSEM.

Using something else (paypal for instance?) would require implementation on our part for their API.

[2017-12-01 09:44] differentreality commented on #1173
That's indeed right, it's the way transifex works (as long as your OSEM instance is using the relevant transifex key, strings get registered for translation).
I do not know if there is a way to remove things in a smart way.
Adding a class is certainly one way, which would be helpful for things like name/title.

We are thinking of using https://l10n.opensuse.org/ instead, but I am far from finding

[2017-12-01 11:55] rishabhptr opened #1838 "Text overlap on public proposal page"
Speaker details either gets overlapped or gets hidden in case event has its own commercial.

![screenshot from 2017-12-01 17-19-43](https://user-images.githubusercontent.com/26951824/33481874-6af7b502-d6bc-11e7-85e0-4cba1a180a76.png)
![screenshot from 2017-12-01 17-20-58](https://user-images.githubusercontent.com/26951824/33481876-6c096f08-d6bc-11e7-8947-eb68a60f0c7b.png)

[2017-12-01 15:53] bear454 commented on #1827
Our problem goes the other way - we have not opened registration yet, and our call for sessions ends about a month before we plan to open registration:

We don't have  a payment gateway in place for tickets; we haven't designed our registration questions yet; we haven't written our email templates yet; and we're still deciding how we want to format the physical tickets... so having registration op

[2017-12-01 15:55] bear454 commented on #829
This creates other problems, when call for papers _precedes_ registration.

How about we allow registration by speakers _anytime after registration starts_ ?

[2017-12-01 15:56] bear454 commented on #1827
A workaround for the other side (late registering speakers) is to leave registration open but artificially set the registration limit.

[2017-12-01 16:06] adrianovieira commented on #1835
Paylpal sounds good, but it could be any.

I'd like see a feature like that: deactivate Stripe and have other integration.

How do I could help on this (though I have few knowledge in RoR & OSEM)?

[2017-12-02 11:20] olea opened #1840 "Rails console is broken"
- [x ] bug

using:

- docker enviroment
- version: #da735fe1c9b9e685cb9b87987f3048cfebbe7a3e, with no code modifications

First say I'm not a rubyist so maybe I'm obviating something.

I'm said I can access the rails console getting into the docker container and running  «rails console». But console can't start and reports:

[code]

Just reporting.

[2017-12-02 12:00] olea commented on #1833
Probably this is a duplicate of #1667

[2017-12-02 19:48] adrianovieira opened #1842 "datetimepicker navigation isn't resets if manually clean up conference start/end date fields"
## Description

When you are registering a new conference and you manually erase the start or end fields the calendar showed after that aren't allow you to navigate in other months (for that erased direction)

### Steps to Reproduce

1. register a new conference
2. select a start or end date from the calendar showed
3. manually erase one of them
4. try to navigate to another month ahead (or behind

[2017-12-02 20:25] adrianovieira opened #1844 "autofill conference end date"
## Description

For every date you choose for as the begin for a conference, when you go to choose end date it always show the current month.

It could be good that the behaviour for the ending date show at least the same month where the conference begin.

- **old-behaviour**
![old-behaviour](https://user-images.githubusercontent.com/5561794/33531453-6a8cabea-d874-11e7-88b9-d7a0fea30e76.gif)

###

[2017-12-02 20:56] adrianovieira commented on #1832
I was only giving a trial in that rake task - I'm not doing that to have an admin user.

It had no image after running data:demo.

I believe imagemagick-devel is not a requirement, but Yes! It has those packages (imagemagick and imagemagick-devel) installed.

[2017-12-03 11:12] SidharthBansal commented on #1823
May I take this issue and make a pull request?

[2017-12-03 11:13] SidharthBansal commented on #1824
May I take this issue and make a pull request?

[2017-12-03 12:19] SidharthBansal commented on #1825
I would like to work on this.

[2017-12-03 18:29] Ana06 commented on #1823
@SidharthBansal sure! 👍

[2017-12-03 18:32] Ana06 commented on #1824
@SidharthBansal go ahead! 👍

[2017-12-03 18:33] Ana06 commented on #1825
@SidharthBansal it may be a good idea not to work on many issues at the same time. You are already working on 2 issues. Please finish the other two first. Maybe someone else work to on this as well. 😉

[2017-12-03 18:46] Ana06 commented on #1842
@adrianovieira please do not open issues without description. 🙈

A short title and a detailed description (including screenshot and how to reproduce the problem for example) helps to understand what the problem is about. 😉