[2019-03-13 12:56] snpd25 commented on #2412
I changed the path of redirecting to `new_admin_conference_survey_path(@conference.short_title, survey: {  surveyable_type: 'Conference', surveyable_id: @conference.id })` and it generates the [same](https://github.com/openSUSE/osem/issues/2412#issuecomment-471963698) after submission. Is it okay?

[2019-03-13 14:45] Ana06 commented on #2388
@bear454 great :tada: I guess you will send a PR, right? :smile:

[2019-03-13 14:47] Ana06 commented on #2415
@bear454 somehow this is not working:

![image](https://user-images.githubusercontent.com/16052290/54288162-47ebc700-45a7-11e9-9174-5adbfb589a35.png)

As said, the button does appear in the index page.

[2019-03-13 14:49] Ana06 commented on #2418
@rahul2240 a user shouldn't be able to submit a proposal if there is no cfp

[2019-03-13 15:45] bear454 commented on #2388
It's going to need a bit more cleanup,  and I won't be able to guarantee that until _after_ LNFW 2019. Right now I just don't have enough time to make it right. 6 weeks left to make 2K conference attendees, speakers, and sponsors happy.

[2019-03-13 15:53] cboltz commented on #2421
I disagree that the carousel is a feature, but hey, opinions differ ;-)

However, the fact that you can't click some events because of the side arrows clearly is a bug. Unfortunately I can't reopen this issue. Can you please do that, or should I file a new issue?

[2019-03-13 16:06] bear454 commented on #2421
@cboltz ... I think I stopped reading at "It's annoying".

WRT to the two issues (which should be separate issues):

This is only an issue on sessions that occupy only one timeslice; i'd consider that a corner case...  Does oSC really have 15-minute-long (short?) sessions? -.- Our shortest sessions at LFNW are 45-minutes on 15-minute slots, so 3 slots... never an issue.

That's the "All events" ta

[2019-03-13 17:13] georgooty opened #2427 "support Ruby 2.6"
It would be nice to support Ruby 2.6

[2019-03-13 17:54] cboltz commented on #2421
Yes, we really have some 15 minute talks (slightly more than a lightning talk), and we managed to let them start at 11:45 - which is exactly where the scroll arrow is on https://events.opensuse.org/conferences/oSC19/schedule#2019-05-26 ;-)

That's not exactly what I was looking for, but much better than the carousel :-)

[2019-03-14 02:21] ddemaio opened #2430 "automatic emails"
I'm not sure what might be triggering this, but after logging in and making a few changes, there is something that triggers hydra.opensuse.org to send an email about the schedule. I've noticed this has happened twice. The first time it happened, the schedule wasn't viewable and I responded to all of emails I received. The schedule now works and I'm glad the email went out, but I didn't do anything

[2019-03-14 07:40] ibrahimelbanna commented on #2420
can i work on it

[2019-03-14 09:17] Ana06 commented on #2420
sure! go ahead @ibrahimelbanna

[2019-03-14 09:21] Ana06 commented on #2430
I think the first time it was me while debuging the bug, as I made the schedule public. Sorry for that, I should have told you.

The second one was when you made the schedule public and today it was sent again. What have you done exactly today? (to know what have triggered that)

[2019-03-14 09:23] Ana06 commented on #2427
Sure  @georgooty! It would be great to update to Ruby 2.6. A PR is more than welcome :wink:

[2019-03-14 09:26] Ana06 commented on #2388
@bear454 no problem. :smile: Maybe someone else has time to finish in the meanwhile. If not you can send the PR when you have time. Good luck with the conference :wink:

[2019-03-14 15:49] alaxalves commented on #2427
@Ana06 I'd like to start contributing to OSEM. Do you think this is a good issue to start?

[2019-03-14 15:50] ddemaio commented on #2430
@Ana06 under the program tab in admin, I edited it and clicked on the "Allow submitters to change their event after it is scheduled" button and then click the "update program". I guess this sounds like something that would want to send out an email with the updating of the program, so it's probably not a bug.

[2019-03-14 18:28] #2430 closed

[2019-03-14 18:30] hennevogel commented on #2422
If you want to setup a new DB use `rake db:setup`, there is no use to do `db:migrate` on a new DB.

[2019-03-14 18:30] #2422 closed

[2019-03-14 19:35] #2347 closed

[2019-03-15 09:52] rishabhptr opened #2432 "Event/track exports are broken."
**I'm submitting a ..**
- [x] Bug Report
- [ ] Feature Request

**Current behavior:**
Exporting the events/tracks through the admin dashboard is landing to errors.
![pdf](https://user-images.githubusercontent.com/26951824/54423163-09384700-4736-11e9-895e-89257387beec.png)

**Steps to reproduce:**
Create new events or tracks through admin dashboard and click on export buttons to export all/confirme

[2019-03-15 10:07] Ana06 commented on #2430
@ddemaio

But still is the same message, what is confusing for attendees, isn't it?

[2019-03-15 10:08] rishabhptr opened #2433 "User can buy tickets through splashpage even if registration is not open."
**I'm submitting a ..**
- [x] Bug Report
- [ ] Feature Request

**Current behavior:**
Currently if splash page is public and we have chosen to display tickets, then the default free tickets and/or any paid tickets are visible to the user even if registration have'nt started.
![Screenshot from 2019-03-15 15-24-39](https://user-images.githubusercontent.com/26951824/54423783-7a2c2e80-4737-11e9-871b-d

[2019-03-15 12:53] clanig opened #2434 "Carousel elements in timetable beneath arrow overlays are neither clickable nor hoverable"
**I'm submitting a ..**
- [x] Bug Report
- [ ] Feature Request

**Current behavior:**
On the following page there are sliders on the right and left of the time table that prevent interaction with scheduled presentations
![events_osc_overlay_covering_presentations](https://user-images.githubusercontent.com/31621613/54433463-2cf68f80-472c-11e9-9e98-ec3feea33cda.jpg)

**Expected correct behavior:**
T

[2019-03-15 13:20] Ana06 commented on #2421
@cboltz this was my GSoC project 2 years ago. It was needed to rotate the schedule because of conferences like FOSDEM which have many rooms. We had several discussions and proposals both in GitHub and IRC at that point and we decided that his was the way to go. At the moment we can not revert this anymore. But I have to admit that after having used it for the conference I am not convinced with the

[2019-03-15 13:24] Ana06 commented on #2421
I have modified your original comment @cboltz to include a summary of the possible options. I hope that is fine. :smile:

[2019-03-15 13:30] Ana06 commented on #2434
Related to https://github.com/openSUSE/osem/issues/2421

[2019-03-15 14:40] Ana06 commented on #2421
I have a proposal. Why about we try to come for the perfect solution for the schedule and in the meanwhile I give a try to the horizontal scroll so that we can deploy already while we find the perfect solution (in case the horizontal scroll is not perfect :stuck_out_tongue_winking_eye: )

[2019-03-16 08:42] rahul2240 commented on #2432
@Ana06 [layouts/application.haml](https://github.com/openSUSE/osem/blob/master/app/views/layouts/application.haml) should be application.html.haml right?

[2019-03-16 10:10] Ana06 commented on #2328
@Dsxv sorry for not answering before, sure, go ahead

[2019-03-16 10:16] Ana06 commented on #1995
@adrianovieira I completely agree with you. But we need to bring OSEM to an state where it makes to release it. There are many knows bugs at this point

[2019-03-16 22:07] ibrahimelbanna commented on #2420
#2441 @Ana06

[2019-03-16 22:43] ibrahimelbanna commented on #2084
@differentreality  @Ana06  any information about this feature ???

[2019-03-17 17:30] snpd25 commented on #2432
@rishabhptr , @Ana06 , the gem used here for generating pdf is "prawn-rails" but I couldn't find the configuration file for it as mentioned here:
[https://github.com/cortiz/prawn-rails#default-configuration](https://github.com/cortiz/prawn-rails#default-configuration)

[2019-03-17 17:45] rahul2240 commented on #2432
@snpd25, I think https://github.com/Whoops/prawn-rails this gem is used here according to the gemfile

[2019-03-17 17:58] rishabhptr commented on #2432
@snpd25 Yes, @rahul2240 is right  and regarding initialising, it can be done by overriding the Prawn::Document class just like [here](https://github.com/openSUSE/osem/blob/edc5a5b4aa7076b4adc888fc5d1400353b99754d/app/pdfs/ticket_pdf.rb#L6).

This version of gem is quite old, and because prawn-rails is now a separate gem as a dependency of prawn, this version is suspectible for problems. Though it'

[2019-03-18 11:00] #2356 closed

[2019-03-18 11:37] differentreality commented on #2084
Sure, what do you need to know @ibrahimelbanna? Please ask your specific question.
It is not yet implemented, if that's what you are looking for.

[2019-03-18 12:34] rahul2240 opened #2443 "letteropener not working"
**I'm submitting a ..**
- [ ] Bug Report
- [ ] Feature Request

**Current behavior:**
Either I signup or send a mail using mailer, letter opener is not working

[2019-03-18 13:09] rahul2240 commented on #2432
@rishabhptr try changing prawn_rails with prawn-rails no need for any other gem.

[2019-03-19 01:08] alaxalves commented on #2427
Currently working on this...

[2019-03-19 01:54] alaxalves commented on #2427
Apparently latest opensuse/leap image doesn't have ruby 2.6 version. I'm facing:
![image](https://user-images.githubusercontent.com/19597045/54574826-95659b00-49d0-11e9-9dd0-584a1d96abe7.png)

[2019-03-19 14:54] hennevogel commented on #2322
yeah naming this differently than the model is a good start.

[2019-03-19 15:43] adrianovieira commented on #1995
Thanks by your feedback.

I believe there are environments which already works with the mainline development branch (the *master* one) to support and manage their events. I used to be one of them to support my hotsite event management.
So, you probably had and still have some support of those who works with that *master branch* in production and they do some issues reporting, write code, make PR e

[2019-03-20 22:52] ibrahimelbanna commented on #2433
Can i take this issue ?

[2019-03-21 05:11] snpd25 commented on #2432
@rishabhptr , @Ana06 ,I found the same issue with "Registrations" as well. Should I open a different issue regarding that?

[2019-03-21 08:05] rishabhptr commented on #2432
@snpd25 Thanks for mentioning this, though that might require specifying the format in the controller but basically it would land to the same prawn error until the gem is updated.

[2019-03-22 10:31] #2398 closed

[2019-03-22 14:34] Ana06 opened #2452 "Remove admin resources"
Completely get rid of resources page in the admin panel.

[2019-03-22 14:47] Ana06 opened #2453 "Fix or remove deploy to Heroku button"

[2019-03-22 14:59] Ana06 opened #2454 "Resolve ability problems affecting events.opensuse.org"
https://github.com/openSUSE/osem/blob/master/app/models/ability.rb#L49

Closing this should close other issues as well. Review them.

[2019-03-22 15:29] lbenore opened #2455 "Form dates are always in read only mode"
After creating a new conference you are unable to setup the registration period because the start and end dates are always set to read only. The track dates have the same issue the start and end dates are always set to read only.

![image](https://user-images.githubusercontent.com/28565816/54834027-eac9d280-4c84-11e9-8713-b3df7ec1ce2b.png)

[2019-03-22 18:07] sncarnera commented on #2434
![image](https://user-images.githubusercontent.com/28449015/54843763-d5f83980-4c9a-11e9-913c-493a7a9ff047.png)
To Fix this changed $carousel-control-width from 15% to 3% in _variables.scss

[2019-03-22 21:42] hennevogel opened #2456 "In-app feature configuration"
We have feature flags but currently use environment variables to configure availability of features during boot. As we want to make more use of this in the future we would like to have an in-app configuration of features, based on sensible defaults.

[2019-03-25 10:13] Ana06 commented on #2434
@sncarnera thanks for the idea! :cupid: Do you plan to send a PR or should I do it?

[2019-03-25 15:49] sncarnera commented on #2434
@Ana06 please go ahead I've never done a PR

[2019-03-25 16:29] sncarnera opened #2459 "Confirm User Switch"
**I'm submitting a ..**
- [X ] Bug Report
- [ ] Feature Request

**Current behavior:**

Does not confirm user when switch is set to yes

**Expected correct behavior:**

Confirm user changes to yes confirmed

**Steps to reproduce:**

going to users and swich confirmed switch to yes. Or edit user and switch to confirmed.

**Other information:**

[2019-03-25 22:25] #2459 closed

[2019-03-26 09:55] cyrillefr commented on #2455
Hello,
I came across the same issue these days too, regarding the "Registration period" form.
The component does not show up because of the readonly attributes defined in the haml form.
The problem lies in the app/assets/javascripts/osem-datepickers.js file.

There are typos while instantiating the component:
`$('#registration-period-start-datapicker').datetimepicker({ ...`
It should be datepicker

[2019-03-26 10:21] lnussel opened #2460 "horizontal schedule confusing and buggy"
Looking at https://events.opensuse.org/conferences/oSC19/schedule#2019-05-25 the schedule is presented horizontally and requires scrolling to see the whole day. IMO that is counter intuitive. What's worse is that the talks below the arrow area can't be clicked as the arrow is layered above.

[2019-03-26 10:56] hennevogel commented on #2460
Duplicate of #2434

[2019-03-26 10:56] #2460 closed

[2019-03-26 12:18] #2418 closed

[2019-03-26 12:34] Ana06 commented on #2455
@cyrillefr go ahead!

@rahul2240 you wanted to do some related work as well, although I though that where improvements and not broken stuff. Please be careful not to work on the same as @cyrillefr (you can also review his PR when he send one and work together to fix all the problems) :wink:

[2019-03-26 12:35] Ana06 commented on #2460
@lnussel there is an open discussion in https://github.com/openSUSE/osem/issues/2421 Feel free to participate with ideas of how to improve the design :wink:

[2019-03-26 12:49] Ana06 commented on #2434
@sncarnera I have sent [the PR](https://github.com/openSUSE/osem/pull/2462). I tried to add you as co-author but I would need a name and email for it to work properly. Btw, 3% didn't work properly for all screen sizes so I adapted it a bit. :smile:

If at some point you want to make your first PR in OSEM and you need help, just let us know :wink:

[2019-03-26 14:06] rahul2240 commented on #2455
@Ana06 Yes, I was talking about the broken stuff :sweat_smile: I thought I was not allowed to make those changes so I dropped those commits, but I can help in reviewing the code. Thank you :smile:

[2019-03-26 14:51] lbenore commented on #2455
@cyrillefr I also noticed the datepickers on the program page for the voting dates has the same issue.

![image](https://user-images.githubusercontent.com/28565816/55006753-ddbe2380-4fa3-11e9-9c59-d650d6d10b26.png)

[2019-03-26 15:08] ddemaio opened #2464 "export pdf, xml and csv not working properly"
As an admin, under the registrations tab, I am unable to export the data. All that comes up is a blank page and when downloading it, there is no data with a right click save. A screenshot is attached.
![exporterror](https://user-images.githubusercontent.com/8996626/55008527-67d8ad00-4fe1-11e9-98e7-c70243fd00eb.png)
 It is needed to send out daily emails to attendees.

[2019-03-26 20:19] cboltz commented on #2421
Well, the perfect solution is to give everybody a 50 inch screen ;-) but I'm somewhat afraid that won't work in practise. (Any sponsors? ;-)

IMHO switching back to rooms as columns would be the best idea. Funnily, even FOSDEM does that (see https://fosdem.org/2019/schedule/day/saturday/), and they manage to squeeze all rooms into the screen ;-)

Horicontal scrolling sounds like a way to avoid ove

[2019-03-27 00:01] cyrillefr commented on #2455
Thank you @lbenore, you are right. I have looked after this part too.

[2019-03-27 09:30] Ana06 opened #2468 "Fix tests in rails-assets-bootstrap-select update"
@depfu[bot] opened a PR to update to rails-assets-bootstrap-select: 1.13.3 → 1.13.8: https://github.com/openSUSE/osem/pull/2477

but there are feature tests failing that need to be fix to merge the update: https://travis-ci.org/openSUSE/osem/jobs/508428537

In case of not having permissions to push to that PR, feel free to open a new one. :wink:

[2019-03-27 09:31] Ana06 commented on #2464
Related to https://github.com/openSUSE/osem/issues/2432

[2019-03-27 09:32] Ana06 commented on #2432
@rishabhptr @snpd25 @rahul2240 does any of you plan to send a PR? :hugs:

[2019-03-27 09:33] Ana06 commented on #2421
Related: https://github.com/openSUSE/osem/issues/1791

[2019-03-27 10:07] rahul2240 commented on #2432
@Ana06 I will send the PR :smile:

[2019-03-27 15:10] lbenore opened #2472 "Confirmed user and attendance toggles are broken"
Both toggle buttons are broken when osem is installed in a sub directory instead of the document root. This is caused by the urls being hard coded in the haml files for these two toggles instead of using the url helpers.

[2019-03-28 09:22] rishabhptr commented on #2433
@ibrahimelbanna Sorry for late reply, if you want to work on it feel free to send a PR. Let me know if you need more information on this.

[2019-03-30 14:25] snpd25 commented on #2400
@Ana06 , presently if not logged in, the register button is active and creates a new user after registration and also if the credentials matches with an existing user, it asks the existing user to login, is there any refactoring to be done here?

[2019-03-30 21:28] differentreality commented on #2409
This is actually a `Can't verify CSRF token authenticity.` kind of error.

[2019-03-31 09:42] ibrahimelbanna commented on #2433
@rishabhptr Thanks I will work on it and send pr

[2019-04-01 09:42] #2455 closed

[2019-04-01 12:56] Ana06 opened #2480 "Should we drop piwik_analytics?"
It seems that piwik  tracks things like:

- User IP address
- User ID (which identify the user)
- Approximate latitude and longitude of the user
- Main Language of the browser being used
- browser, operating system, device used (desktop, tablet, mobile, tv, cars, console, etc.), brand and model

I wonder why do we need this information or track the users at all (any information). It doesn't seem s

[2019-04-02 20:19] vinzv opened #2482 "Registration fails with empty registration form"
**I'm submitting a ..**
- [X] Bug Report
- [ ] Feature Request

**Current behavior:**
Being logged in and submitting https://events.opensuse.org/conferences/oSC19/register/new without ticking or filling any box I run into this error:

[2019-04-02 20:28] ibrahimelbanna commented on #2452
can you give more information about what is required to do? @Ana06

[2019-04-03 03:20] kaunair commented on #2468
I'd like to work on this issue :smile:

[2019-04-03 11:45] shlok007 commented on #2452
Is the resources page not being used anymore?

[2019-04-03 12:59] kaustubh-nair commented on #2020
Is anyone still working on this?

[2019-04-05 06:48] Ana06 commented on #2452
It has never been used. There better tools than OSEM to manage resources. OSEM has getting to complicated and this feature as it is now has no sense and only add complexity.

[2019-04-05 14:13] ddemaio opened #2484 "Confirmed user and attendance toggles are broken #2472"
With the update, there is no longer an ability to check off attendees as present. In the previous version, there was an option to record attendees as present and generate a dashboard with information about the amount of people who attended an event.
![registration attendee](https://user-images.githubusercontent.com/8996626/55633859-89921b00-57bd-11e9-9485-89fccabf0917.png)

[2019-04-06 08:06] #2434 closed

[2019-04-10 08:24] #1942 closed

[2019-04-22 22:51] Janfred commented on #1932
The icon is available in FontAwesome 5.0.11 (See linked FontAwesome Issue in the initial post)

Anyway, the font-awesome-rails gem does not yet support the font-awesome 5.x versions, and maybe never will, since it requires a complete rewrite of the gem according to https://github.com/bokmann/font-awesome-rails/issues/194

It might be a good idea to switch to direct font awesome, as suggested in ht

[2019-04-24 05:26] ddemaio opened #2496 "Adding new conference is broke"
I need to add the openSUSE.Asia Summit for this year and give the organizers admin rights. The add conference button has disappeared.
![Screenshot from 2019-04-24 07-18-25](https://user-images.githubusercontent.com/8996626/56634264-a2297e80-6661-11e9-9984-9ebc8372fd98.png)
It was on the left drop-down bar, but it has disappeared. Now it is in the organizations section and there is an add conferenc

[2019-04-24 05:43] ddemaio commented on #2480
@Ana06 I agree. We don't really need this on events.o.o.. I think it would be fine to drop it.

[2019-04-24 08:05] Ana06 commented on #2496
@ddemaio I'll take a look :wink:

[2019-04-24 08:06] Ana06 commented on #2480
any other opinions? @differentreality @hennevogel @bear454 ^^

[2019-04-24 12:52] hennevogel commented on #2480
You can drop it for the opensuse installation but why would you drop that feature? Web analytics are a thing most people do.

[2019-04-24 14:23] bear454 commented on #2480
Innocraft provides LFNW with a sponsored account; we, and our users, have been very happy to be off of Google Analytics, and onto something open source. So, no, I don't agree with dropping it.

[2019-04-25 10:47] danimo opened #2497 "Rendering of schedule.xml is broken"
**I'm submitting a ..**
- [x] Bug Report
- [ ] Feature Request

**Current behavior:**
https://events.opensuse.org/conferences/oSC19/schedule.xml returns a 500 server error.

**Expected correct behavior:**
https://events.opensuse.org/conferences/oSC19/schedule.xml should return a frab-compatible XML representation of the conference.

**Steps to reproduce:**

1. Open https://events.opensuse.org/conf

[2019-04-25 11:44] Ana06 commented on #2497
I'll take a look

[2019-04-26 11:13] Ana06 commented on #2496
I see the following in the menu that appear where my name is:

![image](https://user-images.githubusercontent.com/16052290/56804118-eb75fb80-6824-11e9-893d-8c0d7ff25f0e.png)

I do get to the new conference page, but sending the form return a 500. It may be related to https://github.com/openSUSE/osem/issues/2454

[2019-04-26 11:38] Ana06 opened #2498 "[production][users#toggle_confirmation] undefined method `confirm' for #<User:0x0000000005f6d2b8> Did you mean? confirmed?"
users#toggle_confirmation threw this 0 times
<pre>
undefined method `confirm&#39; for #&lt;User:0x0000000005f6d2b8&gt;
Did you mean?  confirmed?
</pre>
[https://events.opensuse.org/admin/users/12016/toggle_confirmation?user[to_confirm]=true](https://events.opensuse.org/admin/users/12016/toggle_confirmation?user[to_confirm]=true)"

[See this exception on Errbit](https://errbit-opensuse.herokuapp.co

[2019-04-26 11:50] Ana06 commented on #2496
This is a Roles related problem. I think running the following rake task will solve the problem: https://github.com/openSUSE/osem/blob/master/lib/tasks/roles.rake I need access to the server for that (I am on it).

@hennevogel I am not pretty sure how we should be handling this. But after https://github.com/openSUSE/osem/commit/b72e64b2385767f2b1634322ac2cf97c9a3a3638, not having run this task bre

[2019-04-26 15:26] Ana06 commented on #2496
I finally manage to access the machine and the bug is fixed! (thanks @cboltz for the help :cupid:) As I expected, running the rake task fished the issue.

I leave this open until we discuss how to handle this as our instance may not be the only one affected.

[2019-04-27 14:18] Ana06 commented on #2496
Btw Doug, the _Add conference_ button is in the organisation (you could have more than one organisation now).

[2019-04-27 15:00] cho2 opened #2501 "Arrranging Sponsor Logo"
**I'm submitting a ..**
- [ ] Bug Report
- [  X ] Feature Request

**Current behavior:**
On sponsor section at https://events.opensuse.org/conferences/conferencePageSample/

Platinum Sponsor
[sponsor 2] [sponsor 1]

Custom Sponsor
[sponsor 4] [sponsor 3]

On admin https://events.opensuse.org/admin/conferences/conferencePageSample/sponsors
order:
- [sponsor 3] custom
- [sponsor 4] custom
- [sponsor

[2019-04-29 13:01] Ana06 commented on #2501
@cho2 some of the link you put are not accessible. If I understand right, you want a way to decide in what order the same type of sponsor is displayed? I am afraid that complicates the UI more than necessary. @bear454 @ddemaio what do you think?

@cho2 this issue is not a priority issue (taken into account that there are some broken functionalities) and need some discussing, so unless you send a P

[2019-04-29 13:18] cho2 commented on #2501
@Ana06 change `conferencePageSample` on link with `oSC19` or `summitasia19`.

Yes.

For example on https://events.opensuse.org/conferences/oSC19
![screenshot-events opensuse org-2019 04 29-20-15-23](https://user-images.githubusercontent.com/6271071/56898557-8d167a80-6abb-11e9-9d46-57477542c6bc.png)

But, i want the order like this
![screenshot-events opensuse org-2019 04 29-20-17-22](https://user-

[2019-04-29 13:30] Ana06 opened #2504 "UI is not intuitive when only having one organization"
I realized in https://github.com/openSUSE/osem/issues/2496 that the UI is not really intuitive when you only have one organization:

![page](https://user-images.githubusercontent.com/8996626/56634264-a2297e80-6661-11e9-9984-9ebc8372fd98.png)

We may want to give a though to the workflows to try to simplify the UI.

[2019-04-29 13:39] Ana06 commented on #2501
@cho2

you can not, but I may be able to come with a work around (at least I can check), but you need to tell me how it should look like (you are organizing summitasia19 and not oSC19, right?).

[2019-04-29 13:42] cho2 commented on #2501
@Ana06 only summitasia19. Thanks Ana

[2019-04-29 16:04] #2022 closed

[2019-04-29 16:15] ddemaio commented on #2501
@cho2 I believe this is done alphabetically, so certainly a feature request like to suggested. There really doesn't seem to be a way around it at the moment unless you number them in the order you want as a work around.

[2019-04-29 16:29] #2412 closed

[2019-04-29 16:32] differentreality commented on #2501
:+1: Yeah we should be able to use the positioning just like in Sponsorship levels

[2019-04-29 18:06] differentreality commented on #2498
Hmmm you cannot confirm a user if you are using ICHAIN - would it make any sense to do so? Why do people want to confirm users while using ICHAIN?

This is caused by the lack of confirmable in Devise when using ICHAIN https://github.com/openSUSE/osem/blob/master/app/models/user.rb#L48

[2019-04-29 18:19] differentreality commented on #2496
I'd expect whomever is admin on the OSEM instance to be able to handle this one way or the other.

In any case, the menu item is there for those with appropriate access, and it is my understanding that events.o.o proper functionality is now restored too, right? If so, can we close this?

I have also made @ddemaio an admin in events.o.o to solve the practical issues here.

[2019-04-29 18:21] differentreality commented on #2480
So do **not** drop? Can we close this?

[2019-04-29 18:35] #2432 closed

[2019-04-29 18:37] differentreality commented on #2464
Fixed in https://github.com/openSUSE/osem/pull/2471

[2019-04-29 18:37] #2464 closed

[2019-04-29 18:42] differentreality commented on #2373
I think the actual issue to address here is completing the migration to surveys - I am unable to find the relevant issue though :/

Once the data migration runs, existing Questions will be available in the corresponding surveys. That will solve this and other questions-relevant issues.

Not sure if it makes much sense to try and maintain questions at this point :/

[2019-04-29 18:44] differentreality commented on #2333
Duplicate of https://github.com/openSUSE/osem/issues/1263

[2019-04-29 19:32] differentreality commented on #2409
@ddemaio I have manually added the commercial by the way (through rails console)

[2019-04-30 05:21] ddemaio commented on #2480
I think @hennevogel and @bear454 make valid points, so don't drop it @differentreality

[2019-04-30 05:25] ddemaio commented on #2496
Thank you @differentreality

[2019-04-30 06:53] differentreality commented on #2482
Couldn't find the error in the logs. @vinzv could you please reproduce?

[2019-04-30 07:45] danimo commented on #2497
Is this already deployed? I now get the same 500, but formatted as XML.

[2019-04-30 08:46] Ana06 commented on #2497
@danimo It is deployed... it seems there are more problems in production. I'll try again... :mag:

[2019-04-30 08:52] Ana06 commented on #2497
The log tells me we need to restart the server (`application.haml` is still rendered):

[code]

@hennevogel how can I do that? :thinking:

[2019-04-30 08:54] #2480 closed

[2019-04-30 08:54] Ana06 commented on #2496
No, that the rake task need to be run still need to be documented for other instances that may want to update from version 1

[2019-04-30 08:57] Ana06 commented on #2333
@bear454 it is clear we want to drop this (and since a lot of time ago seeing #1263). Can you please send that PR? :pray:

[2019-04-30 08:58] Ana06 commented on #1263
Closing this as there is further discussion in the duplicated issue #2333

[2019-04-30 08:58] #1263 closed

[2019-04-30 09:03] Ana06 commented on #2498
@differentreality

You are right, no. But there are already confirmed and unconfirmed users and this raises an exception.

[2019-04-30 09:11] Ana06 commented on #2501
@cho2 let me know how it should look like and I'll try to fix it with a work around. As said, this is a nice feature (which would need some discussion about the design), but there are many other priority things (such as bugs that break the application), so I don't expect this to be implemented soon.

[2019-04-30 10:32] differentreality commented on #2498
The confirmed users exist since before ICHAIN was implemented in OSEM, when users actually created their accounts in OSEM, as such OSEM would confirm their email address.

So what are we expecting to be done for this? Not showing the confirm button in the admin panel?

[2019-04-30 10:45] eladeyal-intel opened #2506 "Error opening revision history on demo conference 500"
**I'm submitting a ..**
- [X] Bug Report
- [ ] Feature Request

**Current behavior:**
When I open the "revision_history" in the OSEM demo website http://demo.osem.io/admin/revision_history I get Error 500

[2019-04-30 10:48] eladeyal-intel opened #2507 "version demo"
which version of OSEM is deployed in http://demo.osem.io/admin/conferences/osemdemo ? I can't see any version number.

The only think I see is "This tool is free software, released under the MIT license. You can run, copy, distribute, study, change and improve it. The source code and the developers are on GitHub.". Maybe it should say the name of the tool and the version number.

[2019-04-30 11:17] Ana06 commented on #2497
Server restarted. It is fixed now. :wink:

[2019-04-30 11:17] #2497 closed

[2019-04-30 11:27] Ana06 commented on #2507
You can check the deployed version here: https://github.com/openSUSE/osem/deployments So, it is a current version.

The app looks exactly the same as if you would install it locally, so we can not add the version there. There is also no version number to mention as this is unreleased code. clicking on the link `Github` on the message takes you to the project where you can see the deployment and th

[2019-04-30 11:27] #2507 closed

[2019-04-30 11:28] Ana06 commented on #2506
Duplicated of https://github.com/openSUSE/osem/issues/2334

Please check the issues list before open a new one.

[2019-04-30 11:28] #2506 closed

[2019-04-30 11:38] danimo commented on #2497
Thanks. Now, all that seems to be left is an issue while importing. It seems the timestamp format has changed:

[code]

It should looke like this: ```2019-05-24T09:30:00+02:00```

From the XSD:

[code]

(it also complains about the GUID field not satisfying the regex ```[0-9a-fA-F]{8}(-[0-9a-fA-F]{4}){3}-[0-9a-fA-F]{12}``` (i.e. not being a true UUID) but I am not sure that was ever different. The

[2019-04-30 11:58] Ana06 commented on #2497
I'll take a look :+1:

[2019-04-30 12:01] Ana06 opened #2510 "Dates format in xml is incorrect"
From @danimo in https://github.com/openSUSE/osem/issues/2497#issuecomment-487918981:

[2019-04-30 12:02] Ana06 commented on #2497
@danimo I have added this info to a new issue: https://github.com/openSUSE/osem/issues/2510 (because this is not related to the first problem). I'll take a look :wink:

[2019-04-30 12:25] danimo commented on #2510
Just an idea: If you want to create a test, and assuming osem has a mock for a complete conference schedule, the schedule.xml route could be checked against https://raw.githubusercontent.com/voc/schedule/master/validator/xsd/schedule.xml.xsd to avoid future breakage. If you want that as a new issue, that's fine.

[2019-05-02 06:34] culrich-ll commented on #2453
Can you give any concrete date for this fix?

[2019-05-02 11:04] Ana06 commented on #2498
@differentreality

Not showing the button and that all the users are confirmed. We have some unconfirmed users in events.opensuse.org

[2019-05-02 12:12] medwinz opened #2511 "OSEM Installation using Docker doesn't work"
**I'm submitting a ..**
- [x] Bug Report
- [ ] Feature Request

**Current behavior:**

When following INSTALL.md to install osem using docker in openSUSE Leap 15.0, it doesn't work as expected. When I run
[code]
it produce some errors. The errors are:
[code]

**Expected correct behavior:**

Images are build.

**Steps to reproduce:**

In openSUSE Leap 15.0 follow the step in INSTALL.md and run
[cod

[2019-05-02 14:36] Ana06 commented on #2510
@danimo

It is a good idea, please open a new issue, so that we can fast fix the bug by now.

[2019-05-03 08:40] danimo opened #2514 "Test for schedule.xml generator"
(Created from #2510)

Let's ensure the schedule.xml generator will not break again by creating a test.

Assuming osem has a mock for a complete conference schedule, the schedule.xml route could be checked against https://raw.githubusercontent.com/voc/schedule/master/validator/xsd/schedule.xml.xsd to avoid future breakage.

[2019-05-03 08:40] danimo commented on #2510
Done. If someone could reload the webserver, we can close this issue.

[2019-05-03 08:59] #2510 closed

[2019-05-03 09:44] Ana06 commented on #2510
@danimo I have deployed, please double check that the issue is fixed

[2019-05-03 12:56] danimo commented on #2510
Works like a charm, thanks!

[2019-05-06 06:17] Ana06 commented on #2427
@alaxalves there is not package for ruby 2.6 in Leap. There is a 2.6 package in tumbleweed thought. Why do we need the leap package?

[2019-05-06 06:18] Ana06 commented on #2420
Fixed in #2441

[2019-05-06 06:18] #2420 closed

[2019-05-06 21:56] vinzv commented on #2482
Thanks for having a look!

Registrations are tied to openSUSE infrastructure accounts. So I can't register again, unfortunately.
As long as no one else complains we're fine here, I guess. :)
Closing the issues for now.

[2019-05-06 21:56] #2482 closed

[2019-05-07 10:34] #2496 closed

[2019-05-08 22:14] AHaseebKhan11 commented on #2433
Hi I have made a pr for this issue https://github.com/openSUSE/osem/pull/2517
I wanted to use the link_to_if helper here but it doesn't work with do block in haml. I would have had to write some html markup for it so used a conditional statement.

[2019-05-14 14:35] bear454 commented on #2433
I don't agree with the premise that tickets should only be available during the registration period. If you don't want tickets to show on the splashpage, uncheck the tickets option in the splashpage config.

[2019-05-15 13:47] hennevogel commented on #1791
[railsconf](https://www.railsconf.com/schedule) is another good example of a many rooms/many slots schedule. I especially like how rooms are displayed side-by-side when there is enough room and if there isn't it's organized by timeslots.

![peekQDPU1Z](https://user-images.githubusercontent.com/514785/57780504-aad51800-7728-11e9-9df7-b9ffb9f152de.gif)

[2019-05-15 13:48] hennevogel commented on #2421
It's not related, it's a duplicate :-)

[2019-05-15 13:48] #2421 closed

[2019-05-15 13:54] Ana06 commented on #2421
@hennevogel

Well, when the other issue was open there were different conditions....

[2019-05-15 14:01] hennevogel commented on #2421
conditions?

[2019-05-17 06:22] vishaldeepak commented on #2086
Interested in giving this a shot. Expected Correct behaviour has two ways, which one is  the preferred solution?

[2019-05-20 14:33] age-killer commented on #2375
Hello,

I am trying to register to oSC19, but I constantly get a "Redirection limit for this URL exceeded. Unable to load the requested page. This may be caused by cookies that are blocked." error, on both my PC and phone (4G network) with several browsers. This happens when I submit my credentials.

Is there a general issue with the page or I have duplicate accounts as well?

Thanks a lot for the

[2019-05-20 14:45] hennevogel commented on #2375
What is your user name @age-killer?

[2019-05-20 14:51] age-killer commented on #2375
should be AGE_KILLER

[2019-05-21 09:11] hennevogel commented on #2375
it is not...

[2019-05-21 21:17] Ana06 commented on #2375
I think it is `archimed` :wink:

[2019-05-22 06:50] age-killer commented on #2375
Okay... so it seems that there is either a mess with SUSE and openSUSE accounts or I do have two accounts with different access and the "reset all" functionality is not working for me... Anyways, I created a new account and registered for the conference :D Whom should I contact to delete all my other accounts?

Thank you very much for the quick responses!

Kind regards,
Anatoli

[2019-05-22 08:54] Ana06 commented on #2375
@hennevogel

how have you done this? have you written an script to update the index of the deleted user to the other one. If so, it would be nice to share the script :wink:

[2019-05-22 10:12] Ana06 commented on #2375
@age-killer

There is not "reset functionality", just us merging users manually, which we haven't done for your accounts. Your account doesn't seem to be affected by the same issue. There is no user `age_killer` and only one account for `archimed` and the email for this user is not in any other user.

What user where you trying to log in with? can you provide more details of how to reproduce the e

[2019-05-22 11:25] age-killer commented on #2375
I meant the "Retrieve both" option in the "Forgot your credentials?" section of the Sign in page, but didn't receive anything... I have an AGE_KILLER account, but this might be related only to SUSE, which would explain why I cannot login to openSUSE's Event page. As for the archimed account... I suspect that this might be one of the first accounts I have created couple of years ago for accessing t

[2019-05-22 11:32] Ana06 commented on #2375
@age-killer

There is not `AGE_KILLER` account in OSEM. The `Retrieve both` option is on the microfocus page and not in OSEM. So I think there is nothing we can do about it, right @hennevogel?

[2019-05-22 11:40] age-killer commented on #2375
I knew there is something messy with all these reorganizations SUSE is going through lately... Apologies for spamming the thread and thanks a lot for your time and patience!

[2019-05-23 15:42] Ana06 opened #2520 "Support talks without speaker"
For "talks" like lunch and party (in general any activity you want to add in the schedule but that doesn't have any speaker) it should be possible to have talks without speaker.

[2019-05-24 07:52] #2375 closed

[2019-05-24 10:14] ishwon opened #2521 "Cannot submit commercial url for oSC19"
Submitting SlideDeck & Vimeo urls to oSC 2019 page is returning the following message:

[code]

**Steps to reproduce**

1. Go to https://events.opensuse.org
2. Click on "My Proposals"
3. Click on "Edit"
4. Click on "Commercials"
5. Paste URL and click on the "Create commercial" button.

Tried with both http & https urls.

[2019-05-24 13:57] mbgg opened #2524 "Add waitlist to an event"
**I'm submitting a ..**
- [ ] Bug Report
- [X] Feature Request

**Current behavior:**
If you create a event with a limit number of participants, we don't have a wait list to add people who want to participate but can't because the limit was already reached.

**Expected correct behavior:**
Add a wait list to an event. When some person de-registers from the event, add the first in the wait list to t

[2019-05-24 22:39] Ana06 commented on #2521
Related to (or a duplicate of) https://github.com/openSUSE/osem/issues/2409

[2019-05-24 22:42] Ana06 commented on #2484
This seems to be a duplicate of https://github.com/openSUSE/osem/issues/2472

[2019-05-24 22:42] #2484 closed

[2019-05-26 15:32] hennevogel commented on #2521
Fixed in #2522, please confirm @ishwon

[2019-05-26 15:32] #2521 closed

[2019-05-29 15:02] snpd25 commented on #2520
@Ana06 , I wanna work on it, will making the speakers optional solve the issue or another option in the speaker list: "Not-particular" or "All present" will do?

[2019-05-30 10:23] Ana06 commented on #2520
@snpd25

cool! :wink: Go ahead!

I think internally we should just save no speaker, but when rendering it to the user it may be a good idea to show something, at least in the admin side. In the user side, I would say that when there is not speaker we should not render any picture or speaker field. But I would say those are details we can discuss in the PR. :smile:

Take into account we don't want

[2019-06-03 14:00] rahul2240 opened #2527 "Invite users to become booth responsible"
User can invite other users to become booth responsible while creating a new or editing an existing booth

**Changes in the PR will be:**
- [ ] Add option to invite user for booth responsibles
- [ ] Install ‘devise_invitable’ gem and configure
- [ ] Edit mail template that will be used for invitations
- [ ] Install 'mailkick' gem
- [ ] Add unsubscribe link in the email

[2019-06-03 14:59] rishabhptr opened #2528 "Collecting additional information during submissions"
As a part of the GSoC project. We want to collect additional details such a contact, social media, additional requests for.

- [ ]  Add social media links
- [ ]  Add contact fields
- [ ]  Add a field for entering additional requirements.
- [ ]  Change the respective form and views.

For the Social media links, I have proposed to use the contact model which already exists for the social media links

[2019-06-04 15:12] #2472 closed

[2019-06-06 04:19] Ana06 commented on #2527
@rahul2440

Why local?

[2019-06-06 04:24] Ana06 commented on #2528
Where do you want to add this information? I guess you speak about the submission the tracks and booths, right?

This sounds good to me.

What do you exactly mean?

:+1:

[2019-06-06 08:04] rahul2240 commented on #2527
@Ana06 We have to create a PR for GSOC branch, right? Since it doesn't exist right now so I created it locally.

[2019-06-07 16:45] rishabhptr commented on #2528
Yeah, this is related to Tracks/Booths.

What I mean to say is that using polymorphic association we would have ` contactable_type ` and ` contactable_id ` field for contact, so is it good practice to convert the `has_one` association between conference and contact to polymorphic association too.

[2019-06-08 07:36] rahul2240 opened #2534 "Allow late stand submission discussion"
**I'm submitting a ..**
- [ ] Bug Report
- [ ] Feature Request

My approach is -
- A form to enter emails to invite those people.
- if user exists then send a mail otherwise send an invitation mail.
- I will add an invited_ids column to conference that will store all the user id of people that are allowed to submit late stand for that particular conference.
- Add in the ability to allow users with

[2019-06-09 15:21] differentreality commented on #2534
I am confused, is this about late submissions or inviting users to become booth responsibles?!

[2019-06-09 15:32] rahul2240 commented on #2534
@differentreality  Both. After the booth request period is over then organizers can invite people to register, once they do that then request booth option will be available to these invited people.

[2019-06-09 19:35] differentreality commented on #2534
So invited people can have the extra privilege to request a booth after the deadline?
How do we know if they were invited at any given time to be a booth responsible or if they were invited to be granted the extra privilege?
A booth responsible can be added/invited at any time.

[2019-06-10 04:54] rahul2240 commented on #2534
@differentreality , Yes they have the extra privilege to request a booth after the deadline.
I will add one more attribute to the conference, it will be for entering the number of days by the organizer, invitation expires after that number of days.
Yes booth responsible can be added/invited at any time.

[2019-06-11 14:05] ibrahimelbanna opened #2536 "Writing tests for SponsorsController.rb"
I want to write specs for the sponsors_controller.rb

[2019-06-12 05:14] rahul2240 commented on #2534
@differentreality @Ana06 I could not find a way to invite people for a particular conference using devise invitable gem. I have also asked the creators, and they said there is no way yet.
So, I am thinking of setting invitation token expire time to constant say 1 or 2 weeks and create a new invitations model that will hold a user id, conference id and invite expire field.
Whenever a user signs up

[2019-06-12 06:45] rahul2240 opened #2537 "Invite with roles"
Organizers can invite unregistered people to become organizer, cfp, info desk, volunteer coordinator.

At present, we can only assign roles to registered users
![q](https://user-images.githubusercontent.com/25618739/59328670-988bd100-8d0a-11e9-9243-eabda34049c6.png)

If the user with email is not present then a flash appears with message "Could not find user. Please provide a valid email"

So my c

[2019-06-12 16:11] Ana06 commented on #2433
taking into account @bear454 comment, I am going to close this issue. It is true that there is an option to hide the tickets and people may be already using the feature this way.

[2019-06-12 16:11] #2433 closed

[2019-06-13 08:27] Ana06 commented on #2537
@rahul2240

as said in your PR, the invite code shouldn't be everywhere duplicated.

In my opinion, you should send the the user an invitation and show the state of the invitation in OSEM.

[2019-06-13 08:27] Ana06 commented on #2536
you don't need to open an issue for this. More tests are always a good think. Go ahead and send a PR.

[2019-06-13 08:27] #2536 closed

[2019-06-13 08:29] Ana06 commented on #2528
@rishabhptr what about you send a PR with a suggestion? It is much easier to discuss about code when seeing the code and we want to see the work you are doing :wink:

[2019-06-13 08:33] rahul2240 commented on #2537
@Ana06  thanks for clearing it out, I will create an invitation controller.

[2019-06-13 08:47] Ana06 opened #2540 "Feature tests are broken due to Chrome error"
Since a few days we get the following error in the feature tests:

[code]

Check for example https://travis-ci.org/openSUSE/osem/jobs/544820037

It seems to be a credentials error:

This is an important issue as we can not merge new PR without ensuring the tests  are working.

@hennevogel do you know something about this?

[2019-06-13 18:27] rishabhptr commented on #2528
@Ana06 Yes, you're right and sorry for not updating earlier. I have created a PR explaining my approach and the concerns that I am facing. Thanks!

[2019-06-16 12:05] differentreality commented on #2086
This is marked as a good first issue for the option of disabling the ticket currency selection.

Enabling multiple currencies per conference (possibly with conversion) is a bigger issue.

So for the time being, I would suggest you merely disable the currency selection when the currency is already decided.

[2019-06-16 12:14] differentreality commented on #2534
@rahul2240 to make sure we all understand the same things, please write down the steps we expect users to follow and show us the relationships and sample db tables of what you are suggesting.

[2019-06-16 17:59] differentreality commented on #2528
I am wondering if we want to allow people to submit custom things, in addition to the predefined fields, so that they can determine both the description as well as submit the equivalent value (eg. a link to project's repo).
Then the table can look like this:

ID | description | text
1  | Project license | X license
2  | Project repo | link-to-repo

[2019-06-17 08:46] Ana06 commented on #2540
@hennevogel @differentreality @bear454 anybody has any idea how to solve this?

[2019-06-17 08:55] ddemaio opened #2544 "Add Data Field for Emergency Contact Information"
I'm submitting a feature request. Inputting emergency contact information is important as we recently experienced at the openSUSE Conference where a speaker collapsed and we needed to contact the person's family. I would recommend that the data field be a mandatory item for registration and should include a name (first and last), phone number and email address of the next of kin. While the data is

[2019-06-17 18:04] rahul2240 commented on #2534
@differentreality , here is what I am thinking.

What I want to do:
1. Admin will visit a invite_booth_path.
2. There will be a form with email id field(multiple emails) and number of days to invite those email users.
3. Admin will enter email ids and number of days to invite those emails and submit the form.
4. If the invited user registers within that "number of days" after the day user is invit

[2019-06-17 18:09] kergon commented on #2534
On Mon, Jun 17, 2019 at 11:04:52AM -0700, Rahul wrote:

I suggest a focus on the new deadline might work better than having that
as a derived quantity to be calculated: everyone involved is thinking in
terms of the new date that applies, rather than the number of days away
that is relative to some other date.

Alasdair

[2019-06-17 18:31] rahul2240 commented on #2534
@kergon Thanks for the suggestion, you are right. Date will be better.

[2019-06-18 05:02] rishabhptr commented on #2528
It's a nice idea and I don't think it would affect the contact/social-media field and the other fields that I have mentioned in the PR.

If this is a requirement we can definitely work on it and the discuss the approach here. I am assuming that we would need a different table to implement this.

[2019-06-25 14:14] ed1001 commented on #2086
Hiya, this would be my first ever contribution :) May I take this on?

[2019-06-26 16:03] kergon commented on #2544
On Mon, Jun 17, 2019 at 01:55:06AM -0700, Douglas DeMaio wrote:

Not all conferences will be comfortable storing this sort of personal
information - not least because the information "belongs" to a person who has
not themselves registered in the system or given you their consent for the
information being stored.  Must the person concerned be notified and be
given the option not to have their infor

[2019-06-28 12:50] differentreality commented on #2086
Sure @ed1001 go ahead :+1:

[2019-07-02 12:13] hennevogel commented on #2540
might be https://github.com/openSUSE/open-build-service/pull/7794

[2019-07-02 12:52] Ana06 commented on #2086
I do not think we should support several currencies for a conference. OSEM is already complex enough, so I would prefer keeping things simple.

Regarding the single currency per conference, this shouldn't be managed in the tickets. As all the tickets should have the same currency, this should be an attribute of conference. So, the correct approach is in my opinion:

1. Add a currency attribute to

[2019-07-02 12:56] Ana06 commented on #2540
@hennevogel

I don't think it is the same one. In the one you send it is realated to W3C:

while in OSEM we have an authentication problem:

@hennevogel any idea where this problem is coming from?

[2019-07-18 07:20] esparta opened #2555 "Streamline Conference public p"
**I'm submitting a ..**
- [ ] Bug Report
- [ ] Feature Request
- [x] Work in Progress tracker

**Current behavior:**

The root page of OSEM usually have heavy traffic when conferences are announced, this issue is to keep track about that can be done in order to improve the system in general, and the Conference controller, model and views in particular[1]:

- [x] Remove not needed query on not sign

[2019-07-19 08:31] esparta opened #2557 "Cannot run feature spec on container"
**I'm submitting a ..**
- [x] Bug Report

**Current behavior:**
When executing Feature specs an error message appears on every scenario.

**Expected correct behavior:**
Every scenario on the Feature specs should be executed and not halted by an error before the scenario.

**Steps to reproduce:**
Execute any feature spec
[code]
A error message is displayed and the scenario is not runned:

[code]

[2019-07-19 15:12] Ana06 commented on #2540
Fixed in https://github.com/openSUSE/osem/pull/2548

[2019-07-19 15:12] #2540 closed

[2019-07-21 12:46] differentreality commented on #2534
@rahul2240 so we would need two separate new controllers and db tables for invitations regarding booths and tracks?

[2019-07-21 13:49] differentreality opened #2560 "selectize does not return all users"
**I'm submitting a ..**
- [x] Bug Report
- [ ] Feature Request

**Current behavior:**

When selecting users using selectize gem, the users returned in the drop down are **not** all the available users, but just the ones who logged in during the past 3 months.

This is caused because the definition of **active** scope changed, but the code which was already using it, did not.

https://github.com/op

[2019-07-21 18:21] rahul2240 commented on #2534
We will need a db table for invitations regarding booth and tracks. We can use a separate controller to keep the invitation code separate but we can use concerns also.

[2019-07-22 19:37] sbernhard opened #2565 "Generate html files including OSEM conference data"
**I'm submitting a ..**
- [ ] Bug Report
- [x] Feature Request

**Current behavior:**
It's not possible to generate HTML files containing conference data which can be integrated to a CMS like wordpress. Currently its not possible to show the views in the way you like it - you need to use the OSEM generated, static format.

**Expected correct behavior:**
It would be nice, to have something like a t

[2019-07-22 19:40] sbernhard opened #2566 "Upload user / spekaer picture instead of gravatar"
**I'm submitting a ..**
- [ ] Bug Report
- [x] Feature Request

**Current behavior:**
User profile avatars are only using gravatar.

**Expected correct behavior:**
Allow the user / admin to upload a picture which would be used instead.

**Other information:**
Reason:
- gravatar is not used be every user / speaker and someone doesn't want to use the gravatar service
- It doesn't look very well if a

[2019-07-22 20:05] sbernhard opened #2567 "Enable / Disable tickets"
**I'm submitting a ..**
- [ ] Bug Report
- [x] Feature Request

**Current behavior:**
Tickets can not be enabled / disabled

**Expected correct behavior:**
Often a conference provides 'Early Bird tickets'. They are shown first. Later on, the regular tickets should be shown and the early birds tickets are invisible.
Therefore it would be nice to have:
- Specify a date / time in which a ticket is sh

[2019-07-22 20:07] sbernhard commented on #2452
Fully agree

[2019-07-22 20:13] sbernhard opened #2568 "Users view doesn't work"
**I'm submitting a ..**
- [x] Bug Report
- [ ] Feature Request

**Current behavior:**
http://demo.osem.io/admin/users doesn't list the users but prints an error

![image](https://user-images.githubusercontent.com/25485845/61662039-d5fe5980-accd-11e9-847e-2e8cc30285e2.png)

**Expected correct behavior:**
List the users

[2019-07-22 20:25] hennevogel commented on #2565
You can use our API to query most data we have for conferences. However you integrate this into your CMS is up to you I would guess.

[2019-07-22 20:25] #2565 closed

[2019-07-22 20:32] sbernhard opened #2570 "Define the tasks of a talk"
**I'm submitting a ..**
- [ ] Bug Report
- [x] Feature Request

**Current behavior:**
Tasks are currently hard-coded.

**Expected correct behavior:**
It would be nice, if user/admin defined tasks for a talk can be specified. Additionally, maybe tasks are not required for a talk - like if a conference doesn't want to have commercial.
This allows us to make sure, everything is organized to have the

[2019-07-22 22:22] sbernhard commented on #2565
Thanks @hennevogel.

[2019-07-23 18:27] differentreality commented on #2570
OSEM would expect
- the food  preferences to be a question (during registration most probably), and
- speaker presence to be viewed from here http://demo.osem.io/admin/conferences/osemdemo/program/reports#missing-speakers

Our registration list http://demo.osem.io/admin/conferences/osemdemo/registrations used to have a column to show attendance, which could be toggled. Perhaps we should bring that

[2019-08-02 19:59] yuvi17 commented on #2524
@Ana06 is this something that I can take up? If so, will be happy to share a design doc and proceed on this.

[2019-08-02 21:08] Ana06 commented on #2524
Sure @yuvi17, go ahead!

[2019-08-04 00:12] cho2 opened #2572 "Error 500 when accidentally remove sponsorship level"
**I'm submitting a ..**
- [x] Bug Report
- [ ] Feature Request

**Current behavior:**

https://events.opensuse.org/admin/conferences/summitasia19/sponsors
![screenshot-events opensuse org-2019 08 04-07_03_42](https://user-images.githubusercontent.com/6271071/62417897-05c23f80-b686-11e9-918d-9e8c1a42fcf1.png)

Console
![Cuplikan layar dari 2019-08-04 07-11-02](https://user-images.githubusercontent.

[2019-08-04 01:38] cho2 commented on #2501
Finally, we use the number to arrange a sponsor.
For example

![screenshot-events opensuse org-2019 08 04-08_35_47](https://user-images.githubusercontent.com/6271071/62418436-e7af0c00-b692-11e9-87d7-732b74192418.png)

We use
[1. openSUSE] [2. SUSE] [3. Simplify8]

If we do not use a number, the order will be alphabetically
[openSUSE] [Simplify 8] [SUSE]

[2019-08-04 16:01] Ana06 commented on #2501
@cho2 This is actually a nice solution :rofl:

[2019-08-04 20:02] rahul2240 opened #2574 "Automate bulk actions for evaluation and acceptance process"
**My Approach**
1. Admin visits the booths#index.
2. A select option that includes all the available options for a booth request will be available, admin can select any option.
3. Checkboxes before every booth request in booths#index. Admin can select any number of checkboxes.
4. Submit button at the bottom. Admin will press the submit button.
5. At the controller, the status of the selected booth

[2019-08-05 09:05] cho2 commented on #2572
@Ana06 can you take a look?

[2019-08-06 11:50] hennevogel commented on #2572
@cho2 fixed in openSUSE production.

[2019-08-06 12:00] cho2 commented on #2572
Thanks @hennevogel

[2019-08-16 12:31] rishabhptr opened #2582 "Combine/link and evaluate Stands submissions"
In certain cases we want to combine two or more stand/booth requests together so that we can accept them for a single table/stand.

The user would submit independent requests and we may be able to link them together to a single table.

The Approach could be as:
1. Create a new model for combined booth request which would have a has_many relationship with booth model.
2. Admin/Organizer would visit

[2019-08-25 14:44] differentreality commented on #2524
Hey @yuvi17! Are you working on it? Do you need any help?

[2019-08-26 05:25] snpd25 commented on #2520
Hey @Ana06 , sorry for getting back on it so late. I was just thinking if we can remove the validation
of speakers from the events model.

This will not be a problem as in the proposals controller the speaker is defined as the user who submits the proposal. And I could not find any other way where user defines the speaker.
Once we get confirmed about what to show on the user side, I will make the

[2019-09-04 02:51] Ana06 commented on #2520
@snpd25

As we are planning to allow that there is no speaker, the validation has to be removed.

IMO it would be enough with which I mentioned in my previos comment:

Is there something that is not clear or need to be further discussed? If not please go ahead with the PR :muscle:

[2019-09-28 10:41] OndraX commented on #2511
I'm having the same issue, though with the current version of the Dockerfile.production and the tmp file commands in osem directory don't seem to fix it.

[code]
note that neither the "ruby version" or the "files may not be writable" messages seem to be the cause of the problem, as either setting an OSEM_RUBY_VERSION in .env.production or running bundle as sudo ... --system makes the respective wa

[2019-10-07 21:47] bear454 commented on #2333
Sorry for the delay - I kept getting frustrated trying to rebase... finally got through. Tests already passed :heavy_check_mark: :smile:

[2019-10-08 07:58] kolja-lucht commented on #2019
@differentreality Hey! Just came across this issue and was wondering if you still need help with it? I'd be happy to give it a go. Just let me know :)

[2019-10-22 23:25] AdamBark commented on #2511
I don't know why it doesn't get picked up from the environment but if you change line 5 of the Gemfile from:
`ruby ENV['OSEM_RUBY_VERSION'] || '2.5.0'`
to
`ruby ENV['OSEM_RUBY_VERSION'] || '2.5.5'`
it might work. It worked for me anyway.

[2019-10-23 10:03] differentreality commented on #2019
@kolja-lucht sure, please go ahead! Thank you :)

[2019-10-25 18:00] #2560 closed

[2019-10-31 11:52] #2520 closed

[2019-11-18 19:47] Joellehelm commented on #2035
Hey @afaerber, if this issue is still open I'd like to solve it.

[2019-11-19 16:06] Ana06 opened #2612 "unregister for an event is broken"
**I'm submitting a ..**
- [X] Bug Report
- [ ] Feature Request

**Current behaviour**
event.opensuse.org crashes when ana_testuser tried to unregister for openSUSE Summit Dublin.

[2019-11-19 16:08] Ana06 commented on #2035
@Joellehelm I am not sure if this is still an issue. You can recreate it (create a conference with a registration with a question and check if editing the registration fill the field).

[2019-11-21 16:59] gabrielbaldao commented on #2568
Can i try fix this bug?

[2019-11-29 07:59] ddemaio commented on #2544
I think it should be a voluntary options with some sort of comment like I give consent to contact my emergency contact should something happen. Maybe it's better to have it in their profile with the willingness to share it with the conference organizers of whatever conference they attend. That way they are in control of the data and can delete it if they want. It would be good for a reminder optio

[2019-12-14 21:40] cycomachead commented on #2453
I have recently deployed the app to Heroku. The button (on Master, not v1) works well. The main issue I ran into was email settings. Sendgrid wasn't working, but configuring SMTP was fine for me.
(I have an SES account that I use more most things and that works pretty well.)

Two minor notes for anyone working on this:
* The note about a `symbol` for `OSEM_SMTP_AUTHENTICATION` is confusing. The va

[2019-12-16 05:36] eel87 commented on #2019
@kolja-lucht are you working on this?

[2019-12-16 07:52] kolja-lucht commented on #2019
Hey @eel87
no, hadn't had a chance to check it out throughly. You can take it, if you want 😊

[2019-12-19 13:19] snpd25 commented on #2612
@Ana06 , I am unable to reproduce this bug in my local repository. It works fine there

[2019-12-19 19:08] bennettscience opened #2618 "OAuth too many redirects"
**I'm submitting a ..**
- [x] Bug Report
- [ ] Feature Request

**Current behavior:**

Google authentication takes users through account selection and then fails due to too many redirects.

**Expected correct behavior:**

The user should be taken to the OAuth consent screen to confirm registration.

**Steps to reproduce:**

Enter Google application ID and secret into `secrets.yml`
Click Sign Up on

[2019-12-20 13:16] bennettscience commented on #2618
After digging some more, the error is in the user login flow defined in the omniauth callbacks controller

https://github.com/openSUSE/osem/blob/c587cf199852661808280e5de895b518cb0bc4ee/app/controllers/users/omniauth_callbacks_controller.rb#L38

Sending the user to `accounts/sign_in` after a successful authentication kicks off the authorization flow again, which results in the loop. Even though th

[2019-12-20 14:24] bennettscience opened #2620 "Add `required` tag to events"
**I'm submitting a ..**
- [ ] Bug Report
- [x] Feature Request

We often have events during conferences (sessions, meetings) that are required for attendees. It would be helpful to be able to tag specific events as required that would automatically register all attendees for. An extension of this would be to add a step in the registration process in which users select which instance of an event (A

[2019-12-20 16:03] bennettscience opened #2622 "500 Error when speaker tries to edit their session"
**I'm submitting a ..**
- [x] Bug Report
- [ ] Feature Request

**Current behavior:**
When a logged-in speaker clicks "Edit" on their proposal, a 500 error is returned.

**Expected correct behavior:**
The speaker should be able to edit their session information.

**Steps to reproduce:**
Create an event with a confirmed speaker.
Open the conference in the speaker's account.
Select the session from

[2019-12-25 17:21] Ana06 commented on #2612
I don't think this has been fixed. events.opensuse.org is using ichain (that is related to other issues, so it could be the case here as well). the user I tested was is no normal user (no admin rights).

[2020-01-06 20:50] differentreality commented on #2622
The event was created by an admin/organizer without creating a CfP for the conference.

[2020-01-06 21:21] bennettscience commented on #2622
Is there any way around this? We did CFPs with Google forms before we came
across OSEM. Our secretary was going to migrate accepted sessions in as an
admin.

On Mon, Jan 6, 2020, 3:51 PM Stella Rouzi <notifications@github.com> wrote:

[2020-01-06 21:34] differentreality commented on #2622
I have just added a check for the existence of the CfP.

You can also simply create a CfP for events from the admin panel --> Call for Papers
`/admin/conferences/tconf/program/cfps/new?cfp[cfp_type]=events`

[2020-01-06 22:03] #2618 closed

[2020-01-06 22:13] differentreality commented on #2544
Sounds like this can be part of a conference **survey** during registration, instead of a hard-coded field. What do you think?

[2020-01-07 12:37] ddemaio commented on #2544
@differentreality I think that could probably work as well. I noticed though that it only gives after and during conference options. If there was a before option and a survey attached to the registration, that could work.

[2020-01-07 20:52] cycomachead opened #2625 "Accepting / Scheduling Posters"
**I'm submitting a ..**
- [ ] Bug Report
- [X] Feature Request

**Expected correct behavior:**
I'd like to accept a bunch submissions to all be scheduled in the same room at the same time.

I'm looking to run a conference that has a poster session, possibly more than one. I'm still learning OSEM, but so far, I don't think I can do this in the current setup.

[2020-01-07 21:23] cycomachead opened #2626 "Support for banner photos?"
**I'm submitting a ..**
- [ ] Bug Report
- [X] Feature Request

It seems like there used to be a way to have a banner photo for a conference splash page. Is this still possible?

[2020-01-10 05:48] cycomachead commented on #2567
This would be useful for me as well!

The other reason, is that we have both "registration" and "non-registration" tickets -- but currently only non-reg tickets (extra items, gauging interest). Eventually, I'd like to hide these tickets, and I'd like to always show the registration columns on the physical tickets views.

[2020-01-10 06:27] cycomachead commented on #2322
As a new comer to OSEM, I agree -- videos and slides seems reasonable to me!

[2020-01-10 13:18] bennettscience commented on #2625
I like this request. The way I'm getting around it is just creating a single session and listing presentations in that room during that particular time.

[2020-01-10 13:41] bennettscience opened #2627 "Documentation on running rake jobs:work as daemon"
**I'm submitting a ..**
- [ ] Bug Report
- [x] Feature Request

Emails aren't sent for user actions unless `rake jobs:work` is running in the background. Is there documentation (or a recommended method) of running the email task as a daemon?

[2020-01-12 19:21] differentreality commented on #2626
No, I am afraid not. By default the conference color is used to create a bg with triangles
https://github.com/openSUSE/osem/blob/master/app/views/conferences/show.html.haml#L82

[2020-01-12 19:21] #2626 closed

[2020-01-12 21:59] differentreality commented on #2612
Can't reproduce either :/

[2020-01-12 22:03] differentreality commented on #2544
@ddemaio there's also the **during_registration** option, like it's used here https://events.opensuse.org/conferences/Dublin/register

[2020-01-13 06:35] ddemaio commented on #2544
Thank you @differentreality. I added the questions and it looks like this solution can work. Thanks again!

[2020-01-22 18:33] bennettscience opened #2630 "Index page for Events in each Track"
**I'm submitting a ..**
- [ ] Bug Report
- [x] Feature Request

In conferences with several tracks, it would be helpful to index events on the public schedule by track. This is already doable as an administrator, but I cannot find a public option.

[2020-01-28 16:51] ddemaio opened #2634 "Survey - Error Loading Chart: o is undefined"
I'm submitting a Bug Report. When trying to view the survey about t-shirt sizes, there is a Error Loading Chart: o is undefined. Image attached.
![Screenshot from 2020-01-28 17-49-30](https://user-images.githubusercontent.com/8996626/73285782-d59fc780-41f6-11ea-8488-aa3a6a33f47d.png)

[2020-01-30 17:26] bennettscience opened #2635 "Layouts controller?"
We'd like to be able to add a link directly to a registered user's physical ticket page for an event, but the `physical_ticket` class isn't available in the `layouts` templates. Is it possible to add that somewhere so we can successfully render the token?

[2020-02-05 02:01] cycomachead commented on #2568
I was able to get the page working in my fork with the following tweaks to `app/datatables/user_datatable.rb`. To be honest, I'm not 100% certain I haven't messed something else up, but so far so good....?

[code]

[2020-02-17 18:45] vladyio commented on #2019
Hey, @differentreality!

I wonder if this issue is still relevant and whether anyone is working on it?

[2020-02-22 23:11] #1409 closed

[2020-03-05 14:59] afaerber opened #2639 "oSLO registration T-shirt survey does not return"
**I'm submitting a ...**
- [x] Bug Report
- [ ] Feature Request

**Current behavior:**
The oSLO T-Shirt survey leaves the user stranded on that survey page, without indication of whether the survey data was stored successfully nor what the user's next steps should be.

**Expected correct behavior:**
After successfully submitting the survey I would expect either:
* some text message indicating that

[2020-03-18 05:58] cycomachead opened #2643 "Support for Remote/Online Conferences"
**I'm submitting a ..**
- [ ] Bug Report
- [X] Feature Request

**Expected behavior:**
This is more of an idea post, than a specific feature request...

So, since many of our short- to medium-term events are going to be moved online, I was wondering if there were any thoughts around specific features or adaptions that would make OSEM more broadly useful in this context?

A type of thing I'm thinki

[2020-03-29 13:00] differentreality commented on #2019
Hi @vladyio :wave:
Sorry for the late reply, looks like this was fixed in https://github.com/openSUSE/osem/commit/9908f885707038b3c5a70900d59b864e8bd192fe
Thanks for pointing it out!

Would you like some suggestions for other issues you can work on?

[2020-03-29 13:00] #2019 closed

[2020-04-02 20:17] nischay-dhiman commented on #2643
@cycomachead

For Online Conferencing, three approaches come to my mind:

1. Referring to your solution with `Zoom`
     - I found that zoom can be integrated with ruby using its API's
     - [Link to introduction](https://zoom.github.io/api/#introduction)
     - I also found a gem for zoom integration [zoomus](https://github.com/mllocs/zoomus), but not sure about it as it uses Zoom API v1.
     -

[2020-04-10 20:28] norwegianPancakes opened #2660 "Cannot sign in for openSUSE virtual summit; Error 500"
**I'm submitting a ..**
- [x] Bug Report
- [ ] Feature Request

**Current behavior:**

I can view the login screen and enter my credentials; I get Error 500 when logging in. The error persists until I delete my browser history. Afterwards, rinse and repeat; login to see the error again.

**Expected correct behavior:**

I assume that I need to use my SUSE account to log in. I should see some page t

[2020-04-11 22:55] AndrewKvalheim opened #2661 "Tests fail to disable some animations"
I'm still seeing #2356 intermittently. It appears to be caused by [an animation][animation] higher on the page causing Capybara to mis-click:

- In failed tests, this click has slightly missed the link and targets the parent paragraph instead:

- Disabling animations allows the tests to pass.

`Capybara.disable_animation` is already set, but the [techniques][animation_disabler] it uses [don't affe

[2020-04-11 23:30] AndrewKvalheim commented on #2511
To use the provided Docker Compose environment, I first had to resolve all of:

- [x] Update puma: 3.12.2 → 3.12.4 #2638
- [x] Update all of rails: 5.2.3 → 5.2.4.2 #2645
    - [x] Update awesome_nested_set: 3.1.2 → 3.2.0 [Comment](https://github.com/openSUSE/osem/pull/2645#issuecomment-605529332)
- [x] Explicitly configure database authentication in Docker Compose #2640
- [x] Use version range ins

[2020-04-13 00:58] AndrewKvalheim commented on #2256
Tests are passing reliably for me on PostgreSQL after merging:

- [x] Decouple tests from unspecified data ordering #2650, #2652
- [x] Fix access to the version history of organization-level roles #2654
- [x] Fix bug in UserDatatable query affecting PostgreSQL #2656
- [x] Use Rails transactional tests #2659
- [x] Fix bug in test of animated form #2662

[2020-04-23 13:48] hennevogel commented on #2660
should be fixed now

[2020-04-23 15:06] hennevogel commented on #2660
On production [this column](https://github.com/openSUSE/osem/blob/master/db/schema.rb#L559) was not having a default value. Which made every new sign up crash.

[2020-04-23 15:06] #2660 closed

[2020-05-11 19:15] AndrewKvalheim commented on #1976
Upstream: carrierwaveuploader/carrierwave#2186

[2020-05-15 03:09] brianharvey opened #2669 "Can't review proposals"
**I'm submitting a ..**
- [X] Bug Report
- [ ] Feature Request

**Current behavior:**
On a proposal page, near the bottom there's a place to give the proposal 1-5 stars and another place to make comments.  The comments are stored correctly, but the stars disappear after leaving that page.  There's no way to rate the proposal that sticks.

**Expected correct behavior:**
When I give a proposal some

[2020-05-31 12:54] rcfmc commented on #2511
Thank you for sharing this project. I just went through deploying the Docker version for production and I had to do several changes in a few files to make it work. I am sharing what I did in case it helps someone else.

./docker-compose.yml.production-example:
`version: "2"

services:
  production_database:
    image: postgres
    environment:
      - PGDATA=/var/lib/postgresql/data/pgdata
      -

[2020-06-02 01:18] cycomachead opened #2674 "Registration/CFP Start Dates in the "Past""
**I'm submitting a ..**
- [X] Bug Report
- [ ] Feature Request

**Current behavior:**
When you edit a registration or CFP, the start date changes to become the current date which is wrong.

**Expected correct behavior:**
I should be able to set a start date in the past, and the front end shouldn't enforce a constraint here. There's nothing that _breaks_ when the start date has fewer restrictions a

[2020-06-03 09:10] ddemaio opened #2675 "Change dates in admin"
I'm submitting a Bug Report. In the admin mode, the sections to change the dates are greyed out and I am unable to change the dates for our conference. I have tried different browsers and operating systems, so it doesn't appear to be an affect caused by the browsers or OS.
Here is a snapshot of this behavior.
![Screenshot from 2020-06-03 11-06-11](https://user-images.githubusercontent.com/8996626/

[2020-06-03 09:15] ddemaio opened #2676 "UTC Time for scheduling talk"
I'm submitting a Feature Request. Since we moved to online events during the COVID-19 pandemic, it would make sense to have a UTC time option for scheduling a conference. Picking a similar time will not work since some conferences are during the daylight savings timeframe.

![Screenshot from 2020-06-03 11-06-11](https://user-images.githubusercontent.com/8996626/83618828-4da64180-a58b-11ea-82bd-6fd

[2020-06-09 05:22] cycomachead commented on #2675
This seems intentional, but I agree it's confusing.

Have you used a Rails console before? You can login to the production console and manually update the fields on the conference. Everything works fine if you do that.

[2020-06-09 06:54] ddemaio commented on #2675
Hi @cycomachead I've never used the rails console and don't have access to the server. Strictly a user admin. Someone else updated if for me. It does look intentional, but there were at least three events this year that I had to change the dates. To be honest, it's a rather weird year as I don't remember having to do change any dates in the past, but not sure of the reasoning. It might be useful t

[2020-06-15 15:07] gnvandy opened #2678 "Registration link returns error"
**I'm submitting a ..**
- [X ] Bug Report
- [ ] Feature Request

**Current behavior:**

**Expected correct behavior:**

**Steps to reproduce:**

**Other information:**

[2020-06-18 11:32] cycomachead commented on #2678
Are you trying to register for SnapCon, by chance? If so, that repo is snapCloud/snapcon and the bug was my fault...I think I've fixed it. :)

[2020-06-20 01:38] cycomachead commented on #2643
Sorry for the delay in this!

Here's what I am thinking about as we plan for an event next month...

My general idea is less that I need OSEM to be the event distribution platform, though longer-term that's certainly an appealing proposal, though it seems like more work that I am imagining.

* Venue's don't make sense, probably but "Rooms" are still a useful scheduling mechanism.
* Should a room h

[2020-07-11 05:51] cycomachead opened #2681 "Possible to Register without paying for a ticket"
**I'm submitting a ..**
- [x] Bug Report
- [ ] Feature Request

**Current behavior:**
If you have tickets required for registration, OSEM does not appear to enforce that you have bought a ticket

**Expected correct behavior:**

OSEM should error when you try to register but don't have a valid ticket.

**Steps to reproduce:**
Create a conference, create a ticket with the open "registration ticket"

[2020-07-11 08:40] cycomachead opened #2682 "It's too easy to forget to register"
**I'm submitting a ..**
- [X] Feature Request

**Current behavior:**
We have a small, but signification number of users who do not click "complete registration".

**Expected correct behavior:**
Every user registers successfully.

**Steps to reproduce:**
Users get a ticket, but then do not finish registering.

**Other information:**
The `physical_tickets` page needs some thought...

* Should buying

[2020-07-11 08:55] cycomachead commented on #2681
https://github.com/snap-cloud/snapcon/pull/41/commits/5bef4b7004bcca14ab515fb70846910193b8dd99
Is my version of a fix for this issue. If it's reasonable, I'm happy to make a PR at some point. :)

[2020-07-11 08:56] cycomachead commented on #2682
Adding warnings to the top of a conference splash page: https://github.com/snap-cloud/snapcon/pull/41/commits/1964522f498b601fb9a7c0f52606f30622dc84d2

[2020-07-11 08:58] cycomachead commented on #2643
I decided to implement a feature where each room has a URL. This URL is shown in the conference schedule, but only to users who have a registration for the conference.
https://github.com/snap-cloud/snapcon/commit/7d2135f8519e93dd2ed26eb32d7a2b5d81877757

[2020-07-16 07:49] cycomachead commented on #2566
Here's a very basic set of changes that support both uploaded pictures AND gravatar. I'd consider a full PR, but not sure how supported we want this, and I don't really have the time to clean it up.

https://github.com/snap-cloud/snapcon/pull/45

But it was pretty easy to get to this point.

[2020-07-16 07:52] cycomachead opened #2684 "Merge Registration Questions and Surveys?"
**I'm submitting a ..**
- [ ] Bug Report
- [X] Feature Request

**Current behavior:**
Registration questions are their own functionality, and have only limited answer options.

**Expected correct behavior:**
I would like to build a survey that asks some short answer questions at registration.

**Steps to reproduce:**

**Other information:**
Done right it seems like this could give us flexibility w

[2020-07-24 23:52] cycomachead opened #2685 "Assigning Volunteers to Events"
**I'm submitting a ..**
- [ ] Bug Report
- [x] Feature Request

**Current behavior:**
There are some roles are volunteers, but I am not sure how they work and there is not much UI.

**Expected correct behavior:**
I would like to be able to assign volunteers to events.
This would be the job of conference admins and volunteer coordinators.

* Volunteers is a user input field on an event
* A voluntee

[2020-07-26 00:58] cycomachead commented on #2685
Finished this up on my fork, for now:
https://github.com/snap-cloud/snapcon/pull/52

There's 3 pages to edit:
* admins can add volunteers
* volunteers can see the events they're assigned to
* Volunteers are shown on the proposals/show page.

There's a bunch of future TODOs: Like preventing duplicate scheduling or supporting checking of volunteer attendance perhaps. I am unsure whether the events y

[2020-07-28 17:54] Mariatta opened #2686 "500 error when submitting a proposal using emoji in the title"
**I'm submitting a ..**
- [x] Bug Report
- [ ] Feature Request

**Current behavior:**
I tried submitting a talk proposal to SeaGL (https://osem.seagl.org/conferences/seagl2020) and my talk title included an emoji. When I tried submitted the talk, I got a 500 error. When I removed the emoji from the title, it got submitted without issue.

**Expected correct behavior:**

It would be great if emoji w

[2020-08-17 19:13] cycomachead opened #2690 "A Unique Domain for a specific conference?"
**I'm submitting a ..**
- [ ] Bug Report
- [X] Feature Request

This is more of a question than a request, but will OSEM work alright if I point  two different domains at the same app? It seems like this should be fine.

Would it then be possible to redirect domain-a.com to one conference and domain-b.com to a second? It's not critical functionality, but it would be cool.

[2020-09-29 07:55] logological commented on #2147
I assume this feature request is asking for there to be links on the schedule to events in iCalendar format. (iCal is not a format but rather the name of a calendar application, marketed by Google, that uses the iCalendar format.)  If so, then I support this request, since iCalendar is an open format that is used by many free software Calendar applications (including Thunderbird, which is what I u

[2020-09-29 14:42] sumnerevans commented on #2147
Yes, I was referring to iCalendar files (extension: `.ics`).

[2020-10-07 13:52] ddemaio opened #2692 "Nextcloud slide links for presentations in commercial upload"
I'm submitting a bug report or maybe a feature request depending on how you view it. When uploading slides for a presentation, the commercial offers uploads from slideshare, youtube and others, but Nextcloud links like https://share.fsfe.org/s/cCkxnFrgjJCZBMN provide a link error.

[2020-10-08 05:20] imrahulprajapat commented on #1876
**SMTP_ADDRESS="smtp.gmail.com"
SMTP_PORT="587"
SMTP_AUTHENTICATION="login"
SMTP_DOMAIN="gmail.com"
SMTP_USERNAME = "<account>@gmail.com"
SMTP_PASSWORD = "<account_password>"
SMTP_ENABLE_STARTTLS_AUTO= true
SMTP_ENABLE_STARTTLS=~
SMTP_OPENSSL_VERIFY_MODE=none
SMTP_USE_SSL=~
SMTP_USE_TLS=~
SMTP_OPEN_TIMEOUT=~
SMTP_READ_TIMEOUT=~**

[2020-10-13 16:15] dcermak opened #2693 "QR code to the schedule on the mobile app page does not work with giggity"
**I'm submitting a ..**
- [x] Bug Report
- [ ] Feature Request

**Current behavior:**

The mobile app page (e.g. https://events.opensuse.org/conferences/oSLO/schedule/app) contains a link to a xml schedule that can be imported to giggity. It also has a QR code that I assumed would point to the same xml, so that I can scan that qr via my cell phone from giggity. Unfortunately, it points to the html

[2020-10-15 09:23] logological opened #2694 "Show local times, not just UTC"
**I'm submitting a ..**
- [ ] Bug Report
- [x] Feature Request

**Current behavior:**

Currently all session times (at least for the [oSLO conference](https://events.opensuse.org/conferences/oSLO/schedule)) are shown in UTC, which makes it hard to determine which sessions you will be able to attend.  (You have to first figure out what time zone you will be in on the date of the conference and then

[2020-10-15 12:56] syntaxerrormmm commented on #2693
Me too.

It seems that the URL encoded in the QR code is wrong and takes to https://events.opensuse.org/conferences/oSLO/schedule instead of https://events.opensuse.org/conferences/oSLO/schedule.xml

[2020-10-28 16:33] differentreality commented on #2684
You are currently able to create a survey (from the admin area) with questions that will appear during registration to the conference. Is that not what you are looking for?

Survey is per-conference, and  you need to choose the during_registration option
![Screenshot from 2020-10-28 18-32-12](https://user-images.githubusercontent.com/4322737/97466697-11191f00-194c-11eb-85a2-e146f9221888.png)

Does

[2020-10-29 02:02] AndrewKvalheim commented on #2686
Thanks for reporting this. I've been unable to reproduce it when using PostgreSQL or SQLite, but using MySQL (as on SeaGL's instance) produces:

[code]

Apparently MySQL's "utf8" type [doesn't actually support](https://stackoverflow.com/questions/30074492/) UTF-8. Rails 6 [corrects for that](https://github.com/rails/rails/pull/33608) in new instances, but OSEM is still using Rails 5, and existing

[2020-11-06 23:24] maulwuff opened #2704 "docker build broken"
**I'm submitting a ..**
- [x] Bug Report

**Current behavior:**
running `docker-compose -f docker-compose.yml.production-example build --no-cache`
results in
[code]

I also tried to change to `ruby '2.5.8'`
which results in:
[code]

**Expected correct behavior:**
build succeeds

**Steps to reproduce:**

[code]

[2020-11-09 23:12] theshades commented on #2643
Something like bigbluebutton integration could solve this too..
\

[2020-11-11 09:21] cycomachead commented on #2684
Thank you! I think this does work -- though it's a little confusing why there's 2 very similar features. If it's just a legacy thing, I do understand that. I am not sure if there was a specific reason to use one feature over the other?

[2020-11-11 09:21] #2684 closed

[2020-11-11 18:44] AndrewKvalheim commented on #2704
This is resolved by #2646 or #2680.

This is resolved by #2697.

[2020-12-06 02:02] bennettscience opened #2706 "Rails update breaks migration because of missing versions"
**I'm submitting a ..**
- [x] Bug Report
- [ ] Feature Request

**Current behavior:**
When doing a new database setup, `db:migrate` fails because old migrations are missing the Rails version the migration was created for.

**Expected correct behavior:**
The migration should succeed.

**Steps to reproduce:**
Starting with a clean download (no gems, no databases set up), install gems from the curren

[2020-12-06 02:11] bennettscience commented on #2706
Just found #2422 which solved this.

[2020-12-06 02:11] #2706 closed

[2020-12-06 21:03] AndrewKvalheim commented on #2706
See also #2665 for existing databases.

[2020-12-07 03:55] bennettscience commented on #2643
I'm starting to prep for an internal conference in March. The URL added to each room is super nice because we're going to have a mix of pre-recorded YouTube Premiere streams and live Google Meet sessions. This will make getting people to the right Meet room much, much easier.

[2021-01-02 03:18] peterdd opened #2707 "add some if there is no upcoming conference"
I do not know if this is the right place, but if there is no upcoming conference a paragraph telling that would be nice.

Otherwise people might think the page is broken/data unavailable.

![grafik](https://user-images.githubusercontent.com/1839154/103450084-83daa980-4cb1-11eb-8a13-68052c1e72f4.png)

[2021-02-02 02:48] bennettscience opened #2711 "Code of conduct modal does not format markdown"
**I'm submitting a ..**
- [x] Bug Report
- [ ] Feature Request

**Current behavior:**
When registering for a conference, the code of conduct modal is empty. The permalink on the modal takes users to the conduct page correctly.

**Expected correct behavior:**
The organization's code of conduct should appear in the modal (PR #2002)

**Steps to reproduce:**
Create an organization and add a code of co

[2021-02-02 13:09] bennettscience commented on #2711
After sleeping on it, I realized I had some old asset bundles that were overriding the newest build. The CoC modal is built with the assets, so it makes sense that it wasn't included in those old bundles. Cleaning my assets and rebuilding solved the issue.

[2021-02-02 13:51] bennettscience commented on #2711
Reopening because although the modal has the correct text, it is not formatting the markdown.

[2021-02-02 14:07] #2711 closed

[2021-02-08 19:51] bennettscience opened #2712 "Question about surveys"
Can someone help me understand how surveys work? Specifically, if I create a survey in the Surveys section and select `after_event`, where are those displayed? Are they sent via email after each session? Or are they available on the event page?

Second, if I have a general survey I want attached to every event, is that possible? Or do I need to recreate the survey for each event individually?

[2021-02-09 07:06] cycomachead commented on #2712
I would love to understand this workflow as well. :)

[2021-02-10 20:36] bennettscience commented on #2712
I did some digging today and I think I have some answers after looking through the code and playing in a local instance. Instead of the _event_ looking up a particular survey by ID, each survey looks for an event.

**Models**

The `surveys` table has two fields which control the display: `surveyable_id` and `target`. Setting these fields to the `event` ID displays the survey. So, a SQL call _could

[2021-02-12 23:55] hellcp commented on #948
Since brandisty closed 3ish years ago, do we have SVGs anywhere?

[2021-02-13 07:19] elioqoshi commented on #948
Yep, here:

https://github.com/uracreative/works/tree/main/OSEM

[2021-02-13 09:35] hellcp commented on #948
Thanks!

[2021-03-03 05:42] cycomachead commented on #2690
I think there may be a bug in how the current functionality is written.
This should be supported by setting `custom_domain` on each conference. However, in `routes.rb`

[code]

comes _after_ the block handling the default conference when it seems like it needs to come _before_.

[2021-03-03 15:22] lolo789 opened #2721 "Alejandra Mendoza"

[2021-03-03 17:32] #2721 closed

[2021-03-06 20:00] #1976 closed

[2021-03-06 20:36] #2147 closed

[2021-03-06 20:38] #2557 closed

[2021-03-07 00:50] sentry-io[bot] opened #2738 "ActionView::Template::Error: uninitialized constant EventAttachment"
Sentry Issue: [OSEM-3](https://sentry.io/organizations/opensuse/issues/2256975170/?referrer=github_integration)

[code]

[2021-03-07 00:52] #2704 closed

[2021-03-07 00:59] hennevogel commented on #2686
See https://github.com/openSUSE/open-build-service/pull/5419 for an inspiration how to fix this

[2021-03-07 01:08] sentry-io[bot] opened #2739 "NoMethodError: undefined method `latitude' for nil:NilClass"
Sentry Issue: [OSEM-4](https://sentry.io/share/issue/6e4d345fb162484c8c476a2a7f070d1f/)

[code]

[2021-03-07 01:08] hennevogel commented on #2739
@hellcp this is for you :smile:

[2021-03-07 02:00] hellcp commented on #2739
I will get to it in the morning, that's an easy fix though

[2021-03-07 05:08] differentreality commented on #2669
Can't reproduce, ie my user with `is_admin: true` and no roles can successfully submit a star rating, and the star rating persist when I refresh the page.
If this is still an issue for you, please provide us with
* the commit you are at
* the roles the user has

[2021-03-07 05:08] #2669 closed

[2021-03-07 05:41] differentreality commented on #2712
Yeah that's a bit confusing when you are directly on the admin/surveys page.

From admin/events#index page (`admin/conferences/myconf/program/events`), click on 'Add Survey' button.
That adds a **survey for a specific event/talk**

And the survey will appear after the event/talk has ended.
![Screenshot from 2021-03-07 07-40-14](https://user-images.githubusercontent.com/4322737/110230253-611a7a80-7

[2021-03-07 13:39] #2739 closed

[2021-03-08 23:44] cycomachead opened #2743 "Organizations/Conferences Index Shows all conferences"
**I'm submitting a ..**
- [X] Bug Report
- [ ] Feature Request

**Current behavior:**
IMO, this is a bug, but it seems somewhat intentional...
The routes /conferences/ and /organizations/:id/conferences should the same list of (all) conferences.

**Expected correct behavior:**
/conferences should show all conferences, /organizations/:id/conferences should filter on the org id.

**Steps to reproduc

[2021-03-09 04:46] cycomachead commented on #2322
Revisiting an old issue...but I have been calling this "Materials" in my fork (https://github.com/snap-cloud/snapcon/). It seems to work fairly well. I've also relaxed the oembed constraints such that anything that doesn't have a dedicated embed gets an iframe. This is useful because some people might have other things like a document or google sheet they'd like to share.

[2021-04-16 15:44] char5280 opened #2761 "The beging"

[2021-04-16 15:46] char5280 opened #2762 "When you have a deep connection but bad communicantin"
I try and nothing works

[2021-05-04 13:37] dcermak opened #2764 "Multiline code blocks are broken in event abstracts"
**I'm submitting a ..**
- [x] Bug Report
- [ ] Feature Request

**Current behavior:**

When creating an event, one can format the abstract using markdown and include code blocks using triple-backticks. Unfortunately, the renderer appears to concatenate all lines together into a single line and breaks more or less completely if blank lines are present.

**Expected correct behavior:**

Multiline cod

[2021-05-10 03:02] cycomachead opened #2767 "Caching Issues with Admin Events Index"
**I'm submitting a ..**
- [X] Bug Report
- [ ] Feature Request

**Current behavior:**
Admittedly, this is hard to demonstrate!

The caching of the events row in the admin events interface is too broad. (e.g. https://github.com/openSUSE/osem/blob/master/app/views/admin/events/_datatable_row.haml#L1)

There are two problems I have seen:
* event status, especially voting, is not updated
* users see i

[2021-05-15 16:29] cho2 opened #2768 "Launch Conference Button to Venueless"
**I'm submitting a ..**
- [ ] Bug Report
- [x] Feature Request

**Current behavior:**
No button to go to Venueless (https://opensuse.venueless.events/) for oSVC21 attendee

**Expected correct behavior:**
There is a "Launch Conference" button for oSVC21 attendee to Venueless (https://opensuse.venueless.events/)

![screenshot-events opensuse org-2021 05 15-23_27_55](https://user-images.githubusercon

[2021-05-17 07:35] cycomachead opened #2769 "CFP open check should respect conference timezone"
**I'm submitting a ..**
- [X] Bug Report
- [ ] Feature Request

**Current behavior:**
The check for `open?` on a CFP uses `Date.current`.

**Expected correct behavior:**
This should use the current conference timezone.

**Steps to reproduce:**
1. Set a CFP end date
2. The the server to UTC
3. Set the timezone of the conference to somewhere else

Notice that during the time delta the CFP dates will

[2021-05-17 07:43] cycomachead commented on #1544
This is an old issue, but I just disabled this for my installation.

* in Safari the tooltip trigger click doesn't work -- apparently this is a jQuery/boostrap bug that's annoying to work around on the 3.x line.
* For us many users thought we wouldn't accept their proposal is everything wasn't complete. A few people found it confusing to know where to go.
* Commercials (which I have renamed to "ma

[2021-07-05 17:05] #2761 closed

[2021-07-05 17:05] #2762 closed

[2021-07-05 19:25] hennevogel commented on #1544
BTW we have moved this out of the submission cycle exactly to be more inviting and making the submission process more friendly 😄

I guess this is more a color/wording issue than anything else. `Enhance your proposal...` and a yellow progress bar might be a better way to convey what we want.

[2021-07-05 19:34] hennevogel commented on #2768
If you want some patches to events.opensuse.org you should create a ticket for the openSUSE installation. Send mail to admin@opensuse.org

[2021-07-05 19:34] #2768 closed

[2021-07-05 19:56] hennevogel commented on #2764
Fenced code blocks are github flavoured markdown. Standard markdown converts text with four spaces at the front of each line to code blocks.

[2021-07-10 23:27] cycomachead commented on #2625
Update / New Thoughts:

This pattern occurs in a few scenarios, the second can be lightning talks where we'll have 9 5-minute talks in a 60 minute session. The remaining time is Q&A.

The current best solution I've done is to schedule a 1 hour session, and within it, the lightning talks at 5 minute intervals. This isn't super desirable -- since a 5 minute interval on the schedule isn't great in th

[2021-07-13 11:50] hennevogel commented on #2625
I would prefer fixing the schedule UI to work with smaller timespans instead of inventing another association.

That things are lightning talks (or however you want to call them) you can reflect in titles for instance.

[2021-07-13 18:21] cycomachead commented on #2625
I think it's not just indicating what a session is to attendees — titles, track types, etc. are all handled in the schedule.

The way I'm thinking of it is this: Users submit their proposals, which we accept and schedule, but multiple proposals end up making into a single logical session at the conference.

The challenge is that, not all events should have an equal display in the schedule. e.g. If

[2021-07-23 09:32] #2764 closed

[2021-08-03 10:46] cycomachead opened #2808 "Support for "Happening Now" Section of Events?"
**I'm submitting a ..**
- [ ] Bug Report
- [X] Feature Request

**Current behavior:**
OSEM has no support to tell you what the currently happening events are

**Expected correct behavior:**
It would be great if this were supported.

**Other information:**

It seems pgconf and my fork (snapcon) have both created a similar feature. Is there interest in having something in OSEM main?

The way the Sna

[2021-08-11 16:20] depfu[bot] opened #2819 "Depfu Error: Depfu is stuck and needs your help"
Hello,

⚠️ **We're getting errors with this repo and have given up after trying several times.**

In most cases that means something is wrong with your current Bundler setup and we can't fix it automatically:

##### • Error details:
[code]
##### • Error details:
[code]
##### • Error details:
[code]

After you've fixed the problem, please activate this project again in the [Depfu Dashboard](https:/

[2021-08-13 10:29] #2819 closed

[2021-08-13 11:57] hennevogel opened #2822 "Getting off formtastic"
Formtastic updates like #2813 are not possible because [formtastic-bootstrap](https://www.ruby-toolbox.com/projects/formtastic-bootstrap) is dead and does not work with formtastic > 3. We should get off formtastic and use [form_for](https://api.rubyonrails.org/classes/ActionView/Helpers/FormHelper.html#method-i-form_for) instead.

[2021-08-24 07:36] Pranjal-dew commented on #2769
Hi, is this issue still open? Care if I take it?

[2021-10-10 08:55] febinrev opened #2892 "Stored XSS Vulnerability"
**I'm submitting a ..**
- [ ] Bug Report

**Current behavior:**
Stored XSS by posting arbitrary javascript links with Markdown in the "Submit proposal" feature

**Expected correct behavior:**
Javascript URI's must be blocked.

**Steps to reproduce:**

1. Go to "New Proposal
2. set any title
3. In the "Abstract" field paste the below snippet:

``` [XSS](javascript:alert(`XSS`);document.write(`PWNED

[2021-10-12 04:06] fintecheando opened #2895 "Docker build failure"
**I'm submitting a ..**
- [X ] Bug Report
- [ ] Feature Request

**Current behavior:**
While running the command

docker-compose -f docker-compose.yml.production-example build

I got the following message

Post-install message from rails-assets-markdown:
This component doesn't define main assets in bower.json.
Please open new pull request in component's repository:
https://github.com/evilstreak/ma

[2021-10-12 15:19] zidingz opened #2896 "Add SECURITY.md"
Hey there!

I belong to an open source security research community, and a member (@noobpk) has found an issue, but doesn’t know the best way to disclose it.

If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this best practice

[2021-10-12 20:57] #2895 closed, assigned to nobody

[2021-10-12 23:17] fintecheando opened #2899 "Docker execution failure"
**I'm submitting a ..**
- [X] Bug Report
- [ ] Feature Request

**Current behavior:**
While running the command "docker-compose -f docker-compose.yml up" and opening a web page I got a error about nodejs

**Expected correct behavior:**
Browse the OSEM Web UI

**Steps to reproduce:**
$ docker-compose -f docker-compose.yml build
$ docker-compose -f docker-compose.yml up
open http://locahost:3000

<p

[2021-10-13 00:21] fintecheando commented on #2899
Fixed with this PR https://github.com/openSUSE/osem/pull/2900

[2021-10-13 10:32] #2899 closed, assigned to nobody

[2021-11-08 18:27] eladeyal-intel opened #2906 "Can't deploy w/ docker"
I'm deploying with docker-compose (fixed #2905), database is ready, but can't connect via web  browser.

[code]

And the client

[code]

Help appreciated

@hennevogel I see you just touched this recently

[2021-11-08 18:38] eduardoj commented on #2906
One of the lines of docker-compose output says:
`Listening on tcp://0.0.0.0:3000`.

Try with `curl -v -4 https://localhost:3000/`.

[2021-11-08 19:55] hennevogel commented on #2906
There is no SSL for the container, you will have to do this in your reverse proxy (apache, nginx or whatnot).

[2021-11-08 19:55] #2906 closed

[2021-11-08 21:21] eladeyal-intel commented on #2906
`curl -v -4 http://localhost:8080` responds with 302 REDIRECT to the https address.

Is the production compose file working at all?

Thanks @hennevogel

[2021-11-09 22:02] hennevogel commented on #2906
You are right, there was a problem with the SSL environment variable handling. Fixed with #2907

[2021-11-10 18:13] eladeyal-intel opened #2908 "Wrong default OSEM_ROOT_CONFERENCE"
the "production setup" , following the instructions in `INSTALL.md` by default seems to redirect `/` to `/osc18`

So you setup the demo, navigate to `http://localhost:8080` and... get 404 :-(

I needed to edit `.env.production` to add `OSEM_ROOT_CONFERENCE=` in order to get to the nice welcome page (the one saying "first user to sign up is the admin".

With 2018 being behind us, I think the defaul

[2021-11-10 18:35] hennevogel commented on #2908
`.env.production` is yours and not part of the repo. In dotenv.example `OSEM_ROOT_CONFERENCE` is commented.

[2021-11-10 18:35] #2908 closed

[2022-02-12 12:56] tna76874 opened #2917 "Error building docker image"
**I'm submitting a ..**
- [x] Bug Report
- [ ] Feature Request

**Current behavior:**
Commit 4a168366c3fb8e87dfe5755f22fd30ada8f2b004
Building docker image:
`docker-compose -f docker-compose.yml.production-example build --no-cache`

Error:
[code]

**Expected correct behavior:**
Docker-image build without error.

**Steps to reproduce:**
`docker-compose -f docker-compose.yml.production-example build

[2022-02-16 07:45] throny commented on #2917
Same issue on my side. :(

[2022-02-22 14:49] hennevogel opened #2920 "Get off jquery-datatables-rails"
it's unmaintained and failing with all current jquery versions

[2022-02-23 11:35] hennevogel opened #2921 "Cleanup proposal forms"
There are currently the following views

- `app/views/proposal/new.html.haml` with a form to create a new `Event`
- `app/views/proposal/form.html.haml` with the edit view
- `app/views/proposal/edit.html.haml` with 3 lines of html of the edit view
- `app/views/proposal/_proposal_form.html.haml` with form to edit an `Event`

This should be cleaned up into `new`, `edit` view and a `form` partial

[2022-03-01 14:50] #2917 closed

[2022-03-03 17:19] hennevogel commented on #2822
We are off it with #2922

If you find a bug, keep it an feed it well 😜

[2022-03-03 17:19] #2822 closed

[2022-03-13 01:46] AndrewKvalheim commented on #1544
I think something like this would address most of our issues with the checklist if it was clear that the suggestions are optional and might not apply to every proposal.

Confusion around commercials is still a broader problem for us since we don’t use them at all, but I think this too might be addressable with a few wording changes. (e.g. [“No video of the event yet, sorry!”](https://github.com/op

[2022-03-18 03:54] #1819 closed

[2022-03-21 23:22] AndrewKvalheim opened #2975 "Missing templates for admin forms"
**I'm submitting a ..**

- [x] Bug Report
- [ ] Feature Request

**Current behavior:**

Some pages in the admin interface are broken with `ActionController::MissingExactTemplate`:

- [ ] Administration → Users → Edit (`Admin::UsersController#edit`)
- [ ] Manage conference → Events → Add Event (`Admin::EventsController#new`)

**Expected correct behavior:**

Show the appropriate form.

**Steps to re

[2022-03-29 14:10] hennevogel commented on #2975
It's probably fallout of removing the general new/edit/form templates from `app/views/layouts`

[2022-03-29 14:10] hennevogel commented on #2975
Also point to some missing specs

[2022-04-16 11:44] Liberatys commented on #2975
@hennevogel I'd love to work on this ^^ Seems like a good first issue to get started 😉

[2022-04-19 10:43] hennevogel commented on #2975
@Liberatys knock yourself out 😃

[2022-04-19 11:01] ddemaio opened #2983 "Voting Dates and Rating Error"
**I'm submitting a ..**
- [ X] Bug Report
- [ ] Feature Request

**Current behavior:**
In admin page, there is an option to select voting dates. This just provides clarity for when the dates to vote on the submitted talks are. This option put in by the admin creates an issue with the rating system. The rating system doesn't appear to save when the team tries to rate the submitted talks.

**Expecte

[2022-04-19 11:08] ddemaio commented on #2983
![Screenshot from 2022-04-19 13-07-03](https://user-images.githubusercontent.com/8996626/163990698-b409aa12-a2fc-45e9-8e83-885e75204de8.png)
Under Program Edit, the options appear.

[2022-04-19 18:11] ddemaio opened #2984 "Admin change speaker"
**I'm submitting a ..**
- [x] Bug Report
- [ ] Feature Request

**Current behavior:**
From admin, trying to change the speaker is causing an error.

**Expected correct behavior:**
To add the persons name and allow the admin to change the speaker.

**Steps to reproduce:**
Go to events, click on event, edit and in the speaker section, add  the person who should be the speaker. Then click update prop

[2022-04-25 13:11] mkiroshdz commented on #2921
@hennevogel was this ticket taken care of?. I would like to work on it.

[2022-05-06 09:00] rakoenig opened #2988 "If speakers is nil then make the author of the proposal the speaker"
**I'm submitting a ..**
- [ ] Bug Report
- [x] Feature Request

**Current behavior:**

Current schedule of e.g. OSC2022 does not list any speakers. This might be because the proposal form says for the speakers field "The people responsible for the event, **beside** you." "Beside you" suggests that the one that is filing the proposal is also the speaker if nobody is entered in the speaker field.

R

[2022-05-06 11:37] #2988 closed

[2022-05-16 15:50] hellcp opened #3033 "Members can't create booths"
**I'm submitting a ..**
- [x] Bug Report
- [ ] Feature Request

**Current behavior:**
When a standard user wants to create a booth (using /conferences/<id>/booths/new), they are met with a You are not authorized to access this page:
![Screenshot from 2022-05-16 17-49-56](https://user-images.githubusercontent.com/30577011/168633081-c2112265-c9cc-4bb1-8900-a4a43a1ba619.png)

**Expected correct behav

[2022-05-18 03:36] YTeyddie22 commented on #2975
Is this issue still open?

[2022-05-18 20:47] carlosdanielpohlod opened #3036 "Refactor conferences_controller"
**I'm submitting a ..**
- [ ] Bug Report
- [ x ] Feature Request

**Current behavior:**

**Expected correct behavior:**

**Steps to reproduce:**

**Other information:**
Refactoration of conferences_controller.

[2022-05-22 21:59] mkiroshdz commented on #2743
@cycomachead @hennevogel Is this still an issue?
If it is I would like to work on it please.

[2022-05-23 10:43] hennevogel commented on #2743
@mkiroshdz Hey Monica!  There is no need to ask me for "permission" to work on something. Just verify yourself if this is still an issue (in the development environment) and send a pull request if it is. Looking forward to it. If you need any help, let us know here 😃

[2022-05-24 12:48] hennevogel commented on #2975
@YTeyddie22 sure is

[2022-05-26 13:59] mkiroshdz commented on #2743
@hennevogel @cycomachead I tried to reproduce this but seems to me like it's filtering org conferences correctly.

[2022-05-26 14:04] mkiroshdz commented on #2975
@hennevogel I'm working on putting the views back but I'm not sure what fields the user form needs to have. Can you please provide me those?. Thanks

[2022-06-09 20:15] cycomachead commented on #2743
Sorry about that! I think I had something misconfigured. You're right -- I do think this works correctly.

[2022-06-09 20:15] #2743 closed

[2022-07-29 12:39] hennevogel commented on #2984
The problem is that the we make an non-idempotent request with the [speaker selectize](https://github.com/openSUSE/osem/blob/master/app/views/proposals/_form.html.haml#L16) which resets the CSRF token of the form. We would need to add CSRF support to the json/request that `search_users_path` returns...

[2022-07-29 14:35] #2921 closed

[2022-07-29 14:36] hennevogel commented on #381
Not really something for this app...

[2022-07-29 14:36] #381 closed

[2022-07-29 14:37] hennevogel commented on #407
we don't anymore...

[2022-07-29 14:37] #407 closed

[2022-07-29 14:40] hennevogel commented on #561
deploying a rails app is more than installing a package...

[2022-07-29 14:40] #561 closed

[2022-07-29 14:41] hennevogel commented on #574
We have a markdown description for events now...

[2022-07-29 14:41] #574 closed

[2022-07-29 14:56] hennevogel commented on #18
We have this now with the "selected schedule" feature

[2022-07-29 14:56] #18 closed

[2022-09-01 14:20] hennevogel opened #3082 "Get an idea what we can learn from sched.com"
https://sched.com/

[2022-09-12 23:44] AndrewKvalheim commented on #2975
For reference here’s the former template resolution:

<pre>Started GET "/admin/users/1/edit"
Processing by Admin::UsersController#edit as HTML
  Rendering <a href="https://github.com/openSUSE/osem/blob/3bbbdb4aae9d4be9ce1bba35fc7586988261d5a9/app/views/layouts/application.html.haml">layouts/application.html.haml</a>
  Rendering <a href="https://github.com/openSUSE/osem/blob/3bbbdb4aae9d4be9ce1bba3

[2022-09-15 11:49] vcborsolan opened #3087 "Hacktoberfest 2022"
Hello folks, I'm opening this issue to discuss if this repository will participate in the 202 digital ocean [hacktoberfest](https://hacktoberfest.com/participation/#maintainers).

If so, let's review the issues and add the labels/tags for valid contributions.

[2022-09-21 16:55] GargDivanshu commented on #2694
You don't mind if i take up this issue ?

[2022-09-22 09:24] logological commented on #2694
The TeX Users Group has been running online conferences lately and [their conference program](https://tug.org/tug2022/program.html) shows times, by default, by querying the visitor's browser.  The program also gives the visitor the option of selecting a different timezone.  Maybe something similar to this could be implemented.

[2022-09-27 11:59] #3087 closed

[2022-10-08 08:52] Amjt11 commented on #2975
Lol

[2022-10-19 12:45] differentreality commented on #2983
I didn't manage to reproduce this locally

[2022-10-19 13:27] differentreality commented on #3033
Are you sure it is not because the booth submission period is over?
You can double check that by going to the Administration area of the conference --> Calls for content --> (select the one about booths)

In case the dates are not visible in the relevant form, plz make sure you have the changes from https://github.com/openSUSE/osem/pull/3093 or double check the value with dev tools.

[2022-10-19 15:19] AndrewKvalheim commented on #2983
This sounds like #2767.

[2022-10-20 05:23] ddemaio commented on #2983
I read #2767 and it sounds exactly like this issue. I'll close this issue since #2767 is the same.

[2022-10-20 05:24] ddemaio commented on #2983
Or not as that one what closed.

[2022-11-09 19:42] carlosdanielpohlod opened #3099 "Old migrations need to have `ActiveRecord::Migration` specified or will raise an error"
**I'm submitting a ..**
- [ x ] Bug Report
- [ ] Feature Request

**Current behavior:**
Currently, the specification of `ActiveRecord::Migration` in old migration files is required but is not specified, so `rails db:migrate` raises an error

**Expected correct behavior:**

**Steps to reproduce:**
run `rails db:migrate` when database is empty

**Other information:**

[2022-11-09 19:42] carlosdanielpohlod commented on #3099
I will take this issue to solve

[2022-11-09 19:44] AndrewKvalheim commented on #3099
See #2665 for a script that automates this.

[2022-11-09 20:00] carlosdanielpohlod commented on #3099
You filled some files with the correct version, right? the other ones still do not have the version, can I fill in the others?

[2022-11-09 20:10] AndrewKvalheim commented on #3099
Yes, I skipped the migrations that I wasn’t taking the time to review, but ideally all should have the version specified.

[2022-11-09 20:16] carlosdanielpohlod commented on #3099
Ok