[2016-03-09 21:55] rishabhs95 commented on #821
please review the PR #856

[2016-03-10 11:12] sonalkr132 opened #859 "Edit and schedule of proposal ends up in unauthorized access"
Steps to reproduce:
* Submit a proposal to a conference (say: goto)
* Visit the show page of proposal (link: http://localhost:3000/conference/goto/program/proposal/1)
* Click on edit or schedule button on top right.

The page will redirect to home and flash will say: "You are not authorized to access this page."

Link of edit button is `edit_admin_conference_program_event_path` when it should be `

[2016-03-10 11:48] sonalkr132 opened #860 "Ask proposal submitter to add track only if conf has one"
Steps to reproduce:
* Make a conference and make sure that you haven't specified any track
* Set cfp dates of the conf
* Go to home page and submit a proposal
* Click on `Complete your proposal`, tooltip will appear with todo list asking you to `add a track` (even if there is no track to add)
* Click on `add a track`, you will go to edit page of proposal. You won't see the option to add track.

I

[2016-03-10 14:16] ChrisBr commented on #835
Two "problems" I found so far:

1) (Obviously) You have to start the delayed job in development:
```rake jobs:work```
We need to document it somewhere
2) The ``from`` attribute comes from ``conference.contact.email``, it's possible that this is `nil` and raises an exception. We need to state somewhere that the contact email is mandatory when you want to send email.

[2016-03-10 14:16] hennevogel commented on #818
I would find it even cooler to just overload `#name`

[2016-03-10 14:28] #807 closed

[2016-03-10 17:59] nishanthvijayan opened #864 "Removing all users from a role removes the role"
Removing all users  from a role (other that organizer) deletes the corresponding role as well.

[2016-03-10 18:04] differentreality commented on #859
Good catch!
Look more closely to as why the schedule is not working.

[2016-03-10 18:35] differentreality commented on #864
Damn you are right, my provision for that must have gotten lost on the way.
This is the regular behaviour of rolify, which however, we clearly do not want. Are you going to work on it @nishanthvijayan ?

[2016-03-10 19:06] differentreality commented on #814
Is there still some issue with this? If not, please close it.

[2016-03-10 19:07] differentreality commented on #828
Please note that this code is happening in https://github.com/openSUSE/osem/blob/master/app/models/ability.rb#L49 where there is no user. So the suggested rewriting, cannot happen.

[2016-03-10 19:13] #814 closed

[2016-03-10 22:37] nishanthvijayan commented on #864
One way to fix this is by invoking [create_roles](https://github.com/openSUSE/osem/blob/master/app/models/conference.rb#L556) of conference from roles#index.
(For this create_roles should be made public)
Also since the deleted role is being recreated its ID will be incremented.This will cause the table to look kinda weird
![ID increment](https://cloud.githubusercontent.com/assets/7537349/13686890/

[2016-03-11 14:12] Shriyanshagro commented on #741
Hi there, I am willing to contribute to osem as My Gsoc'16 project.
Can somebody suggest me to where to start from.
I mean weather I should start fixing junior labeled issues or the one that are mentioned above , #733,#722

[2016-03-12 06:17] sonalkr132 opened #868 "user can submit proposals event when cfp is not specified"
Steps to reproduce:
* Create a conference (say: goto) and make sure that you don't specify call for papers
* Sign out and sign with a non-admin user
* Go to new proposal path of your new conference (path: `http://localhost:3000/conference/goto/program/proposal/new`)
* You shouldn't really be able to see the form but you do. Fill the proposal and submit. Again you shouldn't be really be able to sub

[2016-03-12 07:13] sonalkr132 opened #869 "Bring back coverall webhook"
Did you guys remove it? Is something wrong on coverall side (travis is sending coverage info to coverall)? :frowning: Why is coverall not added as check on PRs anymore? I think it is useful information for knowing if proposed change needs (more) tests.

[2016-03-12 12:10] sonalkr132 opened #871 "ConferenceRegistrationsController#new: authorization when ichain is set and user in not signed in"
ConferenceRegistrations controller has [following branch](https://github.com/openSUSE/osem/blob/master/app/controllers/conference_registrations_controller.rb#L13-L16) in `new` actions:
[code]
elsif covers for case when ichain is enabled and user is not signed in.
However, if you go and look at [ability file](https://github.com/openSUSE/osem/blob/master/app/models/ability.rb#L48):
[code]
Authorizat

[2016-03-12 12:24] differentreality commented on #871
Right now authorization via ability.rb is working on events.opensuse.org
I think we should lose the if statement in the controller.

[2016-03-13 08:24] sonalkr132 commented on #698
Can we close this? We don't have this issue on our master.

[2016-03-13 13:44] sonalkr132 commented on #594
We can most definitely use a documentation site like them: http://wafer.readthedocs.org/

All the features of OSEM may seem obvious to you maintainers cause you have basically built that feature, it may be not the same for someone using the app for the first time. I still don't have much clue about how schedules work.

[2016-03-13 14:53] nishanthvijayan opened #874 "API endpoints /api/v1/conferences/shorttitle/rooms/ and tracks/ fails with error"
Steps to reproduce:
1. Create a conference,say testconf (short title)
2. Add a track
3. Add a venue and few rooms to that venue

Now  go to /api/v1/conferences/testconf/rooms/
It raises  error: undefined method `venue' for nil:NilClass

Similarly try /api/v1/conferences/testconf/tracks
it raises error: undefined method `tracks'

[2016-03-14 10:17] differentreality commented on #802
We should also consider if we want https://github.com/openSUSE/osem/issues/829 or not

[2016-03-14 13:22] rishabhs95 opened #877 "incorrect number of tickets shown in admin tickets view"
admin tickets view shows incorrect number of tickets purchased by users.

for example, two users buy different number of tickets:
<img width="342" alt="screen shot 2016-03-14 at 6 07 59 pm" src="https://cloud.githubusercontent.com/assets/10002834/13745695/79fabc38-ea15-11e5-93ca-971915a31429.png">
<img width="538" alt="screen shot 2016-03-14 at 6 08 23 pm" src="https://cloud.githubusercontent.com/

[2016-03-14 13:53] rishabhs95 commented on #877
working with this bug

[2016-03-14 14:19] #799 closed

[2016-03-14 14:37] Rolence commented on #814
its okay now but i didn't use vagrant to setup my developer's environtment

[2016-03-14 17:11] chocoelho commented on #463
So, one more thing, what would be better: using id from events or title? Title would make it more readable than id, but it's not unique.

[2016-03-14 18:05] rishabhs95 commented on #877
@ChrisBr the sold value in admin's ticket view for a conference should show the total number of tickets sold right?
like in above example, it should've been :
- 36 for 1$ ticket
- 28 for 10$ ticket
- 33 for 90$ ticket

[2016-03-14 19:45] #874 closed

[2016-03-15 06:45] nishanthvijayan opened #879 "API controllers are not using their corresponding serializers."
The API controllers are not using their corresponding serializers, even when they are specified explicitly.
Fixing the above will break api/v1/conferences as its serializer has some errors.

[2016-03-15 06:47] nishanthvijayan commented on #879
This is a [bug](https://github.com/rails-api/active_model_serializers/issues/641) in active_model_serializers .

[2016-03-15 09:18] hennevogel opened #881 "events#index datatable state not persistent"
You sort the datatable of events by `Type`, then change the `Track` of one of the `Events` with the dropdown. The subsequent reload of `events#index` sorts the table by `id` again.

The datatable should save the state.

[2016-03-15 10:39] rishabhs95 commented on #881
interested to work with this bug... @hennevogel

[2016-03-15 10:47] hennevogel commented on #881
No need to ask. Just go ahead :-)

[2016-03-15 10:54] rishabhs95 commented on #881
okay :)

[2016-03-15 16:47] bear454 commented on #652
I see @hcderaad's point here, maybe this is a better way to express it:

As the administrator of an event,
In order to assist my keynote speakers, or in order to migrate from another system,
I should be able to create registrants and events, and assign speakers to events.

Given a conference for which I am assigned the organizer's role,
When I am administering the event's registered users,
I shoul

[2016-03-15 17:37] bear454 opened #883 "leaflet: image assets are 404 NOT FOUND"
When you add a Lat & Long to a conference's venue, a map is shown (instead of the venue image - that's a different issue) using leaflet.js.

Leaflet expects some images, and I've verified they are present in the 'rails-assets-leaflet' gem.

ex: https://events.opensuse.org/assets/leaflet//marker-icon.png

[2016-03-15 21:17] #879 closed

[2016-03-15 21:19] #859 closed

[2016-03-15 22:02] ChrisBr commented on #725
Is this still valid? Thought we implemented this during hackweek last year? @differentreality @hennevogel

[2016-03-16 09:24] hennevogel commented on #725
We have

[2016-03-16 09:24] #725 closed

[2016-03-16 10:46] sonalkr132 commented on #725
We are still asking for tracks and subtitle after submission. If we are doing this on purpose to keep submission of proposal simple (at first), I think it would make more sense if we change submission process to widget kind of thing (which would step user through the process).

[2016-03-16 10:52] hennevogel commented on #725
And why would we?

[2016-03-16 11:12] sonalkr132 commented on #725
All the things we are asking users to add to proposal seems like to be all over the place.  User adds tracks and subtitle by editing the form after submission, there is a different tab to adding commercial, there is a button to schedule the proposal. I think it would be better if we can unify all this process. We also would be adding more stuff (for example: `speakers`). Users save the first draft

[2016-03-16 11:14] hennevogel commented on #725
We're already doing this. If you want to make the Event#edit form more simple please go ahead or record an issue so we can discuss this. This has nothing to do with this issue though...

[2016-03-16 20:29] Ana06 commented on #760
I'll do it! :wink:
Where should I put the languages configuration in the backend? I think that it can be another page inside the program section of the backend.
How should admins select the language? I think that a list of check-boxes would be easy to use, specially if a lot of languages want to be selected.

[2016-03-17 10:06] differentreality commented on #881
Fixed in #882

[2016-03-17 10:06] #881 closed

[2016-03-17 10:08] differentreality commented on #869
I see it working now.

[2016-03-17 10:08] #869 closed

[2016-03-17 10:13] differentreality commented on #821
What are we expecting when we implement sales on tickets?
User registers + pays for a ticket, the ticket cannot be unpaid, even if the user uregisters from the conference. Thus we keep ticket_purchase, since the ticket is already paid for? Inform organizers somehow about paid tickets from unregistered users?

[2016-03-17 10:14] differentreality commented on #804
Closed via #858

[2016-03-17 10:14] #804 closed

[2016-03-17 10:18] differentreality commented on #877
The table header says **sold**, but the value it shows is `= ticket.buyers.count`
Perhaps we should have column for `Sold` and another column for `Buyers`

[2016-03-17 10:20] rishabhs95 commented on #877
okay @differentreality ... i will do that  :)

[2016-03-17 12:13] hennevogel commented on #760
Yes `Program` sounds like the object to hold this info. I think for starters this can be a simple text field with comma separated value of ISO 639-1 language codes and a select for `Event`

[2016-03-17 12:34] hennevogel commented on #821
That is to be determined during the implementation I guess. Don't know the refund options of e.g. stripe

[2016-03-17 12:39] hennevogel commented on #877
Who cares how many Buyers there are?

[2016-03-17 12:42] rishabhs95 commented on #877
i think that the main thing is to display the correct number of total tickets bought... but we may display the number of buyers if it is required.
which would be better?

[2016-03-17 12:51] hennevogel commented on #877
You can also display a squirrel eating a nut

![tumblr_n6ie66wsvo1rpe379o1_r1_500-1](https://cloud.githubusercontent.com/assets/514785/13846347/ac5a2bea-ec46-11e5-9759-56f1a6d21094.gif)

The question is **why** would you? ;-) This is an APP. Display data that is relevant for the people using it :-) In my opinion this is

Ticket | Price | Sold | Total Amount
------------ | ------------- | ---------

[2016-03-17 13:01] rishabhs95 commented on #877
that's true @hennevogel... i will display the required info only :+1:

[2016-03-17 14:02] hennevogel commented on #871
I don't see a contradiction. We allow Registration without login if ichain is diabled.

The duplicated (slightly different) if-chain is something that can be refactored yes....

[2016-03-17 14:02] #871 closed

[2016-03-17 14:07] hennevogel commented on #785
I guess we can close this...

[2016-03-17 14:08] #785 closed

[2016-03-17 17:26] differentreality opened #887 "Translation information from wiki to README.translation"
https://github.com/openSUSE/osem/wiki/Translation-with-Transifex

It should also include information about the API key and way of requesting publishing of **reviewed** only translations.

[2016-03-18 08:31] sonalkr132 opened #888 "NoMethodError in Admin::EventsController#comment"
Steps to reproduce:
* Make a conference (say `goto`), assign cfp dates
* Visit home page and submit a proposal to `goto`
* Visit `events` show page through admin area (url: http://localhost:3000/admin/conference/goto/program/events/1`)
* Click on `comments (0)`, a textarea will appear.
* Fill in your comment and click `Add comment`

You will get:

undefined method `permit' for "sdfsdfsd":String

p

[2016-03-18 13:43] hennevogel opened #890 "Paper Submission + Registration"
Currently both of the work flows are rather separated. This leads to some rather quirky code in the [proposal controller](https://github.com/openSUSE/osem/blob/master/app/controllers/proposal_controller.rb#L108) that tries to bridge this. We should talk about how to integrate those work flows better.

[2016-03-18 17:18] #835 closed

[2016-03-18 22:01] Shriyanshagro commented on #598
[https://github.com/Shriyanshagro/osem/commit/775e3d8bcab5d0e8399541ccfb2c6de53dee473a](url)
using of gem I18n , made data format Internationalized in EventSerializer.

[2016-03-19 07:58] #877 closed

[2016-03-22 10:16] 4bic commented on #720
@differentreality @ChrisBr  , [this pr](https://github.com/openSUSE/osem/pull/897)  should clean up the routes

[2016-03-22 12:11] differentreality commented on #720
Closed via https://github.com/openSUSE/osem/issues/720

[2016-03-22 12:11] #720 closed

[2016-03-22 15:12] promulo commented on #883
hi @bear454 , I believe this was already fixed, at least I could not reproduce locally:

![image](https://cloud.githubusercontent.com/assets/450960/13956369/c8b8b06c-f048-11e5-9351-7d6457bfd996.png)

[2016-03-22 18:37] bear454 commented on #883
Okay, maybe it's just a configuration issue on https://events.opensuse.org

[2016-03-22 20:31] differentreality commented on #888
Closed in #894

[2016-03-22 20:31] #888 closed

[2016-03-23 08:39] differentreality opened #902 "db:migrate sets auto limit in db/schema.rb"
After running db:migrate, the db/schema.rb file seems to have set automatically
limit: 4 for integer fields and
limit: 255 for string fields

Relevant issue:
https://github.com/rails/rails/issues/19001

This seems to have come from me around the time we updated rolify, even though the issue above does not seem to reference anything about rolify at this point.

Shall we investigate further?

[2016-03-23 09:16] Rolence commented on #888
it works.
![fixed_comment_view](https://cloud.githubusercontent.com/assets/11888675/13980636/fef56af2-f0df-11e5-9a56-fbb0e45916bf.png)

[2016-03-23 15:01] differentreality commented on #887
Closed via #891

[2016-03-23 15:01] #887 closed

[2016-03-23 15:34] #868 closed

[2016-03-23 19:52] sonalkr132 opened #903 "Roles authorization"
Steps to reproduce:
* create conference (say: `goto`)
* sign up two user `cfp_member` and `another_organizer`
* sign in with admin and assign `cfp_member` to `cfp` team and `another_organizer` to `organizer` team.
* sign in with `cfp_member` user
* go to roles page of goto conf: `http://localhost:3000/admin/conference/goto/roles`
* click on `users` button; page with go to organizers show page
* to

[2016-03-23 19:59] sonalkr132 commented on #902
I think it could be environment specific. If I run: `rake db:drop db:create db:migrate`, it removes all the added limits you mentioned.

[2016-03-24 14:41] camillem opened #908 "Strings not accessible to translation"
Hi,
Some strings are not accessible to translation for the moment. For example, on the front page (https://events.opensuse.org/), the string "Older conference (17)" is not proposed as a translatable text ( https://www.transifex.com/opensuse-community/osem/live/#https%3A%2F%2Fevents.opensuse.org%2F ). Its blue highlighted as "Detected" (vs. green as "Approved" aka translatable, I guess)
In the tran

[2016-03-24 16:51] camillem commented on #908
From what I understand, one solution would be to add <var> tags, as explained there :
http://docs.transifex.com/live/webmasters/#how-to-handle-inline-block-variables
That would mean having things like below in haml files

[code]

Does that seems sensible to you?

[2016-03-25 09:14] Shriyanshagro opened #909 "Allow Creating new Conference ,only with Start_date greater than current_date and End_date greater than Start_date"
Only allow creating a new Conference ,while -
         `conference-start-day >= Current_date`
         `conference-end-day >= conference-start-day `

[2016-03-25 09:18] Shriyanshagro opened #910 "Allowed Registration Period while registring for a Conference"
Constraints for Registration Period parameters  -

    end-date-conference >= registration-period-start-date >= Current_date

    registration-period-Start-date <= registration-period-End-date <= End-date-conference

Which means , admin is only allowed to set registration period in between current date and end_date of conference

[2016-03-25 09:22] Shriyanshagro opened #911 "Arrival , Departure constraints for attendees"
Attendees are only allowed to set arrival , departure dates such that , they attend conference for at least a day. Along with arrival_date >= current_date

[2016-03-25 09:23] Shriyanshagro commented on #623
#911

[2016-03-25 09:26] Shriyanshagro commented on #623
I tried , resolving this issue .
But got stuck at a point.
Is there any method through which I could get start_date of conference , without fetching it from url in form of Json.

[2016-03-25 12:18] nishanthvijayan opened #912 "Deleting a room should move its events back to Unscheduled Events"
If a room with events scheduled is deleted, its events are not added back to Unscheduled Events in the admin/schedule page.This seems to make it impossible to reschedule those events.

[2016-03-25 13:04] camillem commented on #908
Regarding the choice between \<var> and class="notranslate", maybe the latter is preferable, as it's more explicit (and the former seems to have formatting side effects (text appears in italic)).

[2016-03-25 16:01] differentreality commented on #912
I can recreate. @nishanthvijayan are you going to work on it?

[2016-03-25 16:39] differentreality commented on #903
I will look into it.

[2016-03-25 16:45] nishanthvijayan commented on #912
Yes.

[2016-03-26 07:37] differentreality opened #915 "Leftovers of event_attachment in routes"

[2016-03-26 14:16] sonalkr132 commented on #818
This can be close since #865 is merged.

[2016-03-26 22:06] Shriyanshagro commented on #623
#919

[2016-03-27 07:58] sonalkr132 opened #921 "Issues on hakiri"
[Cross-Site Scripting Warning](https://hakiri.io/github/openSUSE/osem/master/b367676d32e8e3a07951e4957f220d0699f9365d/warnings?name=Cross-Site+Scripting): Unescaped model attribute rendered inline in app/controllers/admin/commercials_controller.rb
[code]

People seem to maintain list of `TRUSTED_OEMBED_PROVIDERS`[1][2] and ensure that requested embedded content is coming from trusted source. We ca

[2016-03-27 15:22] Shriyanshagro commented on #910
#922

[2016-03-27 15:22] Shriyanshagro commented on #909
#922

[2016-03-27 15:26] #910 closed

[2016-03-27 15:27] #911 closed

[2016-03-27 15:27] #909 closed

[2016-03-28 11:19] Rolence commented on #903
I did what you outlined above but didn't remove my organizer. Can you elaborate more on the bug!!

[2016-03-28 12:22] sonalkr132 commented on #903
![ezgif-1316420179](https://cloud.githubusercontent.com/assets/7680662/14077602/cbff026e-f50a-11e5-8b24-b55e143e56c9.gif)

[2016-03-28 12:23] sonalkr132 commented on #903
It is happening cause `authorize! @role, :toggle_user` is missing from `toggle_action` of `Admin::RolesControlle`

[2016-03-28 12:29] differentreality commented on #903
Nice gif ;)
I can confirm the issue.

[2016-03-28 13:10] #915 closed

[2016-03-28 13:11] differentreality commented on #915
Closed by #916

[2016-03-28 19:57] #864 closed

[2016-03-28 21:16] davidsf opened #924 "NoMethodError in ConferenceRegistrations#show"
If the user has register in a workshop, the conferenceRegistrations#show throws a error 500:

[code]

[2016-03-29 16:42] #924 closed

[2016-03-29 17:18] #912 closed

[2016-03-29 20:44] Shriyanshagro commented on #400
@hennevogel , Currently program section show all events
* I don't think that it would be a good idea to display some random talks , as it would mislead the moderators and users.
* Though if anyhow we got a way to find smaller events, but still I would suggest ,not to showcase full schedule on splash page.

[2016-03-29 22:55] ChrisBr commented on #921
Agreed! However, I also don't like to mark them as false positives ...
Anyway, will do it for now!

[2016-03-29 22:58] ChrisBr commented on #921
Seems I don't have permissions to do it, @hennevogel can you mark the reports as false positives?

[2016-03-30 11:36] sonalkr132 commented on #921
Is using `config` variable directly instead of `User.ichain_logout_url` that bad of an idea? I am pretty sure brakeman is complaining only because it doesn't like class method of **User** . We can get around at least one of them with that.

[2016-03-30 15:29] #791 closed

[2016-03-30 16:45] sonalkr132 opened #928 "Test for custom style"
It would be nice if we can break build for any custom style guide we follow. for ex:
[code]

I think we can write custom cop for it, however looking for a particular regex (`/redirect_to(/`) in `controller` folder files isn't as bad (or slow) as you might think. Check this: https://github.com/bundler/bundler/blob/master/spec/quality_spec.rb It has test for documentation quality, tab character inst

[2016-03-30 18:44] jospoortvliet commented on #623
Awesome. Yeah, just something like:

- [] day 1
- [] day 2

etc... that would cover it ;-)

[2016-03-30 19:47] Shriyanshagro commented on #623
So than I guess , "users attending dates" would make more sense rather than "users arrival dates".. What say ?? On other side it would also help organizers to make count for each day.

[2016-03-30 20:19] Shriyanshagro commented on #749
Okay , I will implement this feature. Can somebody suggest me where should I add this option button , I guess under 'admin/conference/.../program/events' ??
Also , I suggest there should also be a add/remove additional **Proposal** to the event
![osem](https://cloud.githubusercontent.com/assets/13868098/14156185/b296d3d6-f6e2-11e5-91a3-997dd0706995.png)

[2016-03-31 06:54] sonalkr132 commented on #869
Can we please turn off coverall comments on PR? It creates lot of noise (with information we can see at bottom of PR anyway). The owner of github repo can do this at url: https://coveralls.io/github/openSUSE/osem

![screenshot from 2016-03-31 12-15-22](https://cloud.githubusercontent.com/assets/7680662/14167742/135bbfe4-f73b-11e5-877b-db333d4a055a.png)

cc: @hennevogel

[2016-03-31 06:58] sonalkr132 commented on #869
I am talking this:
![screenshot from 2016-03-31 12-26-13](https://cloud.githubusercontent.com/assets/7680662/14167905/fc8c648e-f73b-11e5-9930-c4861daa230a.png)
___
![screenshot from 2016-03-31 12-26-29](https://cloud.githubusercontent.com/assets/7680662/14167906/fc95f9ea-f73b-11e5-8ac1-39c737609da4.png)

[2016-03-31 07:04] differentreality commented on #869
It is however a nice indication that newer actions have been taken in this PR / tests have rerun, and % of coverage with any newly added code to the PR.

[2016-03-31 07:14] sonalkr132 commented on #869
Yeah, thats a nice way to see it. I would still say that I hate coverall comments, also PR submitter is going to comment about the *update* regardless.

That will be there at the bottom with other status even after you have turned off comments.

[2016-03-31 09:05] hennevogel commented on #928
This is not custom style. This is ruby style...

[2016-03-31 09:05] #928 closed

[2016-03-31 09:10] hennevogel commented on #749
@Shriyanshagro please concentrate on issues labeled junior for now...

[2016-03-31 09:12] hennevogel commented on #869
Turned it off

[2016-03-31 09:47] sonalkr132 commented on #928
Okay, it is not ruby style but internal DSL. What I proposed was that if we going to follow this (`redirect path` over `redirect(path)`) then we can automate the reviewing part with a simple test, so that we don't have to hassle human (`PR reviewer`) for such mundane review.

[2016-03-31 10:05] hennevogel commented on #921
Marked as false positive

[2016-03-31 10:05] #921 closed

[2016-03-31 10:41] sonalkr132 commented on #860
Fixed after merge of #893

[2016-03-31 10:41] #860 closed

[2016-03-31 12:22] nishanthvijayan opened #930 "Broken api controllers api/v1/events and api/v1/speakers"
Trying to access api/v1/events/ fails with error:
 'Association named 'conference' was not found on Event; perhaps you misspelled it?'

Trying to access api/v1/conferences/someconference/events fails with error:
 'SQLite3::SQLException: no such column: events.conference: SELECT "events".* FROM "events" WHERE "events"."conference" = 1 AND "events"."state" = ?'

Trying to access /api/v1/conferences/

[2016-04-01 13:05] #930 closed

[2016-04-01 13:40] sonalkr132 opened #937 "Exclude api and serializer from test coverage"
I think we should exclude files under `api` and `serializers`, we don't really use those and it is most likely that any user of OSEM is not going to need them either. A low test coverage may give wrong impression of our application. It will also help us(mostly me) focus our energy on more important things.
It will be just like a `rubocop_todo`. As of implementation part, we can add filter for file

[2016-04-01 13:43] hennevogel opened #938 "Adding commercials fails at InvalidAuthenticityToken"
I guess it has something to do with the loading of the Commercial from the url?

[2016-04-01 13:45] hennevogel commented on #937
It's part of the app, some people use it for pulling stuff to other pages via javascript...

[2016-04-01 13:45] #937 closed

[2016-04-01 13:46] #908 closed

[2016-04-01 14:33] sonalkr132 commented on #938
Which provider and if possible which url? I was able to add links of youtube, flicker, vimeo and slideshare:
![screenshot from 2016-04-01 20-00-24](https://cloud.githubusercontent.com/assets/7680662/14210006/a63cf094-f844-11e5-8666-fd1973ffb6bc.png)

[2016-04-01 14:40] hennevogel commented on #883
Yeah leaflet has real problems with asset digests...

[2016-04-01 22:15] nishanthvijayan commented on #903
The issue seems to be caused by [this line](https://github.com/openSUSE/osem/blob/master/app%2Fmodels%2Fability.rb#L201)
:manage includes all actions on the object and so includes :toggle_user as well
and if there are multiple can rules on same action and object they are logically or'ed
So the [rule on toggle_user](https://github.com/openSUSE/osem/blob/master/app%2Fmodels%2Fability.rb#L207) become

[2016-04-02 05:17] sonalkr132 opened #943 "using ichain enabled = true in development"
I am not able to login when I have:
[code]

It ends up making `POST` request after login and hence I get:

[2016-04-02 09:59] ChrisBr commented on #943
C'Mon, have a look at the iChain gem https://github.com/openSUSE/devise_ichain_authenticatable/blob/master/README.md ...

[2016-04-02 10:01] ChrisBr commented on #943
Hint: Basically you have to enable the testmode ;)

[2016-04-02 10:01] #943 closed

[2016-04-02 10:26] sonalkr132 commented on #943
Thanks @ChrisBr  I am wondering if we should have it documented on OSEM (possibly in [CONTRIBUTING.md](https://github.com/openSUSE/osem/blob/master/CONTRIBUTING.md)).

[2016-04-04 10:20] hennevogel commented on #943
Stop wondering. Of course we should :-)

[2016-04-04 14:34] hennevogel commented on #821
Fixed in #876

[2016-04-04 14:34] #821 closed

[2016-04-04 14:34] #818 closed

[2016-04-04 14:36] hennevogel commented on #731
The speaker info is below the Commercial and the Talk info on the left of it. We could switch this

[2016-04-04 14:38] #595 closed

[2016-04-04 14:39] #577 closed

[2016-04-04 14:41] hennevogel commented on #519
#611 is also merged...

[2016-04-04 14:41] #519 closed

[2016-04-04 17:37] camillem opened #945 "[Transifex] Publish translation for FR"
Could you please publish new reviewed strings for language FR?
Thanks !

[2016-04-04 20:18] differentreality commented on #945
Published

[2016-04-04 20:18] #945 closed

[2016-04-06 06:17] elioqoshi opened #948 "OSEM Logo"
OSEM has no logo as of now, am I right? If that's the case, I'd love to work on one :)
I have done dozens of logos for Mozilla and other open source projects in the past, which you can find here:

http://elioqoshi.me/en/mozilla-logos/
https://dribbble.com/elioqoshi

[2016-04-06 08:37] ChrisBr commented on #948
That would be awesome!
@hennevogel we just discussed it last week ...

[2016-04-06 09:28] hennevogel commented on #948
@elioqoshi OMG OMG OMG :-) I have a ton of ideas. Can we chat somewhere? :-)

[2016-04-07 17:36] elioqoshi commented on #948
I just followed up via email :)
I'm on freenode as elioqoshi and Telegram with the same username. Would love to chat!

[2016-04-07 17:43] ChrisBr commented on #948
@elioqoshi you can find us usually in #osem @ freenode!

[2016-04-07 20:03] elioqoshi commented on #948
First proposal, what do you think?
![draft1](https://cloud.githubusercontent.com/assets/5436686/14365179/9db8a31a-fd0c-11e5-91d0-10aa44012dc2.jpg)

[2016-04-07 20:16] elioqoshi commented on #948
Here a proposal with the full name. I must say branding wise, "OSEM" is not a good choice, so that didn't help much while designing.

![draft2](https://cloud.githubusercontent.com/assets/5436686/14365515/682ad2b6-fd0e-11e5-8671-b4a3b4648aa6.jpg)

[2016-04-07 20:24] elioqoshi commented on #948
Getting closer...
![draft3](https://cloud.githubusercontent.com/assets/5436686/14365722/7cabbe16-fd0f-11e5-9cf0-263514ba1f2a.jpg)

[2016-04-07 20:30] elioqoshi commented on #948
@hennevogel had a little chat with @ChrisBr , we can chat tomorrow if you like. I'm in the same timezone as you.

[2016-04-08 09:54] hennevogel commented on #948
@elioqoshi that would be awesome as your proposals don't really go into the direction I was thinking about ;-)

[2016-04-09 06:32] sonalkr132 commented on #598
We can close this, now we are using I18n data format in EventSerializer. @kalabiyau Please open a new issue with your recent suggestions.

[2016-04-11 19:06] Raphseck commented on #948
@elioqoshi Elio asked for the following sketch of an opposum
![opposum](https://cloud.githubusercontent.com/assets/14264676/14439028/5ee574c4-ffff-11e5-87a7-392865bfbcf9.png)

[2016-04-11 21:21] elioqoshi commented on #948
@Raphseck Thanks so much, I love where this is going! I modified your version myself, simplified it a bit, gave it a bit of colour and came up with this. Thoughts @hennevogel ?

![new_artboard 1-02](https://cloud.githubusercontent.com/assets/5436686/14442814/184dc7f4-003c-11e6-9312-ed081882ce4f.jpg)
![Uploading New-01.jpg…]()

[2016-04-11 21:34] elioqoshi commented on #948
Modified strokes and further optimized

![new2_artboard 1-02](https://cloud.githubusercontent.com/assets/5436686/14443193/f5f076a0-003d-11e6-88bb-3769cb3beb1e.jpg)
![new2-01](https://cloud.githubusercontent.com/assets/5436686/14443192/f5f06606-003d-11e6-87fd-5f81da790bee.jpg)

[2016-04-12 03:06] ChrisBr commented on #948
I love it :heart:

[2016-04-12 05:34] sonalkr132 opened #954 "conference_registration should be singular resource"
[Source of previous discussion.](https://github.com/openSUSE/osem/pull/795#discussion_r54597070)

Corresponding to a conference and a user, there can be only one registration, however our [routes](https://github.com/openSUSE/osem/blob/master/config%2Froutes.rb#L110) define it as plural resource:
[code]
This should be: ` resource :conference_registration, path: 'register'`
We would also want to cha

[2016-04-12 05:46] sonalkr132 opened #955 "Move registration_limit check to ability file"
[Source of suggestion](https://github.com/openSUSE/osem/pull/795#discussion_r55738013)

We are checking for registration limit of conference in `new` action of [ConferenceRegistrationsController](https://github.com/openSUSE/osem/blob/master/app%2Fcontrollers%2Fconference_registrations_controller.rb#L26-L29):

[code]
We should be handling this with authorization of the `new` action.

[2016-04-12 06:19] elioqoshi commented on #948
Thanks @ChrisBr ! Here is a new version with the opossum's tail lying on the floor instead
![new3_artboard 1-02](https://cloud.githubusercontent.com/assets/5436686/14451412/3d1ce2ea-0087-11e6-81e2-e422bf43ac4a.jpg)
![Uploading New3-01.jpg…]()

[2016-04-12 09:16] hennevogel commented on #948
@elioqoshi @Raphseck awesome possum! I'm digging it completely.

[2016-04-12 11:26] Raphseck commented on #948
Thanks @ChrisBr ! I'm happy that you liked!
Great job @elioqoshi !!

[2016-04-12 11:42] hennevogel commented on #948
So how will we continue? :-)

[2016-04-12 12:28] sonalkr132 commented on #948
Will we be changing our green theme?
![screenshot from 2016-04-12 17-52-45](https://cloud.githubusercontent.com/assets/7680662/14459820/d93ea12c-00d7-11e6-86b4-eeff0302f172.png)

[2016-04-12 13:52] sonalkr132 commented on #433
* **Slides of talks**

   It doesn't host the slides but just the links. If the slide host supports embedded content then slides are shown inline. We have something similar in form of commercial. However, A lot people seem to use dropbox and doc.google.com, which don't provide embedded content. It would be nice if `proposals` for talks had a `slides` attributes. `lanyrd` aggravates all the slides

[2016-04-12 16:19] elioqoshi commented on #948
@hennevogel glad you like it!

This is definitely not fitting with the green. It should be some kind of gray.

[2016-04-12 16:36] ChrisBr commented on #948
@hennevogel order some stickers and shirts hehe

[2016-04-13 03:37] sonalkr132 opened #956 "Registration update by organizers"
Registration update section in **admin area** has following section:
![screenshot from 2016-04-13 09-00-44](https://cloud.githubusercontent.com/assets/7680662/14482107/b5e0e486-0156-11e6-97f1-9b534a31f649.png)

It breaks any attempt to update the registration with following error message in flash:

Why do organizers need to update user related info(Name, Nickname and Affiliation) anyway?

[2016-04-13 04:14] sonalkr132 opened #957 "Deprecation warnings"
#### formtastic
Visiting the questions form gives:

Source: https://github.com/openSUSE/osem/blob/master/app%2Fviews%2Fconference_registrations%2F_questions.html.haml#L5

#### transitions (May be?)
On update of state of proposal, we get:

Weird thing is that transitions gem is not using `serialized_attributes` method in its codebase. Could be one of its dependency.

#### htmlentities
Running tests

[2016-04-13 09:06] elioqoshi commented on #948
Final update (I hope) with some little fixes and a better tail. I also think this beige background colour works best for our theme

![new4_artboard 1-02](https://cloud.githubusercontent.com/assets/5436686/14488280/aba61764-0167-11e6-8189-3aba6904f399.jpg)
![new4_artboard 1-03](https://cloud.githubusercontent.com/assets/5436686/14488282/abd34cde-0167-11e6-951d-2781d8d78f76.jpg)
![new4-01](https://c

[2016-04-13 09:07] elioqoshi commented on #948
Oh, and the font is of course Open Source too - Museo Slab

[2016-04-13 09:21] hennevogel commented on #948
The green is green for no reason, we can change that :-)

@elioqoshi can you attach some open format of your work here (SVG?)

[2016-04-13 09:23] elioqoshi commented on #948
Yeah, let me export this all correctly.

Btw, let's open a brandspace on www.brandisty.com for this

[2016-04-13 17:22] jospoortvliet commented on #623
Yeap, that wording is better.

[2016-04-14 08:52] elioqoshi commented on #948
@hennevogel I need access to Brandisty

[2016-04-14 16:42] elioqoshi commented on #948
voila :)
https://brandisty.com/osem

Thanks @Raphseck for the great help!

[2016-04-14 16:42] #948 closed

[2016-04-14 17:38] yofiesetiawan commented on #948
cute raphael!

[2016-04-14 17:39] Raphseck commented on #948
@yofiesetiawan thanks!  : )

[2016-04-14 17:40] Raphseck commented on #948
great work @elioqoshi !!! : )

[2016-04-14 20:40] davidsf opened #958 "View number of registrations in admin / events"
If the event needs registrations, the admin can't view how many people has already registered.

[2016-04-14 22:12] alexdor commented on #731
Hi everyone,

I've tried tackling the above issue with this commit b7bba4ba44a371c3b62fab4aba40355c6e9b7194.

I tried displaying the date, duration, room etc. with many layouts but because there are seven of them there was always one that was remaining alone so I decided to display them as a list. Is there any other suggestion about who to group them?

Also, I made a minor css change in order to d

[2016-04-15 06:34] sonalkr132 opened #961 "Testing for_ichain_username of User model"
I am stuck over [this](https://github.com/openSUSE/osem/blob/master/app/models/user.rb#L85-L89) for quite a while:
[code]

How is `create!` working? events.o.o must be executing this line to sign in with ichain. However, If I write following test:
[code]
It failes with:

       Validation failed: Password can't be blank

[2016-04-18 06:01] sonalkr132 opened #965 "Word limit on user biography"
User can update there biography with word count exceeding the limit cause we don't have relevant validation in place:
![screenshot from 2016-04-18 11-22-16](https://cloud.githubusercontent.com/assets/7680662/14594928/a3dd6416-0558-11e6-8858-523261a8457b.png)

![screenshot from 2016-04-18 11-29-05](https://cloud.githubusercontent.com/assets/7680662/14594965/f96d652a-0558-11e6-9eb1-dc206fdc5090.png)

[2016-04-18 07:04] sonalkr132 opened #966 "Sponsors without sponsor level"
Sponsor level is mandatory field of sponsors model. If a user tries to create sponsor without first creating a sponsor level, their validation is always going to fail(cause they have nothing to choose for sponsor level). We should show sponsor's page only if sponsor levels are defined (similar to showing `rooms` only if `venue` is defined).
![screenshot from 2016-04-18 12-32-05](https://cloud.gith

[2016-04-22 09:58] jospoortvliet commented on #733
just out of curiosity, was this done? I saw in #741 "transferring" but not sure what that means...

[2016-04-22 10:58] differentreality commented on #733
Nop, it was not done. Yet..

[2016-04-24 19:11] Ana06 commented on #965
I'll do it! :smile:

[2016-04-25 12:20] hennevogel commented on #958
Will be fixed in #923

[2016-04-25 12:20] #958 closed

[2016-04-25 12:58] hennevogel commented on #961
This is used inside the [devise_ichain_authenticatable](https://github.com/openSUSE/devise_ichain_authenticatable) plugin. I doubt it makes sense to test this outside of it...

[2016-04-25 12:58] #961 closed

[2016-04-25 13:15] hennevogel commented on #633
This feature is done since some time

[2016-04-25 13:15] #633 closed

[2016-04-25 13:16] hennevogel commented on #476
This is done in #900 now..

[2016-04-25 13:16] #476 closed

[2016-04-25 13:24] hennevogel commented on #626
I guess the key to this is [open graph](http://ogp.me/) meta data rather than oembed. oembed could still be used for videos on `Proposal#show`

[2016-04-25 15:10] bear454 commented on #476
:+1:

[2016-04-25 15:18] #903 closed

[2016-04-25 15:27] hennevogel commented on #938
Any provider in production...

[2016-04-26 10:23] differentreality commented on #965
Upon visiting edit_user_path, before typing anything in the bio box, it says you have used 0 words (even if there is text as biography).

[2016-04-27 13:42] rishabhs95 opened #969 "Implement ticket payment feature"
Deliverables :
- [x] Proper documentation and tests for all deliverables
- [x] Define payment state machine transitions
- [x] Integrate Stripe payment gateway through ActiveMerchant library
- [x] Appropriate notifications updates for payments
- [x] ~~Persist user payment preferences~~
- [x] Update admin views to check payment status

[2016-04-28 07:38] Ana06 commented on #965
This issue can be closed :wink:

[2016-04-28 10:17] hennevogel commented on #965
Yes boss :-)

[2016-04-28 10:17] #965 closed

[2016-04-28 10:58] hennevogel opened #972 "Custom Error Pages"
We are currently using the standard error pages. They don't really help the users to solve or report the problem. We should have some custom error pages at least for
- [ ] 403 Forbidden
- [ ] 404 Not Found
- [ ] 500 Internal Server Error

These pages should explain what has gone wrong and how to mitigate this problem.

[2016-04-28 11:33] hennevogel commented on #902
This is environment specific, especially if you run it against mysql...

[2016-04-28 11:33] #902 closed

[2016-04-29 09:25] hennevogel opened #973 "Statistics on top of Events#index & Registrations#index"
In the admin interface both are basically 2 huge lists containing all submitted events and all registered people. We should show some statistics on top like:

![dashboard](https://cloud.githubusercontent.com/assets/514785/14912456/b973d790-0dfc-11e6-919b-baf99fae31f1.png)

For Events it could also include this (from the general dashboard)

![screenshot from 2016-04-29 11-23-47](https://cloud.githu

[2016-04-29 13:04] hennevogel opened #974 "Venue Commercial->Picture->Icon degradation"
On the splash page the Venue should display an Commercial or Picture or Icon. Depending on what is there. Currently it shows a Commercial or nothing.

[2016-04-29 13:06] hennevogel commented on #974
@Shriyanshagro can you look into this?

[2016-04-29 17:23] Shriyanshagro commented on #974
Ok, I can solve this issue. But if commercial is not there, then which picture or icon should it display??
There must be an icon or picture available for the same.

[2016-05-01 15:47] differentreality commented on #956
I think having the option to change some basic user information should be given to people than cannot otherwise access user information (eg. Info Desk volunteers). Name and affiliation might be important to be fixed in case of typo or something for attendees like sponsors, keynote speakers.

[2016-05-01 16:07] differentreality opened #978 "Loading js failure"
Javascript is getting confused, eg. admin/events#index does not show any datatable information.

The error comes from https://github.com/openSUSE/osem/blame/master/app/assets/javascripts/osem.js#L7
And affects all pages with datatables.

This should not be wrapped up in a document.ready?

[2016-05-01 16:13] differentreality commented on #614
I don't see this happening any more

[2016-05-01 16:23] differentreality opened #980 "Failing feature tests create .html file in root dir"
This used to be in tmp/capybara but not anymore

[2016-05-02 08:54] ChrisBr opened #981 "Blindvoting"
We should introduce blind voting:

- You shouldn't be able to see the votes of the others
- You shouldn't be able to see the current mean
(- You shouldn't be able to see the author)

Otherwise your vote will be biased ...

[2016-05-02 09:25] differentreality commented on #981
Duplicate of #702
And I would personally like to see this. I hope I will eventually find time to implement it.

[2016-05-02 09:34] hennevogel commented on #981
If it's a duplicate, close it :-)

[2016-05-02 09:34] #981 closed

[2016-05-02 11:02] ChrisBr commented on #974
@Shriyanshagro what about
http://fortawesome.github.io/Font-Awesome/icon/building-o/ or http://fortawesome.github.io/Font-Awesome/icon/university/ ?

[2016-05-03 10:17] differentreality commented on #702
So the idea is that a user that has access to see/vote on available proposals does not see who voted, the vote of other people, or the average voting of the proposal.

Until when?
* until after the user votes (but the user can change his/her vote at any time)
* until voting period is over (then we can show all voting details and disallow any voting changes)

[2016-05-03 10:43] ChrisBr commented on #702
I would go for the latter!

[2016-05-03 10:56] ChrisBr commented on #702
And as next step I would also hide the submitter name as @altsalt suggested!

@differentreality do you plan to work on this the next time?

[2016-05-03 11:15] differentreality commented on #702
Yes, I will work on it.

[2016-05-03 16:23] altsalt commented on #702
Yay!

[2016-05-03 22:03] Ana06 commented on #955
I'll do it :wink:

[2016-05-04 18:58] mauromorales commented on #938
I'm getting this issue when trying to add a youtube video

[2016-05-04 19:00] mauromorales opened #988 "Cannot confirm proposal"
Tried to confirm proposal 926 and got an error page.

[2016-05-06 10:14] Ana06 commented on #973
I'll do it.
The statistic on the top are the same as the ones in the dashboard, aren't they?
The event types, difficulty levels and tracks should be also at the top?

[2016-05-07 06:16] coderhs commented on #972
Is there a draft of the issues one need to add to this page? @hennevogel I am interested to work on this.

[2016-05-07 06:58] Shriyanshagro commented on #974
@ChrisBr,  that's actually very good idea,
if we could somehow figure out the type of venue,like either it's a commercial building or any institute, then we can set a profile icon too..
What do you say @hennevogel ??

[2016-05-07 09:28] differentreality commented on #974
Before we implemented commercial for venue we had a venue photo, the photo is still available, but we never show it.
So if there is a commercial, we show the commercial, if not we show the venue picture. If there is no commercial, and no picture, we just show a building image like suggested.

[2016-05-09 10:03] hennevogel commented on #988
After adding the youtube video?

[2016-05-09 10:07] ChrisBr commented on #988
I'll have a look into it!

[2016-05-09 10:40] hennevogel commented on #973
For Registrations I would say those 3 are important:

* Number of overall registrations
* Registration attended vs. Registration not attended
* Distribution of affiliation (if that is possible)

For Events I would say those 3 are important:

* Confirmed vs. Unconfirmed Events
* Scheduled (start_time set) vs. Unscheduled events
* Track Distribution

[2016-05-09 10:41] hennevogel commented on #972
@coderhs I don't understand your question. What exactly are you looking for? :-)

[2016-05-09 10:42] hennevogel commented on #974
I've meant exactly what @differentreality said :-)

[2016-05-09 11:57] mauromorales commented on #988
@hennevogel Nope without adding the video. This was at the page where the proposals are listed and there is a green confirm button. I clicked on this and got the error

[2016-05-09 13:26] hennevogel opened #991 "[production][conference_registrations#new] NoMethodError: undefined method `>' for nil:NilClass"
conference_registrations#new threw this 1 times
<pre>
NoMethodError: undefined method `&gt;&#39; for nil:NilClass
</pre>
[https://events.opensuse.org/conference/oSC16/register/new](https://events.opensuse.org/conference/oSC16/register/new)"

[See this exception on Errbit](https://errbit-opensuse.herokuapp.com/apps/5620ca99dc71fa00b1000002/problems/57308ae9f12576000c000003)

[2016-05-09 13:29] hennevogel commented on #991
This happens because e.max_attendees is nil by default. hotfixed in production by removing this condition.

[2016-05-09 13:36] hennevogel opened #992 "Registration form to crowded"
For oSC16 there are a lot of events that require registration. This is making the Registration#new form very crowded

![events opensuse org_2016-05-09_15-31-55](https://cloud.githubusercontent.com/assets/514785/15114683/6340fe14-15fb-11e6-9cbd-455afa3bcea2.png)

It's also not very clear what pre-registraion means and why I should click it or not when I register. I think pre-registration to Events

[2016-05-09 13:59] differentreality commented on #991
It is cause because events already had require_registration set, before we introduced max_attendees. Now a user cannot set require_registration attribute without putting a value for max_attendees too.

I will send a task to fix this for the existing events with require_registration.

[2016-05-09 14:24] differentreality commented on #992
Yes, it is indeed a bit crowded over there.
I am not sure it is practical, though, that you go to the individual page of each event you want to register to. Perhaps all events that need registration can be gathered in a new page / tab in registration?

[2016-05-09 16:05] hennevogel commented on #991
But whats wrong with an Event that requires registration but does not have a max_attendees limit set?

[2016-05-09 16:54] differentreality commented on #991
Since we dropped 0 value for max_attendees, I haven't provisioned for this scenario, where registrations are limitless.
Usually registration is required because there is a limit to the amount of people that can be accommodated.

[2016-05-10 12:46] hennevogel commented on #988
This request (on `2016-05-04 20:58:47`) ran into Cross-Site Request Forgery protection because there was a CSRF problem with the commercial before. This is fixed now. @mauromorales you should be able to add commercials and confirm your event now.

[2016-05-10 12:58] mauromorales commented on #988
@hennevogel yup working fine, thanks guys!

[2016-05-10 12:58] #988 closed

[2016-05-10 13:24] differentreality opened #995 "[production][users#edit] NoMethodError: undefined method `split' for nil:NilClass"
users#edit threw this 0 times
<pre>
NoMethodError: undefined method `split&#39; for nil:NilClass
</pre>
[https://events.opensuse.org/users/11314/edit](https://events.opensuse.org/users/11314/edit)"

[See this exception on Errbit](https://errbit-opensuse.herokuapp.com/apps/5620ca99dc71fa00b1000002/problems/5731add4806a92000c000000)

[2016-05-11 14:39] Ana06 opened #996 "Travel schedule problem"
When I registered for the openSUSE Conference I noticed that the time was not correct in the travel schedule summary:

![travel schedule time error](https://cloud.githubusercontent.com/assets/16052290/15184776/df07dd5a-1796-11e6-946c-a9de4d6e5a7b.png)

[2016-05-12 10:50] #996 closed

[2016-05-13 09:24] hennevogel commented on #995
Meanwhile this is the most prominent exception...

[2016-05-17 17:49] nishanthvijayan commented on #957
serialized_attributes deprecated warning is being triggered by paper_trail
[code]
[has_paper_trail.rb:112](https://github.com/airblade/paper_trail/blob/v3.0.1/lib/paper_trail/has_paper_trail.rb#L112)
This was [fixed in v 4.1.0] (https://github.com/airblade/paper_trail/commit/c6ffd603e40c9cd049e42639e274f92fa66a88d8).We use v3.0.1

The htmlentities related warning was [fixed](https://github.com/thr

[2016-05-18 11:34] FleetAdmiral commented on #972
Hey i'd like to take this up myself! Being a newbie it'd be great if i could get some assistance too! :D

[2016-05-19 07:58] ChrisBr opened #1003 "[production][users#edit] NoMethodError: undefined method `split' for nil:NilClass"
users#edit threw this 3 times
<pre>
NoMethodError: undefined method `split&#39; for nil:NilClass
</pre>
[https://events.opensuse.org/users/12070/edit](https://events.opensuse.org/users/12070/edit)"

[See this exception on Errbit](https://errbit-opensuse.herokuapp.com/apps/5620ca99dc71fa00b1000002/problems/573d6a7e91219d000900000d)

[2016-05-19 08:16] differentreality commented on #1003
Duplicate of https://github.com/openSUSE/osem/issues/995
I also cannot open the errbit link, not sure why.
And I have sent a PR https://github.com/openSUSE/osem/pull/999

[2016-05-19 08:16] #1003 closed

[2016-05-19 08:19] #995 closed

[2016-05-19 08:19] ChrisBr commented on #1003
Ah didn't see that, sorry! Thanks

[2016-05-19 08:37] ChrisBr commented on #718
@hennevogel we already have ``dependent: nullify`` set on these models, however, we introduced it probably after we corrupted some objects ...

https://github.com/openSUSE/osem/commit/799fd0c3a43699fbd0ad97363bea2f7e46e6bef7

[2016-05-19 10:00] #718 closed

[2016-05-19 10:11] ChrisBr commented on #991
@differentreality is this still valid with #994 merged?

[2016-05-19 10:13] ChrisBr commented on #972
@FleetAdmiral sure! Just join #osem on freenode or answer in this PR if you need help!

[2016-05-19 11:00] differentreality commented on #991
@ChrisBr should be closed via #994

[2016-05-19 11:00] #991 closed

[2016-05-19 11:15] #978 closed

[2016-05-19 11:16] #956 closed

[2016-05-19 11:38] differentreality commented on #733
@ChrisBr @hennevogel are you going to include this in Ana's GSOC project?

[2016-05-19 11:48] hennevogel commented on #733
Nope. I'm not even convinced that this is a good feature in general

[2016-05-19 11:56] differentreality commented on #421
@hennevogel anything else to drop?

[2016-05-21 06:43] nishanthvijayan commented on #980
I could not reproduce this locally.The .html output files are still being saved in tmp/capybara

[2016-05-21 10:24] FleetAdmiral commented on #972
@ChrisBr Could you possible exemplify upon what i'm expected to do? Would a generic 404/403/500 error page for anyone who gets them be enough? Or do they need to be dynamically changed based on the page the user has arrived over there from?

[2016-05-23 08:32] ChrisBr commented on #972
@FleetAdmiral no I think a generic page for each of them is enough!

Maybe you can bring our OSEM logo somehow into the pages:
https://camo.githubusercontent.com/a58785e43799dfbdb63f58fbda4336060eb98088/68747470733a2f2f63646e2e6272616e64697374792e636f6d2f696d673f69643d35373066366463333963393932623662363730303030306126666f726d61743d706e6726773d33303026683d3839

And e.g. link to the github repositor

[2016-05-23 08:44] FleetAdmiral commented on #972
@ChrisBr Alright then , i'll start working on this today.

[2016-05-23 09:57] hennevogel commented on #980
I have already fixed this in dd5796bd34ac4e47b3d601678e16486d640490b8

[2016-05-23 09:57] #980 closed

[2016-05-24 04:21] FleetAdmiral commented on #972
@ChrisBr Btw , am i required to keep the  color scheme(green) the same , or am i allowed to make the color more , say , suited to an error , like red?

[2016-05-25 14:16] nishanthvijayan opened #1013 "Remove unused columns from Events,Sponsors,Venues and Conference tables"
`logo_updated_at, logo_content_type, logo_file_size` columns in sponsors and conferences tables appear to be no longer needed (after #970)
Similarly 'photo_updated_at , photo_content_type, photo_file_size' columns in venues table
and `logo_updated_at, logo_content_type, logo_file_size, logo_file_name , progress, time_slots ` columns of events table also appear to be unused.
(not sure about progres

[2016-05-28 21:24] #777 closed

[2016-05-28 21:29] differentreality commented on #727
What do others think about this?
If implemented, it would mean that, when the option is enabled, any signed_in user can:
* **show** a proposal (and consequently index all proposals)
* **vote** for a proposal

[2016-05-28 22:01] #731 closed

[2016-05-28 22:03] #421 closed

[2016-05-29 20:19] Ana06 opened #1017 "time_slots in Event is never used"
Is there any reason why there is an attribute called `time_slots` in `Event` that is never used?

[2016-05-29 22:16] Ana06 commented on #1017
I've just realised that there was another issue open because of that: #1013

[2016-05-29 22:16] #1017 closed

[2016-05-30 13:04] hennevogel commented on #727
What would be the work flow and who will be involved?

[2016-05-31 08:34] ChrisBr opened #1021 "Email export of registered user"
to import into newsletter software, mail program etc

[2016-05-31 08:35] hennevogel opened #1022 "Newsletter"
Integrate something like [maily herald](http://mailyherald.org/) to send and track newsletters.

[2016-05-31 20:56] afranke commented on #733
If it helps convincing you, note that many mobile conference apps consumes this format, which gives you schedule apps for your event for free.

[2016-06-01 13:23] arun1595 commented on #974
@hennevogel I would like to work on this issue.

[2016-06-02 09:19] differentreality commented on #992
Sth like this?

![screenshot-13](https://cloud.githubusercontent.com/assets/4322737/15740149/3b51cbd0-28bc-11e6-95aa-b8914bb9b1ea.png)
![screenshot-14](https://cloud.githubusercontent.com/assets/4322737/15740148/3b518ecc-28bc-11e6-8b68-dd09da9e631f.png)

[2016-06-02 13:07] hennevogel commented on #992
How do I get there?

[2016-06-02 13:18] differentreality commented on #992
![screenshot-16](https://cloud.githubusercontent.com/assets/4322737/15746061/962ebd26-28dd-11e6-9c1e-0248d32e2e3a.png)

[2016-06-02 13:46] #1021 closed

[2016-06-02 18:49] lcssanches opened #1027 "Questions - Text input"
Is there a text input question avaiable? I just see option questions.

[2016-06-03 06:56] rishabhs95 opened #1028 "Call for Paper's date-picker allows picking unconstrained dates"
date picker allows picking dates out of its constraints.

<img width="1107" alt="screen shot 2016-06-03 at 12 10 15 pm" src="https://cloud.githubusercontent.com/assets/10002834/15770945/cd1a484e-2984-11e6-81a7-07185dcd7184.png">

[2016-06-03 12:37] hennevogel commented on #1027
Nope there is not

[2016-06-03 13:46] lcssanches commented on #1027
OK! Thanks =/

[2016-06-03 13:46] #1027 closed

[2016-06-10 23:10] Ana06 opened #1033 "Changing the text color of tracks taking the background color into account"
The text color of the track name is always white without taking into account the background color, so it is imposible/difficult to read it:

![image](https://cloud.githubusercontent.com/assets/16052290/15981029/94bd9662-2f70-11e6-9348-aa65b0c55fa0.png)

I think we should use black or white text depending on the background color chosen. Similarly to Github with labels:

![image](https://cloud.githu

[2016-06-13 12:40] rishabhs95 opened #1036 "CVE-2015-8806 in nokogiri (Hakiri security issue)"
[Security issue from Hakiri](https://hakiri.io/projects/d1eb39a7696349/stacks/70eaa9009f1f2b/builds/f57ebf7f6ae3ab/warnings/d5763daa1b0d2f): Nokogiri is affected by series of vulnerabilities in libxml2 and libxslt, which are libraries Nokogiri depends on. It was discovered that libxml2 and libxslt incorrectly handled certain malformed documents, which can allow malicious users to cause issues rang

[2016-06-15 07:48] ChrisBr opened #1040 "Show email in public option"
At the moment we show the email of every speaker in
https://github.com/openSUSE/osem/blob/master/app/views/proposal/show.html.haml#L26

Some speakers don't want that. We should introduce an option to specify if a speaker wants that his email is public displayed or not. Or drop showing the email at all.

For now I hotfixed this on events.o.o

[2016-06-15 07:48] ChrisBr commented on #1040
@hennevogel cc

[2016-06-15 12:29] differentreality commented on #1040
That sounds to me a lot like 'I don't want to be video recorded while giving a talk'.
I think it is great that we can give a means of contact with the speaker.

I could, however, understand how speakers might not want the email they used to register to OSEM shown in public (and instead they would want to show another contact email).

[2016-06-15 13:41] markuskramerIgitt commented on #1040
Thank you, @ChrisBr.
In the last weeks, I received spam, which is very unusual.
One reason for spam are crawlers.

This might be a conincidence, but I don't want my email shown in public.
Of course I will put contact details into my presentation.

[2016-06-15 13:50] ChrisBr commented on #1040
@differentreality I agree with @markuskramerIgitt, if you don't want your email in public displayed doesn't mean that you don't want to be recorded. On almost all social media platforms (linkedin, xing etc) the user can choose if he wants that the email is public and/or that it's possible to be contacted! That's nothing we should decide as organizers (or at least make speakers aware that we publis

[2016-06-15 15:29] rishabhs95 commented on #1036
I am closing this issue as this Hakiri issue has been solved.

[2016-06-15 15:29] #1036 closed

[2016-06-17 04:20] rishabhs95 commented on #1028
I am closing this issue as this has been solved in PR #1029 .

[2016-06-17 04:20] #1028 closed

[2016-06-20 13:01] #733 closed

[2016-06-20 17:32] arun1595 commented on #974
I have added code to fallback to venue picture in case of the absence of commercial.
This is how the splach page looks when there's a venue commercial.

![conf-commercial](https://cloud.githubusercontent.com/assets/7039523/16204017/93a49d80-373a-11e6-8cdb-98c6d25c816d.png)

Case when there's not venue commercial, but a venue picture

![venue-picture](https://cloud.githubusercontent.com/assets/7039

[2016-06-20 17:39] differentreality opened #1045 "[production][conference#schedule] NoMethodError: undefined method `name' for nil:NilClass"
conference#schedule threw this 1 times
<pre>
NoMethodError: undefined method `name&#39; for nil:NilClass
</pre>
[https://events.opensuse.org/conference/oSC16/schedule.xml](https://events.opensuse.org/conference/oSC16/schedule.xml)"

[See this exception on Errbit](https://errbit-opensuse.herokuapp.com/apps/5620ca99dc71fa00b1000002/problems/5768006fbb38250006000000)

[2016-06-20 18:28] differentreality commented on #974
You should add those photos in your PR

[2016-06-20 18:29] differentreality commented on #974
Would be nice to implement the code for venue#show in the admin panel

[2016-06-20 18:49] sleep-walker opened #1049 "provide way to export event data"
It would be useful to download event schedule and other information in form understandable by mobile applications like [Giggity](https://play.google.com/store/apps/details?id=net.gaast.giggity) or some XML/JSON.

[2016-06-20 19:01] differentreality commented on #1049
@sleep-walker actually would our recent XML export be enough?
eg. https://events.opensuse.org/conference/oSC16/schedule.xml

[2016-06-20 19:26] sleep-walker commented on #1049
It seems to be perfect!

[2016-06-20 19:50] sleep-walker commented on #1049
OK, so we now need to inform users that there is such magic URL (I couldn't find it anywhere).

I think there should be on schedule page symbol of Android (it is easy to recognize). When user clicks, it would open some sort of popup window telling:
* there is android application Giggity which can show conference schedule (with QR code containing URL leading to [F-Droid repository](https://f-droid.

[2016-06-21 05:18] arun1595 commented on #974
Sure. I can try that. But I think a separate PR would be appropriate. What do you think?

[2016-06-21 07:23] differentreality commented on #974
As you wish.

[2016-06-25 10:05] danimo opened #1053 "Add support for recordings"
A event / track / program (granularity TBD) should have the information which license the recordings should carry.

Additionally, per event the speaker should have the option to opt-out of recording/streaming.

The organizers and recording toolchains can make use of that.

[2016-06-25 13:33] differentreality opened #1054 "Register with Ichain: redirect to login page"
https://github.com/openSUSE/osem/blob/master/app/controllers/conference_registrations_controller.rb#L17

It is not helpful if it takes you back to root_path. It should take you in login page.

[2016-06-25 14:53] hennevogel opened #1055 "Mass import of Commercials"
Often the Event organizers are the one collecting/recording commercials and sharing them on their channels (youtube, whatnot). So it's the organizers that need to put up commercials. So we should have a mass importer that eats a text field with

[code]

and then adds commercials with that URL to Events

[2016-06-26 10:20] #1013 closed

[2016-06-27 10:46] muelli opened #1056 "can't click github link due to language changer"
It's very hard me for to hit the "github" link.
![nogithubutton](https://cloud.githubusercontent.com/assets/322807/16377191/e4ced804-3c64-11e6-8a6a-58af79a9eaac.png)

See the screenshot.

[2016-06-27 10:46] muelli opened #1057 "open the schedule for the current day by default"
I'd appreciate it if I could open the schedule and see the current day, rather than the first day of the conference.

[2016-06-27 16:10] differentreality commented on #1056
Yeah, we should probably show the language selector box above the footer.
Not sure how to do this with CSS, in a responsive way.

[2016-06-27 17:09] differentreality opened #1060 "Datatable search does not work with other language than English"
During oSC16 Chris Branston discovered that the reason why the search was not working sometimes is due to the language selector showing another language, other than English.

Switching the language to English and refreshing the page did the trick.

However we should find a way to solve this with datatables.

[2016-06-27 18:50] Chaz6 opened #1061 "Provide a way to manually confirm new users"
When some mail hosts block messages at smtp-time (Hotmail, Google, etc), it should be possible for an admin to manually confirm a new user's email address.

[2016-06-28 13:01] Ana06 opened #1062 "Adding Add buttons at the top"
Currently the _Add_  button in the rooms page in the backend is at the end:

![image](https://cloud.githubusercontent.com/assets/16052290/16415091/bfb3041e-3d3b-11e6-9d2a-371e03eff80b.png)

So if there are many rooms to have to scroll a lot to create a new room. We should also add a new button at the top:

![good_solution](https://cloud.githubusercontent.com/assets/16052290/16415584/4d691008-3d3e-

[2016-06-28 16:00] differentreality commented on #938
Invalid token issue does not only occur for commercials, but any form really.

[2016-06-28 16:02] #760 closed

[2016-06-28 16:24] #966 closed

[2016-06-29 08:05] differentreality commented on #1060
This seems to be related to Transifex. Waiting on comments from their side.

[2016-06-29 09:16] shyukri opened #1064 "Use computer's local timezone when creating conference"
Currently we use American Samoa timezone by default (GMT -11)

[2016-06-29 10:41] shyukri commented on #1064
Tracked in PR#1065

[2016-06-29 11:41] shyukri commented on #1062
What should be the reasonable limit to display 2 btns? 5 or more items?

[2016-06-29 12:02] differentreality commented on #1062
What do you mean?

[2016-06-30 15:32] #974 closed

[2016-07-02 12:43] Ana06 opened #1077 "Different colors when creating new tracks"
When creating a track the default color for it is always black:

![image](https://cloud.githubusercontent.com/assets/16052290/16540381/3e32541e-4063-11e6-8cb6-d86705840200.png)

It would be nice if it suggest you a different colour for every track, so you don't have to change it if you don't care about the color.

[2016-07-02 12:57] #1064 closed

[2016-07-02 19:08] Ana06 opened #1078 "Changing the text color of event types and difficulty levels"
Changing the text color of event types and difficulty levels taking the background color into account. Similar to what it is done with tracks. See issue #1033.

[2016-07-03 16:46] differentreality opened #1081 "Add more info on user profile"
Something that came up during Hackweek.
Eg. user's twitter handle.

[2016-07-04 16:07] Kawohl opened #1083 "Feature Request: For Lodging & Food & Beverages"
For Lodging I would like to be able to also add bars cafes and restaurants near the venue so people can easily find a place to hang out.

[2016-07-05 18:22] differentreality opened #1086 "conference_registrations#new prefilled times"
I don't like that we prefill arrival and departute date for people, specially when we don't give them the option to mark them as nil and not share that information with us.

But still I would like people to complete their actual data there, not just hit register with the prefilled information.

[2016-07-06 08:04] ChrisBr opened #1087 "Update to Rails 5"
[Rails 5 is out](http://weblog.rubyonrails.org/2016/7/2/this-week-in-rails-rails-5-is-out-with-new-guides-and-more/) so we should consider to update Rails in the next future.

[2016-07-06 10:06] shlok007 commented on #1054
This seems pretty simple. I'll start contributing by picking this up.

[2016-07-07 06:47] altsalt opened #1090 "Add Markdown for User Entered Text Formatting"
Sooo, why can't we format our biographies?

How about being able to add some flavor to talk descriptions?

Sure, this is a new feature, but one that is pretty required.

Tips on where to implement if one of the core team would like someone else to give a shot?

[2016-07-07 06:49] altsalt commented on #1081
I would at a minimum like to see these included:
Short Bio
Personal Site
Twitter

[2016-07-07 09:48] danimo opened #1091 "Creating multiple choice questions is broken"
When creating a new question of type 'multiple choice', providing some answers, adding the question will be denied:

[code]

Somehow the answers created in the dialog don't make it to the question model.

[2016-07-07 10:32] differentreality opened #1092 "proposal#new with empty abstract is not possible"
Even if the abstract is set to 0 words minimum, the user still cannot submit the form because we have marked the field as required (the box telling the user to fill it out appears at all times).

[2016-07-08 05:19] kirantpatil commented on #1083
:+1:

[2016-07-08 06:13] arun1595 commented on #1092
I'll take this :)

[2016-07-08 17:31] shlok007 commented on #1062
Hi! Is this issue still open? If that's an issue, I suggest instead of adding two buttons, we could just have a single button at the top.

[2016-07-08 21:07] shlok007 commented on #1061
I see a closed PR. If someone isn't working already. I would like to work on it :).

[2016-07-08 21:29] Ana06 commented on #1062
I think that it is not open, because @shyukri implemented it in #1066. :no_mouth:

[2016-07-09 13:38] stephlocke opened #1095 "Heroku config variables not matching documented values in install.md"
I'm trying to perform a Heroku deployment. I'm encountering some difficulties where the config values requested by Heroku don't match those in install.md

All the values in the Heroku deployment are mandatory, so maybe the missing ones aren't considered important for deployment? Perhaps they should be non-mandatory in the Heroku deployment?

The `OSEM_DEVISE_SECRET_KEY` and `DATABASE_URL` variable

[2016-07-09 18:26] shlok007 commented on #1061
As @nishanthvijayan pointed out, @hennevogel  Should we allow the admin to cancel confirmation of a user as well?

[2016-07-09 18:29] shlok007 commented on #1062
I saw a closed PR. Sorry :).

[2016-07-10 00:48] arun1595 opened #1096 "Navbar does not collapse when clicked outside the navbar"
After clicking on the `.navbar-toggle` button, the navbar expands showing the links. When a user clicks oustide the navbar, the button's background changes but the navbar doesn't collapse.

[Watch here](https://vid.me/VLqZ)

[2016-07-10 12:49] Chaz6 commented on #1061
@shlok007 I think so yes, and there should also be an audit trail (i.e. which admin did it).

[2016-07-11 10:40] #954 closed

[2016-07-11 13:06] differentreality opened #1098 "Layout of sign in page for with ICHAIN"
When ICHAIN is enabled the view for in `/users/ichain_sign_in` is not styled properly.

![screenshot-osem - chromium](https://cloud.githubusercontent.com/assets/4322737/16731539/5d689404-4781-11e6-831b-ab3849d8c17c.png)

[2016-07-11 13:10] #1077 closed

[2016-07-11 13:11] ChrisBr commented on #1098
IIRC, this is only the testmode! In production you will redirected to the openSUSE page...

[2016-07-11 13:16] differentreality commented on #1098
https://events.opensuse.org/users/ichain_sign_in

[2016-07-11 13:19] ChrisBr commented on #1098
Hm, ok!

[2016-07-11 13:25] Ana06 opened #1099 "Introduce normalize attributes gem"
Introduce [normalize attributes gem](https://github.com/fnando/normalize_attributes) for capitalize colors in tracks, event types and difficulty levels instead of what is doing now:

`before_validation :capitalize_color`

[2016-07-11 14:31] #1078 closed

[2016-07-12 13:30] hennevogel commented on #1095
Thanks for the report @stephlocke, sorry for the late answer.

Indeed most of them are not required for the deployment. 'DATABASE_URL' is strictly speaking nothing OSEM specific and OSEM_DEVISE_SECRET_KEY isn't needed anymore. I'll fix this soonish.

[2016-07-12 13:30] hennevogel commented on #1095
Let us know if you need anything else :-)

[2016-07-12 14:28] #1095 closed

[2016-07-14 10:12] hennevogel commented on #1099
We have exactly one use case for this in our app. No need to pull in a gem for this.

[2016-07-14 10:12] #1099 closed

[2016-07-14 10:20] hennevogel commented on #1062
I don't like it. Too many buttons are way more confusing than learning to press END on your keyboard.

[2016-07-14 10:20] #1062 closed

[2016-07-15 07:21] kirantpatil commented on #1087
[Turbolinks 5](https://github.com/turbolinks/turbolinks) will help OSEM a true hybrid application.

[2016-07-20 21:04] meonkeys commented on #481
We have 50 minute talk slots at SeaGL. We just crammed `50` into the database. :frog:

[2016-07-21 10:45] ChrisBr commented on #481
@meonkeys be careful with that! The event length should be a multiple of 15, otherwise schedule will look messed up ...

[2016-07-21 18:44] shlok007 commented on #1081
@differentreality I would like to work on this.

[2016-07-21 19:27] shlok007 commented on #1081
What info do you think could be asked ?

Something like:
- [ ] **Twitter handle**
- [ ] **Personal Site**
- [ ] **LinkedIn** and **github**?
- [ ] **Gender**
- [ ] **Designation**
- [ ] **Company**/**Organizations**
- [ ] **Short Bio**? ( We already have a biography field )
- [ ] If not the address we could atleast ask the **country** they belong to
- [ ] **Technology they work on**

[2016-07-21 19:40] meonkeys commented on #481
Uff da! Good to know, thank you.

Cc: @shanet, @altsalt, @eximious

[2016-07-22 07:30] differentreality commented on #1061
The audit trail is beyond the scope of this issue at this time, as we are (re) implementing a full changelog. @nishanthvijayan we will merge this change soon, so please make sure we add this in #1019

[2016-07-22 07:33] differentreality commented on #1061
@shlok007 it would make sense to adapt the view in users#show and users#edit too.

[2016-07-22 10:00] jospoortvliet commented on #481
It continues to be a pita, I think. We do want 5 min lightning talks and yes, pre-scheduled of course -otherwise you have to schedule 10 min for each, as it costs 5 min to twiddle with the projector for each presenter...

A single 1 hour lightning track slot works but the scheduling tool can't deal with that very nicely: all the 5 min slots show up and pollute the list, making it very hard to sche

[2016-07-22 12:00] hennevogel commented on #1081
Please do not collect too much data from people. This is enough:

* Link to Personal Page/Blog
* Social Media (Diaspora, GNU Social, Twitter, Google+, LinkedIn)
* Social Code (Gitlab, [Gna!](http://gna.org/), [Savannah](http://savannah.gnu.org/), Github)

[2016-07-22 17:38] rishabhs95 opened #1105 "Online payment feature - integrate active merchant"
So as it turns out that integrating `active_merchant` to our codebase has some issues with itself.

Using `active_merchant`, we provide flexibility for organiser to choose a gateway of their choice. As we are not storing any type of Credit Card information to our database, it makes our application PCI compliant, but as the User’s credit card information will be transferred from our servers, it can

[2016-07-22 19:26] lagartoflojo commented on #1105
There are different levels of PCI compliance. As soon as the credit card data even *passes* through our servers (let alone store it), we have to be compliant in the strictest and most expensive level (SAQ D).

There's a nice [summary here](https://blog.spreedly.com/2014/12/18/pci-dss-v3-0-for-online-merchants) for whoever is interested.

The easiest way to be PCI-compliant in an easy and cheap lev

[2016-07-24 21:12] Ana06 commented on #1033
This can be closed. :smile_cat:

[2016-07-24 21:14] Ana06 commented on #973
This issue can be closed :smile:

[2016-07-24 21:14] Ana06 commented on #955
This issue can be closed :cactus:

[2016-07-24 21:16] Ana06 commented on #957
I think that this issue can be closed. :smiley:

[2016-07-25 09:34] #1033 closed

[2016-07-25 09:34] #973 closed

[2016-07-25 09:34] #955 closed

[2016-07-25 09:34] #957 closed

[2016-07-25 09:47] #1057 closed

[2016-07-25 10:57] hennevogel commented on #1105
The latter please: Stripe. Are you keeping in mind that OSEM is an application and not a service? We (in the sense of OSEM) don't have servers.

[2016-07-25 11:03] lagartoflojo commented on #1105
Right, which means that the PCI-compliance is the organizer's responsibility. But we have the choice of making it hard or easy for them :)

[2016-07-25 11:36] hennevogel commented on #1105
Is that really a choice? I don't think so... :-)

[2016-07-25 17:16] rishabhs95 commented on #1105
Okay, then I am replacing `active-merchant` with Stripe iFrame for payments.

[2016-07-26 09:32] #1105 closed

[2016-07-26 19:33] jmks commented on #1054
I've tried an obvious thing that I can manually verify, but testing seems difficult.

The `OSEM_ICHAIN_ENABLED` env flag has lots of side-effects. The test suite seems seems to focus on devise's database_authenticatable.

Since Rails is loaded once per test suite, the suite can only run with `OSEM_ICHAIN_ENABLED` as `'true'` or not. I can get individual tests to work with some spec_helper guards,

[2016-07-27 10:17] differentreality commented on #581
What about will-paginate gem?

[2016-07-27 10:39] nishanthvijayan commented on #581
Will-paginate only handles pagination.Sorting and seraching will have to be implemented seperately if they are needed

[2016-07-27 11:50] hennevogel commented on #581
We already have datatables which can do [server-side processing](https://datatables.net/manual/server-side)

[2016-07-28 13:11] hennevogel opened #1109 "Get an idea what we can learn from attendize"
https://github.com/attendize/attendize

[2016-07-29 13:44] jospoortvliet commented on #1091
Can confirm this in Version 1.0.

[2016-08-04 10:14] Ana06 opened #1120 "Pluralize conference and proposal controllers"
The controller name should be in plural even for singular routes. For conference both `conference_controller.rb` and `admin/conference_controller.rb` should be changed.

http://alexander-clark.com/blog/rails-conventions-singular-or-plural
http://edgeguides.rubyonrails.org/routing.html#singular-resources

[2016-08-04 23:01] differentreality opened #1121 "Linkable events in conference/events"
When showing all of the unscheduled events in conference/events, some of the events are clickable and some others have the word `more` at the end, and only the word more links to proposal#show

There should be 1 common way for this. I would personally prefer the clickable box, and the word more can stay where it applies.

[2016-08-05 00:06] differentreality commented on #1091
Questions will be totally replaced by Surveys #1100
We are working on it... Thanks for the patience :)

[2016-08-05 00:12] differentreality commented on #1049
I think that instructions on how to use other applications are not what we should be doing (I think OSEM should have its own android app).

What sounds interesting to me is providing info about the XML in conference#schedule page.

We can have a QR code linking to the schedule itself, and a QR code linking to the XML format of the schedule.
That way we make the XML export available in public, and

[2016-08-05 00:16] differentreality commented on #1053
I think that's related to the conference on its whole, ie all recordings of X conference will be under Y license, and the license will be the same for all talks/tracks. Doesn't that make sense?

[2016-08-05 04:50] danimo commented on #1053
@differentreality Pragmatically I tend to agree, if it weren't for some odd folks who make a different license a condition for them speaking. Other examples may be performances with music that are not compatible with the primary license of the conference.. That's why FRAB (and the XML we generated) has it as a per-track item. I don't say that this is something you should cater for, just that this

[2016-08-05 10:48] #702 closed

[2016-08-05 17:24] meonkeys opened #1122 "Allow commercials from !YouTube"
@bkuhn writes:

  https://sfconservancy.org/videos/proposals/proposal-video_bkuhn_open-source-not-sustainable.mkv

[2016-08-05 23:30] Ana06 commented on #1090
I can do it. I think it can be useful in event descriptions. I am not sure about biographies.
@hennevogel @ChrisBr @differentreality do we want to do that?

[2016-08-07 11:12] hennevogel commented on #1090
Makes sense yes

[2016-08-09 08:28] differentreality commented on #701
@Ana06 maybe you are also interested in this issue? :)

[2016-08-09 09:39] Ana06 commented on #701
@differentreality I think https://github.com/openSUSE/osem/pull/1127 fixes this issue, as now only markdown is supported.

[2016-08-09 15:23] AnithaPal commented on #641
@hennevogel  I am thinking of working on feature 2(export events, comments). Are you still planning to do this feature? if you are? how do you envision this feature working?

[2016-08-09 22:18] arun1595 commented on #1092
@differentreality I misinterpreted your issue description. So, what should be the minimum of characters for the abstract to be valid?

[2016-08-10 14:54] nishanthvijayan opened #1131 "Revision Observer"

[2016-08-11 08:38] differentreality opened #1133 "ICHAIN fixes"
I know this is minor, but since we have this functionality, we might as well make it work nicely, as it should. Plus I think it makes for a good junior job.

With ICHAIN enabled:

* In users/ichain_sign_in if you leave the fields empty, or if you supply an email that exists, things break, and we can't even go back to the sign_in page.
There should be a simple error handling with proper messages.

[2016-08-11 11:29] hennevogel opened #1135 "view comments in event list"
You can't see which events have comments in the event list and they are necessary for scheduling.

[2016-08-11 11:29] hennevogel commented on #641
@AnithaPal There is already an "export" for registrations you can mimic that. It's basically a view in the export format. So all registrations in

* a comma separated list is in [index.csv.haml](https://github.com/openSUSE/osem/blob/master/app/views/admin/registrations/index.csv.haml)
* a PDF is in [index.pdf.prawn](https://github.com/openSUSE/osem/blob/master/app/views/admin/registrations/index.p

[2016-08-11 11:30] hennevogel commented on #641
Indication of comments in Events#index is now tracked in #1135

[2016-08-11 23:36] charliequinn opened #1140 "Unreachable code in ConferenceRegistrationsController#new"
Whilst writing specs in pull request #1138 I noticed that there are a couple of instances of unreachable code in ConferenceRegistrationsController new method.

**First instance** (check if current user and is registered) - https://github.com/openSUSE/osem/blob/master/app/controllers/conference_registrations_controller.rb#L22-L24

cannot be reached due to line 12 @conference.user_registered?(curren

[2016-08-12 09:55] #1090 closed

[2016-08-12 09:55] #701 closed

[2016-08-12 11:35] charliequinn commented on #1086
Reason I added specs on #1138 is that I was interested in picking this one up :smile:

Anyway, I've put together a mockup form that the user will see on initial entry:

![date-form](https://cloud.githubusercontent.com/assets/140386/17620919/b7b9a212-6087-11e6-81ec-2f75982440cb.PNG)

I've also drafted a few acceptance criteria based on my assumptions about the issue. Can you have a look and let me

[2016-08-15 12:41] differentreality opened #1144 "Improve authorization for versions"
Right now only organizers have access to the index of versions, while users with cfp role are able to execute revert action.

https://github.com/ryanb/cancan/wiki/Non-RESTful-Controllers

[2016-08-15 12:43] differentreality opened #1145 "Provision for nil value in markdown(text)"
https://github.com/openSUSE/osem/blob/master/app/helpers/application_helper.rb#L263
This line breaks when text is nil

[2016-08-15 12:59] differentreality commented on #1144
We also need to make sure that users with cfp role only access Commercials of Events and Venue, and not of Conference.

[2016-08-15 13:02] differentreality opened #1146 "See commercials in admin/events#show"
While it's possible to see the available commercials in proposals#show, it is not possible to see them from the admin panel.

[2016-08-15 13:42] differentreality opened #1147 "Remove versions for EventAttachment"
Even though the model EventAttachment no longer exists, there can be version records about it.
Shouldn't we remove them with a rake task?  @hennevogel

[2016-08-15 13:50] hennevogel commented on #1147
sure

[2016-08-16 07:47] #1145 closed

[2016-08-16 10:44] #1061 closed

[2016-08-16 10:49] #1098 closed

[2016-08-16 12:04] redasus commented on #1147
What exactly are version records ?

[2016-08-16 12:08] differentreality commented on #1147
The records in the `versions` table in the DB.

[2016-08-16 12:14] redasus commented on #1147
what's the item_type for an event_attachment ?
Shouldn't these be in an enum ?

[2016-08-16 12:41] differentreality commented on #1147
@redasus please point to a line of code or explain where you see what, so that we can better understand and help

[2016-08-16 22:45] ZEROF opened #1153 "Feature Request - print ticket and ..!"
Hi,

I don't know if some payment system can be used with OSEM; but it will be nice (for now) if user can print ticket and that ticket can have few information in conf logo/conf name/ticket type/date/user name/ and qr code (ticket can be scanned) and in the end admin can set date when user(s) can download ticket(s), this option is good if user will send bank transfer or something like that, that g

[2016-08-17 06:20] ChrisBr opened #1154 "Remove start_time attribute from events table"
start time is now in event_schedules table.

@Ana06 ^^

[2016-08-17 06:25] ChrisBr commented on #1140
I would confirm first instance, @differentreality can you also please have a look!

[2016-08-17 06:27] ChrisBr commented on #1140
Second instance: I would prefer to have it in the ability.rb, however, you're right that the error message is misleading :(
@differentreality what do you think?

[2016-08-17 06:32] differentreality commented on #1140
The issue was also discussed in https://github.com/openSUSE/osem/issues/1054 but there hasn't been a proper solution.
I can confirm both instances mentioned. They definitely should be fixed.

ability.rb needs to represent all authorization rules we have. One of them is that a user which is not signed_in cannot access the new action of Registration.
It is the controller that needs a bit of refactor

[2016-08-17 06:38] ChrisBr commented on #1153
Hi @ZEROF,

we're working on this feature as part of this year Google Summer of Code
https://github.com/openSUSE/mentoring/issues/24

Also see these PR:
https://github.com/openSUSE/osem/pull/1108
https://github.com/openSUSE/osem/pull/1116
https://github.com/openSUSE/osem/pull/1118

which we plan to merge the next few days.

For more information, you should contact @rishabhs95 (our GSoC student) or

[2016-08-17 09:07] Ana06 commented on #1154
Yes, but I think you can't remove it as it is used here: https://github.com/openSUSE/osem/blob/master/lib/tasks/several_schedules.rake#L14

I think that @hennevogel  told me that you remove attributes in the next release after the tasks has been run.

[2016-08-17 09:52] ChrisBr commented on #1154
Ok, fine for me!

[2016-08-17 12:46] hennevogel opened #1155 "Organizer Reports"
The admin interface should have a report section with things like:
- Events that have no commercial
- Missing speakers, people who have not checked in but have a talk
- All Events with a Event.description (things speakers need)

So basically information that helps the organizers doing their thing.

[2016-08-17 12:47] hennevogel opened #1156 "More views on Events"
* All the events in track XY
* All the events in room blah
* All accepted events
* All unaccepted events

etc.

[2016-08-17 12:49] differentreality commented on #1155
https://github.com/openSUSE/osem/pull/1114 introduces some of those things.

[2016-08-17 12:49] hennevogel opened #1157 "Introduce :reviewed to the Event state machine"
It's a state between :new and :confimed that helps the organizers to review Events.

[2016-08-17 12:50] hennevogel opened #1158 "Event ratings"
People should be able to rate Events after they have occurred. Maybe even for different qualities like

* Speaker Quality
* Competence
* Slides

[2016-08-17 12:55] hennevogel commented on #1155
Ah cool. Just cleaning out my notes :-) Shall we close this?

[2016-08-17 13:30] differentreality commented on #1155
No, of course not. Number 2 is not being implemented yet. And perhaps we come up with more ideas. I just wanted to make sure the PR was mentioned in this issue 😊

[2016-08-17 18:03] nishanthvijayan commented on #1154
room_id needs to be removed as well

[2016-08-17 18:06] charliequinn commented on #1140
Yeah in hindsight I agree that keeping the authorization rules together (as opposed to dotted about controllers) is best practice.

I've written up a proposed set of 8 expected outcomes based on the 3 input parameters we currently have:

1. User signed in
1. OSEM_ICHAIN_ENABLED
1. registration period open && registration.new_record? && registration limit not exceeded

can be found here: https://do

[2016-08-17 19:03] Ana06 commented on #1154
Yes, but it has the same problem, it is in the task. We can not remove those attributes until the task is run.

[2016-08-18 05:33] differentreality commented on #1140
Yeap that looks like a plan!

[2016-08-20 22:13] arun1595 commented on #1146
I'll do this.

[2016-08-21 08:57] differentreality commented on #1156
How are you thinking implementing this?
We are already showing a list of events per track in  tracks#show, would that be enough or would we add additional functionality in events#index (or somewhere else)?

And the search box in events#index helps filter events (eg. get accepted events)

We could add some kind of manual filtering (eg. dropdowns/checkboxes for every field we want to filter - like t

[2016-08-22 17:28] sherrimitchell commented on #1135
Henne,

I am going to work on this issue. My understanding of what is needed for the issue is as follows:

- In the Admin Events Index view for a conference, add a Comments Column
- If Comments for an Event exist, display an indication that comments exist ( 'Comments(2) )

[2016-08-23 09:19] hennevogel commented on #1135
sounds like a plan @sherrimitchell :-)

[2016-08-23 11:24] LukasReschke opened #1170 ""More" links in program are all broken"
The links at https://conf.nextcloud.com/conference/NextcloudConference2016/schedule saying "… more" are all broken and go to "Cloud Federation beyond simple file sharing" instead of the right program entry.

This is on 1.0

cc @jospoortvliet

[2016-08-23 11:40] differentreality commented on #1170
Indeed :(

In https://github.com/openSUSE/osem/blob/one/app/views/conference/_all_events.html.erb#L16
The line should read:
 <%= link_to 'more', conference_program_proposal_path(@conference.short_title, event.id) if event.abstract.length > 400 %>

[2016-08-23 14:35] #1170 closed

[2016-08-23 14:45] differentreality opened #1172 "admin/events#show dropdown does not close"
In admin/events#show the dropdowns for difficulty_level and track do not close when clicking elsewhere.

Does anyone else experience that behavior?

I tried in chromium & firefox on my laptop which runs openSUSE Leap. I see the same behavior in https://osem-demo-pr-1114.herokuapp.com/admin/conference/osemdemo/program/events/2

[2016-08-24 14:41] sherrimitchell commented on #1135
@hennevogel I have added the column and link to the page, and when the user clicks the link the show page for the event will display with the comments link at the bottom of the page, which is the default behavior for clicking on an event. Currently, the user must click the comments link to see the add comments form and any comments previously added. I had a couple of additional questions regarding

[2016-08-25 14:59] gustavosobral opened #1173 "Translations"
Hello guys,

I've be doing a hard work for helping the app translation from English to Portuguese (Brazil) using the Transifex platform as specified on TRANSLATION.md. But, I've noticed that there is a lot of useless translations to be done, like hashs `8iDXre3McbqCzbhAnZbkDe/SV2Iw3bNlGP3UdD1DKm8=` and others untranslatable things. Is that normal? How the translation going to be
harnessed from Tra

[2016-08-25 19:42] differentreality commented on #1173
Hey,

indeed there are such strings. What can be done is to add the class `notranslate` on the strings we don't want to be translated, but that requires some work.
Eg. https://github.com/openSUSE/osem/blob/master/app/views/layouts/_user_menu.html.haml#L40

In addition to that, there are other aspects of the string collection that I would like to be improved. Like from which instances the strings a

[2016-08-26 13:21] #698 closed

[2016-08-26 14:54] gustavosobral commented on #1173
Hello @differentreality! Thanks for the quick response. I understood. Indeed, this require some work to do for add the `notranslate` CSS class on these strings.

What improvement on string collection do you want to be done? Can you explain more? I do not quite understand. Is there any plan to use I18n?

[2016-08-28 20:56] 0xAmir opened #1176 "HTML injection vulnerability in the proposal creation page."
An HTML injection vulnerability was discovered in the proposal creation process, the field "Abstract" has no sort of content validation hence when HTML code is inserted there instead of the expected data it will render it on the next page.

PoC:
1. Register an account on your instance running OSEM
2. Go to "My Proposals" and create a new one.
3. Fill in the details up to the "Abstract" field.
4. I

[2016-08-29 10:22] #484 closed

[2016-08-29 10:23] hennevogel commented on #544
Nope

[2016-08-29 10:23] #544 closed

[2016-08-29 10:26] hennevogel commented on #614
Then let's close this :-)

[2016-08-29 10:26] #614 closed

[2016-08-29 10:41] hennevogel opened #1177 "Add Open Graph Meta Data to Event#show"
There should be sensible [open graph](http://ogp.me/) metadata embeeded in the Event#show page. Like
- og:title with the title
- og:image with the conference logo
- og:url with the url
- og:description with the abstrace
- og:site_name with OSEM_NAME

and possibly more.

[2016-08-29 10:43] hennevogel opened #1178 "Add Open Graph Meta Data to Conference#show"
There should be sensible [open graph](http://ogp.me/) metadata embeeded in the Conference#show page. Like
- og:title with the title
- og:image with the conference logo
- og:url with the url
- og:description with the description
- og:site_name with OSEM_NAME

and possibly more.

[2016-08-29 10:44] hennevogel commented on #626
Now tracked in #1177 and #1178

[2016-08-29 10:44] #626 closed

[2016-09-02 12:50] sherrimitchell commented on #1178
Hi Henne. I am going to work on this issue. Sherri

[2016-09-02 12:52] sherrimitchell commented on #1177
Henne, I am working on #1178 and since this issue is so similar, I would like to work it also. -- Sherri

[2016-09-05 02:00] redimido opened #1181 "[Transifex] Publish translation for Spanish (Latin America) (es_419)"
I need a reviewer for language Spanish (Latin America) (es_419)

pls contact me if you need a reviewer.

[2016-09-05 07:18] redimido commented on #428
Basically I had the same issue, but in order to have the icons corrected, I ran:
[code]
restarted nginx, and that did the trick.

Also for the case when osem is under a subsite, I had to catch the images referring to /assets and redirect them to the correct subsite folder name.
Perhaps this can be requested as a feature?

[2016-09-06 01:24] redimido opened #1182 "OSEM pulled last week confirmation email seen as SPAM"
Hi,

My ISP's anti-spam tool is detecting the registration confirmation email as SPAM, with this headers in the email source:
[code]

how can I prevent this from happening?

By the way, we are new to OSEM. Loved the high amount of quality work you guys have put on it, and are looking to help back at least on the translations area.

[2016-09-06 09:11] differentreality commented on #1120
@richiethomas sure, you can go ahead!
If you need any help you can ask here or you can find us on IRC (#osem at Freenode server) :)

[2016-09-06 09:17] differentreality commented on #1181
I have added you as a reviewer. Please review the translations so that we can publish them.

[2016-09-06 12:51] itaditya commented on #1096
I would like to take on this bug , is anyone on this one already . Please tell so that otherwise I can contribute ;)

[2016-09-07 17:00] redimido commented on #1181
Thanks Stella

can you add me also to Spanish translation? I will make both the same, and
then any update to make it more like in Spain can come later. they are not
that different so many people in Mexico use either or them

All the best,
Gabriel

2016-09-06 4:17 GMT-05:00 Stella Rouzi <notifications@github.com>:

--
Gabriel. Who said penguins can't fly?

[2016-09-08 07:28] redimido opened #1183 "[Transifex] Publish translation for Spanish (Latin America) (es_419)"
Hi!

I have updated more translations and reviewed them. could you please publish them?

I want to also request to be reviewer for Spanish language please.

Thanks again!
Gabriel

[2016-09-08 07:31] redimido commented on #1181
Hi!

I have finished the translation to spanish on the Spanish (Latin
America) and also reviewed it.

I also have added a ticket for the publish.

Also please make me reviewer for the Spanish language as we use either
one in Mexico, and want OSEM to show in Spanish no matter which flavor
each user has in their browser.

Thanks again!

Gabriel Orozco

El 16-09-06 a las 04:17 AM, Stella Rouzi escrib

[2016-09-09 13:24] richiethomas commented on #1120
Hi @differentreality, just wanted to touch base on this issue.  I'm making good progress but I noticed that the two controllers mentioned touch a lot of different components in the code so I'll need more time to complete this.

[2016-09-09 13:24] richiethomas commented on #1120
Just giving y'all a heads' up on my progress.

[2016-09-10 03:01] redimido commented on #1183
Hi I went for more strings and now only ~ 200 are missing. can you please publish them? I really want to see my work showing.
our site is [FSL](https://fsl.mx/osem)

[2016-09-10 10:24] a-tze opened #1188 "Wrong timezone information in schedule.xml export"
The <date> element of the <event> elements in the export have an trailing Z indicating UTC while the datetime itself seems to be a local time.

[2016-09-12 06:16] differentreality commented on #1183
Translations published :-)

[2016-09-12 06:16] #1183 closed

[2016-09-12 06:16] #1181 closed

[2016-09-12 06:16] differentreality commented on #1181
#1183

[2016-09-13 13:22] sherrimitchell commented on #1049
@hennevogel I am going to work on this issue. My understanding of what is needed for the issue is:
* Provide a way to expose the schedule.xml export to external users
* Provide info about the schedule.xml file in the conference#schedule page
* Provide a way to link to the schedule
* Provide a way to link to the XML format of the schedule

[2016-09-15 10:08] differentreality opened #1190 "admin/tickets#show"
The paid column shows true even if not all of the tickets are paid (some paid, some not). That's misleading and a problem when it comes to the financial side of the tickets.

If a user purchased 2 tickets in 2 different occasions, and only 1 ticket is paid, an organizer should know how many tickets are paid, and how many are not.

[2016-09-15 17:12] differentreality commented on #1045
https://events.opensuse.org/conference/oSC16/schedule.xml does not show any errors anymore

[2016-09-15 17:12] #1045 closed

[2016-09-15 17:26] differentreality commented on #512
Fixed in https://github.com/openSUSE/osem/pull/1094

[2016-09-15 17:26] #512 closed

[2016-09-15 17:28] differentreality commented on #578
Moved in https://github.com/openSUSE/osem/issues/1133

[2016-09-15 17:28] #578 closed

[2016-09-15 22:28] redimido opened #1191 "[Transifex] Publish translation for Spanish (Latin America) (es_419)"
I saw the ticket #1183 closed with the Translations published.

however on our site, we can choose German, French and others, but when we choose Spanish (Español) or Spanish Latin America, strings remain in English.

It should not be the key, since the translaction selector is there and works for other languages.
what can be done to fix this?

Our site:
[FSL 2016](https://fsl.mx/osem/conference/FS

[2016-09-15 22:39] redimido opened #1192 "Add meta tags for Facebook and other sites"
Hi, when trying to share our OSEM setup on Facebook, one of our followers noted that Facebook did not allow him to reference us cleanly.

when done so in Facebook, it adds:

I looked for it, and found this Facebook URL:
[https://developers.facebook.com/docs/sharing/webmasters](https://developers.facebook.com
/docs/sharing/webmasters)

[2016-09-16 05:52] differentreality commented on #1191
@redimido can you please show me a screenshot of the content that remains in English?

Both languages on your website show changes but not both languages have the same translations.

[2016-09-16 05:58] differentreality commented on #1191
@redimido in Spanish Latin America you have the most reviewed strings (please remember only reviewed strings go online). I can copy the translations of Spanish Latin America to Spanish, if you want to. (It will make all Spanish translations disappear and both languages will be showing the same thing).

[2016-09-16 09:28] redimido commented on #1191
Hi

Yes please. Basically it is what I did, but review is done by hand.

Differences between both Spanish are in how we can something, and that
stikl with few words.

Somehow Spanish started showing today. There are still a lot of phrases
showing in English and I do not know if adding them manually to transifex
will do the trick...

Also we request a fee of about 30usd to attend.. I did not find w

[2016-09-16 11:19] differentreality commented on #1191
Copy is done, but I think you still need to review the strings for Spanish. Other option is to delete Spanish all together, and only keep Spanish Latin America.

For any other issues please open new issues and let's keep this only for the Spanish translation(s).

[2016-09-17 03:54] redimido opened #1194 "OSEM our conference is not free. it has a pretty small fee, and we need support for it"
Hi,
We request a fee of about 30usd to attend that help us to pay for the venue rooms.

I did not find where I can fix that.

The introductory text for registering says "going to the conference is free of charge", but we do not have a company behind us and we need some help to pay for venue costs.

can this be added?

[2016-09-17 03:58] redimido opened #1195 "OSEM on Android: graphs continuously growing when I scroll"
when watching the Admin panel from Android, everything looks fine.. just the graphs are put below the viewable area. not a issue in reality.

however when I try to go further down the graphs (registration, subimissions over time), my browser keeps becomes very slow and suddenly the graphs look bigger. I have not reached the buttons I was looking for, so I try again, and the same happens. I closed

[2016-09-17 22:19] richiethomas commented on #1120
Hi @differentreality I noticed this hasn't been assigned to me yet.  Is that something I can do, or does it need to be done by an admin?

Also, I have a pull request for this issue but the PR triggered a broken build.  Looks like the cause is due to an error installing PhantomJS in the build environment, so I'm not convinced that the breakage is related to my commits.  Let me know, thanks!

[2016-09-18 05:10] richiethomas opened #1197 "Admin conferences program events#show page- always shows a red X indicating commercial is missing"
This is caused by a mis-named "event.progress_status['commercial']" parameter being passed to the loop.  It should be "event.progress_status['commercials']".

I've already pushed a fix; just capturing the issue here for visibility.

[2016-09-18 11:46] differentreality commented on #1197
Good that you opened an issue about it, thanks, good catch! It would be awesome if you could open a separate PR fixing just this issue. Let us know here, or on IRC, if you have trouble doing that.

[2016-09-18 11:50] differentreality commented on #1120
@richiethomas it is interesting that I can't assign you right now either. Not sure why. Either way that should not stop you, we have seen your PR and we know you are working on the issue. I will try the assignment later nonetheless.

As I mentioned on the PR, this particular failure on travis is indeed not a result from your PR. Sometimes that happens, and we need to restart travis. Thanks for the

[2016-09-18 15:42] richiethomas commented on #1197
Sure thing.  BTW I noticed that the events/show.html.haml page does not have test coverage, which is why this issue wasn't fixed.  I am writing a view spec for that page now, if that's OK.

[2016-09-18 16:14] richiethomas commented on #1197
Also, I noticed that the view spec for events/index.html.haml only checks for the presence of the column header labels, not for specific values for each event.  Are those values being checked in a feature spec somewhere, and if so, should I follow the same pattern with the events/show view spec?

[2016-09-18 18:01] differentreality commented on #1197
Actually, we don't really want to introduce any more view specs.

[2016-09-19 13:30] differentreality commented on #722
Fixed in https://github.com/openSUSE/osem/pull/1094

[2016-09-19 13:30] #722 closed

[2016-09-19 14:39] differentreality commented on #1197
You can open a new Pull Request only with this change at any time - you don't have to wait for your other PR to be merged first. Just make sure the new PR is a branch coming from the master, so that it only contains relevant changes.

[2016-09-19 17:01] richiethomas commented on #1197
Not sure I understand, do you mean push to a local branch with just the relevant commit onto my forked repo and do the PR from that branch?  I'll give that a shot now.

[2016-09-20 03:42] redimido opened #1201 "Please publish Spanish translations"
Hi, I reviewed most of the strings for Spanish. Could you please publish them

Regards,
Gabriel

[2016-09-20 03:45] redimido commented on #1182
I am receiving feedback about this issue. Most of the submitters are finding their emails in the quarantine because this header field.

**One of them commented the score is pretty low, mainly because of this field.**

Please raise the importance so this is fixed sooner

[2016-09-20 03:46] redimido commented on #1146
I do not know how the commercials show. I hace tried to see the ones I created for the event but nothing shows when I am not logged and when I log, commercials are not shown either.

where are the commercials supposed to show? should there be a carrousel or some rotating video embebbed?

thanks
Gabriel

[2016-09-20 03:50] redimido opened #1202 "Translation: Not all strings are there in transifex"
I have noted when loggin in, that many strings are still in english. I also noted these are not there in the English base.

Especially, almost no string from the Admin dashboard have been added to the base english strings.

I tried to do live translation but that does not work with me, I believe it needs an admin user to be updated.

Can you please create an empty conference and then use that one

[2016-09-20 04:00] differentreality commented on #1201
Done

[2016-09-20 04:00] #1201 closed

[2016-09-20 04:10] differentreality commented on #1146
Check this out
http://demo.osem.io/conference/osemdemo/program/proposal/14/

Create a proposal -> Edit the proposal -> Go to Commercials Tab

It mentions there:

You can add commercials for your proposal. These commercials will be displayed on the public proposal page. If you don't add a commercial, the conference commercial will be displayed!

If you have further problems, please find us on IRC o

[2016-09-20 04:11] differentreality commented on #1191
Translations are published, so I am going to close this.

[2016-09-20 04:11] #1191 closed

[2016-09-20 04:16] redimido commented on #1191
Thanks!

El 19 sept. 2016 11:11 p. m., "Stella Rouzi" <notifications@github.com>
escribió:

[2016-09-20 04:17] differentreality commented on #579
On tablet the charts (line and doughnut) grow  every time you scroll (up or down).
Basically it is impossible to see the bottom of the dashboard screen (bot admin/conferences#index and admin/conference#show) for more than a couple of seconds.

[2016-09-20 10:31] shlok007 commented on #1157
I am sorry, I am finding it hard to understand the issue.
Currently, this is the event state machine:
![event_state](https://cloud.githubusercontent.com/assets/14155445/18665877/32f8af1c-7ef7-11e6-8c73-b1d39bd5627d.png)

For what I understand the state `unconfirmed` might be same as the new state `reviewed` which is being proposed here.

[2016-09-22 14:33] shlok007 commented on #1158
There isn't an `event#show` page yet. The details of an event can be found in `proposals#show`. Can the rating be implemented on the same page?
Is something like this okay?
![rate_osem](https://cloud.githubusercontent.com/assets/14155445/18751774/3f7788c2-80ae-11e6-94bb-8dbc8604e673.png)

[2016-09-24 11:30] differentreality opened #1205 "function intersecting_events no longer returns a collect of events"
https://github.com/openSUSE/osem/blame/master/app/models/event_schedule.rb#L28

Returns event_schedules instead of events

[2016-09-24 11:42] differentreality opened #1206 "Email templates should load subject"
When we load the template for emails, only the body gets filled. It would be nice if the subject was also filled.

[2016-09-26 08:12] AEtherC0r3 commented on #1121
I tried to reproduce this but failed
Is it still relevant?

[2016-09-26 09:20] #1197 closed

[2016-09-28 20:40] eximious commented on #105
Heartily agree! I'd love to be able to send emails to confirmed speakers as a group to remind them to promote the event, to send out logistic information as we get close to the current event and then a year later to invite them to submit a talk to the current year's event.

Perhaps a "choose the list of people to email" page with a few options; confirmed, not confirmed, etc. and then a way to choo

[2016-09-29 13:08] differentreality opened #1208 "proposal#new and proposal#edit do not show description of event_type on load"

[2016-09-30 21:30] Ana06 opened #1209 "Fix schedule creation when there are no room"
If there are not rooms you can create an schedule and then you see that:

![screenshot_20160926_135117](https://cloud.githubusercontent.com/assets/16052290/19007419/41f65174-8765-11e6-9d49-48fd27263522.png)

We should render something like that in the schedules page and not allow to create an schedule if there are no rooms, as this is quite confusing.

Also, the link to `Create rooms` doesn't work

[2016-10-02 20:08] richiethomas commented on #1190
@differentreality I can take this.  So should we replace the 'Paid' column with a column showing how many tickets out of the total quantity are paid?  This would imply that the remainder are unpaid.

Alternately, we could make each scenario (paid vs unpaid) explicit, and show each number.

[2016-10-03 20:28] #1120 closed

[2016-10-06 16:02] alexdor opened #1211 "Add db seed"
Include a db seed in order to minimize testing time.

[2016-10-10 00:39] richiethomas commented on #1190
@differentreality what's your opinion on my proposed implementation above?  Related question- would you prefer to see a total quantity of paid and unpaid tickets, or a single column with % paid / unpaid?  Let me know and I'll start work on the issue.

[2016-10-10 15:00] alexdor opened #1213 "Replace vagrant with docker"
Docker is overall lighter than vagrant. Its benefits include, but are not limited to :
- Better resource management
- Smaller images
- Fewer and lighter dependencies
- Less bandwidth required per image download

[2016-10-20 07:46] Ana06 commented on #1205
Why do we want to change that and why is it a bug? We could change the name of the method and the comment to make clear that it returns `event_schedules`.

[2016-10-21 16:00] alexdor opened #1216 "Improve css and js load time"
Style-sheets and scripts need more than 9s to load in development. We should probably concatenate and minify all of them.

[2016-10-23 13:12] differentreality commented on #1194
We already support tickets, which can be introduced from the admin panel if you navigate to 'Tickets' from the left menu. You can also accept payments online, after our most recent changes during GSoC.

If your conference has tickets, this message won't appear.

[2016-10-23 13:16] differentreality commented on #1121
Fixed in #1132

[2016-10-23 13:16] #1121 closed

[2016-10-24 08:43] hennevogel commented on #1216
Why would you minify something in development?

[2016-10-24 08:45] #1216 closed

[2016-10-24 08:46] alexdor commented on #1216
Cause you don't want to wait 9 seconds every to review your changes?

[2016-10-25 06:02] AEtherC0r3 commented on #1216
It will also provide consistency between development and production, which is always nice to have

[2016-10-26 15:08] mmarkus1 opened #1217 "Obligatory Questions?"
Will it be possible (in future versions) to choose obligatory or non-oblitatory for a question, so that the user must fill out the field or leave it empty to register for the event?

[2016-10-30 03:49] differentreality commented on #1213
@alexdor @lagartoflojo can help you with docker

[2016-10-30 16:25] lagartoflojo commented on #1213
Hi @alexdor, have you had a look at https://github.com/openSUSE/osem/pull/933? Is something like that what you're proposing?

[2016-10-30 16:27] lagartoflojo commented on #1213
While that PR was closed, we could re-open the discussion about either keeping Vagrant or moving development to Docker/docker-compose.

[2016-10-30 20:52] alexdor commented on #1213
Hi @lagartoflojo, my proposal is similar but not the same. For example, I would move the DB to separate container cause it's closer to docker's philosophy that way. Yeah we should reopen the discussion, should we do it before creating a pull request?

[2016-11-07 07:20] lagartoflojo commented on #1213
I agree with respect to the DB. Ideally, we would run mysql/mariadb even in dev machines, to be as close to a production env as possible.

But we should definitely agree on the direction we want to take before writing code. There's already a prototype in #933, and I think it's enough to have a fruitful discussion.

Personally, I prefer the Docker / docker-compose solution. I tried using Vagrant lo

[2016-11-07 07:22] lagartoflojo commented on #1211
I always use https://github.com/openSUSE/osem/blob/master/lib/tasks/data_demo.rake
Do we need anything else?

[2016-11-07 09:39] hennevogel commented on #1211
@alexdor please explain what you are looking for...

[2016-11-07 10:38] alexdor commented on #1211
@lagartoflojo  The [data_demo.rake](https://github.com/openSUSE/osem/blob/master/lib/tasks/data_demo.rake) is a start but I think it's incomplete. For example, it should include, a conference with open proposals, some rejected and some accepted proposals, some speakers, a few venues etc.

@hennevogel I was looking for a seed.rb that would populate the database with test data, by running  `rake db:

[2016-11-13 21:54] differentreality commented on #1205
@Ana06 I marked it as a bug because I saw it somewhere being used expecting to return events. I will have to look more to find where - there is a small possibility it was not on master but on an open PR.

[2016-11-15 23:41] differentreality commented on #1211
I would also like an automated way to add some more information, both for my dev env as well as for the review apps. We only create a conference and most of the times we also need some events to exist to actually review a PR. And that's just a single example.
Perhaps it makes sense to keep the data in the rake task, instead of seeds.rb

[2016-11-16 05:44] kormoc opened #1218 "Missing version data leads to 500's"
Somehow we have a commercial created without a version and thus now attempts to edit that event leads to a 500

[code]

[code]

While it's not the best, a missing version entry should likely not be a fatal error to an end user.

[2016-11-16 05:56] kormoc opened #1219 "Conferences should support mobile icons"
Mobile browsers support adding webpages directly to the home screens as a light weight app. This works well enough with OSEM, however there's currently no way to have a conference specify the icons to be used for this.

Allowing a conference to specify the icon and expose it as

- /apple-touch-icon-precomposed.png
- /apple-touch-icon.png
- android manifest.json

would allow tighter integration wit

[2016-11-16 06:02] kormoc opened #1220 "Feature request: More granular time slots"
Currently the time slots are limited to 15 minute chunks. We would prefer 5 minute chunks, as generally our talks are ~50 minutes and then there's a 10 minute break to setup the room for the next talk. Currently we're forced to set the talks as 45 minutes or 1 hour.

[2016-11-20 09:00] rishabhs95 opened #1222 "Cross-Site Request Forgery Warning in app/controllers/api/base_controller.rb"
[Security issue from Hakiri](https://hakiri.io/projects/d1eb39a7696349/stacks/70eaa9009f1f2b/builds/21ffb2eea97058/warnings/5170ff4a2b6fbb): protect_from_forgery should be configured with 'with: :exception' in app/controllers/api/base_controller.rb

[2016-11-22 09:03] #1222 closed

[2016-11-22 09:05] #1218 closed

[2016-11-24 17:05] #1208 closed

[2016-11-24 23:37] differentreality commented on #1195
I can reproduce.

[2016-11-24 23:38] differentreality commented on #1194
@redimido is it clear how you can do what you need? Can we close this or is there something else related to this issue that we haven't addressed yet?

[2016-11-25 00:13] differentreality commented on #1157
I think what we need to consider is having 2 states (to_accept, to_reject) for possible acceptance/rejection, which will not be visible to the submitter, so that the organizers can have an idea of what/how many talks they are accepting/rejecting before they actually do so publicly.

[2016-11-28 09:42] althio commented on #587
I would love this feature.
I think it is a very-very-nice-to-have for bigger events, and I am a big struggling right now with the [global schedule here (12 tracks...)](https://en.ogpsummit.org/osem/conference/ogp-summit/completeschedule#2016-12-08)

Alternatively or additionally, I would like to export the generated schedule or each separate sessions to a calendar (see https://github.com/openSUSE/

[2016-11-28 10:27] differentreality commented on #587
For the record the user schedule is being implemented by @Ana06 in https://github.com/openSUSE/osem/pull/1142 and should be ready soon.

Let's keep/edit this issue for calendar export of the user schedule.

[2016-11-28 12:04] differentreality commented on #1217
Yes, that's the concept already in https://github.com/openSUSE/osem/pull/1100 (https://github.com/openSUSE/osem/pull/1100/files#diff-1a428cc0dc9bd983d4680fd977647262R10)

[2016-11-28 12:04] #1217 closed

[2016-12-02 01:13] bluenevus opened #1224 "Track resources"
As part of event planning, it would be great to track resources that are required for the event.  Catering, Staff Support, Equipment like audio video, computer & network access, badges, security, important points of contacts, tables, chairs among other needed furnishing etc

[2016-12-04 09:30] skriesch opened #1225 "presentation proposal for 2 people not possible any more"
3 years ago it was possible to write a proposal for 2 speakers (I did that). This year I heared by B1 Systems that it isn't possible any more. They wanted to give a presentation ( 2 speakers) and Stan was able to enter only one name. Can you fix this bug / activate the old feature again, please?

We want to give a talk with 2 speakers at the next oSC. :-)

[2016-12-05 14:08] differentreality commented on #1225
I don't think it was ever possible to show publicly more than one speaker per talk.

This is already requested and tracked in https://github.com/openSUSE/osem/issues/749

[2016-12-05 14:57] differentreality commented on #1194
I will close this as there is no response, and the issue does not seem to exist anymore.
If there is anything else you need @redimido feel free to open a new issue or find us on IRC irc://freenode.net/osem

[2016-12-05 14:57] #1194 closed

[2016-12-05 14:59] redimido commented on #1194
Thank you.

I worked around with your suggestions

Regards,
Gabriel

El 5 dic. 2016 8:57, "Stella Rouzi" <notifications@github.com> escribió:

I will close this as there is no response, and the issue does not seem to
exist anymore.
If there is anything else you need @redimido <https://github.com/redimido>
feel free to open a new issue or find us on IRC irc://freenode.net/osem

—
You are receiving

[2016-12-05 19:00] skriesch commented on #1225
I created a proposal for 2 people for the oSC14. I believe that was one of the first conferences with OSEM. But you can mark it as a duplicate, if you have got a issue for that. Last weekend we spoke about that in our meeting at SUSE (whether Bug or Feature Request).

[2016-12-08 19:23] differentreality opened #1226 "Version of vote shows vote ID instead of event ID"
In versions#index versions referring to votes try to link to an event based on the version id.

[2016-12-08 20:12] differentreality opened #1227 "Show changes for votes in admin/events#show (history tab)"
History of event does not currently show changes for votes. Versions for votes show in the overall changelog, they should also be made available in the history of the event.

[2016-12-15 23:30] mwgalloway commented on #972
@FleetAdmiral Are you still working on this? If not I would be happy to take this on.

[2016-12-17 13:34] differentreality commented on #972
@mwgalloway the previous comment is very old, since the issue is not closed/solved, feel free to work on it!

[2016-12-17 18:16] FleetAdmiral commented on #972
@mwgalloway Yea i've been caught up on something else, you can go ahead!

[2016-12-19 16:25] ChrisBr opened #1230 "Making comment counter more efficient"
By introducing a counter cache.
See my comment from #1186

But we can improve your changes with some advanced Rails techniques :) With your changes, every time I access events#index we make several COUNT calls. Instead hitting the database all the time we could instead cache it. Rails already implements this :smile:

From the rails documentation:

belongs_to :author, dependent: :destroy, counter_c

[2016-12-20 15:16] ChrisBr commented on #1225
As said, covered in #749

[2016-12-20 15:16] #1225 closed

[2016-12-20 15:18] ChrisBr commented on #1192
Implemented Open Graph Metadata in https://github.com/openSUSE/osem/pull/1231

[2016-12-20 15:18] #1192 closed

[2016-12-20 15:19] ChrisBr commented on #1182
@hennevogel any idea?

[2016-12-20 15:20] ChrisBr commented on #1178
done in https://github.com/openSUSE/osem/pull/1231

[2016-12-20 15:20] #1178 closed

[2016-12-20 15:20] ChrisBr commented on #1177
done in https://github.com/openSUSE/osem/pull/1231

[2016-12-20 15:20] #1177 closed

[2016-12-20 15:36] ChrisBr commented on #1176
@0xAmir sorry for the late response :disappointed:

We allow markdown here and the markdown guide clearly says that it is fine to mix markdown and html
https://daringfireball.net/projects/markdown/syntax#html

We could use the ``:filter_html:`` to forbid it, however, I don't see a problem atm in allowing it!
@hennevogel @differentreality

[2016-12-20 15:37] ChrisBr commented on #1153
@lagartoflojo @rishabhs95 did we cover sth of this in your GSoC project? If yes please update and close!

[2016-12-20 15:38] ChrisBr commented on #1158
@shlok007 event#show == proposal#show! I will have a look at your PR!

[2016-12-20 15:41] ChrisBr commented on #1122
@meonkeys @bkuhn so the problem is that you don't have oEmbed at all there? Or do we just need to whitelist sfc?

[2016-12-20 15:45] ChrisBr commented on #938
@hennevogel you fixed this for events.o.o right? Can we close it?

[2016-12-20 16:02] lagartoflojo commented on #1153
@ChrisBr no, we didn't do anything about printing tickets. That's definitely something we can improve upon. Right now, you pay for a ticket and you still get the same email message we always had.

[2016-12-20 16:40] rishabhs95 commented on #1153
Yes, so you can pay for the tickets via stripe and after a successful payment, Stripe will send you an email confirming the received payment.

[2016-12-20 17:11] 0xAmir commented on #1176
Hey Chris,
I honestly can't remember what i found or where i found it since this was back in August, but after looking at the PoC and your reply i just think that if you could use :filter_html: to block HTML input in places where you haven't specifically wanted HTML input to be included it would be for the best, Since you never know what other tricks that can be done with HTML only especially with

[2016-12-20 22:12] mwgalloway commented on #972
I added a PR with the three requested error pages. I did not change how the app handles errors in any one.

[2016-12-20 22:13] mwgalloway commented on #972
@hennevogel @differentreality I added a PR with the three requested error pages. I did not change how the app handles errors in any one.

[2016-12-20 22:35] mwgalloway commented on #1230
@ChrisBr if this is up for grabs, I'd like to take a crack at it!

[2016-12-22 20:47] siddhantbajaj commented on #1209
@differentreality in case you haven't started working on it, can I take up this issue?

[2016-12-22 21:20] differentreality commented on #1209
@siddhantbajaj go ahead :)

[2016-12-23 23:45] siddhantbajaj commented on #1209
yeah so I did something like this, If the venue is not added (obviously no rooms) then  it will show something like this

![osem1](https://cloud.githubusercontent.com/assets/17237680/21463862/c439443a-c995-11e6-9d8e-d5ec4eee2be6.png)

create venue and rooms,let us create venue but if we didn't  create the room we will get something like this ( on creating schedule )

![osem2](https://cloud.githubu

[2016-12-29 09:09] ChrisBr opened #1234 "Show Concurrent Events on Event#show view"
It would be interesting to see Concurrent Events while on the event#show page.

[2017-01-02 09:32] shlok007 commented on #1158
Thank you!

[2017-01-04 10:53] shlok007 opened #1236 "Broken revision count"
I don't understand the intended behavior of  [revision_observer.rb](https://github.com/openSUSE/osem/blob/master/app/models/revision_observer.rb) .

It seems like it should increment `revision` column on every change of `room` , `track` , `event` and `conference` itself. If that's the case then then the count increments for the changes in `conference` model only and needs to be fixed.

[2017-01-04 10:59] differentreality commented on #1236
Thanks for the issue @shlok007
Also Event, Room, Track do not have a relationship with Conference any more, they do with Program.
https://github.com/openSUSE/osem/blob/master/app/models/revision_observer.rb#L19

[2017-01-04 11:33] shlok007 commented on #1236
I was thinking maybe we could drop observers. It was removed from core in Rails 4.0 . There hasn't been a version release since 2013 and hence, no support for rails 5 yet. See: https://github.com/rails/rails-observers/pull/39

We could probably use `Concerns` instead
https://signalvnoise.com/posts/3372-put-chubby-models-on-a-diet-with-concerns

[2017-01-05 21:19] cniedzwiedz opened #1238 "Sign out does not invalidate session token"
## Current behavior:

1. Logged in as admin user
2. Copy a request for admin-only resource, like the users
3. Sign out
4. Use curl and old session token to retrieve admin-only screen, like the users list
    * admin-only screen is successfully returned
5. Sign in as admin user again
6. See new session ID set on login
7. Use old session token from 2 & 4 to retrieve admin-only screen, like the users

[2017-01-07 17:14] abit2 commented on #1234
Hey i'm new here
Can you please elaborate on this

[2017-01-09 09:05] #1147 closed

[2017-01-10 10:53] differentreality commented on #1206
Fixed in https://github.com/openSUSE/osem/pull/1237

[2017-01-10 10:53] #1206 closed

[2017-01-11 17:46] #1226 closed

[2017-01-13 07:44] #972 closed

[2017-01-13 09:41] differentreality opened #1247 "Different change state dropdown for admin/events#index and admin/events#show"
In admin/events#index in the **State** column if an event is **withdrawn** it cannot be changed to new (There is no drop down and thus no option to _Start Review_).

In admin/events/#show that's no longer the case and an event which is in state **withdrawn** can change to state **new**

According to https://github.com/openSUSE/osem/blob/master/app/models/event.rb#L54 it should be possible to go fr

[2017-01-13 11:04] lrupp opened #1248 "Allow to upload a picture directly or from other opensuse.org sides for commercials"
I tried to update my proposal here:
 https://events.opensuse.org/conference/oSC17/program/proposal/1242/edit#commercials-content

But I'm unable to upload or link our team logo from:
https://en.opensuse.org/images/7/70/Heroes_logo.png

Why do I need to create an account on external pages first, that have nothing to do with openSUSE as such?

So please allow to upload media or at least include open

[2017-01-13 11:20] hennevogel commented on #1248
Because we don't want to take care of hosting your data and all that comes with it (backup etc.) forever. Please make use of what is possible with OSEM...

[2017-01-13 11:20] #1248 closed

[2017-01-13 11:30] lrupp commented on #1248
I understand that you do not want to allow uploading - and I already suggested that you allow to include other URLs like ones from opensuse.org.

At the moment, the tools just tells me:
"Just paste the url of your video/photo provider. Currently supported: YouTube, Vimeo, SpeakerDeck, SlideShare, Instagram, Flickr."

Why is openSUSE not in this list?

[2017-01-13 11:32] ChrisBr commented on #1248
@lrupp because we use OEmbed to realize it (http://oembed.com/). If openSUSE does support this I'd be happy to include it :)

[2017-01-13 14:06] lrupp commented on #1248
Thanks for the information: https://progress.opensuse.org/issues/15906 opened for our openSUSE Wiki admins...

[2017-01-16 07:43] Katy310 commented on #853
Any guidelines/ pointers for this issue?

[2017-01-16 07:54] Katy310 commented on #696
I'd like to work on this issue. Any guidelines/pointers?

[2017-01-16 20:56] #1155 closed

[2017-01-19 09:29] differentreality opened #1252 "Add booths"
It is rather common for conferences to have booths, and it would be great if we could show that to attendees, eg on the splashpage.

Moreover, as an organizer, I would like to be able to select which booths I want. That would involve a booth application and the ability for the organizer to accept/reject a booth.
A booth should have a title/name, a description, people responsible for it, and a link

[2017-01-19 09:33] differentreality commented on #1224
I would like to add that it would be useful if we could track things like t-shirts (or other swag) that is given out at the conference.
That is useful to know, for instance, how many t-shirts of size S do we have left for next days of the conference? Did we ran out of L t-shirts too soon (and we should probably provision this better next time)?

[2017-01-20 09:10] Ana06 commented on #969
Is this already done? Can it be closed?

[2017-01-20 09:10] Ana06 commented on #853
@Katy310 As you can see in the screenshot for devices with small screens the sidebar in the admins part of OSEM keeps up in the page while the content (which is the important part) goes down. It would be great if it was collapsible, so it could be hidden. This way the content would be up and it will look much better.
Is that explanation enough? If not please tell me what is exactly what is not cle

[2017-01-20 09:18] rishabhs95 commented on #853
Yeah @Katy310, you can try some predefined bootstrap properties like `collapsible`, etc. and test it on small screens so that it works well.

You can take a look at properties at https://getbootstrap.com/components/#navbar

[2017-01-20 09:27] rishabhs95 commented on #969
Yeah @Ana06, I'm closing this issue as all the sub-tasks were completed.

[2017-01-20 09:27] #969 closed

[2017-01-20 09:48] Ana06 commented on #696
@Katy310 what @ChrisBr propose is to use another approach to count the number of words introduced in input fields (such as [Countable gem](https://github.com/RadLikeWhoa/Countable)). For example in the proposal one:

![image](https://cloud.githubusercontent.com/assets/16052290/22144404/ec59aa40-defd-11e6-9ac0-97cfa1c19461.png)

Is that explanation enough? If not please tell me what is exactly what

[2017-01-23 04:12] shlok007 commented on #1190
@richiethomas ping!

[2017-01-23 04:19] richiethomas commented on #1190
@shlok007 my apologies, I must have lost track of this issue.  I'm happy to give it up for someone else to work on.

[2017-01-23 14:32] Ana06 opened #1256 "Enable Style/SpaceAroundOperators Rubocop cop"
https://rubocop.readthedocs.io/en/latest/cops_style/#stylespacearoundoperators

[2017-01-26 15:27] #1190 closed

[2017-01-30 21:29] davidsf opened #1259 "Change homepage to next conference#show"
We use osem as annual conference organizer, currently osem show a list of next conferences as homepage but should be great if it could go to the next conference#show if there are only one conference configured.

We have done a hack to do this in http://www.opensouthcode.org but if there are any interest I could try to implement it.

[2017-02-01 09:13] afaerber opened #1260 "Update proposal page: Requirements field should not be collapsed if non-empty"
When initially editing a talk proposal, the Requirements field is collapsed, which makes perfect sense.

However, once it has been expanded and filled, the next time one edits the proposal it is collapsed again, hiding the previously entered contents. If clicking on "Do you require something special?" the field is shown with the previously entered contents, so it is just a display issue.

Expected

[2017-02-01 16:17] hennevogel commented on #1224
Let's please stick to manage talks and people, let's not replace every single sticky-note you might need during a conference. The app is already overloaded with functionality...

[2017-02-01 17:14] lagartoflojo opened #1263 "Don't ask for arrival and departure when registering"
Most people leave this field with the defaults, and conference organizers don't really need it.
If a particular conference wants to have this info from every attendee, then they can add it as a question to the registration itself.
It does not make sense to have it as default.

This task would still involve somehow migrating old answers for previous conferences.

![screenshot from 2017-02-01 17-49-

[2017-02-01 19:35] shlok007 opened #1264 "Crowded ApplicationHelper [ Refactoring ]"
Currently [ApplicationHelper](https://github.com/openSUSE/osem/blob/master/app/helpers/application_helper.rb) has 58 methods with 500+ lines of code.
These methods can be divided into separate helper classes for separate views.

[2017-02-02 06:50] shlok007 commented on #1263
Travel info can be migrated into surveys which is introduced in https://github.com/openSUSE/osem/pull/1100 . We could probably add a rake task to migrate the travel info  for previous conferences to survey answers once that PR gets merged.

[2017-02-02 10:50] lagartoflojo commented on #1263
I don't know if it makes sense to wait for that PR. AFAIK the surveys are not related to the registration, are they?
In any case, we can just keep it simple. We're talking about migrating the arrival/departure times for old conferences, so I don't think it's really very important information. What's important is that we don't lose it.

[2017-02-02 11:19] differentreality commented on #1263
Surveys are **not** directly related to registration. But we might have surveys implemented by the end of the month.
I would like to keep the information. Where would you migrate it to? Questions?

[2017-02-02 11:44] lagartoflojo commented on #1263
Yes, I would migrate them to Questions. Do you think that would work?

[2017-02-02 12:10] differentreality commented on #1263
We had some bugs with questions so I am not 100% sure. Perhaps worth trying if you wanna close this soon and if it doesn't work, we can wait a bit for surveys.

[2017-02-02 12:37] Ana06 commented on #1224
@hennevogel

I think it doesn't hurt as it is just one more item in the list and it doesn't interfiere with the rest things of the application. And it could be useful as it could be integrated with the registration process, so for example we could automatically reduce the amount of T-shirts of the user size when he arrives to the conference

[2017-02-02 14:02] lagartoflojo commented on #1263
Gotcha, then we just have to try it out :)

[2017-02-02 15:35] shlok007 commented on #1263
There could be questions titled `Arrival` and `Departure` in which the travel info of the users can be migrated. This would result in something like this:

:arrow_down: *questions#show* for question tittled `Arrival` (same goes for departure)
![arrival](https://cloud.githubusercontent.com/assets/14155445/22555390/9116a0fc-e989-11e6-85f6-0439891a97ce.png)

But again, it seems like the ability to di

[2017-02-06 17:55] lagartoflojo opened #1271 ""Remember me" label is not clickable"
When logging in, in the login box drop-down, clicking on "remember me" does not check/uncheck the checkbox, as expected.

![screenshot from 2017-02-06 18-58-40](https://cloud.githubusercontent.com/assets/2944/22659548/4bfd195c-ec9e-11e6-824a-c16afb7ea05a.png)

**Acceptance criteria**

- In the top menu bar, click on "Sign In"
- Click on "Remember me".
- Show that the checkbox gets checked.

[2017-02-06 17:57] lagartoflojo opened #1272 "Superfluous "Sign in" link"
When logging in, in the login box drop-down there is a "Sign In" link that is not really useful. We can remove it.
This link is [only shown in non-desktop devices](https://github.com/openSUSE/osem/blob/master/app/views/layouts/_navigation.html.haml#L87-L88) for some reason.

![screenshot from 2017-02-06 18-56-27](https://cloud.githubusercontent.com/assets/2944/22659475/0759b990-ec9e-11e6-8ef6-6c7f

[2017-02-06 18:10] BelieveC commented on #1271
@lagartoflojo, clicking on "remember me" is working as expected. Are you talking about any specific page?

[2017-02-06 18:13] lagartoflojo opened #1273 "Better "short title" UI"
When creating a new conference, it's not very clear what the "short title" field is for. Without reading the gray help text underneath, it's not possible to realize that it's for the URLs.
The UI can help with this. For example, something like:

![screenshot from 2017-02-01 17-48-27](https://cloud.githubusercontent.com/assets/2944/22659926/de5c3b92-ec9f-11e6-9c6e-54cf419fd0b7.png)

We can also dis

[2017-02-06 18:18] lagartoflojo commented on #1271
Does not work for me. I tried the master branch on Chromium 52 and Firefox 50.
The "Remember me" label does not check the checkbox in any page.

[2017-02-06 18:22] BelieveC commented on #1271
Works fine for me on firefox 50.1.
![signin](https://cloud.githubusercontent.com/assets/14261624/22660373/45426990-ecc7-11e6-8c10-fda12444130b.png)

[2017-02-06 18:22] lagartoflojo commented on #1272
Ok, not sure how I saw this, but it seems to be fixed 😝

[2017-02-06 18:27] lagartoflojo commented on #1271
I don't really understand how it works for you. Looking [at the code](https://github.com/openSUSE/osem/blob/master/app/views/layouts/_navigation.html.haml#L71-L74), there's no `<label>` for the "Remember me" text.

[2017-02-06 18:28] lagartoflojo commented on #1271
Please note I'm talking about clicking on the "remember me" **text**. I'm NOT talking about clicking on the checkbox itself.

[2017-02-06 18:44] lagartoflojo opened #1274 "Improve sign in UI in mobile"
It is aesthetically unpleasing.
Among others: The buttons have very low contrast (light green against darker green). The text fields are cramped together and left-aligned (instead of centered). You can scroll within the sign-in box. The links that appear when clicking on "Need Help?" are unreadable (blue against green). The hamburger icon has very low contrast (gray against green).

![screenshot_2

[2017-02-06 20:24] BelieveC commented on #1260
@afaerber, Pull request #1276 for fixing above issue.

[2017-02-06 22:03] sheamunion commented on #1273
I'd like to take this on!

[2017-02-07 08:16] lagartoflojo commented on #1273
@sheamunion hi Shea, great! What do you have in mind to try to fix this?

[2017-02-07 21:45] #1271 closed

[2017-02-08 00:38] sheamunion commented on #1273
According the formtastic-bootstrap documentation, one can prepend a `<span>` element to a form input using the [`:prepend`](https://github.com/mjbellantoni/formtastic-bootstrap#prepended-text) option. I suggest we leverage that option to achieve what you've documented in your image above.

Furthermore, we can add a [`pattern`](http://www.w3schools.com/tags/att_input_pattern.asp) attribute to the `

[2017-02-08 00:50] sheamunion commented on #1272
@lagartoflojo I'm happy to take care of this!

[2017-02-08 01:41] sheamunion commented on #1273
See #1281!

[2017-02-08 07:58] #1272 closed

[2017-02-08 08:06] lagartoflojo commented on #1273
Thanks! I added some comments to your PR :)

[2017-02-08 16:51] nikhilgupta1211 commented on #1274
![image](https://cloud.githubusercontent.com/assets/14905919/22745437/8c2191e4-ee46-11e6-9369-5c7322d59df6.png)

Does this look ok ?

[2017-02-08 18:38] #1273 closed

[2017-02-08 18:40] lagartoflojo commented on #1274
Hmm there's still the problem with the sign in button, which has very low contrast against the green. Our "desktop size" login has a white background. How would this one look with a white background as well?

[2017-02-08 18:41] #1256 closed

[2017-02-08 18:42] lagartoflojo commented on #1259
I very much like this idea. @Ana06 @differentreality @ChrisBr thoughts?

[2017-02-08 18:46] lagartoflojo commented on #1211
@alexdor is this something you'd like to tackle? I agree with @differentreality that it would be quite useful.

[2017-02-08 19:25] differentreality commented on #1259
I'd go for it too.

[2017-02-08 19:42] differentreality commented on #1260
I agree with this approach, when there is content, it makes sense to be visible.

[2017-02-08 20:00] differentreality opened #1282 "Rename admin/events to admin/proposals"
It seems that events, instead of proposals, is rather confusing, even though we've had it for quite a while and people are getting used to it.

We already use **proposals** outside of admin namespace. What about we use proposals in admin namespace as well?

[2017-02-09 03:23] nikhilgupta1211 commented on #1274
![image](https://cloud.githubusercontent.com/assets/14905919/22767928/9e34ffb6-eea4-11e6-8375-353568322c67.png)

[2017-02-09 08:18] lagartoflojo commented on #1274
I think that looks much better!
Have you had a look at what happens when you have the GitHub/Google/Facebook login buttons? And what happens when you click on "Need help?" It's not nice that there's scrolling inside the login panel.

[2017-02-09 09:49] #1260 closed

[2017-02-09 09:51] Ana06 opened #1284 "Improve resources page"
As discussed in https://github.com/openSUSE/osem/pull/1261 we want to improve the resources page to make it usable.

@differentreality:

It would be nice if screenshot with ideas are provided for this issue before starting programming it, as I would say that the perfect solution is not clear and there may be some discussion about it.

[2017-02-09 12:50] lagartoflojo commented on #1259
@davidsf would you like to implement this?

[2017-02-09 12:56] Ana06 opened #1286 "Fix Travis failures in a better way"
It used to happen something strange, after truncating the database and loading the seeds and before the first test is executed some data was introduced in the database. I have no idea of where this data comes from.

So this strange data kept there until a truncation was executed (after a feature). If a test query the information in the tables where strange data was introduced (for example User and

[2017-02-09 13:04] ChrisBr commented on #1259
@lagartoflojo http://www.pgconf.us/conferences/2017 did the same! So yes, I also think it makes sense

[2017-02-09 13:08] Ana06 commented on #1259
I like it too

[2017-02-09 13:14] divyanshumehta commented on #1259
Can I try it out @Ana06 , please. Doesn't it need only the routes file to be changed?

[2017-02-09 13:59] ChrisBr commented on #1259
@divyanshumehta go ahead, you don't need to ask if you want to work on an issue!

[2017-02-12 14:21] #1205 closed

[2017-02-14 07:10] siddhantbajaj commented on #1286
I think the data  introduced in the db is because  we are Linting factories before each feature.

Linting before(:suite) reduces the performance of our test.

 As suggested by Factory girl documentation we should be doing it in a separate task and should ensure that we clear the database  after linting the factories.

@differentreality @Ana06 thoughts?

[2017-02-15 13:11] nikhilgupta1211 commented on #579
@differentreality  solved this growing chart problem in #1269 please have a look

[2017-02-15 13:22] differentreality commented on #579
@nikhilgupta1211 I know you have opened a PR about this, thanks for that!
I am sure other contributors have seen it as well, someone will have a look at it as soon as possible :)

[2017-02-15 13:29] nikhilgupta1211 commented on #579
Thank you &#x1F642;

[2017-02-16 08:48] #1209 closed

[2017-02-16 08:56] #1247 closed

[2017-02-16 08:56] #1172 closed

[2017-02-16 13:30] eug3nix opened #1298 "Program.any_events_for_this_date? is possibly broken"
Hi everyone, please take a look at this
https://github.com/openSUSE/osem/blob/master/app/models/program.rb#L153
this method rely on the events.start_time column which seems to be obsolete
as a result, the return value for this method is always FALSE
resulting in all dates on the public schedule events tab dropdown being greyed-out
I played with the code in IRB and it seems that this may be the cor

[2017-02-16 17:57] differentreality commented on #1298
https://github.com/openSUSE/osem/issues/1154
https://github.com/openSUSE/osem/blob/master/app/models/event.rb#L246

[2017-02-17 10:51] differentreality commented on #1211
Some of the cases that would be interesting to have as demo data:

- [ ] Full conference happening in the future (with open cfp, venue/rooms, submitted talks by multiple speakers, partly confirmed talks)
- [ ] Full conference in the past (with closed cfp, venue/rooms, submitted talks by multiple speakers, rejected talks, confirmed talks, multiple scheduled talks in various rooms)
- [ ] Conference

[2017-02-18 12:43] siddhantbajaj opened #1302 "Issue with Confirmed events scheduled chart on event index page"
Right now to check if the event is scheduled or not we check if its start time attribute is set or not. I think instead of this we should check if there is an entry for that respective confirmed event in EventSchedule table.

[2017-02-18 12:55] differentreality commented on #1302
@siddhantbajaj Could you please give some more details? What's the issue with the way things are now and where in the code does the issue occur?

[2017-02-18 13:24] siddhantbajaj commented on #1302
Consider an Event { id: 1, start_time: nil}

When we schedule this event an entry is created in Event Schedule table something like this:
{ id: 7, event_id: 1, schedule_id: 1, room_id: 1, start_time: "2017-02-18 10:00:00" } but the start time of that event still remains nil.

So to determine if the event is scheduled or not we should check if there is entry in the Event Schedule table where event_

[2017-02-20 09:20] #1086 closed

[2017-02-20 20:38] siddhantbajaj opened #1307 "Paper_Trail Issue"
There is a known issue in paper_trail that whenever we Query the 'versions.object' column (or 'object_changes' column), like this:

it evaluates inconsistent results for numeric values due to limitations of SQL wildcard matchers against the serialized objects.

we are also doing  like this here:
https://github.com/openSUSE/osem/blob/master/app/controllers/admin/events_controller.rb#L53

To find ou

[2017-02-21 15:15] shaan15 commented on #1133
Hi!
Is this issue up for grabs? If yes, then I would like to work on it!

[2017-02-21 15:43] differentreality commented on #1133
@shaan15 sure, but please note we are making some changes related to ICHAIN in #1266 , they should be merged really soon though!

[2017-02-22 08:02] Ana06 commented on #1302
@siddhantbajaj yes `start_time` attribute in event is an unused attribute at the moment, so it should be used :+1:

[2017-02-22 14:07] shaan15 commented on #1133
@differentreality Oh okay, so do you want me to pick up another issue for the time being?

[2017-02-22 14:54] differentreality commented on #1133
You don't have to choose something else. You can work on whichever issue you want :)

[2017-02-23 06:01] nikhilgupta1211 opened #1310 "Duplicate methods in application_controller and conference.rb"
method date_string in application_controller and method date_range_string in conference.rb produce the same result so we can keep one of them and remove the other .

[2017-02-26 11:10] shaan15 commented on #1133
Oh okay. So by when will #1266 be merged?

[2017-02-26 11:20] shaan15 commented on #1310
Hi, is this issue still open?

[2017-02-26 15:03] shaan15 commented on #1230
Hi, is someone still working on this or is it up for grabs?

[2017-02-27 01:34] seanlinsley opened #1313 "2016 index page is broken"
Clicking "View Conference" on [this page](http://www.pgconf.us/conferences/) for PGConf US 2016 results in an [internal server error](http://www.pgconf.us/conferences/2016).

Context: I was linked to [this page](http://www.pgconf.us/conferences/2016/program/proposals/147/), watched the video, then tried shortening the URL (e.g. removing `/proposals/`) until I got to a page that existed, so I could

[2017-02-27 06:25] differentreality commented on #1313
Indeed conferences#show for 2016 isn't working. We would need to see some logs to help more though.

[2017-02-28 07:04] gunkiratk commented on #1264
Hey,
I want to work on this issue

[2017-02-28 09:25] Ana06 commented on #1264
@gunkiratk go ahead! :wink:

[2017-03-01 04:22] jbkimble commented on #1310
@nikhilgupta1211 I'm going to take a crack at this issue!

[2017-03-01 05:09] jbkimble commented on #1310
@nikhilgupta1211 I'm going to look into this!

[2017-03-01 06:22] gunkiratk commented on #1264
@Ana06 thanks!
My Rgsoc partner @shaan15 would be working on it!

[2017-03-01 06:58] nikhilgupta1211 commented on #1310
@jbkimble actually this has already been resolved in #1311

[2017-03-01 10:42] differentreality opened #1315 "Document openid implementation better"
While there is some mention about implementing openid in our installation instructions, this is mainly intended for production.

It is very unclear to new contributors as to what needs to be done in order to implement openid in development - or that this is even possible!

[2017-03-01 11:07] #1310 closed

[2017-03-01 15:38] differentreality commented on #1188
I think that's happening because the time during scheduling is saved in UTC instead of conference timezone, and that's what we should really address.

[2017-03-01 15:41] differentreality commented on #1220
This is done, however I think this should be an option conference-wise not app-wise. @Ana06 @eug3nix  this is not currently happening, right? Meaning we cannot have 5-minute slots for schedule of conf A, and 15-minute slots for conf B?

[2017-03-01 16:02] differentreality commented on #623
Closing due to https://github.com/openSUSE/osem/issues/1263

[2017-03-01 16:02] #623 closed

[2017-03-01 16:31] #1135 closed

[2017-03-01 20:12] eug3nix commented on #1220
@differentreality yes, that's correct, the schedule grid density is currently configured in the .dotenv files, but this can be adjusted of course

[2017-03-02 13:10] #1227 closed

[2017-03-03 08:41] differentreality commented on #1220
This will also be extremely useful and flexible for when we implement the hosted version of OSEM.

[2017-03-03 12:29] nikhilgupta1211 opened #1324 "Remove view tests"
The test views/conferences/show.html.haml_spec.rb fails 2 out of 10 times .

[2017-03-03 15:25] differentreality opened #1326 "Change styling on views"
Views should use the new ruby syntax and comply with rubocop styling.

[2017-03-03 16:31] divyanshumehta commented on #1326
@differentreality I am on it

[2017-03-03 19:51] matheussbernardo commented on #1274
<img width="382" alt="screen shot 2017-03-03 at 4 48 54 pm" src="https://cloud.githubusercontent.com/assets/6586606/23566589/5964b3b0-0031-11e7-92a7-112c54107eda.png">
When you click on "Need help?" it is kind bad because it is blue.

[2017-03-04 00:36] matheussbernardo commented on #1092
@differentreality I`m trying to solve this problem. What do you think about a checkbox that if checked makes the abstract input innactive and user can save without abstract?

[2017-03-04 03:32] matheussbernardo commented on #1092
@differentreality hello, i started to fix this problem on my fork as for now I need to code the javascript that deactivate/hide the abstract text area.

[2017-03-04 06:06] MayankKashyap commented on #1274
Hey , I want to work on this issue .Can I ?

[2017-03-04 08:32] nikhilgupta1211 commented on #1274
@MayankKashyap this issue is already solved in #1285 :)

[2017-03-04 09:13] aki94 commented on #1188
hey, I am beginner want to work on this, can I? if yes then please direct me from where to start.

[2017-03-04 09:49] aki94 commented on #1188
hey i am beginner want to work on this can i ? if yes then please direct me from where to start.

[2017-03-04 14:48] lagartoflojo commented on #1274
@matheussbernardo the social network login functionality is already there.
You just need to set the correct [env variables](https://github.com/openSUSE/osem/blob/master/INSTALL.md#configure) so they appear.

[2017-03-05 05:09] divyanshumehta commented on #1326
I saw usage of `:class =>"btn btn-default"` this can be changed to `class: "btn btn-default"`. Are we looking for these for these types of changes?

[2017-03-05 10:20] differentreality commented on #1326
Yes, and also for this example single quotes (unless there is string interpolation)

[2017-03-05 17:51] gargi-gupta commented on #1326
Me and my teammate @Rupal-IIITD used rubocop but it showed styling issues in only .rb files.
For .html.haml we had to use haml-lint instead.

[2017-03-05 20:22] Rupal-IIITD commented on #1259
@davidsf
I didn't quite understand as to what you mean by "go to the next conference#show if there are only one conference configured"?
Can I request you to elaborate a bit more?

[2017-03-05 20:42] davidsf commented on #1259
@Rupal-IIITD
We use osem for an annual conference, for us is better to go to the conference#show of the next conference, instead of listing the conferences.

[2017-03-06 10:27] agrim123 commented on #1264
@shlok007 i m interested in working on this issue

[2017-03-06 11:20] agrim123 opened #1331 "Notification type"
Won't it be good to show all update or any other notifications as a ticker (http://codeseven.github.io/toastr/demo.html) instead of flash notice that is currently being used (https://github.com/openSUSE/osem/blob/master/app/controllers/users_controller.rb#L16).

[2017-03-06 16:31] siddhantbajaj opened #1333 "Issue with DeleteEventSchedules method"
I was playing around with conference start and end hour attribute when I found some issues related to DeleteEventSchedules method in conference controller. This method basically delete all EventSchedules that are not in the hours range of that particular conference. Issues that I found:
1. It deletes EventSchedules of all the conferences that are not in the hours range. Instead it should  delete E

[2017-03-06 18:08] shlok007 commented on #1264
@agrim123 Feel free to send a PR with your changes . :slightly_smiling_face:

[2017-03-06 18:54] kormoc commented on #1220
Thank you very much @Ana06, @differentreality, @eug3nix, and @JewelSam ! This will make things a lot easier for us to manage for our next conference 🎉

[2017-03-06 21:52] agrim123 commented on #463
@ChrisBr i m interested on working on this issue.

[2017-03-07 09:13] Ana06 commented on #1188
@differentreality

Not really, it is not needed to save the schedules in the conference timezone. If we do so we have to deal with that in all the schedule and that's a lot of changes and we will also complicate the code. I think it is enough to take this into account when exporting schedule.xml

[2017-03-07 09:23] Ana06 commented on #1188
@aki94 take a look at https://github.com/openSUSE/osem/blob/master/app/views/schedules/show.xml.haml :wink:

[2017-03-07 20:01] vaibhavgeek opened #1339 "Creating timelines to be mentioned in splashpage."
Hello,

This is my first time contributing to an open source organization. So apologies in advance if I have broken any open source guidelines/protocols. I just used the OSEM tool. I have 2 suggestions that I would like to give and work on them.

- A Timeline to be present in each conference splashpage so that the registering users have an idea to what to expect during the course of the event.

-

[2017-03-08 07:43] differentreality commented on #1339
Hey, the second part of your suggestion, sounds a lot like https://github.com/openSUSE/osem/issues/550, which is more general though and should include a way to make organizers' life easier.

As for the timeline, I think it depends on what you have in mind. We already have those checklists for proposal submitters for the state of their proposal, as well as for organizer for other things they might

[2017-03-08 08:19] Ana06 opened #1340 "Make Splashpage components selected by default"
When creating the Splashpage it ask you what components you want to include on it. I wold say that more likely you will select all or most of them, so I would show all of them already selected. Like this:

![image](https://cloud.githubusercontent.com/assets/16052290/23695603/595610a0-03e0-11e7-9288-a0ffad337da9.png)

[2017-03-08 08:52] #1234 closed

[2017-03-08 08:55] #1140 closed

[2017-03-08 09:10] nikhilgupta1211 commented on #1340
@Ana06 I am on it :)

[2017-03-08 10:11] Ana06 opened #1342 "the schedule is broken for some browsers"
The schedule is not rendered properly in some browsers, I tried it in firefox:

![image](https://cloud.githubusercontent.com/assets/16052290/23699508/ae2f114e-03ef-11e7-9453-db31c405e167.png)

However in chromium It is properly rendered:

![image](https://cloud.githubusercontent.com/assets/16052290/23699575/f1f36dd0-03ef-11e7-878e-77c4e46ff012.png)

[2017-03-08 10:13] Ana06 opened #1343 "Log in is needed to see the schedule"
It is not allowed to see the schedule without log in.

[2017-03-08 10:35] BelieveC commented on #1343
I'm on it :+1:

[2017-03-08 14:49] vaibhavgeek commented on #1339
Hello,

What I mean by timeline is that having schedule listed out for people visiting the conference as shown in the image below.

![Schedule](https://www.dropbox.com/s/lkbx6dpt32xf4js/Screenshot%20from%202017-03-08%2020-14-37.png?raw=1)

[2017-03-08 19:38] siddhantbajaj opened #1345 "Issue with error message"
If you try to update conference and set start_date greater than end_date, then you get error message like this:
![screenshot from 2017-03-09 00 59 12](https://cloud.githubusercontent.com/assets/17237680/23720280/46c79b46-0464-11e7-819c-1af9cf0d080e.png)

I think it should be like this:

You can see this validation here:
https://github.com/openSUSE/osem/blob/master/app/models/conference.rb#L659

[2017-03-09 03:54] divyanshumehta commented on #1326
@differentreality is there any way to keep the test to keep the test running on the go, I mean something like guard which checks the as we save a file. Because a lot of files need to be changed and runnnig the test after each file change involves a lot of time.

[2017-03-09 12:54] agrim123 commented on #1345
This occurs because rails prepends name of the field to error message, so it is not required to include the field name manually.
http://api.rubyonrails.org/classes/ActiveModel/Errors.html

[2017-03-09 15:15] siddhantbajaj opened #1347 "Issue with registration limit"
When we create a conference its registration limit is by default set as 0 (which means no registration limit).
Now suppose 2 users register for the conference so no of registrations for the conference becomes 2. If we now try to update the registration limit of the conference to 1, conference will get successfully updated which I think should not happen.

[2017-03-09 16:42] BelieveC opened #1349 "Undefined method `start_hour' for Conference"
I got this error while creating a new conference.

![error](https://cloud.githubusercontent.com/assets/14261624/23760352/6ea4fa08-0515-11e7-9966-75f1886842a5.png)

[2017-03-09 16:54] #1349 closed

[2017-03-09 20:32] agrim123 commented on #1238
I think it is because of using [cookie store](https://github.com/openSUSE/osem/blob/c48c8afa51b3072af27ae76bb2ef0523bf1c50a8/config/initializers/session_store.rb#L3), but we never use cookie store in production instead we prefer 'active_record_store'.

[2017-03-09 20:47] shlok007 opened #1350 "[Question] Re-send confirmation instructions"
When a user signs up in OSEM, he receives a confirmation mail to confirm his account before he can log in. In my opinion there should be a way to resend the confirmation mail in case it wasn't received by the user.

Feel free to close this issue if something like this isn't yet needed. :slightly_smiling_face: .

[2017-03-10 08:20] differentreality commented on #1350
Why isn't that happening already? Did you try resending the confirmation email or were you unable to find where to do that from?

[2017-03-10 08:22] differentreality commented on #1347
I am worried this might be introducing more limitations for the organizer rather than helping the organizer. Perhaps it would make more sense if there was more functionality around the registration limit, but there isn't any.

[2017-03-10 08:40] siddhantbajaj commented on #1347
Yes you are right,I was a bit worried about that too. But I think we should show some warning kind of a message so that at least the organiser knows about this because i don't think someone would want to set registration limit less than the number of registrations already present.
We would allow the conference to be updated but with a warning message. What do you think? @differentreality

[2017-03-10 08:50] #1040 closed

[2017-03-10 09:14] differentreality commented on #1347
I would totally go for informing the organizer. I would not want to show a warning message when the update has been successfully completed, it's confusing.
We could show the total number of registrations underneath the input box for registration limit. 'You already have X registrations.'

[2017-03-10 09:23] shlok007 commented on #1350
Sorry. I failed to notice the `Need help?` button down below.

[2017-03-10 09:23] #1350 closed

[2017-03-10 10:16] siddhantbajaj commented on #1347
Okay @differentreality ,I will make the changes in the PR. :+1:

[2017-03-10 15:23] Ana06 commented on #1324
I think we should remove the view tests, as it is not worthwhile to test the views and the test are all the time failing.

[2017-03-10 15:32] nikhilgupta1211 commented on #1324
@Ana06  i am on it :)

[2017-03-10 16:10] Ana06 commented on #1333
Good catch! :+1:

[2017-03-10 16:13] #1211 closed

[2017-03-10 20:02] siddhantbajaj commented on #1345
@agrim123 Yes you are right. I have seen this at few other places as well. Would you like to work on this?

[2017-03-11 09:02] siddhantbajaj opened #1354 "Issue with schedules"
Suppose initially we have a conference with schedule,venue and rooms set. Then for some reason organiser deletes the venue. If we then view the schedule index page it shows like this:

![screenshot from 2017-03-11 14 19 46](https://cloud.githubusercontent.com/assets/17237680/23821894/ea24dbac-0665-11e7-8fb9-6453f9765536.png)

Now if we view one of our schedule it looks like this:

![screenshot fro

[2017-03-11 14:25] chashmeetsingh commented on #1345
@siddhantbajaj can I?

[2017-03-11 14:43] siddhantbajaj commented on #1345
@chashmeetsingh go ahead. :+1:

[2017-03-11 16:04] chashmeetsingh opened #1356 "Add place autocomplete"
Using google place auto complete we can get the location details such as longitude, latitude, complete address automatically and use them instead for the `Venue`. It's a bad experience asking users to input latitude and longitude at least.

[2017-03-11 16:19] chashmeetsingh opened #1357 "Formatting date"
We can format dates so that they look more human readable.
For example:
<img width="243" alt="screen shot 2017-03-11 at 9 46 19 pm" src="https://cloud.githubusercontent.com/assets/8962264/23824837/379caa98-06a4-11e7-8399-dabf685da958.png">

I would like to do this!

[2017-03-11 18:59] nikhilgupta1211 commented on #1284
@Ana06 @differentreality  as many conferences have various common resources we can give some default resources to be added like this
![image](https://cloud.githubusercontent.com/assets/14905919/23825878/4fbae798-06b8-11e7-9134-1fead27b7d0e.png)

[2017-03-12 18:53] AEtherC0r3 commented on #1315
Hello @differentreality, can you assign this issue to me?

[2017-03-12 18:56] Ana06 commented on #1326
@differentreality what about adding https://github.com/brigade/haml-lint to the project?

[2017-03-12 19:12] differentreality commented on #1315
@AEtherC0r3 go ahead!

[2017-03-12 19:23] differentreality commented on #1354
Venue deletes rooms, but we still have schedules. It's a good thing we at least see that information. I don't like deleting whole schedules, it's a lot of effort to create them. On the other hand, those event_schedules are probably broken, due to missing a room.

Do we have any realistic scenario as to why we would want to delete a venue (and our rooms) after we have scheduled events?

[2017-03-12 19:28] differentreality commented on #1326
@Ana06 I haven't tried it yet, but sounds good!

[2017-03-12 19:29] differentreality commented on #1313
@seanlinsley can you provide us with more information in order to debug this?

[2017-03-12 19:47] siddhantbajaj commented on #1354
I can't really think of any confirmed scenario for this as I don't really have any experience in organising a conference. But one thing i can think of that might happen quite often is change in venue. Since deciding venue is one of the initial steps in organising a conference and a change in it might just make the organiser start setting up things all over again. In that case,I think the organiser

[2017-03-12 20:32] Ana06 opened #1361 "Add tags documentation"
I think we should document the tags we use for the issues, as some of them are not very clear for me and I have seen some timea people asking about it.

[2017-03-12 20:34] Ana06 commented on #1361
@differentreality I think you are familiar with the tags. Could you maybe add it? Or give some insight with the ones that are not that common and I can do it. :wink:

[2017-03-12 20:36] Ana06 commented on #1357
Why do you want to render the start and the emd date in a different format? :thinking:

Could you please add a screenshot of how is this currently done so it is clear what the problem is? :wink:

[2017-03-12 22:20] seanlinsley commented on #1313
I'm not sure what you're asking for; this page still reproduces the server error: http://www.pgconf.us/conferences/2016

[2017-03-12 22:47] differentreality commented on #1313
I am asking for the rails server logs

[2017-03-13 04:54] chashmeetsingh commented on #1357
End date shows how it is currently displayed and start date shows how we should display it.

[2017-03-13 08:08] AEtherC0r3 opened #1362 "Missing mock_auth config for GitHub"
Signing in/up using OpenID with the github provider in the development environment fails because there is no mock_auth[:github] definition in config/environments/development.rb

[2017-03-13 08:37] divyanshumehta commented on #1326
I too think a linter would be needed to maintain the views with uniformity.

[2017-03-13 08:40] divyanshumehta commented on #1361
Definitely a good step to help everybody. More documentation leads to more clarity.

[2017-03-13 08:50] differentreality commented on #1326
@divyanshumehta so added it to your PR!

[2017-03-13 09:02] #1324 closed

[2017-03-13 17:38] #1362 closed

[2017-03-13 17:41] differentreality opened #1365 "Grooming of openids in development"
* The mocks use emails with domain `email.com`, we should change that
* We should use similar name formats for the users created
* And we should also add relevant tests to prevent #1362

[2017-03-13 17:44] AEtherC0r3 commented on #1365
I would like to work on this

[2017-03-13 18:28] siddhantbajaj opened #1367 "Ongoing conferences"
Currently ongoing conferences are shown under upcoming conferences on the home page. In my opinion there should be a separate section for ongoing conferences.

[2017-03-13 20:36] siddhantbajaj opened #1368 "Issue with public schedule"
I have a conference named "Yast Demo Conference". Its end_hour attribute is 21. But in its public schedule it ends at 22.
here is the screenshot of its public schedule:
![screenshot from 2017-03-14 02 02 00](https://cloud.githubusercontent.com/assets/17237680/23874158/a358057c-085a-11e7-9e3a-f1d60aa3a171.png)

[2017-03-14 07:12] #1347 closed

[2017-03-14 07:28] differentreality commented on #1368
I can confirm this, schedule seems to show conference.end_date + 1 hour.

[2017-03-14 07:32] differentreality commented on #1367
Can you show me this with a screenshot?
Current and upcoming (future) conferences are shown in conference#index in chronological order.

[2017-03-14 07:36] differentreality commented on #1357
Date format is clearly a personal preference (or country convention)
This is a duplicate of #666

[2017-03-14 07:36] #1357 closed

[2017-03-14 08:13] BelieveC commented on #1368
I would like to work on this :+1:

[2017-03-14 09:34] siddhantbajaj commented on #1368
@BelieveC I have already started working on this. So can you please look for some other issue.

[2017-03-14 09:35] BelieveC commented on #1368
@siddhantbajaj, Alright! :+1:

[2017-03-14 10:18] differentreality commented on #1146
Closed in https://github.com/openSUSE/osem/pull/1322

[2017-03-14 10:18] #1146 closed

[2017-03-14 22:22] GeorgiosKalantzis commented on #1333
Hello , I am working on it , but because I haven't been accustomed with the OSEM application yet , can you help me about how to create events and put them in the schedule ? I have thoroughly searched it ,but I didn't figure out it . I will attach you a screenshot in order to specify in what exactly I have stucked. It's important , because I have modified the code in accordance with the demands of

[2017-03-14 22:39] differentreality commented on #1333
Events need to be confirmed in order to be made available for scheduling

[2017-03-15 10:21] hennevogel commented on #1213
Introducing docker as vagrant backend is pretty easy. I have a branch in the [hackweek tool](https://github.com/SUSE/hackweek/compare/vagrant-docker-backend?expand=1) that does this. But anyway, using docker for development brings two major PITAs:

1. 'Folder syncing' with the correct file/folder permissions only works with horrible hacks (like the IMAGE_USERID hack in hackweek) that are not reall

[2017-03-15 11:51] siddhantbajaj commented on #1367
I was thinking of something like this:
![screenshot from 2017-03-15 17 18 47](https://cloud.githubusercontent.com/assets/17237680/23947194/b81a70cc-09a3-11e7-9649-7fecfa661b03.png)
![screenshot from 2017-03-15 17 19 15](https://cloud.githubusercontent.com/assets/17237680/23947207/c3a1e600-09a3-11e7-876d-23e946fc1800.png)

[2017-03-15 12:15] Ana06 commented on #1284
The speakers are not resources, are users and we already have then in our app. And I don't think that every conference what to record the chairs, so I would leave it open, so the admins can decide what they want to track.

[2017-03-15 12:36] differentreality commented on #1284
I agree with @Ana06, we already have some stats about speakers in reports page, and I don't see why we would need to increase the number of speakers manually. While it is an interesting point, whether or not we are able to easily see how many of our speakers have already arrived (based on their registration attendance), this is not the place to do it (perhaps something to investigate and open anot

[2017-03-15 12:40] differentreality commented on #1367
What's your point? That we should not have the link and show everything since the beginning?

In my opinion, it is more confusing than helpful. In the majority of the cases, people will visit this page to do something about an upcoming conference, and not check on previous ones.

On a different note, we could place the date always one line after the conference title, so that its location is consis

[2017-03-15 14:27] #1345 closed

[2017-03-15 15:06] Ana06 commented on #1368
But this is to support different screen sizes. We render 1 hour per carrousel side for small devices, 2 for medium and 3 for big ones.

@siddhantbajaj what do you propose? break the schedule at 9 and makes the cells bigger only for that carousel side? I really don't like that. Although you are right that the current thing is confusing. What about changing the color of the cells that are out of the

[2017-03-15 15:10] Ana06 commented on #1367
@differentreality I think @siddhantbajaj means ongoing conference and not old conferences. And if that is the case that may be useful. :wink:

[2017-03-15 15:53] differentreality commented on #1367
Ah I see the point. Thanks @Ana06
I am still not sure how much value it adds though. Perhaps after we implement the hosted version it will make some sense, but I am not super eager to implement this since now.

[2017-03-15 16:18] siddhantbajaj commented on #1367
@differentreality okay closing the issue. :wink:

[2017-03-15 16:18] #1367 closed

[2017-03-15 18:21] seanlinsley commented on #1313
How would I have access to those? I'm just a random person on the internet.

[2017-03-16 06:31] siaw23 commented on #1356
how about getting rid of the long and lat portion and just autocompleting the country using geocode (or something similar) to autocomplete the country field? The address is enough info for the venue of a conference.

[2017-03-16 07:21] chashmeetsingh commented on #1356
The latitude and longitude can be used to show markers on maps

[2017-03-16 08:43] Ana06 opened #1373 "Enable Style/RedundantSelf Rubocop cop"
There are many redundant selfs in the code. Let's enable the Rubocop cop for that!

https://rubocop.readthedocs.io/en/latest/cops_style/#styleredundantself

[2017-03-16 08:47] Ana06 opened #1374 "Enable Style/DoubleNegation Rubocop cop"
https://rubocop.readthedocs.io/en/latest/cops_style/#styledoublenegation

[2017-03-16 09:58] BelieveC commented on #1374
I would like to work on this.

[2017-03-16 10:02] TheAssassin opened #1376 "Support for LDAP authentication"
We want to set up an OSEM instance for our university's students council to host a series of talks and workshops. As we already have an LDAP instance in our network which we use for single identity across all our services, it would be great if OSEM would support this, too, as an optional authentication provider (as external speakers should still be able to register).

[2017-03-16 10:08] TheAssassin opened #1377 "Production grade Dockerfile"
I am working on a Dockerfile for deploying OSEM in production at the moment. As @hennevogel mentioned in #1213, this might be considerable to add to this project.

I think that the OSEM might benefit quite much from having this included upstream, because that simplifies deployment greatly (especially since there's no installation documentation, the referral to

are not really useful to the end use

[2017-03-16 10:18] Ana06 commented on #1374
Go ahead! :+1:

[2017-03-16 10:50] BelieveC commented on #1373
I would like to work on this :+1:

[2017-03-16 12:36] differentreality commented on #1313
Oh alright, I assumed you were involved with PGConf US and that was why you opened an issue with OSEM about this, instead of contacting the organizers of the conference.

Any conference using OSEM can modify it in any way they like. There is no way for us to reproduce the error, I am afraid.  @eug3nix perhaps you can help us?

[2017-03-16 12:44] differentreality commented on #1368
Now I get what's going on. So this was somehow intentional. Definitely let's not break anything :-)

[2017-03-16 13:35] nikhilgupta1211 commented on #666
i am on it :)

[2017-03-16 14:35] shlok007 opened #1379 "Page title should be relevant to the content"
Is there any particular reason why the title of all pages are the same ( OSEM_NAME or 'OSEM' ) ?

Changing title of pages according to the content of a specific page would help in navigating through the app.

[2017-03-16 14:42] eug3nix commented on #1313
Hey, @seanlinsley I am the one who is working on the current implementation of the pgconf.us website, which is running OSEM with quite a lot of modifications done to it. The legacy conference data(e.g 2016) was migrated from the previous PGConf application but still needs some manual tweaking here and there to make OSEM work, we are actively working on the PGConf 2017 at the moment and will spend

[2017-03-16 15:53] manishyadavv opened #1380 "Error in signin sign out options in responsive mode"
There is error while opening in responsive mode ,the sign out, Edit account ,Edit profile remains hidden when we click on it and drop down list doesn't show anything.@differentreality
@Ana06
I had checked it for both Firefox and Chrome Browsers.
here are screenshots.
before clicking
![beforeclickadmin](https://cloud.githubusercontent.com/assets/23294174/24005284/9668e972-0a8e-11e7-904d-533dee9dd51

[2017-03-16 16:18] seanlinsley commented on #1313
Ah I see. I'd clicked the only relevant link in the footer on [this page](www.pgconf.us/confearences/2016/program/proposals/147):

<img width="1001" alt="screen shot 2017-03-16 at 11 16 27 am" src="https://cloud.githubusercontent.com/assets/688886/24006531/1925f86e-0a3a-11e7-96e1-3d262c1d6156.png">

But the [2017 index page](http://www.pgconf.us/conferences/2017) correctly has a mailto link for or

[2017-03-16 16:19] #1313 closed

[2017-03-16 17:12] manishyadavv opened #1381 "Issue in conference dashboard"
Graph showing Submissions over time misbehaves when the boxes are checked and unchecked multiple times , graph merges under the other one and looses it's design.

before unchecking Submitted/Confirmed/Unconfirmed boxes
![beforeuncheckingbox](https://cloud.githubusercontent.com/assets/23294174/24008963/6bba5dd6-0a99-11e7-8200-ff99dead989b.png)

after unchecking Submitted/Confirmed/Unconfirmed boxes

[2017-03-16 17:14] nikhilgupta1211 commented on #1380
@manishyadavv this is being solved in #1320

[2017-03-16 17:17] manishyadavv commented on #1381
Also it works when screen size in default in chrome(zoom=100%) but misbehaves when zoom=90% or less.

[2017-03-16 17:40] manishyadavv commented on #1380
#1320  I had seen this but while operating in browser it shows options like this
![upld](https://cloud.githubusercontent.com/assets/23294174/24010295/7527edda-0a9d-11e7-833a-3121e1c73133.png)
when the cursor is moved on the option it shows and disappears when we remove from it.

[2017-03-16 17:59] BelieveC opened #1382 "Missing Controller, Model tests for Venue"
Following files and tests for Venue are missing:

- `spec/controllers/admin/venues_controller_spec.rb`
- `spec/models/venue_spec.rb`

[2017-03-16 18:22] nikhilgupta1211 commented on #1368
@Ana06 i also think displaying the cells outside the conference with different color will be a good fix :)
![o2](https://cloud.githubusercontent.com/assets/14905919/24007843/d202e3f0-0a95-11e7-8aea-c19d0951e992.png)

or instead of using carousel we can use a horizontal scrollbar to resolve this issue

[2017-03-16 20:42] #1380 closed

[2017-03-16 20:55] lagartoflojo commented on #1326
@differentreality @Ana06 We recently introduced haml-lint to our project at work. It works fine, alright. But unlike Rubocop, it's not able to auto-correct :(

[2017-03-16 21:37] siddhantbajaj opened #1383 ""Add venue" link in todo list does not work properly for organiser."
"Add venue" link in todo list is not active for the organiser of that conference. Organiser of a conference can update/create the venue. So it should it be active in the todo list for organiser as well.
Screenshot of above issue:
![screenshot from 2017-03-17 02 45 50](https://cloud.githubusercontent.com/assets/17237680/24018917/e89dbcd6-0abb-11e7-85b8-6a20b0f04ef5.png)

[2017-03-16 23:43] siddhantbajaj commented on #1368
Changing color of all other cells still does not clearly indicate end time exceeded. We can do something like this:
![screenshot from 2017-03-17 05 08 21](https://cloud.githubusercontent.com/assets/17237680/24023062/e83d11ec-0acf-11e7-9d1a-7e57690487d0.png)

Now we can change color of other cells as well just to be more clear. @nikhilgupta1211 don't you think horizontal scrollbar might be an issue

[2017-03-17 04:05] nikhilgupta1211 commented on #1284
@Ana06 I meant speaker as a device

[2017-03-17 08:10] Ana06 opened #1385 "Order .rubocop.yml"
Order the cops in .rubocop.yml by sections (Style, Rails, etc.) and also alphabetically inside every section. It should look similar to: https://github.com/bbatsov/rubocop/blob/master/config/default.yml (only the order, the cops enabled should remain the same)

Add a *short* description (one sentence) of the cop in a comment in the line before it. Some cops already have it, but there are many with

[2017-03-17 08:30] Ana06 commented on #1382
There some files that are not tested yet, but we don't need an issue for any of them. Otherwise we will have many issue for increase rspec coverage.

You can work on this, but please don't open issues for that. :slightly_smiling_face:

[2017-03-17 08:30] #1382 closed

[2017-03-17 08:36] Ana06 commented on #1368
@nikhilgupta1211

When we implemented the schedule last year we discussed it and decided we didn't want to use horizontal scrollbar as it is not clear for everybody and not very used.

@siddhantbajaj I like the idea of removing the times. Not sure about the grey after seeing @nikhilgupta1211 screenshot, maybe a very light grey. Add screenshots in the PR and we can discuss it!

[2017-03-17 08:37] Ana06 commented on #1368
@siddhantbajaj I like the idea of removing the times. Not sure about the grey after seeing @nikhilgupta1211 screenshot, maybe a very light grey. Add screenshots in the PR and we can discuss it!

[2017-03-17 08:48] Ana06 commented on #1361
This was done in https://github.com/openSUSE/osem/pull/1363/files but there are some labels without description yet, so I guess it can still be improve.

[2017-03-17 08:59] siddhantbajaj commented on #1368
Okay @Ana06.

[2017-03-17 09:36] siaw23 commented on #1385
on it... ;)

[2017-03-17 10:52] differentreality commented on #1326
@lagartoflojo sounds like we should use it too

[2017-03-17 10:53] lagartoflojo commented on #1326
I agree, we should!
Should it be part of https://github.com/openSUSE/osem/pull/1358 ?

[2017-03-17 10:58] differentreality commented on #1326
I don't mind opening a new PR for it. I had initially suggested we do styling changes in #1358 https://github.com/openSUSE/osem/pull/1358#issuecomment-285965198 but now that we will introduce a different tool, we can merge #1358 and then do the rest in a new PR.

[2017-03-17 10:59] lagartoflojo commented on #1326
Sounds good.

[2017-03-17 11:01] lagartoflojo commented on #1326
I think it makes sense to just enable haml-lint in one PR, and then start enabling the rules in different PRs. Some rules will need a lot of fixes, while others not so many.

[2017-03-17 12:11] divyanshumehta commented on #1326
Yeah good idea the RP #1358 has the changes for thr Ruby syntax and someluntibg correction. I will correct the linting in a new PRs, as there are lots of changed

[2017-03-17 12:58] differentreality commented on #1361
@hennevogel @ChrisBr why had we introduced labels ready and in_progress?

[2017-03-17 14:24] lagartoflojo commented on #1377
I like the idea of creating a production-ready Dockerfile.
It would be especially cool if we can automatically create the image and push it to Docker Hub. Not sure how that all works.

I think SQLite3 is completely discarded for production usage. Yes, it's possible.. but really?
We should provide sane defaults.
Either way, in Dockerlandia, the db should run in a separate container. So in order to

[2017-03-17 14:46] Ana06 opened #1388 "Write test for program#any_event_for_this_date?(date)"
Write test/s for program#any_event_for_this_date?(date) as they were skipped in
https://github.com/openSUSE/osem/pull/1309

[2017-03-17 14:52] TheAssassin commented on #1377
That's the plan, yeah, I already wrote such a file with MariaDB integration and called it `docker-compose.yml.example`.

We should provide sane defaults.

The idea behind it is that for creating a Dockerfile or just testing, an SQLite3 database is way easier to set up at the moment. The only thing I really had to change to get SQLite3 working was moving the `sqlite3` dependency up a little bit in

[2017-03-17 14:57] lagartoflojo commented on #1377
By "for just testing", do you mean to "spin up OSEM and see if it's good enough for my use case"?

[2017-03-17 15:17] TheAssassin commented on #1377
Yep, that's what I initially wanted to do before finding out there's literally no installation docs. Although I have to admit, with a `docker-compose.yml.example` file showcasing MariaDB integration, such a test would be as easy as with SQLite3.

[2017-03-17 15:19] lagartoflojo commented on #1377
Yeah, the docker-compose file would be really helpful, and if it's production-ready, even better.
Still I think that to try out OSEM, it's much easier to just go to demo.osem.io :)

[2017-03-17 16:32] nikhilgupta1211 commented on #1388
on it :)

[2017-03-17 18:27] siddhantbajaj opened #1390 "Organiser of particular conference has the option to manage all the conferences in the dashboard"
Currently organiser of a particular conference has the option to manage all other conferences in the dashboard. This might be little confusing. Screenshot of this issue:
![screenshot from 2017-03-17 23 56 20](https://cloud.githubusercontent.com/assets/17237680/24057433/59438c98-0b6d-11e7-9334-f2d08e1fff70.png)

[2017-03-18 18:29] GabrielSVinha commented on #1390
On it! ;-)

[2017-03-18 19:04] siddhantbajaj commented on #1390
Great @GabrielSVinha but i will suggest to you to wait for someone's feedback. Currently no label is assigned to this issue. You should look for labelled issues.

[2017-03-18 19:50] differentreality commented on #1390
Just because the menu says manage, it doesn't mean the user can manage the other conferences (or better manage everything about the other conferences, the user can manage some parts of the conferences).

I don't understand what's the problem.

[2017-03-18 20:13] GabrielSVinha commented on #1390
@siddhantbajaj ok, i'll do it. But shouldn't this be a junior?

[2017-03-19 10:05] Ana06 commented on #1333
@GeorgiosKalantzis there is already a PR for this: #1334

please choose another issue in which there is not someone else working :wink:

[2017-03-19 10:07] Ana06 commented on #1298
This is already solved: #1309

[2017-03-19 10:07] #1298 closed

[2017-03-19 17:38] GeorgiosKalantzis commented on #1333
Ok, It should have been told that someone else was working too , because I was ready to PR too, but it's I'll find something else !!

[2017-03-19 20:03] siddhantbajaj commented on #1390
@differentreality yes I know it just says manage but it doesn't really allow user to manage. In fact organiser of some conference can't manage anything of some other conference and rightly so. So basically my question is why are even showing user this option to manage conference where all they can do is to see the dashboard of the conference. Something like this:
![screenshot from 2017-03-20 01 32

[2017-03-20 05:21] nikhilgupta1211 commented on #1188
@Ana06 can i work on this ?

[2017-03-20 07:41] differentreality commented on #1188
@nikhilgupta1211 what exactly are you going to work on - what are you going to implement in order to solve this?

[2017-03-20 07:53] differentreality commented on #1390
We show the menu, because we want organizers to be able to view stats from other conferences. Eg. if last year conference X had most of the submissions towards the end of the cfp deadline, that gives some useful information to organizers of conference Y.

And I am kind of assuming here that the conferences might be yearly conferences of same community. This makes sense to be limited to conferences

[2017-03-20 08:22] nikhilgupta1211 commented on #1188
@differentreality i think as @Ana06 said it is not needed to save the schedules in the conference timezone so for this issue we just have to convert the time zone in show.xml.haml to conference time zone which we can do with the help of ` in_time_zone`

[2017-03-20 09:16] differentreality commented on #1188
This is a delicate point, what we save in the DB is indeed UTC, but when we schedule something at 9am, this is supposed to be 9am of the conference time.

[2017-03-20 09:21] a-tze commented on #1188
If I might comment here... I have no idea how your records are stored in database, but seeing you talk about "conversion" of time gives me the feeling that you're doing it wrong. Please, do not convert datetimes. The database does that for you. If it doesn't, you're doing it wrong.
The timezone that ends up in the XML actually doesn't matter. It just has to be correct, which is the actual issue he

[2017-03-20 10:26] differentreality commented on #1252
Ping for feedback!

[2017-03-20 12:06] differentreality commented on #1365
@AEtherC0r3 what's your progress on this?

[2017-03-20 12:08] Ana06 commented on #1188
@differentreality it is much easier to work on UTC for the schedule, we just have to take care of rendering it properly in the places where we want to include the timezone.

[2017-03-20 12:16] differentreality commented on #1188
@Ana06 I did not say otherwise. I am just saying that if the event is scheduled at 9am, the DB records 9am UTC, but what the organizer really means when the event was dropped in the schedule is 9am of local time of wherever the conference is happening, hence when we display the time in schedule.xml we should not convert that time, just not present as UTC.

[2017-03-20 12:31] Ana06 commented on #1188
@differentreality ok :+1: I understood you wrong :wink:

[2017-03-20 12:47] nikhilgupta1211 commented on #1188
@differentreality so a simple fix would be to remove the trailing Z in the string in the xml .

[2017-03-20 12:50] differentreality commented on #1188
And how will we know in which timezone those times in the xml are?

[2017-03-20 13:13] nikhilgupta1211 commented on #1188
@differentreality We can add a timezone tag in xml to show the conference timezone or we can do
[code]
This will convert the timezone to conference timezone without changing the time.
for Eg : `Sun, 05 Mar 2017 11:00:00 UTC +00:00` to ` Sun, 05 Mar 2017 11:00:00 IST +05:30`

[2017-03-20 13:15] Ana06 commented on #1188
@nikhilgupta1211

then just render the timezone of the conference withouf dealing with time changes and offsets. :wink:

[2017-03-20 15:19] #1326 closed

[2017-03-20 15:46] AEtherC0r3 commented on #1365
i've changed the usernamedomain to example.com and normalized. If you wish you can see the changes at https://github.com/AEtherC0r3/osem/tree/openid_improvements.

I hope to write the tests and open a pr by the end of the week.

[2017-03-20 15:53] differentreality commented on #1365
Please open a PR for us to review the changes, when you are ready.

[2017-03-21 05:36] shlok007 opened #1394 "Create resource with empty used/total_quantity throws an exception"
**Issue**: Creating/Updating resource with empty `quantity` or `used` returns the following.

![error](https://cloud.githubusercontent.com/assets/14155445/24133851/41cc4378-0e26-11e7-897d-249b45864cc8.png)

**Possible Solution**: Add a validation for presence of `used` and `quantity` while creating/updating resource.

[2017-03-21 10:03] Ana06 opened #1395 "Add haml-lint"
Add https://github.com/brigade/haml-lint to the project

We should enable haml-lint in one PR, and then start enabling the rules in different PRs.

Related to: https://github.com/openSUSE/osem/issues/1326

[2017-03-21 10:07] agrim123 commented on #1394
@shlok007 I think we need to add check apart from adding validations for `used` and `quantity`. Something like this can be done
[code]

[2017-03-21 10:11] agrim123 commented on #1395
@Ana06 I am interested on working on this.

[2017-03-21 10:14] Ana06 commented on #1394
@shlok007

and what if you don't know the total resources you have? I wouldn't make this compulsory.

@agrim123 I like your idea, feel free to open a PR. Although you can use `present?` instead of `! nil?` which is more readable and have `used <= quantity` in the same condition.

[2017-03-21 10:14] Ana06 commented on #1395
Go ahead!

[2017-03-21 10:17] agrim123 commented on #1395
We need to add .haml-lint.yml? I just ran a haml-lint and got warnings including LongLine(how much length should be kept for the same ).

[2017-03-21 10:25] Ana06 commented on #1395
you should add haml-lint, disabled the errors and make haml-lint to run in travis. So basically make everything ready so we can progressively enable the rules and everything is already set up. :wink:

[2017-03-21 10:44] #1374 closed

[2017-03-21 10:50] agrim123 commented on #1394
@Ana06 I think the `quantity` input field should have a default value of 0 as `used` has. It is causing problems while rendering index page for resources, giving error
`undefined method '-' for nil:NilClass`
because `quantity` is being assigned a nil value !

[2017-03-21 11:46] shlok007 commented on #1394
Adding a default value wouldn't solve the problem of resources whose quantity are not yet know. Maybe we we could rewrite the helper function and in the views render something else ( like a  dash(`-`) ) when the `quantity` is not yet known? This could be a temporary solution until we come up with https://github.com/openSUSE/osem/issues/1284

Something in terms of:
![resource_index](https://cloud.g

[2017-03-21 11:48] differentreality commented on #1394
Maybe we should not be adding resources without a total number

[2017-03-21 11:49] agrim123 commented on #1394
But `quantity_left_of` helper function is performing a arithmetic calculation so we need to give it an integer value.

[2017-03-21 11:55] agrim123 commented on #1394
Maybe we can do something like this
[code]
@shlok007 @differentreality what say?

[2017-03-21 14:32] Ana06 commented on #1394
@differentreality

But you could want to register how many you used although you don't know/don't want to track the total amount. Why limiting it? :confused:

@agrim123

why `unless` and `if`? just use only one condition!

[2017-03-21 14:44] agrim123 commented on #1394
@Ana06 I updated my comment.
But still if a user submits an empty field then following error is raised
`nil can't be coerced into Fixnum`
Need suggestions on that.

[2017-03-22 10:13] nikhilgupta1211 commented on #666
@differentreality can you please suggest some place where to add this option in the dashboard :)

[2017-03-22 10:20] differentreality commented on #666
@nikhilgupta1211 how about you first describe how you plan on implementing this?

[2017-03-22 10:25] nikhilgupta1211 commented on #666
@differentreality i was thinking to give a select menu to select the date format and to define a `date_format` method to format the date with the help of strftime.

[2017-03-22 13:33] differentreality commented on #1381
Duplicate https://github.com/openSUSE/osem/issues/579

[2017-03-22 13:33] #1381 closed

[2017-03-22 14:18] SidharthBansal commented on #1390
I think instead of manage ,"view" should be written as other organizers ,say organizer X ,can only see to organizer Y.It can't modify the contents of organisation Y.
For the organizer X, he should see Manage X, View Y , View Z etc.

[2017-03-23 16:34] jaels commented on #1356
Hey, I'm pretty new to contributing to open source projects, and would like to gain more experience in that. Can I help with this issue? Thanks

[2017-03-23 19:49] differentreality commented on #1356
Hey @jaels, yes you can go ahead, no else seems to be working on it.

[2017-03-24 13:17] jaels commented on #1356
Hey @differentreality , I downloaded everything and opened the website on my machine, but there isn't much there. It looks like this:
![image](https://cloud.githubusercontent.com/assets/19172728/24295705/5b13af4c-109c-11e7-8bdc-594e90593268.png)
Where is the place autocomplete etc? should I sign up?

[2017-03-24 13:22] differentreality commented on #1356
Yes you should! Then you can create a new conference or import some from our test data
`rake data:test`

[2017-03-24 13:28] jaels commented on #1356
So, should I add google auto complete for the address, and cancel the latitude and longitude?

[2017-03-24 13:30] differentreality commented on #1356
@jaels you should check if google auto complete is going to work. We also need to show the venue on the map in the splashpage of the conference. Let us know what you try out with a Pull Request.

[2017-03-24 13:38] jaels commented on #1356
@differentreality Now I see that this part is written in Ruby. My language is Javascript... Do you know of any Junior bug in Javascript?