[2017-12-03 18:47] Ana06 commented on #1837
@adrianovieira please do not open issues without description. 🙈

A short title and a detailed description (including how to reproduce the problem for example) helps to understand what the problem is about. 😉

[2017-12-03 18:47] Ana06 commented on #1844
where? please add more details. Where is this exactly needed? Maybe a screenshot as well... 🤔

[2017-12-03 18:50] Ana06 commented on #1827
@bear454 I think a solution for both problems would be to allow the speaker to register if there is o there was a registration open. So, if there is no registration, the speaker is not allowed to register, but if there was one, even if it is closed, then we allow the speaker to register, as he will be there anyway.

This would take both cases into consideration, right?

[2017-12-04 03:27] esquith commented on #1819
That doesn't work either. If nobody else is having this problem then I guess its cool, but if other people are having it then you guys should direct people to download it manually in the installation instructions. I've tried different connections too

[2017-12-04 08:38] Ana06 commented on #1844
@adrianovieira thanks! now the issue is completely clear and the images are really cool!!! 💘

[2017-12-04 08:55] #1816 closed

[2017-12-04 09:05] differentreality commented on #1808
OK now it makes sense what's the issue :)
The fact that there is an icon, where there shouldn't be anything.

I can see it on openSUSE with chromium as well, and I'd say it is a bit confusing.
So IMO this is definitely something we can fixed! Thanks @rahul2240 for reporting this

[2017-12-04 13:40] #1824 closed

[2017-12-04 14:40] differentreality commented on #1835
I am labeling this as 'need feedback' so that the others can comment on this, and decide:
* if we want to add another option for payments
* and if so, which option this would be (eg. paypal)

Once that's decided, this would need to be implemented, and it will require some coding and rails knowledge.

[2017-12-04 16:57] bear454 commented on #1827
I'm good with that; I'll update the PR to reflect it.

[2017-12-05 08:18] #1823 closed

[2017-12-05 09:14] differentreality commented on #1813
Same is true for event proposals (the button redirects to index)

[2017-12-05 09:37] differentreality commented on #1832
What I was asking was if you have made any changes to the task script, and if this image (https://github.com/openSUSE/osem/blob/master/spec/support/logos/OSEM.jpg) exists in your instance.

[2017-12-05 10:05] olea commented on #1822
Related to #1524.

[2017-12-05 10:22] olea commented on #1548
@shlok007 About the installing instructions, for the OpenID thing: AFAIK a callback URL is required to register a new application at providers, but this URL is not documented. Am I wrong?

[2017-12-05 10:50] differentreality commented on #1548
@olea that's not specific to site admins, and hosted version, though.

https://github.com/openSUSE/osem/blob/master/INSTALL.md#openid
Indeed we should mention about the callback url, which is in the format of
https://osem.example.com/accounts/auth/github/callback
(assuming this is for github)

[2017-12-05 11:23] Ronaq13 commented on #1844
I want to take this issue if no one assigned yet.

[2017-12-05 11:25] Ronaq13 commented on #1838
I want to take this issue.

[2017-12-05 11:45] rishabhptr commented on #1838
@Ronaq13 Actually, this is just a small bug due to email text size which I had already fixed locally.

[2017-12-05 12:05] Ronaq13 commented on #1844
@Ana06 can I start working on this? Or is anybody  else already working.

[2017-12-05 12:07] SidharthBansal commented on #1825
I have solved the other two issues. May I work on this?

[2017-12-05 12:50] Ana06 commented on #1838
@rishabhptr please when you work on an issue, write a comment to avoid someone else work on it as well.

@Ronaq13 please choose another issue 😉

[2017-12-05 13:03] Ana06 commented on #1825
@SidharthBansal this is just exactly the same as the other 2 issues you did. what about trying something different (maybe more difficult as well) now and allow someone else to work on this? 😉

[2017-12-05 13:13] Ana06 commented on #1844
@Ronaq13 there is a PR for it that you can see in this issue a little bit up. So there is someone already working on it, sorry.

Nobody is working in these two issues:

- https://github.com/openSUSE/osem/issues/1825
- https://github.com/openSUSE/osem/issues/1342

Maybe you want to work on one of them 😉 (write a comment there if so).

[2017-12-05 13:19] SidharthBansal commented on #1825
Ok

[2017-12-05 13:56] Ronaq13 commented on #1825
I want to take this issue.

[2017-12-05 13:58] rishabhptr commented on #1838
@Ana06 Sorry, I would make sure from next time.

[2017-12-05 14:01] Ronaq13 commented on #1342
I want to work on this.

[2017-12-05 14:07] Ana06 commented on #1825
@Ronaq13 go ahead! 👍

[2017-12-05 14:09] Ana06 commented on #1342
@Ronaq13 not sure if it is a good idea to work on more than one issue at the same time. Anyway, go ahead!

[2017-12-05 14:10] Ana06 commented on #1361
@differentreality @hennevogel @ChrisBr maybe we should remove the labels we want to use in OSEM 🤔

[2017-12-05 14:14] Ana06 commented on #1791
@hennevogel what do you exactly want to copy?

this schedule looks quite similar to the one we had before changing it to the current one. One important think was that we wanted the schedule was valid when there were many rooms, this seems to have the same problem.

The current schedule has some problems, but not sure if that is the solution. 🤔

[2017-12-05 14:18] olea commented on #1835
Seems CommandPrompt has implemented Braintree Payments on their fork https://github.com/commandprompt/osem-pg/commits/beta

Just reporting.

[2017-12-05 14:24] olea commented on #1808
Just to verify it happens to me too in master using provided Dockerfile and checked ImageMagick is available.

[2017-12-05 18:05] olea opened #1854 "No cover for legal requirements for websites"
In the process of adopting OSEM I've found some relevant legal features not available. I'm more familiar with Spanish law but AFAIK it's equivalent to other international ones. I realized about:

- no cookies advertising, required since OSEM uses it to manage user sessions, needed too if using some kind of analytics;
- personal data removal, in Spain the LOPD makes mandatory to explicitly say a wa

[2017-12-05 18:11] olea commented on #1791
Maybe it's not strictly related with this entry but I strongly suggest to add an export feature as  Frab, xCal and iCal formats. So schedule can be consumed by standard calendar apps (like smartphone ones) or specialized conference apps like [Giggity](https://f-droid.org/en/packages/net.gaast.giggity/).

[2017-12-05 19:00] Ronaq13 commented on #1825
I started working on it.

[2017-12-05 19:07] olea commented on #1830
So this is the origin of the confusion at [_proposal_form.html.haml](https://github.com/openSUSE/osem/blob/master/app/views/proposals/_proposal_form.html.haml):

[code]

The propierty @event.description should be called something like @event.requirements.

I prefer not to patch it by myself bc not into Ruby :-/

[2017-12-05 19:35] olea opened #1855 "No menu entry for remove conferences"
There is not (or I can't reach it) a menu entry for deleting a conference. This can be extremelly useful at least to remove traces of tests for new adopters.

[2017-12-05 22:14] olea opened #1856 "Description of the CFP should not be rendered as markdown"
At the CfP page (example http://localhost:9292/admin/conferences/colo/program/cfps) CfP description __should not__ be rendered as makrdown but as plain text because the text headings probably will broke the page styling. See this text:

![captura de pantalla de 2017-12-05 23-13-37](https://user-images.githubusercontent.com/141267/33633682-f4b73742-da11-11e7-910f-c570215a044a.png)

and it's rendere

[2017-12-05 22:22] olea opened #1857 "Send invitation to a non-registered user added to a role group"
When organizing an event very often you'll want to invite friends, collaborators or colleagues. This is particularly relevant when preparing the CfP and inviting colleagues to join. Asking them to first register, to warn you they have registered and finally adding them to the role group is very inneficient.

Another very relevant cases are when calling for volunteers or inviting press contacts.

T

[2017-12-05 23:21] olea commented on #1854
Related with #330.

[2017-12-06 00:01] adrianovieira commented on #1832
No! I haven't made any changes to the script.

Yes! That image exists in the my working copy.

[2017-12-06 00:12] olea opened #1860 "Please add me to Transifex reviewers"
I would like to fix ES translations at Transifex but seems I need review permissions.

I can't see how to ask permisions at Transifex team. Could you please add me? My user there is [olea](https://www.transifex.com/user/profile/olea/).

Thanks in advance.

[2017-12-06 01:36] adrianovieira commented on #1835
From my viewpoint we have some topics here:

1. define a method/resource to deactivate Stripe
1.1 set resource to upload proof of payment or something similar
2. set resource to have _coupons code_ and also _discount coupons_
3. to define another option I think it could be kind of "plug-in system". So, it is up to anyone to define their integration

I my case *1.1* is a great solution at this time

[2017-12-06 14:41] differentreality commented on #1855
Conference deletion is **not** currently supported.

Duplicate issue https://github.com/openSUSE/osem/issues/1611

[2017-12-06 14:41] #1855 closed

[2017-12-06 16:27] differentreality commented on #1860
As we are planning on changing Transifex, I am not doing any updates on its end. If you really want to do that at this point, please send a request on transifex.

Check https://github.com/openSUSE/osem/blob/master/TRANSLATION.md for more.

[2017-12-06 16:27] #1860 closed

[2017-12-06 16:47] rishabhptr commented on #1195
@differentreality Is this being solved elsewhere also because I can see a similar issue on mobile device for tickets sold page.

Please check this on mobile device after login.
http://demo.osem.io/admin/conferences/osemdemo/physical_tickets

While scrolling back and forth the page a couple of times, the white space around charts starts to increase infinitely, such that it is not possible to reach

[2017-12-07 06:58] Ronaq13 commented on #1342
@Ana06 I am not able to get this error. I checked on Chrome, Chromium, and also on Firefox. It renders perfectly on all the platforms. Recently firefox got updated, maybe that resolved this issue.

![firefox_osem](https://user-images.githubusercontent.com/16839496/33702533-126a0812-db4a-11e7-8cb5-c68370c91089.png)

[2017-12-07 07:53] Ronaq13 commented on #1825
@Ana06 Can you specify some file name where Rubocop finds this offense.  I checked by Rubocop it inspected 556 files and found no offenses. And the project doesn't have any methods like :
[code]

Already `keys.each` and `values.each` have been used.

`values.each` has been used in files:

1. app/module/conference.rb
2. spec/factories/event_users.rb
3. coverage/index.html
4. models/email_settings.r

[2017-12-07 10:31] Ana06 commented on #1825
The offenses are excluded in the [`.rubocop_todo.yml` file](https://github.com/openSUSE/osem/blob/master/.rubocop_todo.yml#L382). You have to remove the related offenses from there and after that Rubocop will complain about them. In this case you can use Rubocop autocorrection to solve them.

You may want to read [Rubocop documentation](http://rubocop.readthedocs.io/en/latest/configuration/#automa

[2017-12-07 14:41] SidharthBansal opened #1862 "Contribution.md has broken capybara link"
In contribution.md https://github.com/openSUSE/osem/blob/master/CONTRIBUTING.md under Test Suite, capybara link is broken
![image](https://user-images.githubusercontent.com/20972099/33720672-b203ff96-db8a-11e7-9453-32b57a89faab.png)
By clicking on it, it shows
![image](https://user-images.githubusercontent.com/20972099/33720689-c66bdab2-db8a-11e7-8acd-8fafa52b782a.png)

[2017-12-07 14:43] SidharthBansal commented on #1862
@Ana06 May I change it to http://www.rubydoc.info/github/jnicklas/capybara ?

[2017-12-07 17:00] vmisson opened #1863 "How to connect to fresh OSEM docker deployment"
Hello,

I have deployed OSEM instance with the docker compose file.
I'm able to open the default web page but I was not able to find the admin user / password info to log on the app...

Sorry if it's a stupid question...
Thanks in advance.

[2017-12-07 17:57] #1842 closed

[2017-12-07 18:49] differentreality commented on #1863
@vmisson have you created a user? You can use the sign up link to do so.

[2017-12-07 21:24] vmisson commented on #1863
Yes I already try this but I got a "Error 500: Internal Server Error". It seems to be related to SMTP misconfiguration.
Anything special to do with mailhog?

[2017-12-07 23:37] vmisson commented on #1863
Even if SMTP is not working my account is created on the app and I'm able to login.
But it's a user account... how can I be admin ?

[2017-12-08 07:57] Ana06 commented on #1862
@SidharthBansal sure! for small fixes like this one you can directly send the PR. 😉

[2017-12-08 07:58] #1844 closed

[2017-12-08 09:18] differentreality commented on #1863
@vmisson your first user should be an admin, it might be that docker is not running the seeds. We should have a look at that, thanks:)

To add the attribute is_admin to a user manually execute the following command:
rake user:admin ['email_of_existing_user']

[2017-12-08 09:30] SidharthBansal commented on #1862
Ok thanks

[2017-12-08 12:35] vmisson commented on #1863
Thanks for your feedback @differentreality

I just try but I get the following error:
osem@2309942c09b3:/osem$  rake user:admin ['vincent.misson@gmail.com']
NOTE: Gem.datadir is deprecated; use spec.datadir instead. It will be removed on or after 2016-10-01.
Gem.datadir called from /usr/local/bundle/gems/rdoc-generator-fivefish-0.3.0/lib/rdoc/generator/fivefish.rb:29.
rake aborted!
NoMethodError:

[2017-12-08 13:05] differentreality commented on #1863
@vmisson you probably need to prepend bundle install to the command you are running.

[2017-12-08 16:18] olea commented on #1863
If you are using upstream Docker conf it should run fine with an external SMTP server.

Just be sure to write [OSEM_SMTP_DOMAIN="" content between quotes](https://github.com/openSUSE/osem/pull/1826)!!

[2017-12-08 16:57] vmisson commented on #1863
Thanks for your feedback @olea.

I just redeploy everything from scratch and I still have an issue with mailhog.

web_1       |   /usr/local/lib/ruby/2.3.0/net/smtp.rb:772:in `check_auth_method'
web_1       |   /usr/local/lib/ruby/2.3.0/net/smtp.rb:548:in `do_start'
web_1       |   /usr/local/lib/ruby/2.3.0/net/smtp.rb:521:in `start'
web_1       |   mail (2.6.6) lib/mail/network/delivery_methods/s

[2017-12-08 17:58] olea commented on #1863
AFAIK the expected configuration to use mailhog is the one at docker-compose.env.example. But I've never used it, sorry.

[2017-12-08 18:08] olea commented on #1830
Fixed in #1859.

[2017-12-08 18:08] #1830 closed

[2017-12-08 23:26] vmisson commented on #1863
The config on docker-compose.env.example is :
OSEM_EMAIL_ADDRESS="osem@mailhog"
OSEM_SMTP_AUTHENTICATION="login"
OSEM_SMTP_ADDRESS="mailhog"
OSEM_SMTP_PORT="1025"
OSEM_SMTP_USERNAME="mailhog"
OSEM_SMTP_PASSWORD="mailhog"

but it's not working for me... :(

[2017-12-09 09:50] Ronaq13 commented on #1825
#1869 Please review the pull request

[2017-12-09 09:59] SidharthBansal commented on #1862
Please review Pull Request #1866

[2017-12-09 12:47] adrianovieira opened #1870 "depending of the email length it overwrites the event data"
If the user choose to have his email public it sometimes overwrites the event data, e.g:

- actual behaviour

![captura de tela de 2017-12-09 10-22-34](https://user-images.githubusercontent.com/5561794/33795577-4b082a0a-dccb-11e7-852e-9fa2aa380e4a.png)

My proposal is to change this by social media icons, e.g:

- new behaviour

![new-behaviour](https://user-images.githubusercontent.com/5561794/337

[2017-12-09 12:50] rishabhptr commented on #1870
Yes #1838 is also for this only.

[2017-12-09 13:01] adrianovieira commented on #1870
Nice! them my PR will cover that!

[2017-12-09 14:00] adrianovieira opened #1872 "autofill CFP end date"
## Description

For every date you choose for the beginning for a CFP, when you go to choose the ending date it always show the current month.

It could be good that the behaviour for the ending date show at least the same month where the cfp starts.

- **old behaviour**

![old-behaviour](https://user-images.githubusercontent.com/5561794/33796264-e04709d6-dcd7-11e7-99f8-4d6910ff4db9.gif)

### Step

[2017-12-09 19:13] adrianovieira commented on #1856
Hope it should be a plain text - without `markdown` in https://github.com/openSUSE/osem/blob/master/app/views/admin/cfps/index.html.haml#L30

May I work on this?

[2017-12-09 20:22] adrianovieira commented on #1795
I took a look on that pgconf website.

Nice that behaviour they've done for selecting ***tracks*** in schedule.

They've proposed a PR for osem/upstream?

[2017-12-09 20:31] adrianovieira commented on #1697
I believe this will work if you have translation enabled for your own language.

[2017-12-09 21:29] adrianovieira opened #1875 "Create a Issue template file"
Let me suggest you to create templates. So, anyone that open a Issue or a PR could know what do you'd like to have as minimum information.

- PR template
- Issue template (e.g as the sample below).

sample issue template:

[code]

[2017-12-10 02:53] rishabh92 commented on #1676
@differentreality Looks like a good amount of work was done on this issue but it was closed due to some reason. I can probably take this up if you don't mind? :innocent:

[2017-12-10 13:57] differentreality commented on #1676
@rishabh92 if you check the contents of the PR you will see that the code is no longer there. As such it was not possible to merge the PR. The contributor hasn't been responsive for a while, so there was no point in having this PR open any more.

Feel free to work on it :+1:

[2017-12-10 14:01] differentreality commented on #1875
I personally do not like to make things so strict, as in having specific layouts for opening an issue or a PR.

Sure it makes total sense to properly report a bug, but I don't need to have people submit the exact same layout for their report to be adequate or complete.

New contributors can benefit of such information, so I would not object in including relevant information in the wiki.
However I

[2017-12-10 14:08] differentreality commented on #1872
Thanks for picking up those UI fixes @adrianovieira :+1:

Please prefer to wait for issues to be labeled by the maintainers.
That way we can avoid duplicate issues and PRs, as well as features we are not ready to accommodate.

While this is not the case with this issue and respective PR (which is also very small, so perhaps this wouldn't apply at all anyway), there are other examples that work is

[2017-12-10 14:51] adrianovieira commented on #1875
Yes, I also agree with you! It isn't mandatory. It's a template with some suggestions.

So, in the end it is up to each one knows what is necessary  for a good issue description.

[2017-12-10 15:09] adrianovieira commented on #1875
Sure you all know, but just for reference:

- "Issue and Pull Request templates " - by github: https://github.com/blog/2111-issue-and-pull-request-templates

[2017-12-10 16:29] adrianovieira opened #1876 "uninitialized constant OpenSSL SSL VERIFY"
Hi, folks!
What do I need to do to fix this?

## Description

I'm trying to sign up a new user in my own environment, but I'm getting this error just after if file the account.

- environment

[code]

- smtp.gmail.com is reachable from the VM:
[code]
- OSEM_SMTP
[code]

- **actual behaviour**: logging error as below

[code]

### Steps to reproduce

1. click on `sign up`
2. fill in the account form

[2017-12-11 07:51] Ana06 commented on #1856
@adrianovieira

I think so 👍

You already did it, so yes! 🤣

[2017-12-11 07:51] #1856 closed

[2017-12-11 13:39] differentreality commented on #1876
I assume you have a .env file with the configuration, ie environment variables copied from dotenv.example file

From the rails console you can check if the environment variable is set:
`ENV['OSEM_SMTP_OPENSSL_VERIFY_MODE']`

Make sure that rails console is in the right environment (I assume this is a production environment you are working on?).

[2017-12-11 14:17] adrianovieira commented on #1876
Yes! You're right.

the `OSEM_SMTP` pointed above is an extract o f my .env file.
  1. What value should I define for `OSEM_SMTP_OPENSSL_VERIFY_MODE`?
  1. Are all others values correct?

Yes. this is a production environment I'm working on.

[2017-12-11 15:35] namangupta01 commented on #1660
can i take this issue?

[2017-12-11 15:44] namangupta01 commented on #1831
@bear454 @differentreality Similar things are described in #1522 . Please have a look!

[2017-12-11 17:08] Ronaq13 commented on #1342
@Ana06 : Any update on this? Is this still an issue. Just want a confirmation from your side.

[2017-12-11 18:39] namangupta01 opened #1879 "Flaky tests"
There are several flaky tests :
1. https://github.com/openSUSE/osem/blob/master/spec/features/lodgings_spec.rb#L8
![screen shot 2017-12-11 at 11 44 18 pm](https://user-images.githubusercontent.com/20709985/33847297-0e8e37f2-ded0-11e7-9c34-e8aa78fcf064.png)

2. https://github.com/openSUSE/osem/blob/master/spec/features/conference_registration_spec.rb#L31
@bear454 Please have a look!

[2017-12-11 18:58] #1087 closed

[2017-12-11 23:10] bear454 commented on #1735
@differentreality that's mostly what I was thinking of - late sponsorship payments. WRT other cases, paying late is better than not paying ;-)

[2017-12-12 02:09] #1837 closed

[2017-12-12 10:23] #1055 closed

[2017-12-12 11:11] differentreality commented on #1875
Duplicate https://github.com/openSUSE/osem/issues/1763

[2017-12-12 11:43] Ronaq13 commented on #1825
@Ana06 : PR for this issue has merged into master. Please close it.

[2017-12-12 15:45] #1862 closed

[2017-12-12 16:10] differentreality commented on #1827
Can we close this?

[2017-12-12 16:19] bear454 commented on #1827
https://github.com/openSUSE/osem/pull/1629 resolves it.

[2017-12-12 16:23] #1872 closed

[2017-12-12 16:38] #1838 closed

[2017-12-12 16:40] differentreality commented on #1735
OK let's leave it as is then!

[2017-12-12 16:40] #1735 closed

[2017-12-12 16:57] #1482 closed

[2017-12-12 17:10] differentreality commented on #1876
@adrianovieira this is no longer an OSEM (or rails) question, I am afraid.
The values you need to enter depend on the mail server configuration itself.

The rest of the configuration looks valid to me. Please do double check your port.
You did not comment on whether or not you are able to see the value of the variable through the rails console. Can you, or not? If not, then it is not defined prope

[2017-12-12 18:49] namangupta01 opened #1882 "before_filter, after_filter and alias_method_chain is deprecated"
![screen shot 2017-12-13 at 12 17 36 am](https://user-images.githubusercontent.com/20709985/33902476-19bb1c28-df9b-11e7-8a70-23c6cb5679d2.png)

[2017-12-12 21:03] olea opened #1884 "Personal information leak when editing proposals"
### Problem:

Proposal submitters has access to personal data of (probably?) all the OSEM registered users.

This is not acceptable and probably could be violating data privacy laws.

Verified in master branch at b9712209

### Expected behaviour:

3rd persons personal information should not be exposed to non-admin users.

### Steps to reproduce:

1. register at OSEM
2. submits a proposal
3. go to

[2017-12-12 21:05] davidsf opened #1885 "Migration change_visit_id_type_of_ahoy_events_to_integer crash"
Doing a rails db:migrate in a current working installation doesn't work because some data in the db

db/migrate/20171118113113_change_visit_id_type_of_ahoy_events_to_integer.rb

[code]

[2017-12-12 21:10] namangupta01 commented on #1081
i would like to work on this issue?

[2017-12-13 04:03] faevents opened #1887 "Sign up issue"
while sign up itself . its showing internal error 500

[2017-12-13 05:30] rishabh92 opened #1888 "Change /admin/conferences to /admin/dashboard"
Currently, /admin/conferences takes the user to below admin dashboard:

<img width="1152" alt="screen shot 2017-12-12 at 11 26 06 pm" src="https://user-images.githubusercontent.com/13951936/33922948-dee9044a-df93-11e7-8067-5f122481d7d4.png">

I feel that this route should be /admin/dashboard and /admin/conferences should take the user to a page similar to /admin/organization which would have a tab

[2017-12-13 05:36] differentreality commented on #1888
And what mot is information would /admin/conferences#index provide that is not currently available in conferences#index?

[2017-12-13 05:43] differentreality commented on #1887
You aren't providing us with enough information to help you I am afraid

[2017-12-13 05:45] differentreality commented on #1081
@namangupta01 this is a new feature, you should post how you plan on implementing it prior to starting working on it.

[2017-12-13 08:19] AEtherC0r3 commented on #1882
I will open separate issues with what needs to be done

[2017-12-13 09:15] #1828 closed

[2017-12-13 09:52] differentreality commented on #1885
@AEtherC0r3

[2017-12-13 15:27] #1676 closed

[2017-12-13 15:56] differentreality commented on #1888
Please don't before we decide if we want to implement this.
Please choose issues that have labels. If the issues are features we would expect you to leave a comment saying what /how you plan on implementing.

[2017-12-13 16:01] Ronaq13 commented on #1888
@differentreality : Ok I will keep this in mind. Thanks :smile:

[2017-12-13 18:40] rishabhptr opened #1889 "Create Schedule button causes error for a track request."
1. I created a cfp(track) for a conference( note: venue/rooms not set).
2. User submitted a track request.

Now the admin tracks#index shows this :
![screenshot from 2017-12-13 23-53-00](https://user-images.githubusercontent.com/26951824/33955386-632a2efa-e061-11e7-856e-4fecebad725a.png)

Now clicking the create schedule button shows error:
![screenshot from 2017-12-13 23-54-05](https://user-image

[2017-12-13 19:28] AEtherC0r3 opened #1890 "Update Turbolinks gem to version 5"
We are currently using the [classic](https://github.com/turbolinks/turbolinks-classic) version, which is deprecated.
This will fix the before/after_filter and alias_method_chain deprecation warning that are shown on boot up

[2017-12-13 19:35] AEtherC0r3 opened #1891 "Replace the hoptoad_notifier gem with airbrake"

[2017-12-13 19:40] AEtherC0r3 commented on #1882
Closing this in favor of #1890 and #1891

[2017-12-13 19:40] #1882 closed

[2017-12-13 19:53] namangupta01 commented on #1891
@AEtherC0r3 I want to work on this issue.

[2017-12-13 23:57] AEtherC0r3 commented on #1891
Well, that was fast! I will take a look at it tomorrow :)

[2017-12-14 10:20] TimOgilvy commented on #1819
I'm slowly building a sprinkler for my lawn and peeling all the stickers off the galvinised pipes while I wait for it to download. This is attempt three on laravel/homestead.

at least reading all the stories of people with the same problem is comforting.

[2017-12-14 17:02] differentreality commented on #1889
You are logged in with a user that is an admin, right?
That's why you can see and click this button - admin user has superpowers :)

Normally the suggested track would be accepted (which cannot be done without a room) and then confirmed, and then the track organizer would have access to the admin side to click the 'create schedule' button, and then things should go smoothly from there.

The check

[2017-12-15 19:39] Ronaq13 commented on #1888
@rishabh92  @differentreality : So are you going with this?

[2017-12-15 21:07] #1658 closed

[2017-12-15 23:04] #1794 closed

[2017-12-15 23:07] differentreality commented on #1331
Closing due to inactivity

[2017-12-15 23:07] #1331 closed

[2017-12-16 00:57] rishabh92 commented on #1888
@differentreality Nothing really. It will just have less information than this page. At first look, It was just a bit weird to me that conference index page shows number of registered users to the website.

[2017-12-16 03:22] rishabh92 commented on #1775
Looking into this bug. Will issue a PR when done.

[2017-12-16 17:53] davidsf opened #1898 "How to activate transifex in production?"
I have a site configured with the transifex API key and it doesn't show the language selector in the botton right corner:

https://www.opensouthcode.org/conferences/opensouthcode2018

The API key is ok, I have checked it displaying in a rake task.

In development I see the selector correctly.

[2017-12-16 18:58] davidsf opened #1899 "New proposals"
When CoP is open when a user click in Call of Papers first he goes to /proposals/index. If the CoP has a large description, when the user reach the end of the page and click "New proposal" (and goes to proposals/new) he sees "the same" page because the description is to large and the form if at the end of the page.

Screencast about the issue:
![captura del escritorio de 16-12-17 19_49_08](https:/

[2017-12-16 21:45] Ronaq13 commented on #1899
Yes, I think it will be a good user experience. What else I think is that we can put that description on new proposal page in a bootstrap collapse panel, so if the user wants to recheck the details then he can do that also without going back.
And yes I would like to work on this. :smile:

[2017-12-17 07:24] rishabhptr commented on #1889
@differentreality  Yes, this is from admin side also you are absolutely right, it works perfectly when a room is assigned to the track after checking ability of the user to do so.

So, ideally the track request would have to be accepted(which in turn would prompt admin to assign room in the first place) and then admin would go ahead to create schedule for the room so in that case we should just ch

[2017-12-17 07:31] differentreality commented on #1889
@rishabhptr my point was not just that you are on the admin side, my point is that your user is an admin. The logged in user has the attribute is_admin. Admin users are allowed to access almost anything, everywhere. Which is why when checking if the user has the ability to do schedule the track, the answer is yes.

I do not want to add a big if statement there. I very  much prefer authorization to

[2017-12-17 18:43] anmoliiitd823 commented on #1884
Can I go for it , by preserving the feature as well as ensuring privacy for the user details.As during signing up ,it is written that only username will be displayed to the other users but it is violated here . I would love to work on this one.
![screenshot from 2017-12-18 00-05-45](https://user-images.githubusercontent.com/32006941/34082648-323d1c92-e388-11e7-9efb-d899b13fe9ff.png)

[2017-12-17 20:49] differentreality commented on #749
Closing this as the feature of having multiple speakers per events has been implemented. Users need to sign up on their own though.

https://github.com/openSUSE/osem/pull/1278

[2017-12-17 20:49] #749 closed

[2017-12-18 10:17] olea commented on #1884
Go For It!

[2017-12-18 16:30] #1825 closed

[2017-12-19 07:42] #1775 closed

[2017-12-19 07:50] rishabhptr opened #1902 "Check for rooms in tracks#edit"
**I'm submitting a ..**
- [x] Bug Report

**Current behavior:**
When we edit a track proposal from a user. If there is no room yet we show a  message with links to add venue and room but the error disappears just after creating a venue even if there are no rooms so we get a blank dropdown.

![2017-12-19-130934_1360x768_scrot](https://user-images.githubusercontent.com/26951824/34146136-cc10a528-e4b

[2017-12-19 11:00] Ronaq13 commented on #1902
I would like to take this.

[2017-12-19 11:11] rishabhptr commented on #1902
@Ronaq13 Please wait until someone reviews it.

[2017-12-19 15:14] rishabhptr opened #1903 "Tickets Sold page keeps growing on scrolling for mobile device."
**I'm submitting a ..**
 - [x] Bug Report

**Current behavior:**
When opening the ticket sold page on mobile device the white space around charts keeps increasing infinitely if I scroll back and forth to a point that it is not possible to reach the end of the page.

Similar issue was encountered in #1195 but I am not sure it its entirely same as chart grow to a extend in this case too.

![ezgif co

[2017-12-19 15:14] rishabhptr commented on #1903
I would like to try this.

[2017-12-20 01:35] rishabh92 commented on #1835
Adding more payment gateway would indeed increase the flexibility. We can also look at Braintree or Square apart from Paypal.

[2017-12-20 04:32] adrianovieira commented on #1876
Just to report some findings... I've tried a sample ruby app... and it works, but osem didn't works. :(

[code]

[2017-12-20 08:41] differentreality commented on #1902
@AEtherC0r3 ?

[2017-12-20 08:53] differentreality commented on #1903
I can confirm this.
Relevant to https://github.com/openSUSE/osem/issues/579

[2017-12-20 09:00] differentreality commented on #1899
For what it's worth I think you are misusing the field. Your cfp description has way too much information. For instance, you mention cfp(?) dates, but that's already mentioned at the end  of that description (in english). And that's one single example.
This field is not supposed to include all the information you would put in an article.

I wouldn't go as far as to limit the total number of words

[2017-12-20 09:03] differentreality commented on #1898
Perhaps you didn't setup the API key properly in the ENV variables for your **production**?

[2017-12-20 09:11] differentreality commented on #1888
We already have all that information that you mention in conferences#index, we don't need to duplicate it in admin.

[2017-12-20 09:11] #1888 closed

[2017-12-20 09:12] differentreality opened #1904 "Share event button(s) in proposals#show"
PGconf has added this button already, not sure if they can open a PR just for this part. @eug3nix ?
(I do like the layout as well - and the extra space on the left column for speaker info)

https://www.pgconf.us/conferences/Austin2017/program/proposals/deploying-on-demand-production-and-development-clusters-of-postgresql-to-support-true-devops-in-any-cloud-environment

![screenshot from 2017-12-20

[2017-12-20 09:30] differentreality commented on #1857
I am not against this by default, but I think we need to figure out exactly how this will work. What is currently suggested here sounds more complicated than it has to be.

Also there is something kind of similar suggested in https://github.com/openSUSE/osem/issues/105 (first bullet point says conference invitations), so I would suggest we continue the conversation there.

[2017-12-20 09:30] #1857 closed

[2017-12-20 14:40] davidsf commented on #1898
Yes, I confirmed in console that the env is setup correctly:

[code]

[2017-12-20 16:03] differentreality commented on #1898
Check the js code you have, to make sure nothing has changed.

on your browser, right click -> inspect (or whatever similar you have to see if there are js errors)

[2017-12-20 16:57] davidsf commented on #1899
The use of this long information is for people that doesn't kwown the event I think is useful for the people that propose events.

I thinks osem should have this type of information in the call of papers, so I can share the direct link when announcing the CoP.

The collapse panel should solve the issue for us.

[2017-12-21 16:29] davidsf commented on #1898
In the js console I didn't see any error.

[2017-12-21 17:01] kostino opened #1909 "Conferences#show : Error related to sponsors splashpage"
**I'm submitting a ..**
 :heavy_check_mark:  Bug Report
- [ ] Feature Request

**Current behavior:** Error when navigating to the conferences#show page.Error likely related to the recent inclusion of a sponsors tab in said splash-page:
![screen shot 2017-12-21 at 18 50 45](https://user-images.githubusercontent.com/27733299/34266093-b9f21a0c-e680-11e7-94e8-b4a65bdf2265.png)

**Steps to reproduce:**

[2017-12-21 19:05] differentreality commented on #1909
I cannot reproduce :/

Could it be related to imagemagick? Among other, I have imagemagick-devel installed on my system, could you check if you need to install such package as well?

[2017-12-21 19:08] #1902 closed

[2017-12-21 19:17] #1388 closed

[2017-12-21 20:33] davidsf commented on #1898
I have done a new deployment and now works.... sorry for the noise :(

[2017-12-21 20:33] #1898 closed

[2017-12-21 20:42] ViditChitkara opened #1910 "Extra menu button in navbar when browsing website on mobile (on user side)"
**I'm submitting a ..**
- [X] Bug Report
- [ ] Feature Request

**Current behavior:**

![navbar-bug](https://user-images.githubusercontent.com/22616017/34272727-74411044-e6b7-11e7-99f6-8317c8caa33e.png)

    There is an extra menu button on navbar (top left corner) when browsing the site on mobile
    as a user. This menu button is of no use whenever a user is viewing any conference.
**Expected co

[2017-12-21 23:39] Ana06 commented on #1789
@rahul2240 what do you exactly mean? 🤔

[2017-12-22 11:08] eug3nix commented on #1904
@differentreality Hi, yes I can extract this functionality and submit a PR

[2017-12-22 17:13] differentreality commented on #1909
OK I managed to see the error in splashpage (conferences#show). It seems related to the Rails 5 updated, and it looks like we should be adding a check that get_logo function does not return nil.

[2017-12-22 17:34] ViditChitkara opened #1913 "Not able to update the free ticket's currency, created when a new conference is created"
**I'm submitting a ..**
- [X] Bug Report
- [ ] Feature Request

**Current behavior:**

The free ticket created at time of conference creation has default currency as USD.
This ticket's currency is not updating, even when this is the only conference ticket available.

![ticket-bug-1](https://user-images.githubusercontent.com/22616017/34306506-92870eb6-e769-11e7-8290-ed872a1f1d5f.png)

**Expected co

[2017-12-22 22:01] Ronaq13 commented on #1909
I would like to do this.

[2017-12-23 05:53] Khamba opened #1915 "Development setup - vagrant up installs ruby 2.1 not 2.4"
**I'm submitting a ..**
- [x] Bug Report
- [ ] Feature Request

I am trying to set up the dev environment on my local machine.

**Current behavior:**
vagrant up installs ruby 2.1

Consequently,

vagrant exec /vagrant/bin/rails server -b 0.0.0.0

returns

/usr/lib64/ruby/2.1.0/rubygems/core_ext/kernel_require.rb:55:in `require': cannot load such file -- bundler/setup (LoadError)

**Expected correct

[2017-12-23 08:30] rishabhptr opened #1916 "Admin booths#show gives error when no logo is present"
**I'm submitting a ..**
- [x] Bug Report

admin booths#show gives error when there is no logo.
**Current behavior:**
![screenshot from 2017-12-23 12-47-59](https://user-images.githubusercontent.com/26951824/34317918-1099f446-e7e0-11e7-8b40-1d82ba8db5bf.png)

**Steps to reproduce:**
Add a new booth without a logo and click on the specific booth.

[2017-12-23 11:33] ViditChitkara opened #1918 "Ticket turnover currency is different from price currency"
**I'm submitting a ..**
- [X] Bug Report
- [ ] Feature Request

**Current behavior:**

The admin/tickets#index page shows turnover amount in dollars irrespective of the price_currency
![new-ticket-bug](https://user-images.githubusercontent.com/22616017/34319201-56e003f6-e802-11e7-83f1-8de83c964140.png)

**Expected correct behavior:**

For each ticket the turnover currency should be same as price c

[2017-12-23 21:34] differentreality commented on #1916
Duplicate of https://github.com/openSUSE/osem/issues/1909
Please make sure you check issues before opening one.

Also please prefer not to work on issues that are not confirmed by maintainers - that's very helpful for both you, and the reviewers.
There are plenty of issues with a label to work on, why aren't you choosing one of those?

[2017-12-23 21:34] #1916 closed

[2017-12-24 05:42] rishabhptr commented on #1916
@differentreality Sorry, I didn't realise that #1909 was also for checking logos, I thought that we had similar check in user booths#show so it might have been missed therefore I made the pr.

[2017-12-25 11:14] rishabhptr opened #1920 "Error on viewing conference#show when registration is open."
**I'm submitting a ..**
- [x] Bug Report

**Current behavior:**
Conference#show (splashpage) shows error when registration is open.
![screenshot from 2017-12-25 16-30-36](https://user-images.githubusercontent.com/26951824/34338763-7ce70ce4-e991-11e7-805a-753d36d8fada.png)

This is likely due to a small typo at line 32:
` conference_id: @conference_id.short_title   // instead of @conference.short_t

[2017-12-28 03:58] membrq commented on #1910
Can I claim this?

[2017-12-28 05:15] ViditChitkara commented on #1910
@membrq  yes please! Feel free to ask if you are stuck somewhere!

[2017-12-29 02:16] membrq commented on #1910
Thanks! How crucial is it to set up version 5.0.10 of Virtual Box? Would the most recent version (5.2.4) work?

[2017-12-29 03:39] rishabh92 commented on #1910
@membrq You can use 5.2.4, it shouldn't be a problem.

[2018-01-02 12:24] #1789 closed

[2018-01-02 13:41] differentreality commented on #1810
User's proposals are already shown in users#show https://github.com/openSUSE/osem/blob/master/app/views/users/show.html.haml#L14

I personally like this there, this is information regarding the user, makes sense to be somewhere on the user's profile page.

I would suggest we focus on improving how it looks, and changing the link edit profile to profile (adding an edit button in users#show)

[2018-01-02 16:28] #1833 closed

[2018-01-02 19:13] #1903 closed

[2018-01-03 01:57] bear454 commented on #1092
This could be resolved without any application changes, by setting a default value of `''` for that column (via db migration).

[2018-01-03 04:46] rishabhptr commented on #1804
I believe this was solved in #1818 .

[2018-01-03 04:46] #1804 closed

[2018-01-03 04:59] rishabh92 commented on #1669
Is someone working on this feature?

[2018-01-03 06:21] rishabhptr opened #1924 "Add links to lodgings in admin/lodgings."
**I'm submitting a ..**
- [x] Feature Request

**Current behavior:**
In admin/lodgings we show a default image for lodging in case a photo is not added but we cannot click the image to visit that lodging page( which is the behaviour in the splashpage).
![screenshot from 2018-01-03 10-04-14](https://user-images.githubusercontent.com/26951824/34509213-783cb8a0-f06d-11e7-8699-fc4f42d1d1be.png)

**Exp

[2018-01-03 06:21] ViditChitkara commented on #1669
@rishabh92 I have already started with this!

[2018-01-03 18:07] differentreality commented on #1092
@bear454 will that stop the presence validation from failing?!

[2018-01-03 18:31] differentreality commented on #1813
It seems a couple of people have tried to work on this, but I don't think we should make this change.

If we redirect people directly to the form (new action) it is possible that the CfP period is closed, and they cannot access the new action at all, so they will be redirected to root_path with an error message.

I think the links should be left as they are.

@Ana06 ?

[2018-01-03 18:32] differentreality commented on #1920
@AnkushMalik can you extract just the fix for this issue into a PR please?

[2018-01-03 18:49] AnkushMalik commented on #1920
#1922 is approved by @bear454 , do i need to make seprate pr for this?

[2018-01-03 18:56] differentreality commented on #1920
Actually it is not approved yet. As I suggested, I would like a separate PR just for this issue here, so that we can merge it immediately.

[2018-01-03 18:57] differentreality commented on #1910
@membrq have you already installed OSEM? Are you working on this issue? Do you need any help to open a PR with a fix?

[2018-01-03 19:07] membrq commented on #1910
Thanks for checking in. I could use some help actually! I’m getting timeout errors when I try to run ‘vagrant up’ and I haven’t found a fix for that yet. Vagrant, Virtual Box and gems installed with no errors. I checked the openSUSE site and everything there is up and running. Do you have any suggestions? If not, I’ll post on stack overflow and keep working on it.

[2018-01-03 19:07] Harry30897 commented on #1924
@differentreality  Can I take this issue?

[2018-01-03 19:29] differentreality commented on #1920
Reproduction steps also require that you are including the registration period on the splashpage, otherwise this part of the code is not being calculated at all.

[2018-01-03 19:31] differentreality commented on #1924
Go ahead @Harry30897 :+1:

[2018-01-03 19:31] #1920 closed

[2018-01-03 19:36] differentreality commented on #1910
Someone else recently had a similar problem. Sadly I don't use vagrant - perhaps some of the other contributors can help you out with this (feel free to join us on IRC as well: freenode server, #osem channel).

You could do a manual installation of OSEM on your system as well.

[2018-01-03 19:42] rishabhptr opened #1926 "Presence Validation error not working on mass import of commercials."
**I'm submitting a ..**
- [x] Bug Report

**Current behavior:**
If we try to click add when file is not uploaded it shows a error.
![screenshot from 2018-01-04 00-54-23](https://user-images.githubusercontent.com/26951824/34536641-c8f58cc6-f0eb-11e7-9677-854592d3a863.png)

![screenshot from 2018-01-04 01-01-09](https://user-images.githubusercontent.com/26951824/34536898-aa0a06d8-f0ec-11e7-8f6e-2ba0

[2018-01-03 19:45] rishabh92 commented on #1910
@membrq : What OS are you using and what version of virtualbox are you on? Also, could you share the screenshot of error you are getting?

[2018-01-03 20:53] ViditChitkara opened #1927 "Error downloading CSV"
**I'm submitting a ..**
- [X] Bug Report
- [ ] Feature Request

**Current behavior:**

![todaysbug-1](https://user-images.githubusercontent.com/22616017/34539119-50b4b0c0-f0f5-11e7-8a4e-5cee58659e6c.png)
Error when downloading csv (could be list of registrations, booths,etc.)

**Steps to reproduce:**

1) Sign in as admin and visit any conference.
2) Go to the registrations link given in the sideba

[2018-01-03 21:12] #1909 closed

[2018-01-03 21:14] ViditChitkara commented on #1927
@differentreality Could you reproduce this?

[2018-01-03 21:21] differentreality commented on #1927
@ViditChitkara FYI you don't have to mention me explicitly, any of the contributors can look into the issue. We also get personal emails for all comments/new issues/new PRs on OSEM ;)

Yes, I can reproduce.

[2018-01-04 05:21] membrq commented on #1910
I downloaded Virtual Box 5.0.40 and I'm using OSX 10.11.6 (El Capitan). Here's the error message.

`vagrant up
Bringing machine 'default' up with 'virtualbox' provider...
==> default: Importing base box 'opensuse/openSUSE-42.2-x86_64'...
==> default: Matching MAC address for NAT networking...
==> default: Checking if box 'opensuse/openSUSE-42.2-x86_64' is up to date...
==> default: Setting the nam

[2018-01-04 06:22] ViditChitkara commented on #1910
@membrq I haven't used vagrant too since I use Ubuntu for development 😕😕 Perhaps you could also work without vagrant if possible. Just clone the osem repo, change to the project folder, run bundle install and rake db:migrate and try to run the rails server

[2018-01-04 13:23] ViditChitkara commented on #1927
Sure, I'll keep this in mind!

[2018-01-04 14:33] AnkushMalik opened #1929 "Unexpected undo/redo behavior on text formatting in markdown editor"
**I'm submitting a ..**
- [x] Bug Report
- [x] Feature Request

**Current behavior:**
Unexpected undo/redo behavior on text formatting in markdown editor
![ezgif-5-273653ccaf](https://user-images.githubusercontent.com/13421233/34567475-7832d7d8-f188-11e7-9387-248fece70b73.gif)

**Expected correct behavior:**
while undo , the editor should first remove last applied changes
vice versa for redo.

**S

[2018-01-04 15:52] bear454 commented on #1813
The section is only shown on the splashpage if the appropos call is open, so that's really only a corner issue of stale browser window/cache expiration.

[2018-01-04 17:35] membrq commented on #1910
Oh great, I will do that! :)

[2018-01-04 18:43] ViditChitkara opened #1931 "Distorted open-id links in sign-in section"
**I'm submitting a ..**
- [X] Bug Report
- [ ] Feature Request

**Current behavior:**

The open-id links are appearing a distorted way (in the sign in section).
![signin-1](https://user-images.githubusercontent.com/22616017/34578776-36bb3e20-f1ac-11e7-85f0-1517b719eafb.jpg)
The links should appear in the centre when viewed on mobile device rather than on the left.
![signin-mobile-1](https://user-i

[2018-01-04 23:45] rishabh92 commented on #1910
@membrq i think i fixed this problem on high sierra by updating virtual box to the latest version.
And you can always direct install as mentioned by @ViditChitkara

[2018-01-05 16:30] Janfred opened #1932 "Change mastodon icon to font awesome"
**I'm submitting a ..**
- [ ] Bug Report
- [ ] Feature Request
- [X] Code smell issue

**Current behavior:**
With #1839 osem has the possibility to link to mastodon. Currently the icon is not in font awesome, so a special font is embedded.

**Expected correct behavior:**
Once a mastodon icon is included in font awesome the code should be reworked to use the font awesome icon instead of the custom

[2018-01-05 17:41] membrq commented on #1910
Have a quick question before submitting my PR. Since I ran rake db:migrate, the db/schema.rb file was modified. Do I include that in my commit?

[2018-01-05 17:46] differentreality commented on #1910
Unless you are committing a new migration, no you do not commit db/schema.rb file either

Some people use sqlite3 in development, others use mysql or postgresql, there seem to be little changes in schema file. Ignore them, unless you are actually changing something in the database.

[2018-01-05 17:47] membrq commented on #1910
Ok, thanks!

[2018-01-05 17:50] rishabhptr opened #1933 "Organization admin cant access conferences dashboard"
**I'm submitting a ..**
- [x] Bug Report

**Current behavior:**
If we assign a user the role organization admin role then the user gets a administration option in his drop-down( admin/conferences ) but this leads to this error.
![screenshot from 2018-01-05 22-59-46](https://user-images.githubusercontent.com/26951824/34620919-27800a78-f26d-11e7-80af-ab2482cc0d53.png)

The user is still able visit d

[2018-01-05 18:02] rishabhptr opened #1934 "Ability of a user to access Organization#index"
**I'm submitting a ..**
- [x] Bug Report

**Current behavior:**
Now that there is a organization logo in the admin sidebar, it makes sense the authorisation of organization#index is changed as right now users which are volunteers,organizers, have a accepted track request etc all can see that logo and though cant perform any action there they are still able to view all org admins throughout the app

[2018-01-06 00:01] bear454 commented on #1813
@differentreality do you agree or disagree?

[2018-01-06 07:31] differentreality commented on #1813
OK sure makes sense :+1:

[2018-01-06 07:54] differentreality commented on #1934
I am not sure I understand the problem.
Anyone with access to a part of the admin side can see who is an organization admin. What's wrong with that?

That said, there are a couple of other things worth fixing regarding this (and previous) page.

[2018-01-06 09:24] differentreality commented on #1933
Thanks for reporting this @rishabhptr !

Any chance you have already figured out what's wrong?

[2018-01-06 12:25] rahul2240 opened #1936 "Organization name should be unique"
Organization name should be unique as creating a new conference is confusing with organizations with same name.

[2018-01-06 12:31] rahul2240 opened #1937 "NoMethodError in revision history"
![abc](https://user-images.githubusercontent.com/25618739/34639727-65e6b39a-f30b-11e7-84eb-48e25271fca7.png)

Bug: NoMethodError in revision history

Steps to reproduce:
1) Create organization
2) Create conference
3) Delete organization
4) Visit revision history page

[2018-01-06 12:40] ViditChitkara opened #1938 "Organisation name not showing in user roles (in admin side)"
**I'm submitting a ..**
- [X] Bug Report
- [ ] Feature Request

**Current behavior:**

Organisation name is not visible in User roles (when the user is an organisation admin)
![user-roles-1](https://user-images.githubusercontent.com/22616017/34639785-850c2010-f30c-11e7-85fb-ddd777177c60.jpg)
![user-roles-show-1](https://user-images.githubusercontent.com/22616017/34639786-8ba880e4-f30c-11e7-8004-9f

[2018-01-06 12:59] rishabhptr commented on #1933
@differentreality I think I do.
 In Admin  controller(index action) we have `@conferences = @active_conferences +
 @deactive_conferences`
where ,
`@active_conferences = Conference.get_active_conferences_for_dashboard
 @deactive_conferences=Conference.get_conferences_without_active_for_dashboard(@active_conferences)`
 and in conference model
` def self.get_active_conferences_for_dashboard`
   ` res

[2018-01-06 14:19] differentreality commented on #1933
Yes the problem seems to be there. Feel free to open a PR with a fix :+1:

[2018-01-06 18:58] Harry30897 commented on #1938
@differentreality  Can i take this issue?

[2018-01-07 10:56] rishabhptr opened #1940 "Unable to edit Booth request in booth#show"
**I'm submitting a ..**
- [x] Bug Report

**Current behavior:**
The edit button in booth#show leads to admin edit page but the user cant access that page even if his booth is accepted.
![screenshot from 2018-01-07 16-17-33](https://user-images.githubusercontent.com/26951824/34648807-630703c0-f3c7-11e7-96fd-76695c0efb4a.png)

**Expected correct behavior:**
Change the path to user booth edit.

**Ste

[2018-01-07 13:57] rahul2240 opened #1941 "undefined method uuid"
**I'm submitting a ..**
- [ ] Bug Report

**Current behavior:**
![con](https://user-images.githubusercontent.com/25618739/34650075-849c8c58-f3e0-11e7-897e-6e5b978ac372.png)
![screenshot from 2018-01-07 19-24-38](https://user-images.githubusercontent.com/25618739/34650078-8a30ce40-f3e0-11e7-8b40-3bf08b0f17b0.png)

**Steps to reproduce:**
Rails db:migrate:reset

[2018-01-07 14:44] rishabhptr opened #1942 "User with accepted track request can see unregistered speakers of all events."
**I'm submitting a ..**
- [x] Bug Report

**Current behavior:**
When a user with a accepted track request tries to manage his track he can see the unregistered speakers of all events not those restricted to his track under reports option.
![screenshot from 2018-01-07 20-07-15](https://user-images.githubusercontent.com/26951824/34650382-635999fe-f3e6-11e7-98d8-c6d8cad841fd.png)

**Expected correct

[2018-01-07 16:57] differentreality commented on #1942
What is the manage option?

[2018-01-07 17:07] rishabhptr commented on #1942
@differentreality It is available in track#index when your track request is selected and you confirm it.
![screenshot from 2018-01-07 22-34-12](https://user-images.githubusercontent.com/26951824/34651786-19c86a80-f3fb-11e7-9985-9542ef067a7a.png)

[2018-01-07 20:54] membrq commented on #1940
Can I claim?

[2018-01-07 22:02] membrq commented on #1940
Should basic users be able to request a new booth? Or is that restricted to higher-level roles? When I click on "Add Booth", I get a "You're not authorized to access this page" message.

[2018-01-08 07:06] ViditChitkara commented on #1938
Go ahead @Harry30897

[2018-01-08 11:44] rishabhptr commented on #1940
@membrq You are probably getting that error because you are trying to access booths#index page of a conference who is not accepting booths currently(cfp).

When an admin creates a cfp for booths in a conference , the request booth option comes in dashboard.
![screenshot from 2018-01-08 17-05-46](https://user-images.githubusercontent.com/26951824/34669223-b98e98be-f496-11e7-8982-22a8cb25c0ea.png)

[2018-01-08 14:42] #1933 closed

[2018-01-08 19:17] ViditChitkara opened #1944 "Unable to view a conference"
**I'm submitting a ..**
- [X] Bug Report
- [ ] Feature Request

**Current behavior:**

Conference could not be viewed when browsing the site as non-admin
![mastodon-3](https://user-images.githubusercontent.com/22616017/34687937-62831762-f4d6-11e7-8bb8-494c99948daf.jpg)
![mastodon-4](https://user-images.githubusercontent.com/22616017/34687941-6751d51c-f4d6-11e7-9fdc-050017e2290c.jpg)

**Steps to re

[2018-01-09 02:37] membrq commented on #1942
Can I claim this?

[2018-01-09 03:44] membrq commented on #1926
Can I claim?

[2018-01-09 03:57] membrq commented on #1812
Is this still active?

[2018-01-09 07:48] differentreality commented on #1944
Any chance you haven't run the migrations?

[2018-01-09 09:34] ViditChitkara commented on #1944
Yes indeed, I missed running the migration. Noticed this on demo.osem.io perhaps the same problem exists there. Closing this now!

[2018-01-09 09:34] #1944 closed

[2018-01-09 11:23] rahul2240 opened #1946 "Missing attribute error in admin conference index"
**I'm submitting a ..**
- [ ] Bug Report

**Current behavior:**
Getting error while trying to access administration link when there is no conference.

**Expected correct behavior:**
The user should be able to access the administration page.

**Steps to reproduce:**

1: Create User (say A)
2: Create Organization
![organization](https://user-images.githubusercontent.com/25618739/34718073-5afdbecc-f5

[2018-01-09 12:29] ViditChitkara opened #1947 "Organiser is unauthorised to access registration period of a conference"
**I'm submitting a ..**
- [X] Bug Report
- [ ] Feature Request

**Current behavior:**

Organiser (should be non-admin) of a conference is unauthorised to access registration period.

**Steps to reproduce:**

1) Login as a conference organiser (must not be admin)
2) Go to manage conference (of which user is the organiser)
3) Go to Registration period on the sidebar

[2018-01-09 12:34] rishabhptr commented on #1947
@ViditChitkara I think that is because for a conference the abilities of the organization_admin equals that of the organizer. #1538

[2018-01-09 12:41] ViditChitkara commented on #1947
Happens when the user is organization_admin too!! At least an org_admin should be able to view or edit registration period. What do you think @rishabhptr

[2018-01-09 12:47] rishabhptr commented on #1947
Yes even if he is organization_admin ,his abilities for any conference remains same as some organiser of the conf under his org. So basically if you create a registration ticket for the conf. you can access that page.That's how it works for organiser but yeah maybe org_admin could have special powers :smile:

[2018-01-09 12:56] rishabhptr opened #1948 "Add Validation to lodgings website."
**I'm submitting a ..**
- [x] Feature Request

**Current behavior:**
Url validation is missing from lodging website while creating a new lodging.So it will accept any string we give as input.
Maybe we should validate it as a url because the same is visible in the conference splashpage if we showcase lodgings.

[2018-01-09 12:57] rahul2240 opened #1949 "Organization admin can access all revision history"
**Current behavior:**
Organization admin can see whole conferences revision history

**Expected correct behavior:**
Organization admin should only be able to see  its organization's conference history.

**Steps to reproduce:**
Create a user organization admin.
log in as user
view revision history
![a](https://user-images.githubusercontent.com/25618739/34721942-cb47f648-f56a-11e7-89f0-01e02e1eebc1.

[2018-01-09 13:04] rahul2240 opened #1950 "Remove create organization button"
**Current behavior:**
View for organization admin
![fafafa](https://user-images.githubusercontent.com/25618739/34722063-51c591b2-f56b-11e7-8a51-58e8529a7aba.png)

**Expected correct behavior:**
Only superadmin should be able to see the create organization button.
Organization admin can see  delete,edit  button for his organization only.

**Steps to reproduce:**
Create a user organization admin
sig

[2018-01-09 13:07] rishabhptr commented on #1934
@differentreality Yes if think we could check abilities of users in organization#index same as we do for Roles.

[2018-01-09 13:12] rishabhptr opened #1951 "Error persists to next page when we reverse the role of an organizer."
**I'm submitting a ..**
- [x] Bug Report

**Current behavior:**
When we add an organizer to the conference and we try to reverse the role(by toggling yes/no in the list),we cant do that because the conf. should have atleast have one organiser but the error for same carries onto the next page.

![screenshot from 2018-01-09 18-19-37](https://user-images.githubusercontent.com/26951824/34722191-cb7f33

[2018-01-09 14:34] differentreality commented on #1934
I am afraid I still don't understand what you are aiming at. Please elaborate on your idea.

[2018-01-09 14:35] differentreality commented on #1950
Is this referring to admin/organizations#index ?

[2018-01-09 16:43] rishabhptr commented on #1934
I meant to say if users with all role(cfp,volunteer etc ) are given access to organization#index then we could check their ability and only show buttons for action they can perform.
Because right now only organization admin can edit his org(cant create/destroy) and all other roles can view admins.
So by doing this organization admins will see edit/destroy button for his org and all other roles wou

[2018-01-09 18:59] rahul2240 commented on #1950
yes @differentreality

[2018-01-09 19:46] ViditChitkara opened #1952 "Error updating venue"
**I'm submitting a ..**
- [X] Bug Report
- [ ] Feature Request

**Current behavior:**

Error updating venue of a conference when setting up latitude and longitude
![vanue](https://user-images.githubusercontent.com/22616017/34739725-2f8ea042-f5a3-11e7-8241-db95cb27141a.jpg)

**Steps to reproduce:**

Try updating the venue with genuine latitude and longitude

[2018-01-11 12:11] namangupta01 opened #1955 "Deprecation warning: extra .css in SCSS file is unnecessary"
We are getting deprecation warning it would be good to get rid of the deprecation warning by changing .css.scss to only .scss.
Deprecation warning screenshot:
![screen shot 2018-01-11 at 5 40 57 pm](https://user-images.githubusercontent.com/20709985/34824965-99590b44-f6f6-11e7-8b5e-afcc058b7cd0.png)

Deprecation info on sass-rails repo:
https://github.com/rails/sass-rails/blob/1ddfbc9883d51a676d27

[2018-01-11 12:29] namangupta01 commented on #1955
I'll make pr for this issue once issue #1891  is done. Removing .css from .css.scss is creating problem on my local machine i think it is because of the hoptoad gem is deprecated. And need to update hoptoad gem to airbrake gem. Done in pr #1892 . After updating the gem i think we are good to remove .css from .css.scss .

[2018-01-11 12:56] namangupta01 commented on #829
@bear454 Yes you are right! Confirmed speaker is allowed to register when registration period is set. Done in pr #1629

[2018-01-11 15:39] #1813 closed

[2018-01-11 19:16] #1952 closed

[2018-01-11 19:38] #1955 closed

[2018-01-12 05:46] membrq commented on #1942
I'm having trouble understanding this issue. What determines whether a speaker is "checked in" vs missing? Is it an attribute that gets set somewhere?

Where's the best place to put this code? `reports/_missing_speakers.html.haml`? My first thought was to add an `if` condition around ln 21-22 and if that's able to work, I'd have to find a way to update ln 6 dynamically. Would appreciate feedback!

[2018-01-12 06:36] namangupta01 opened #1958 "Failed to upload organisation picture"
**I'm submitting a ..**
- [x] Bug Report
- [ ] Feature Request

**Current behavior:**

Getting error while uploading picture of Organisation while creating organisation.

![screen shot 2018-01-12 at 12 01 36 pm](https://user-images.githubusercontent.com/20709985/34862927-da963194-f792-11e7-8dff-c73093aef315.png)

**Steps to reproduce:**

Try to create new organisation with organisation picture.

[2018-01-12 07:50] differentreality commented on #1958
@namangupta01 you haven't provided any information on the image you are trying to upload. Please do.

Do you have imagemagick installed on your system?

[2018-01-12 08:08] differentreality commented on #1942
People (speakers included) can register to a conference. When they arrive there is the attribute **attended** which can be enabled. That's what "checked in" means.

It is very helpful if you provide links to the files/lines you are referring to so that we are all at the same page. Assuming you refer to https://github.com/openSUSE/osem/blob/master/app/views/admin/reports/_missing_speakers.html.haml

[2018-01-12 10:28] namangupta01 commented on #1958
Oh! imagemagick was not installed that's why it was causing problem.

[2018-01-12 10:28] #1958 closed

[2018-01-12 11:42] AnkushMalik opened #1959 "Null file validation required on adding commercials"
**I'm submitting a ..**
- [x] Bug Report

**Current behavior:**
Null file validation required while adding commercials
![screenshot from 2018-01-12 17-00-36](https://user-images.githubusercontent.com/13421233/34873339-bc93de6c-f7ba-11e7-997e-ea188b5d8dbd.png)

**Steps to reproduce:**
goto : '/admin/conferences/tester/program/events' > Add Commercials > Add

[2018-01-12 18:11] rahul2240 opened #1962 "NoMethodError in ConferencesController#show"
**I'm submitting a ..**
- [x] Bug Report
- [ ] Feature Request

**Current behavior:**
Getting error when splash page is not present.

![splash](https://user-images.githubusercontent.com/25618739/34888767-7fd0ea10-f7f1-11e7-8130-dec952bf9a06.png)
![splasherror](https://user-images.githubusercontent.com/25618739/34888771-8482832a-f7f1-11e7-863f-e2a1cd87872f.png)

**Expected correct behavior:**

Clic

[2018-01-13 02:41] chocoelho commented on #1915
Hi @Khamba. Actually, it does install ruby 2.4, but it seems that `vagrant exec /vagrant/bin/rails server -b 0.0.0.0` raises this issue. Can you try `vagrant exec bundle exec rails server -b 0.0.0.0` instead? The latter will use 2.4 and will unblock while the former usage is not fixed.

[2018-01-13 02:59] membrq commented on #1942
Ah ok, that helps to know. I thought the `missing` attribute had to do with their registration status.

Also, thanks for your input. That was the file I was referring to and I'll make sure to include links next time!

[2018-01-13 12:09] rahul2240 opened #1963 "Remove submit proposal and booth once the conference is over."
**Current behavior:**
User can not submit the proposal once the conference is over so there is no use of submit proposal button (redirecting to proposal#new form) on the index page, same with add booth button in my booth request.
![proposal](https://user-images.githubusercontent.com/25618739/34905919-b77cd2fc-f888-11e7-8175-70ad726069ad.png)

**Expected correct behavior:**
Add booth button from my

[2018-01-13 16:01] AnkushMalik commented on #1963
can i work on your latest 2 issues?

[2018-01-13 16:57] AnkushMalik commented on #1962
just for good ux ,may be instead of taking user to create splashpage , that link should direct user to some info page describing what splash page is, in a new tab . Like markdown Syntax link under every desc field :
![screenshot-2018-1-13 osem](https://user-images.githubusercontent.com/13421233/34908103-9b461c24-f8b0-11e7-8bcb-5438a47e0bff.png)

Or even we can remove that link since theres already

[2018-01-13 20:00] differentreality commented on #1962
@rahul2240 it would be useful to know that you need to not be an admin user, but not be a simple user either. To reproduce this you need to be allowed to access the splashpage, so your user needs to be the organizer of the conference (or similar user access to the action conferences#show even when there is no splashpage).

[2018-01-13 20:02] differentreality commented on #1963
By add button you actually  mean the 'Submit Proposal' button, I assume.

[2018-01-13 20:05] AnkushMalik commented on #1946
I cant reproduce this error. I am able to access administration without any issue.

[2018-01-13 20:22] differentreality commented on #1929
I think this is irrelevant to your fullstop, and relevant to the formatting. Can you please double check this scenario?

[2018-01-13 20:28] rahul2240 commented on #1963
when we do not have any booth request or proposal then submit proposal and booth should not be there . when we have submitted booth  then going to my booth request,you will find a button for add booth which should also be removed , same for proposal.

[2018-01-13 21:10] membrq commented on #1950
Hi all! I'd like to claim this

[2018-01-13 22:04] membrq commented on #1950
I've looked over these two files and I don't see a `superadmin` role defined. Am I looking in the wrong place?

https://github.com/openSUSE/osem/blob/master/app/models/admin_ability.rb
https://github.com/openSUSE/osem/blob/master/app/models/ability.rb

Am I looking in the wrong place?

[2018-01-13 22:10] differentreality commented on #1950
@rahul2240 did not mean there is a superadmin role (please amend properly),  he is referring to admin users (there is the is_admin attribute in User model)

[2018-01-14 03:01] ankitbhardwaj78 commented on #1950
@differentreality  can i take this issue if it is avilable

[2018-01-14 03:01] ankitbhardwaj78 commented on #1962
@differentreality can i claim this issue??

[2018-01-14 03:03] ankitbhardwaj78 commented on #1951
@rishabhptr cna i claim this??

[2018-01-14 07:29] rishabhptr commented on #1951
@ankitbhardwaj78 Yes please, go ahead!

[2018-01-14 15:36] AnkushMalik commented on #1509
is it still an active issue? can i claim this?

[2018-01-14 16:47] AnkushMalik commented on #1929
yes , issue is only with formatting. Editor works fine without any text formatting.

[2018-01-15 13:54] AnkushMalik commented on #1931
can i claim this? :)

[2018-01-15 19:16] differentreality commented on #1931
Sure, you don't have to ask!

[2018-01-15 19:26] ViditChitkara commented on #1931
@AnkushMalik sorry for the late reply!! We're happy to help, if you are stuck anywhere!!😄😄

[2018-01-16 02:25] Killerkiwi2005 opened #1969 "Ticket PDF downloads without file extension .pdf"
**I'm submitting a ..**
- [x] Bug Report
- [ ] Feature Request

**Current behavior:**
Ticket PDF downloads without file extension .pdf

**Expected correct behavior:**
All pdf's should have .pdf extension

**Steps to reproduce:**
Download a pdf file, file will not open correctly on a windows desktop

**Other information:**

[2018-01-23 16:27] bcornec opened #1974 "Add the notion of Event language"
**I'm submitting a ..**
- [ ] Bug Report
- [X] Feature Request

**Current behavior:**
OSEM currently doesn't support conference where multiple languages can be used

**Expected correct behavior:**
Each Event in OSEM should support a language field so you could specify the language used by the speaker.

[2018-01-24 02:26] #1918 closed

[2018-01-24 17:12] jgrocha opened #1975 "Installation instructions not based on docker"
**I'm submitting a ..**
- [ ] Bug Report
- [X] Feature Request

**Current behavior:**

The current install instructions are based on docker.

**Expected correct behavior:**

Following the docker based install does not works on a cloud server with only 2gb of RAM.

**Steps to reproduce:**

Create a virtual machine with only 2Gb os RAM and install OSEM using the Docker instructions.

**Other informa

[2018-01-25 20:21] differentreality commented on #1975
I think too, that we should make available installation instructions without docker or vagrant. Lately a lot of ppl had issues with vagrant as well, and there was no alternative for them.

[2018-01-26 09:36] differentreality commented on #1974
@bcornec we do support the following, I am not sure if your request is for something more - please let us know!

Program lets you add available languages for your conferene

![screenshot from 2018-01-26 11-32-33](https://user-images.githubusercontent.com/4322737/35433633-dd61f372-028c-11e8-9f5d-1241d3d355e0.png)

Then when a new proposal is being submitted, speakers can choose the languages of the

[2018-01-27 18:58] bcornec commented on #1974
Thanks a lot for this feedback. Indeed I had missed that possibility.

What would be then interesting would be to show a language flag in the schedule part so people can immediately have an idea of the language in which the event will be delivered (title can be for example in a language and the delivery held in another one). When I changed as you mentioned this, it didn't seem to create any differ

[2018-01-28 19:44] differentreality opened #1976 "carrierwave migration fails with NoMethodError: undefined method `read' for nil:NilClass"
**I'm submitting a ..**
- [x] Bug Report

The migration fails to run.
https://github.com/openSUSE/osem/blob/master/db/migrate/20171130172334_rebuild_conference_pictures.rb

Adding the following works.

[code]

[2018-01-30 10:50] AEtherC0r3 commented on #1941
You shouldn't use db:migrate:reset. I would suggest running db:reset and, then, db:migrate, if needed.

[2018-01-30 11:41] AEtherC0r3 commented on #1885
If we were to recreate ahoy's migration with `rails generate ahoy:stores:active_record --force`, the visit_id column's type would be specified as integer. The id column of the visits table is an integer, therefore, I'm not certain if the visit_id column contains any meaningful data. (because it's type was uuid/binary and ahoy's README states

which is not the case).

If we can test, in a definitiv

[2018-01-31 17:56] #1931 closed

[2018-02-08 18:25] differentreality commented on #1941
@rahul2240 what's the status of this? Does db:schema:load work properly for you?

[2018-02-10 17:19] #829 closed

[2018-02-10 17:19] #1628 closed

[2018-02-10 17:19] #1827 closed

[2018-02-13 17:19] bear454 opened #1978 "CVE-2017-15412 in nokogiri"
[Security issue from Hakiri](https://hakiri.io/projects/d1eb39a7696349/stacks/70eaa9009f1f2b/builds/92a6d1248463af/warnings/eea3eaea7b192c): The version of libxml2 packaged with Nokogiri contains a vulnerability. Nokogiri has mitigated these issue by upgrading to libxml 2.9.6. It was discovered that libxml2 incorrecty handled certain files. An attacker could use this issue with specially construct

[2018-02-18 14:12] #1978 closed

[2018-02-18 22:45] differentreality commented on #1949
That's not actually accurate. The organization admin can only see versions related to the conferences of the organization. However, as your screenshot shows, versions related to users (which is independent of conferences) also show up.

[2018-02-18 22:45] #1949 closed

[2018-02-18 22:49] differentreality commented on #1963
The buttons only appear when it is possible to create a new request. You are probably logged in as an admin, and an admin can do everything. I think your point, though, is for non-admin users to be able to see relevant buttons. And this already happens.

Can you please double check and update the issue accordingly?

[2018-02-18 22:51] #1940 closed

[2018-02-18 22:53] #1927 closed

[2018-02-18 22:56] differentreality commented on #1840
@olea what about `bundle exec rails console`?

[2018-02-18 22:58] differentreality commented on #1812
Yes it is @membrq

[2018-02-18 23:02] #463 closed

[2018-02-18 23:09] differentreality commented on #1947
I cannot reproduce this either for conference organizer or for organization admin. Can you offer more details on the issue please @ViditChitkara?

[2018-02-19 18:17] art-solopov commented on #1915
Hi, I encountered the same problem, `vagrant exec bundle exec rails server -b 0.0.0.0` worked well, thank you!

[2018-02-19 20:32] art-solopov commented on #1974
Hello, can I take this issue?

[2018-02-21 08:04] differentreality commented on #1974
Sure :+1: what do you have in mind?

[2018-02-21 08:27] art-solopov commented on #1974
I'm going to look for a gem (or maybe a Bower package) that would include SVGs of flags, then modify the schedule event partials to include said flags.

[2018-02-22 05:27] adrianovieira commented on #1975
Hi! I've done some work on this.

My findings on this are bellow as simple sample. ;)

Please, let me know what you think about.  :)

---
# CEntOS-7 Setup

Seting up on a minimal CEntOS-7

# Install ruby
`yum install -q -y https://github.com/feedforce/ruby-rpm/releases/download/2.4.2/ruby-2.4.2-1.el7.centos.x86_64.rpm`

# install bundler
`gem install bundler`

# Install nodejs repository
`curl -sL

[2018-02-22 15:11] etuardu opened #1980 "Installation: docker-compose.yml.example is missing"
**I'm submitting a ..**
- [x] Bug Report
- [ ] Feature Request

**Current behavior:**
It is not possible to follow the installation instruction in [`INSTALL.md`](https://github.com/openSUSE/osem/blob/master/INSTALL.md):

as `docker-compose.yml.example` is not found.

**Expected correct behavior:**
Find the file and have the possibility to follow the subsequent instructions.

**Steps to reproduce:*

[2018-02-23 09:56] differentreality commented on #1980
Hi @etuardu, osem 1.0 did not have docker yet. Are you sure you are reading the installation instructions for osem 1.0 and not the ones found on github (https://github.com/openSUSE/osem/blob/master/INSTALL.md)?

[2018-02-23 09:56] #1980 closed

[2018-02-23 09:59] #1963 closed

[2018-02-23 10:06] differentreality commented on #1962
sure @ankitbhardwaj78

[2018-02-23 10:15] differentreality commented on #1962
The error still exists for show template

![screenshot from 2018-02-23 12-07-27](https://user-images.githubusercontent.com/4322737/36589193-32a370b0-1893-11e8-99c3-b84376028bc5.png)

[2018-02-23 10:34] differentreality opened #1981 "Ticket turnover cannot be calculated with multiple purchases"
**I'm submitting a ..**
- [x] Bug Report
- [ ] Feature Request

**Current behavior:**

Ticket turnover is not being calculated when there are multiple ticket_purchases
admin/tickets#index

![screenshot from 2018-02-23 12-28-20](https://user-images.githubusercontent.com/4322737/36589985-da314f58-1895-11e8-9315-e4040c1d43a7.png)

[2018-02-23 10:36] differentreality commented on #1981
@ViditChitkara any ideas?
https://github.com/openSUSE/osem/pull/1919

[2018-02-23 11:53] etuardu commented on #1980
Hello, I am following the installation procedure that you have linked.

The *Download* section links to the release page for version 1.0:

Then, the section *Deploy* states that:

[2018-02-23 12:13] differentreality commented on #1980
Sorry, version 1.0 does not have the docker files.

The link refers to our current master, not version 1.0.

The zip for version 1.0 contains another INSTALL.md file which you can refer to.

[2018-02-26 01:03] bear454 opened #1984 "Blind Voting hides content not mentioned in descriptions"
**I'm submitting a ..**
- [x] Bug Report
- [ ] Feature Request

**Current behavior:**

Blind Voting is described as: "Enable this feature if you do not want to show voting results and voters prior to user submitting a vote." ( https://github.com/openSUSE/osem/blob/master/app/views/admin/programs/_form.html.haml#L13 ), but hides the submitter and speaker as well.

**Expected correct behavior:**

_B

[2018-02-26 01:07] bear454 opened #1985 "Events views are slow."
**I'm submitting a ..**
- [x] Bug Report
- [ ] Feature Request

**Current behavior:**
With > ~150 events, the events index takes > 30s to render, causing Heroku to throw an error instead of return the response.

**Expected correct behavior:**
Events index should return in a reasonable amount of time, regardless of size.

**Steps to reproduce:**
Create > 150 events, load events index. Wait.

**Othe

[2018-02-26 01:18] bear454 opened #1986 "Youtube content breaks PhantomJS"
**I'm submitting a ..**
- [x] Bug Report
- [ ] Feature Request

**Current behavior:**

The embed tag for YouTube blows up PhantomJS (see https://productforums.google.com/forum/#!topic/youtube/2Cu87teAGYE/discussion , https://issuetracker.google.com/issues/35173893 ).

**Expected correct behavior:**

Don't load actual YouTube content in tests.

**Steps to reproduce:**

Run full specs on a machine t

[2018-03-02 19:36] #1959 closed

[2018-03-05 10:08] adrianovieira opened #1995 "Frequent small releases of new software"
**I'm submitting a ..**
- [ ] Bug Report
- [X] Feature Request

**Current behavior:**
Infrequent releases of the app

**Expected correct behavior:**
Frequent small releases of fixed issues or new software functionalities

**Other infos**
Until now you've only released the version 1.0.

What if you change your release process a bit and then delivery more frequent *small* releases of OSEM?

Maybe yo

[2018-03-05 18:42] captn3m0 commented on #1885
Facing this while upgrading an existing installation to latest master.

[code]

Managed to bypass this by setting visit_id to zero and forcing it to int

[2018-03-05 22:39] hennevogel opened #1996 "Integrate Pretix"
[Pretix](https://pretix.eu) might be an option to consider instead of our own ticket/payment code

[2018-03-07 02:24] #1986 closed

[2018-03-09 02:36] bear454 commented on #1259
@davidsf please consider closing this PR, and supporting the more flexible change in #1994 .

[2018-03-13 01:31] bear454 opened #1997 "Tickets break splashpage due to missing timestamps"
**I'm submitting a ..**
- [x] Bug Report

**Current behavior:**

Including tickets in the splashpage throws an application error.

**Expected correct behavior:**

Splashpage should include tickets without error.

**Steps to reproduce:**

- Add tickets.
- Include tickets in splashpage.
- Load splashpage

**Other information:**

The source of the issue is that tickets do not have timestamps, so the

[2018-03-13 21:54] bear454 opened #1999 "2nd round of tickets fails"
**I'm submitting a ..**
- [x] Bug Report

**Current behavior:**

If all tickets are registration tickets, and the user attempts to buy more tickets after buying a registration ticket, the form submits no value for `params[:tickets]`, causing an error in TicketPurchasesController when parsing the params array.

**Expected correct behavior:**

Return to the tickets index with a flash indicating no t

[2018-03-14 22:42] #1937 closed

[2018-03-14 22:57] #1997 closed

[2018-03-14 22:58] #1999 closed

[2018-03-15 01:00] #1984 closed

[2018-03-15 01:00] #1985 closed

[2018-03-15 07:30] captn3m0 commented on #1884
Anyone working on this?

Right now, it is leaking names+email+usernames of all users registered on our OSEM installation.

[2018-03-15 11:07] differentreality commented on #1259
It seems we should let people choose what they want:
1. always redirect to conferences#show (if there is an upcoming conference), this will make it impossible to access conferences#index, and thus see a list of past conferences.
2. no change - you get to see conferences#index (which btw has buttons for different options for each conference listed there!)
3. we have been also discussing redirecting

[2018-03-15 11:09] #1969 closed

[2018-03-15 11:12] #1950 closed

[2018-03-15 11:14] differentreality commented on #1947
Closing due to inactivity.

[2018-03-15 11:14] #1947 closed

[2018-03-15 11:20] #1913 closed

[2018-03-15 11:22] differentreality commented on #1887
Closing due to inactivity

[2018-03-15 11:22] #1887 closed

[2018-03-15 11:23] #1875 closed

[2018-03-15 11:23] #1763 closed

[2018-03-15 11:23] differentreality commented on #1840
Closing due to inactivity

[2018-03-15 11:23] #1840 closed

[2018-03-15 11:32] differentreality commented on #1700
Is there anything else to do here for this? Can we close it? @rahul2240 @siddhantbajaj

[2018-03-15 11:35] differentreality commented on #1705
This seems to have been resolved in #1788

[2018-03-15 11:35] #1705 closed

[2018-03-15 11:36] differentreality commented on #1811
Is this relevant after all the recent changes in conferences#show?

[2018-03-15 11:38] differentreality commented on #1731
Closing as there isn't much happening here - we probably should not change the visuals users already know.

[2018-03-15 11:38] #1731 closed

[2018-03-15 14:24] Ana06 commented on #1700
@siddhantbajaj can you create an issue for the documentation? just in case you don't have time someone else do it.

[2018-03-15 14:37] bear454 commented on #1259
All of these scenarios are handled by #1994.

[2018-03-15 14:37] #1259 closed

[2018-03-16 16:43] bear454 commented on #336
Master is using puma now, since the Rails 5 migration.

[2018-03-16 16:43] #336 closed

[2018-03-16 16:46] bear454 commented on #400
I'm interested in this one ;-)

[2018-03-16 16:51] bear454 commented on #379
Ahoy is a performance train wreck. IMO the campaigns feature isn't worth the trouble, but even if it is, I'm confident it can be handled much more performantly _without_ Ahoy. I'll extract my WIP changes out to a commit and link here. (I've removed Ahoy for LFNW branch).

[2018-03-16 16:53] bear454 commented on #407
re: https://github.com/openSUSE/osem/blob/master/config/deploy.rb#L57

[2018-03-16 16:59] bear454 commented on #475
Well, a few more years of experience later, I'm leaning the other way now.... I'd rather have high unit coverage of individual functions, and just one or two big browser tests that exercise everything 'as a customer'.

[2018-03-16 16:59] #475 closed

[2018-03-16 17:24] #632 closed

[2018-03-16 17:30] bear454 commented on #672
Use the `FORCE_SSL` environment variable.

[2018-03-16 17:30] #672 closed

[2018-03-16 17:34] bear454 commented on #850
If this is just in reference to the splashpage, see https://github.com/openSUSE/osem/pull/1821 .

If you're looking at overall performance, I'm working on it via Skylight OSS: https://oss.skylight.io/app/applications/qsmDLnzbof0d/recent/6h/endpoints

[2018-03-16 17:35] #828 closed

[2018-03-16 17:36] #883 closed

[2018-03-16 17:38] #938 closed

[2018-03-16 17:39] bear454 commented on #992
Can we close this @differentreality ?

[2018-03-16 17:42] bear454 commented on #1096
See https://github.com/openSUSE/osem/pull/1957#issuecomment-373197255

[2018-03-16 17:42] #1096 closed

[2018-03-16 17:44] bear454 commented on #1091
I can't reproduce this issue on master branch. Feel free to reopen if necessary.

[2018-03-16 17:44] #1091 closed

[2018-03-16 17:50] bear454 commented on #1133
@differentreality is this still an issue, or did #1266 resolve it?

[2018-03-16 17:58] bear454 commented on #1176
Markdown is rendered with Redcarpet's `escape_html` option.

[2018-03-16 17:58] #1176 closed

[2018-03-16 18:02] bear454 commented on #1512
Done in https://github.com/openSUSE/osem/commit/8edf896d86593bc888b9d7b39a031544bdb3eb04

[2018-03-16 18:02] #1512 closed

[2018-03-16 18:06] bear454 commented on #1665
Resolved in https://github.com/openSUSE/osem/pull/1993

[2018-03-16 18:06] #1665 closed

[2018-03-16 18:07] bear454 commented on #1700
Resolved in https://github.com/openSUSE/osem/pull/2000

[2018-03-16 18:07] #1700 closed

[2018-03-16 18:09] bear454 commented on #1724
@namangupta01 can we close this?

[2018-03-16 18:10] bear454 commented on #1803
Some of the browser tests are still flaky; it is a lot better now, though, with some more granularity. Please reopen if you see a new repeatable failure.

[2018-03-16 18:10] #1803 closed

[2018-03-16 18:13] #1822 closed

[2018-03-16 18:16] bear454 commented on #1832
`rails data:demo` works for me, on master (using SQLite for development). Feel free to repoen if you can still reproduce the issue.

[2018-03-16 18:16] #1832 closed

[2018-03-16 18:17] #1870 closed

[2018-03-16 18:19] bear454 commented on #1879
Duplicate of https://github.com/openSUSE/osem/issues/1803

[2018-03-16 18:19] #1879 closed

[2018-03-16 18:20] #1890 closed

[2018-03-16 18:30] bear454 commented on #1929
This is an upstream issue:

- https://github.com/toopay/bootstrap-markdown/issues/189
- https://github.com/toopay/bootstrap-markdown/issues/49

[2018-03-16 18:30] #1929 closed

[2018-03-16 18:31] #1936 closed

[2018-03-16 19:49] bear454 commented on #591
How about registration workflow instead?

[2018-03-17 14:08] kostino commented on #1976
I am also having problems running the specified migration.
<img width="972" alt="screen shot 2018-03-17 at 15 51 38" src="https://user-images.githubusercontent.com/27733299/37556193-3a55c1ea-29fb-11e8-9e5c-b8b613858f7d.png">

[2018-03-18 22:02] Ana06 commented on #1884
@captn3m0

 it doesn't seem so, all yours :wink:

[2018-03-18 22:07] Ana06 commented on #1884
I have just one concern, the name is public. It is shown in the user profile page that can be seen by everybody. Why do we want to hide it?

I would say the only thing we need to hide is the email. @differentreality what do you think?

[2018-03-21 18:38] olea commented on #1884
@Ana06:

There are several points here, at least:

- the page should not include «all» registered users in the html code, first bc privacy concerns and second bc if conference is big the size can get enormous and, in any case, suboptimal;
- I can't remember any application doing this ways, specially for filling a form, IMHO it will not look very professional to other web developers (you can count

[2018-03-22 08:38] #1796 closed

[2018-03-22 14:17] tampakrap opened #2011 "travel info at the registration page should have a button for local people"
When going to the registration page of a conference, I am asked to put my travel info. In case though I live in the place that the conference is taking place, it doesn't make sense to put any info there. So I think it would be a cool feature to have a button that defines that I am local and I don't need to put any travel info.

[2018-03-22 14:29] michaelkl commented on #1974
Don't you think using country flags for languages might be discouraging?
Here's the website with a whole lot of reasons why one should avoid doing this: http://www.flagsarenotlanguages.com/blog/why-flags-do-not-represent-language/

[2018-03-23 07:17] michaelkl commented on #1948
I suggest changing `<input type="text">` to `<input type="url">` for `website_link` control of Lodging edit form and let a browser care of the rest.

[2018-03-23 15:13] bear454 opened #2013 "CVE-2018-3741 in rails-html-sanitizer"
[Security issue from Hakiri](https://hakiri.io/projects/d1eb39a7696349/stacks/70eaa9009f1f2b/builds/279ff2c0667142/warnings/8b095d6312798c): There is a possible XSS vulnerability in rails-html-sanitizer. The gem allows non-whitelisted attributes to be present in sanitized output when input with specially-crafted HTML fragments, and these attributes can lead to an XSS attack on target applications.

[2018-03-24 09:24] #2013 closed

[2018-03-26 10:13] halsk opened #2016 "Translation"
Hello, I'm Hal from Code for Japan. I am planning to use OSEM for my conference. And I have translated some words into Japanese on the Transifex project site.
Is it possible for you to  review my text?

[2018-03-26 19:40] #1891 closed

[2018-03-29 00:30] bear454 opened #2018 "N+1 queries with rolify"
**I'm submitting a ..**
- [x] Bug Report
- [ ] Feature Request

**Current behavior:**

Every call to `User#has_role?` perfoms a query against `roles`.

**Expected correct behavior:**

Rolify project recommends pre-loading roles and using `has_cached_role?` instead, to avoid N+1 queries. https://github.com/RolifyCommunity/rolify#cached-roles-to-avoid-n1-issue

**Steps to reproduce:**

Observe logs

[2018-03-30 14:21] differentreality opened #2019 "Error in admin/events#show when voting period is closed"
![screenshot from 2018-03-30 17-20-38](https://user-images.githubusercontent.com/4322737/38140930-bd7cd192-343e-11e8-85e3-d03fff65a1cb.png)

[2018-03-30 14:33] differentreality opened #2020 "Add validation for user votes"
**I'm submitting a ..**
- [ ] Bug Report

**Current behavior:**

A user is able to vote on an event more than once.

**Expected correct behavior:**

Each user should only vote 1 time for each event.

**Steps to reproduce:**

I saw the bug happening in events.opensuse.org (where I deleted the second vote). I couldn't reproduce.
The voting process is an ajax call, I am thinking that perhaps it was s

[2018-03-30 16:41] zacharylandes commented on #2020
Hi there! I’m a first-time contributor and was hoping to help out with this issue. I noticed nobody was assigned to it, but if there’s already a solution in progress I’m happy to try helping out elsewhere. Thanks!

[2018-03-30 19:11] differentreality commented on #2020
@zacharylandes you can go ahead!

[2018-03-31 10:23] differentreality opened #2021 "pg gem enabled"
The gem is currently commented out, which means if you want to use postgresql you have to change your Gemfile/Gemfile.lock

What about we have both postgresql and mysql available by default (not commented out)?

[2018-03-31 10:31] differentreality opened #2022 "Quick deselection of all checkboxes in admin/splashpages#new"
Add a button to uncheck all checkboxes

[2018-03-31 10:34] differentreality commented on #2018
:+1:  Wanna open a PR for it?

[2018-03-31 12:46] differentreality commented on #2016
Hi @halsk, I cannot review your japanese translation, as I do not speak japanese. Ideally there should be a second person who can review the translations to confirm them, before they are published.

[2018-03-31 12:46] #2016 closed

[2018-03-31 13:09] halsk commented on #2016
Hi @differentreality , Thank you for replying. I understand it. I think I can find a second person who can review the changes if it does not require too much knowledge of OSEM itself. Can you assign me or him as a reviewer of the transifex project?

[2018-04-02 14:49] bear454 commented on #2018
I thought I had one ready, but it needs some more ♥.

[2018-04-03 10:14] olea opened #2024 "(There are not) notifications of revision comments to CFP submiters"
**I'm submitting a ..**
- [x] Bug Report
- [ ] Feature Request

**Current behavior:**

When a revisor add a comment  (say at https://OSEMs/admin/conferences/2018/program/events/1) there is not a mail notification neither for submiters or other revisors (members of CFP role group).

**Expected correct behavior:**

Each comment or other change should be notified related persons by email too. Users n

[2018-04-03 10:20] olea opened #2025 "Blind revision is not so blind"
**I'm submitting a ..**
- [ x] Bug Report
- [ ] Feature Request

**Current behavior:**

At first glance the blind revision looks pretty fine:

![captura de pantalla de 2018-04-03 12-16-36](https://user-images.githubusercontent.com/141267/38243812-fe7e2c34-3738-11e8-9efa-be3336a34f58.png)

But when reading the proposal, if the author added personal information to biography it brokes anonimity:

![c

[2018-04-03 10:26] olea commented on #1854
Probably this should be revised under the terms of the new [General Data Protection Regulation (GDPR)](https://ec.europa.eu/info/law/law-topic/data-protection/data-protection-eu_en).

This is a __very__ cumbersome issue for any OSEM user, at least at the EU (and the rest of the world, I guess).

[2018-04-03 10:30] olea commented on #105
Consider notifications for comments as in #2024 and others.

[2018-04-04 11:16] differentreality commented on #2025
So the biographies field should be hiding the name of the speaker (when blind voting is on).

[2018-04-04 11:28] differentreality opened #2028 "Creation of conference from admin/organizations#index"
It would be useful to add a button **Add Conference** in the actions of each organization in admin/organizations#index

[2018-04-04 14:36] #2018 closed

[2018-04-06 08:05] halsk commented on #2016
Hello @differentreality , I don't want to bother you much, but my issue is not resolved yet, I have translated  599 texts and been waiting for review. But if there is no reviewer who can check Japanese, what should I do? I can check the translation in my local environment. Or I can find my friend who can check the translation as well. Please tell me if you have an idea for moving this forward.

[2018-04-06 20:10] AEtherC0r3 opened #2029 "Users that have signed up using OpenID, can't edit their account without requesting a password reset"
**I'm submitting a ..**
- [x] Bug Report
- [ ] Feature Request

**Current behavior:**

If an account has been created using openid, its details (e.g. username) can't be changed because the account's password must be provided
For the same reason the password can't be changed, and the user needs to request a password reset

**Expected correct behavior:**

The account details are updated/a new passwo

[2018-04-07 13:30] differentreality opened #2033 "Add edit button in admin/tickets#show"
Once we are there, it will make it easier to edit the ticket, if we wish to.

[2018-04-08 14:23] afaerber opened #2035 "Editing registration resets all check-boxes"
**I'm submitting a ..**
- [X] Bug Report
- [ ] Feature Request

**Current behavior:**
After registering for oSC 2018 there is an "Edit your Registration" link on https://events.opensuse.org/conference/oSC18/register - following it takes me to https://events.opensuse.org/conference/oSC18/register/edit which shows my arrival/departure dates, but all check-boxes (T-shirt size, How did you find out) a

[2018-04-08 17:13] Ana06 commented on #2035
@afaerber thanks for reporting the issue :smile: the last time OSEM was deployed to events.opensuse.org was more than 2 years ago... we would need to check if that still happens in the current OSEM code, it may be that it is already fixed :thinking:

[2018-04-11 03:18] Buraisx commented on #2033
Hey!  Can I claim this issue?

[2018-04-11 13:03] differentreality commented on #2033
@Buraisx sure! Go ahead!

And you don't have to ask, as long as there is no one else working on it, just let ppl know that you are :)

[2018-04-11 23:30] jdg006 commented on #2022
I would be happy to take on this issue. Are there any other specifics I should know before getting started?

[2018-04-12 09:36] differentreality commented on #2022
@jdg006 before your comment, you can see that there is an open PR for this issue already by someone else.

Please pick another issue to work on. Thank you!

[2018-04-12 20:29] jdg006 commented on #2019
I would like to take a crack at this issue. Is there anything else I should know about this bug before I get started?

[2018-04-13 10:19] differentreality commented on #2019
@jdg006 if there is something you would like to know, ask.

[2018-04-13 14:03] jpescola2 commented on #1173
I need to request the publication of the pt_BR translation and I need to review it beforehand. How do I become a reviewer?

[2018-04-16 09:21] differentreality opened #2040 "Splashpage errors"
* admin/splashpages#show does not indicate if splashpage is marked as public or not
* conferences#show error for line https://github.com/openSUSE/osem/blob/master/app/views/conferences/_registration.haml#L21

![screenshot from 2018-04-16 12-13-46](https://user-images.githubusercontent.com/4322737/38800519-298b1bb2-4170-11e8-813f-a0662aa58a3d.png)

[2018-04-17 10:31] scarabeusiv opened #2041 "Registration offered for the event even if I am already registered"
**I'm submitting a ..**
- [x] Bug Report

**Current behavior:**
When I check conference status I can see register now button even if I am already registered.

**Expected correct behavior:**
The web should state probably "edit your registration" or "you are already registered"

**Steps to reproduce:**
Go to the page with conference (in this case I am doing it on oSC18 page) and register, after you

[2018-04-25 13:58] rahul2240 commented on #1941
@differentreality  Yes I tried it and db:schema:load is working for me.

[2018-04-25 14:01] #1811 closed

[2018-04-25 14:26] rahul2240 commented on #2040
@differentreality Can i take this.
Proposed solution is -
Add a start date as an argument in date_string function.
Change the text to "We only ask you to register yourself **between**"

[2018-04-27 14:33] Mujadded commented on #2035
Can i do it ?

[2018-04-27 14:48] xuv commented on #1932
If you wish, you can take a look at [Fork Awesome](/ForkAwesome/Fork-Awesome), a fork of Font Awesome 4.7, that includes a lot of open source logos, and Mastodon in different flavors:

- https://forkawesome.github.io/Fork-Awesome/icon/mastodon/
- https://forkawesome.github.io/Fork-Awesome/icon/mastodon-alt/
- https://forkawesome.github.io/Fork-Awesome/icon/mastodon-square/

[2018-05-01 10:56] jpescola opened #2042 "Certificate of attendance"
**I'm submitting a ..**
- [ ] Bug Report
- [x] Feature Request

**Current behavior:**
resource not found

**Expected correct behavior:**
System show a link to generate pdf certificate of participation in each event in which it was attended

[2018-05-02 07:31] esparta opened #2043 "Clarify the vagrant version needs to be a > 2.0"
**I'm submitting a ..**
- [X] Bug Report
- [ ] Feature Request

**Current behavior:**
If I run `vagrant up` on the development machine, it got an error not exactly clear..
[code]
![osem_vagrant-1 8 6](https://user-images.githubusercontent.com/1037088/39510836-02035a00-4da0-11e8-8b7a-2a6b1199b43c.png)

**Expected correct behavior:**
`vagrant up` should start the normal process (download the box, fi

[2018-05-07 08:58] hellcp opened #2045 "Navigate days on the bottom of the schedule"
**I'm submitting a ..**
- [ ] Bug Report
- [ ] Feature Request

**Current behavior:**
When on the bottom of the page, I want to switch to another day, I need to scroll back up to switch days

**Expected correct behavior:**
User is able to switch dates from the bottom of the schedule table

**Steps to reproduce:**
![here](https://user-images.githubusercontent.com/30577011/39693715-4e975e0e-51e5-11e

[2018-05-07 09:03] hellcp opened #2046 "Provide og tags to info about panel/schedule/conference"
**I'm submitting a ..**
- [ ] Bug Report
- [x] Feature Request

**Current behavior:**
Currently links appear as generic link to generic website

**Expected correct behavior:**
Twitter/Facebook embeds information about panel/schedule/conference in meta og: tags, like opensuse.org does (bonus points for color theme ;) )

**Steps to reproduce:**
![twitter](https://user-images.githubusercontent.com/30

[2018-05-08 11:23] Ana06 opened #2048 "Enable Rails Rubocop cops"
Rails cop are disabled by default in Rubocop as not all Ruby projects are Rails.

[2018-05-08 21:05] sak6e commented on #1924
I'm a first-timer. What do I need to know to solve this issue?

[2018-05-09 00:52] mgiagante commented on #2048
Hello! It's my first time contributing to OSEM. I'd like to take this issue.

[2018-05-15 01:13] robotscissors commented on #2046
I am new to contributing to open source projects, can I take this one?

[2018-05-15 01:18] robotscissors commented on #1946
I would like to work on this issue too! Can I?

[2018-05-15 01:38] hellcp commented on #2046
Go ahead, nobody can stop you ;)

[2018-05-23 12:48] scarabeusiv opened #2058 "Canceling scheduled talk keeps it in schedule"
**I'm submitting a ..**
- [x] Bug Report
- [ ] Feature Request

**Current behavior:**
When you go to events list and select already scheduled talk to cancel it it disappears in schedule view in administration properly but on the user facing website it stays visible.
I had to reenable the talk, then it showed in the schedule admin interface. Afterwards I had to remove it first there and then cancel

[2018-05-24 23:49] jpescola opened #2059 "Ticket buy form permits large numbers on input form"
**I'm submitting a ..**
- [x] Bug Report
- [ ] Feature Request

**Current behavior:**
Ticket buy form permits large numbers on input form

**Expected correct behavior:**
Lock ticket range on 1 to 99

**Steps to reproduce:**
Buy a ticket and set quantity to a big number.

**Other information:**
![image](https://user-images.githubusercontent.com/761366/40518933-56aa0aae-5f93-11e8-927e-72b89695e9c5.p

[2018-05-27 08:51] mbgg opened #2061 "commercial speakerdeck integration not working"
**I'm submitting a ..**
- [X] Bug Report
- [ ] Feature Request

**Current behavior:**
When adding a SpeakerDeck URL as commercial to your talk, but it doesn't show anything on the SpeakerDeck tab (see https://events.opensuse.org/conference/oSC18/program/proposal/1789#1 which actually added the SpeakerDeck URL https://speakerdeck.com/mbgg/kdump-under-the-hood#).

**Expected correct behavior:**
Spea

[2018-05-27 09:09] mbgg commented on #2061
Looking into the HTML created out of OSEM, It seems, we miss "https:" prefix when creating the speakerdeck URL:
<iframe allowfullscreen="true" allowtransparency="true" frameborder="0" height="315" id="talk_frame_445904" mozallowfullscreen="true" src="//speakerdeck.com/player/b74edd61207e4c49a2fe3d36dfafaa9a" style="border:0; padding:0; margin:0; background:transparent;" webkitallowfullscreen="true

[2018-06-02 08:33] NeimadTL commented on #1812
Hi guys, looks like the proposal feature doesn't exist anymore. Am I right ?

[2018-06-02 15:32] NeimadTL commented on #1812
Hi guys,

I wanted to know if this issue has been taken already as @membrq has asked if it was active ?

Also I'm trying to reproduce the @rahul2240 's scenario but I can't submit proposal on the conference I've added. It's telling me :

How can I get it opened please ?
Thanks

[2018-06-02 16:52] rahul2240 commented on #1812
@NeimadTL Hi, Have you tried extending submission period for proposals?

[2018-06-02 17:05] NeimadTL commented on #1812
Hi @rahul2240, where can I do that please ? I just can't find it.

[2018-06-03 10:04] rahul2240 commented on #1812
@NeimadTL  Login as an admin then go to conference and in sidebar you will find call for papers, click on that and edit or create call for papers.

[2018-06-03 10:57] NeimadTL commented on #1812
thanks @rahul2240. I'll do a PR soon. can you tell me what's the stack of the project please ?

[2018-06-03 13:52] NeimadTL commented on #1812
just made my PR and it seems like there's a problem on travis got a failure. can you help with that please ?

[2018-06-04 23:18] grepwood opened #2065 "How do you ACTUALLY install this?"
I read `INSTALL.md` and I'm just left scratching my head.

[2018-06-06 10:43] Ana06 commented on #2061
It could be that the error is here: https://github.com/openSUSE/osem/blob/a325eccc775e11cda90017e0eacfaf8232fd4aff/app/views/shared/_media_item.html.haml#L11

[2018-06-06 13:39] grepwood commented on #2065
Current INSTALL.md is completely useless. The one from https://github.com/openSUSE/osem/tree/73c15e940458daf7da59ed855a987a4d2cc2123c is a lot better.

[2018-06-06 23:42] #2041 closed

[2018-06-10 19:54] andlrb commented on #2065
Hi @grepwood!
You have not mentioned if you're trying to install OSEM in a production or development environment. The installation guide you've shared is 4 years old, so it's a bit outdated in regards to how you need to run it in development but it's the same when running in production (with mod_passenger and apache web-server). If you're looking to run OSEM in development and contribute to the re

[2018-06-10 20:15] andlrb commented on #2048
Hi @mgiagante, this issue was fixed by @bear454 in #2050, so I think this can be closed.

[2018-06-10 20:32] andlrb opened #2072 "Using overcommit and git hooks to ensure code style rules are followed"
**I'm submitting a ..**
- [x] Feature Request

The [CONTRIBUTING.md](https://github.com/openSUSE/osem/blob/master/CONTRIBUTING.md) guide mentions the use of rubocop to check code style. Rubocop is a great tool, but it's easy to forget to run it before pushing your PR.

That being said, I think introducing [overcommit](https://github.com/brigade/overcommit) and running rubocop on each commit would

[2018-06-10 20:34] andlrb commented on #2072
One of the downsides of this is that there would be an extra step in installing OSEM, but it wouldn't be one that makes the project unusable if is not completed.

[2018-06-11 09:52] Ana06 commented on #2048
@mgiagante sorry I didn't answer before... I skipped the comment :see_no_evil: As @andlrb says, it is already fixed :smile:

[2018-06-11 09:52] #2048 closed

[2018-06-11 15:34] #2061 closed

[2018-06-11 15:36] bear454 commented on #2072
Would you consider adding some documentation for implementing the git hooks developer-side? For my part, I'm not fond of explicitly implementing git hooks - there's just too much security risk.

[2018-06-11 15:37] #2046 closed

[2018-06-11 15:38] #2059 closed

[2018-06-11 15:48] bear454 commented on #2021
I'd rather _not_ load gems that won't be used; the memory footprint for `osem` is already pretty big. Consider adding an environment variable for database, and loading gem conditionally; e.g. https://github.com/rspec/rspec-core/blob/master/Gemfile#L8

[2018-06-11 15:50] #1981 closed

[2018-06-11 15:55] #234 closed

[2018-06-11 16:06] #591 closed

[2018-06-11 16:08] bear454 commented on #658
I've started on this for LFNW 2018... planning for a more complete implementation for 2019.

[2018-06-11 16:10] bear454 commented on #747
re: Issue #13.

[2018-06-11 16:18] bear454 commented on #1274
For mobile we shouldn't render the form in the navbar, but instead navigate to the dedicated signin page.

[2018-06-11 16:23] bear454 commented on #1342
@Ana06: can you please update, based on `master` branch & current browsers; I think this can be closed.

[2018-06-11 16:26] bear454 commented on #1493
Closing, as it hasn't been reproduced.

[2018-06-11 16:32] #1795 closed

[2018-06-11 16:32] bear454 commented on #1795
The "What's happening now" content has not been upstreamed here.

[2018-06-11 17:11] andlrb commented on #2072
That's reasonable and sure, sounds like a good idea to me. Overcommit generates a YML configuration file which holds what tools need to be run on a git hook (e.g: rubocop on pre-commit), but I don't know if I should include that file as well, so that it doesn't get generated each time a user wants to install it, or add it to gitignore and specify in the documentation what pre-commit tools are pref

[2018-06-11 18:00] bear454 commented on #2072
@andlrb : here's an example: the github hook config is included in the project, and documented in the code, but not enabled by any automatic means. https://github.com/suse/azurectl#basics

Maybe my fear is irrational here, but what prevents an overcommit config like:
[code]

[2018-06-11 18:28] andlrb commented on #2072
Thanks @bear454, that's what I had in my mind too, but just wanted to make sure that's the way to do it. Although I doubt a commit with that config would pass code review, I can understand why you'd be worried about that kind of scenario.

I'll submit a PR soon :)
Thanks for your help so far!

[2018-06-12 18:18] #2072 closed

[2018-06-20 15:07] bear454 opened #2080 "CVE-2018-3760 in sprockets"
[Security issue from Hakiri](https://hakiri.io/projects/d1eb39a7696349/stacks/70eaa9009f1f2b/builds/24c969b8781772/warnings/22bd2e1d105db4): Specially crafted requests can be used to access files that exist on the filesystem that is outside an application's root directory, when the Sprockets server is used in production. All users running an affected release should either upgrade or use one of the

[2018-06-20 16:36] #2080 closed

[2018-06-24 14:33] grepwood commented on #1835
Having Paypal would be great because
1. It eliminates pesky middlemen (saves cost)
2. Eliminates credit/debit card provision costs (saves cost)

[2018-06-24 16:08] differentreality commented on #2065
@grepwood the current INSTALL file provisions for the option to use docker for your installation, instead of a manual installation. Is it safe to assume you don't want that?
You also have the option to run OSEM on Heroku.

If you do want to have a manual installation, then yes, indeed, you would have to go through the usual suspects in Rails applications.

Please also note that we are now using .e

[2018-06-24 16:36] grepwood commented on #742
So, what happened with OSEM supporting Paypal?

[2018-06-24 16:46] grepwood commented on #1835
3. Stripe does not work in a lot of countries whereas Paypal works pretty much everywhere. How does this roll with SUSE code of conduct to single out hundreds of countries?

[2018-06-25 12:31] differentreality commented on #742
@grepwood nothing happened with paypal actually - I think you are away of a related open issue, are you not?
During the GSoC project it was decided that Stripe fits open source conferences better.

[2018-06-25 17:37] Ana06 opened #2082 "Support Ruby 2.5"
It would be nice to support Ruby 2.5. For that we need to test Ruby 2.5 in Travis and ensure that everything keep working. :smile:

[2018-06-28 11:16] leorenc commented on #1611
Is there any updates on this issue ?
Some of my colleagues created some conferences to try out OSEM, and now all tests are appearing next to the actual real event.
Is there any way to make them private or delete them ?
I haven't figured how to "Provide the attribute `public` to Conference"

[2018-06-28 11:52] grepwood commented on #742
@differentreality probably, I'm not sure. I'm very impressed with OSEM, but my client cannot afford to use Stripe. First, it's because they aren't based in a country supported by Stripe. Second, they are barely making ends meet to attract customers, so having card transactions would gut them. I understand that OSEM is intended for open source conferences, but as I see it, conventions that revolve

[2018-06-28 11:56] grepwood commented on #2065
@differentreality yes, I wanted to have a manual install, much like I used to deploy Play and Wordpress at work. The old documentation is more than helpful for that end. It's really great and I can deploy OSEM behind Apache/nginx, hook it up to a PostgreSQL cluster or a replicated MariaDB, run Grafana and Sensu alongside to do more in-detail telemetry... it's absolutely great and I'd like to even

[2018-06-28 14:14] differentreality commented on #1611
Hey @leorenc, I am afraid no, this feature has not been implemented yet.

Ideally you would have played around on demo.osem.io or a development instance, or on a different database than your production one.

As long as the conferences start/end within the current date, they will be showing up. After that, they will be visible in 'Past conferences' (significantly less visible though).

[2018-07-02 05:17] MysterAitch commented on #2065
To add to this, as somebody brand new to the project (came over via a PyPi recommendation on the FLOSS Weekly podcast), it is unclear where/how to obtain the "latest" version for installation.

_Note that the releases page on GitHub (linked to from the installation documentation) includes only v1.0 dated May 24, 2016. This is reported as being over two years and 1156 commits ago._

Is it fair to s

[2018-07-02 07:52] differentreality commented on #2065
Hi @MysterAitch, indeed it is on our todo list to have a more recent release. Until that happens, you could use our master branch, which is continuously updated and indeed includes a lot of changes, and new features.

Which way would you like to use to install OSEM?
If you merely want to check it out, you can also use demo.osem.io

[2018-07-02 15:57] bear454 commented on #1910
Fixed in #2068.

[2018-07-02 15:57] #1910 closed

[2018-07-03 19:11] differentreality opened #2084 "Support dropdowns in surveys"
**I'm submitting a ..**
- [ ] Bug Report
- [X] Feature Request

If there are a lot of choices, it makes sense to have a dropdown, instead of radio buttons.

I am thinking a list of countries, to know where attendees come from

[2018-07-04 17:58] MysterAitch commented on #2065
Hi @differentreality ,

Thank you for confirming that the master branch is kept in a stable state that can be installed/run.

I am looking to use OSEM to plan a multi-stream training event, specifically making use of the scheduling and timetabling elements of OSEM to replace various spreadsheets that are currently used (no need for the abstract/submission processes for this event but may suggest i

[2018-07-05 04:08] MysterAitch opened #2085 "Repeated Sessions"
Is it possible to create an event/session (unsure of correct terminology) and allow it to be scheduled more than once?

Currently it appears only once on the schedule page to drag/drop to a date/time.

[2018-07-05 05:06] MysterAitch opened #2086 "Ticket currencies"
**I'm submitting a ..**
- Bug Report

**Current behaviour:**
Only one currency is permitted per conference. When creating/editing tickets, the option to select alternative currencies is still visible/available.

**Expected correct behaviour:**
If the single currency per conference is to be enforced, then it should be configured on a per-conference rather than per-ticket basis. If currencies are sh

[2018-07-05 05:43] differentreality commented on #2065
Heroku makes a lot of sense.

A hosted OSEM is not yet available, no.

And yes, indeed, #1975 is about the same thing. Thanks!

Feel free to reach out if you have any questions about using OSEM!

[2018-07-05 05:49] differentreality commented on #2085
No, that doesn't exist.
This is quite similar to https://github.com/openSUSE/osem/issues/13 so feel free to comment there if you have any other ideas/questions regarding this.

[2018-07-05 05:49] #2085 closed

[2018-07-05 05:49] differentreality commented on #747
Closing this in favor of #13

[2018-07-05 05:49] #747 closed

[2018-07-05 07:49] MysterAitch commented on #1156
+1 for this.

I would like to be able to view room-specific and track-specific timetables if possible and this is the only issue that came up in searches.

[2018-07-05 08:07] MysterAitch commented on #1354
Is there a reason that scheduled talks need a "room" (or a speaker) at all?

A "Room not assigned" or "Venue not assigned" type message would presumably be sufficient in these cases?

[2018-07-05 08:37] MysterAitch opened #2087 "Vagrant install of openSUSE fails - Systemsmanagement Chef signing key?"
### I'm submitting a ..
- Bug Report

### Current behavior:
Installation using Vagrant fails - looking through the output, it seems to be related to the signing key for `Systemsmanagement Chef` being automatically rejected (emphasised below) which then causes the installation of openSUSE to fail.

As this occurs before the provisioning script for OSEM runs, I believe this will likely need to be es

[2018-07-05 09:18] MysterAitch commented on #2085
While it is similar, I'm not sure it is the same as this query. Here I am asking about a specific talk/event being given in a morning and then repeated in an afternoon session, or a keynote/other session being given twice on two separate days of a schedule.

While this does apply to e.g. breakfast/lunch/tea breaks, the impression I get is that #13 is focussed more on "global" events that spread ac

[2018-07-23 12:51] ankek opened #2090 "trouble with own mailserver notifications sending"
**### First at all, thank you for this excellent project.**

**I'm submitting a ..**
Bug Report

**Current behavior:**
I try to use my own mailserver for sending notifications and confirmations from OSEM. i used docker-compose.env for setting up my mailserver credential. But while sending an emeail i recevied this

[code]
Here is part of docker-compose.env file
[code]
But if i setting up the same

[2018-08-01 01:34] adrianovieira commented on #1975
I've just started to develop an Ansible Role to perform automated installation.
The upstream repository is:
https://gitlab.com/adrianovieira/ansible-role-opensuse.osem.webserver

It is in the beginning, but if you can either help or support it'd be great, too.

[2018-08-02 21:47] Ana06 commented on #2065
Isn't this issue just a duplicated of https://github.com/openSUSE/osem/issues/1975? I know this was was open before, but I found the explanation in the other clearer, as we have installation instructions, just only for docker. Should we close this? :thinking:

[2018-08-02 21:48] Ana06 commented on #1975
@adrianovieira amazing work! :cupid: what about a PR? It would be easier to improve it once we have something as based:wink:

[2018-08-03 08:46] hennevogel commented on #1975
OSEM is not a desktop app, deploying it can have **serious** consequences for your computer/network and most importantly for the users that sign up.

IMHO teaching people how to deploy a rails app is out of scope for us. As soon as you will add installation instructions to our code base you are (morally) responsible for what happens when people follow them. This will also be outdated faster then y

[2018-08-03 15:03] Ana06 commented on #1975
I am using it for development without docker. Some people have reached me in the last months asking how to set it up, so I think that at least this case may be documented. For production, least the steps linking official documentation may be useful as well. :thinking:

[2018-08-04 00:01] adrianovieira commented on #1975
Hi, @Ana06 !

Thanks by considering to send a PR.

Yes. Everybody iare welcome to send a PR there.

[2018-08-05 05:02] redimido opened #2091 "Document on how to upgrade an old version of OSEM"
**I'm submitting a ..**
- [ ] Bug Report
- [x] Feature Request

**Current behavior:**

**Expected correct behavior:**

**Steps to reproduce:**

**Other information:**

[2018-08-06 08:28] Ana06 commented on #2091
related to https://github.com/openSUSE/osem/issues/1975

[2018-08-06 15:41] redimido commented on #2091
Thank you.
Please consider this case:
- I did the set-up for our event on 2016
- for 2017 other team tried their own method without osem. That did not work so well
- for 2018 I am using osem again, but it still has bugs from 2016 that I believe were all fixed
- I am not sure if the new code Will work with the DB layout from 2016, and/or if there are new config entries to set.

I am not even sure w

[2018-08-30 04:27] bear454 commented on #2040
These are two different issues. @differentreality can you move the 2nd issue

To a separate github issue, please?

[2018-08-30 04:34] bear454 opened #2095 "CVE-2018-1000544 in rubyzip"
[Security issue from Hakiri](https://hakiri.io/projects/d1eb39a7696349/stacks/70eaa9009f1f2b/builds/cc9b158bb2a745/warnings/c070360c5a402f): rubyzip version 1.2.1 and earlier contains a Directory Traversal vulnerability in Zip::File component that can result in write arbitrary files to the filesystem. If a site allows uploading of .zip files, an attacker can upload a malicious file which contains

[2018-08-30 04:37] bear454 commented on #2095
Waiting on https://github.com/rubyzip/rubyzip/pull/376

[2018-09-03 16:16] sumnerevans opened #2147 "iCal Link for Schedule"
**I'm submitting a Feature Request**

I would like to have an iCal calendar endpoint which has the event schedule. That way I can import it into Google Calendar and have it synchronized with the actual schedule.

# Questions
- I am willing to work on this feature, but I am a terrible UX designer. Is there anyone who can help me with that aspect?
- I would like to have this general idea approved be

[2018-09-03 19:06] hennevogel opened #2150 "Switch to headless chromium"
We currently use the phantomjs headless browser in capybara through poltergeist. Development of phantomjs has stoppped so we should replace it with something maintained. People move to headless chromium or firefox. We should too...

[2018-09-14 10:11] palica commented on #1995
+1

[2018-09-17 07:51] comeonamit opened #2179 "Unable to upload images from various forms"
**I'm submitting a ..**
- [x] Bug Report

**Current behavior:**

While creating new Sponsor I am unable to upload the logo. Smilarly I am unable to upload image while creating lodging.

**Expected correct behavior:**

I should be able to upload the images where it allows.

**Steps to reproduce:**
Create a new sponsor
Fill in the required fields like name, description, website.
Select an image for

[2018-09-17 10:41] differentreality commented on #2179
Can you reproduce the error in http://demo.osem.io/admin/conferences/osemdemo/lodgings ?

[2018-09-17 13:13] hennevogel commented on #2179
Please note: The demo is currently horribly outdated as the heroku depoly fails for some time now....

[2018-09-18 05:01] comeonamit commented on #2179
Can you share the admin username and password separately? I would need to
create a new sponsor to reproduce the issue.

On Mon, Sep 17, 2018 at 4:11 PM Stella Rouzi <notifications@github.com>
wrote:

--

Amit Sharma

[2018-09-18 08:32] hennevogel commented on #2179
@comeonamit read the conference description. admin/password123

[2018-09-18 08:38] comeonamit commented on #2179
I followed the steps and i was able to create the sponsor. It seems that
the problem is not with OSEM but with the docker image.

I will try to take care of that. Apologies for the trouble.

On Tue, Sep 18, 2018 at 2:02 PM Henne Vogelsang <notifications@github.com>
wrote:

--

Amit Sharma

[2018-09-18 15:20] hennevogel commented on #2179
@comeonamit like I said before, demo is _not_ the current code. demo is much older. Someone still needs to verify this. Stay tuned please...

[2018-09-19 09:52] TheRealBro commented on #1493
Seems like it's time to move to pretalx or frab o.O - are there any logs or information from the "trying to reproduce but didn't work"? Are there any questions we could maybe help with?

[2018-09-19 10:06] hennevogel commented on #1493
This happens if MF-IT changes peoples email addresses. The whole authorization logic is build around that this _never_ happens. But it does some times.

[2018-09-19 10:09] hennevogel commented on #1493
@darix is there a particular user that is affected by this?

[2018-09-19 11:34] darix commented on #1493
no this has nothing to do with MFIT changing email addresses. this happened to myself or a friend when trying to sign up for the first time. that's why the find by email reported not found.

[2018-09-19 12:10] hennevogel commented on #1493
@darix when and where?

[2018-09-19 13:46] differentreality commented on #1493
I know of 2 times this happened, if I am not mistaken it was around oSC17 and oSC16.
This happened specifically in openSUSE OSEM instance - it uses ichain  so it is not possible to duplicate without a SUSE account.

Please also note that the user did already have some account on the OSEM instance.

[2018-09-19 14:14] hennevogel commented on #1493
@differentreality I guess we have two issues here. One when all of the sudden there is a new user in ichain with the same email address. And the other one @darix has seen.

[2018-09-23 12:17] karuvally opened #2191 "uninitialized constant Ahoy::Stores (NameError) when connecting to OSEM"
**I'm submitting a ..**
- [x] Bug Report
- [ ] Feature Request

**Current behavior:**
OSEM cannot be used. Passenger shows "Error starting web application" with a log starting with the error message "uninitialized constant Ahoy::Stores (NameError)"

**Expected correct behavior:**
OSEM shows the home page

**Steps to reproduce:**
- Download OSEM v1.0
- Compile and install latest Ruby (2.5.1 as of n

[2018-09-26 08:43] rishabhptr commented on #1948
Closing this issue as this was addressed in #2012

[2018-09-26 08:43] #1948 closed

[2018-09-28 00:57] yagudaev commented on #1885
Any updates on this? Facing the same challenge

[2018-10-01 14:33] bear454 commented on #1885
As a workaround, if possible, you can delete all records in `ahoy_events` table.

[2018-10-01 14:43] hennevogel commented on #1885
As Captain of this vessel, seaman and inventor of this feature, I don't like to say this, but: Ahoy must die.

[2018-10-01 15:16] bear454 commented on #1885
@hennevogel : does that mean campaigns go away? I'm all for that - we've had better success running such stats through client analytics (ga or matomo).

[2018-10-02 13:33] differentreality commented on #1885
For what it's worth, the new version of ahoy (which we already have https://github.com/openSUSE/osem/pull/2006) seems to be working fine. It's this particular migration that wasn't bulletproof.

[2018-10-02 13:42] hennevogel commented on #1885
@differentreality sure, it's working but do you think anyone is using this feature? I don't know of anyone...

[2018-10-05 12:10] jakrzus commented on #2021
Looks like already fixed:
`gem 'mysql2'`
`gem 'pg'`

[2018-10-05 14:40] #2021 closed

[2018-10-08 23:55] bear454 commented on #2082
Done in #2169

[2018-10-08 23:55] #2082 closed

[2018-10-08 23:56] bear454 commented on #2058
The expected workflow is that you replace a cancelled talk. The substitutions will show on the schedule instead of the cancellations. If there is no replacement, then the cancelled talk shows on the schedule as "cancelled."

[2018-10-08 23:59] #2028 closed

[2018-10-09 00:01] bear454 commented on #1885
I'll take this; I already have some code in LFNW for dropping Ahoy...

[2018-10-09 03:35] bear454 commented on #2150
[Travis](https://docs.travis-ci.com/user/sauce-connect/) does support [Sauce Labs](https://saucelabs.com/open-source/open-sauce), though...

[2018-10-09 03:36] bear454 commented on #2150
I submitted an application to Sauce Labs for an "open sauce" account.

[2018-10-09 09:51] hennevogel commented on #2150
chrome, chromium -> https://www.youtube.com/watch?v=zZ3fjQa5Hls&feature=youtu.be&t=90

[2018-10-10 16:56] bear454 commented on #2150
Well, not exactly.

Chrome uses a different _binary_ than Chromium - we'd have to have Travis run with `google-chrome`, but locally run with `chromium` or... ? I'm just saying... the difference in binary names needs to be handled.

[2018-10-10 19:19] hennevogel commented on #2150
Well locally you can also have google-chrome, or yes you handle this. But that are rather minor thing I would say.

[2018-10-16 21:13] bear454 commented on #379
Closed with #2205.

[2018-10-16 21:13] #379 closed

[2018-10-16 21:13] #1885 closed

[2018-10-16 21:13] #2191 closed

[2018-10-18 16:34] GroverChouT opened #2218 "Request reviewer access on Transifex for Chinese Simplified"
Hello,

I've to translate osem into Chinese almost one year ago, but it seems still no one reviews my strings. I request grant me reviewer access for Chinese Simplified.

[2018-10-23 11:26] nikkhils opened #2222 "Track/Difficulty dropdown not visible at program/proposals/new page"
**I'm submitting a ..**
- [*] Bug Report
- [ ] Feature Request

**Current behavior:**

I have added tracks to my conference. After that when user goes on submit proposal at "program/proposals/new", "track dropdown" and "difficulty dropdown" is not available. However later if we edit the proposal, it shows the track/difficulty dropdown.

**Expected correct behavior:**

The submit proposal link shou

[2018-10-23 12:41] nikkhils commented on #2222
I figured I could add content from _proposal_form.html.haml into new.html.haml to get these track/difficulty dropdowns. But it's not documented.. can close this once I get an official confirmation regarding what I tried was ok enough. Thanks.

[2018-10-25 20:37] bear454 commented on #2150
Okay, I have capybara working locally with selenium webdriver and headless Chrome _and_ headless Firefox... just need to fix a bunch of newly failing tests...

Also got the green light from Sauce Labs - we're in Open Sauce! So I'll add that to Travis.

[2018-10-26 02:58] dPliakos commented on #1962
Can I work on this issue?

[2018-10-26 03:40] #1962 closed

[2018-10-30 13:43] meonkeys commented on #1684
Sounds like a good plan... what other design/spec information is needed here in order to proceed?

[2018-11-06 16:21] bear454 commented on #2150
Grmbl; I can't get Sauce to work right, and I've exhausted my free test time. So instead of merging breakage, I'm just going to submit with headless chrome on Travis. :/

[2018-11-06 23:00] EmperorArthur commented on #1941
Confirmed, the issue is still present.

`db:schema:load` does work for me, but is at best a workaround.  If all the migrations don't run, then there's a problem somewhere.  It means the test environment may be different from production, which invalidates all the tests.

[2018-11-14 14:02] hennevogel commented on #2222
We purposefully avoid a too crowded submit form so people will more likely submit. Once they submitted we remind them to complete the stuff.

[2018-11-14 14:02] #2222 closed

[2018-11-19 16:40] #2150 closed

[2018-11-19 16:43] bear454 commented on #354
Resolved in #2225

[2018-11-19 16:46] bear454 opened #2256 "Test on a "production" database"
**I'm submitting a ..**
- [ ] Bug Report
- [x] Feature Request

**Current behavior:**

Continuous testing on Travis CI is run on a Sqlite3 database; as of filing this issue, running our test suite on either MariaDB or Postgres results in intermittent failures.

**Expected correct behavior:**

Travis CI runs on either MariaDB or Postgres, without introducing flakiness.

**Other information:**

Intr

[2018-11-20 09:04] ramsiddu007 opened #2258 "Forget Password not working"
**I'm submitting a ..**
Bug Report
- [x] Feature Request

**Current behavior:**

**Expected correct behavior:**

**Steps to reproduce:**

**Other information:**

[2018-11-20 10:38] differentreality commented on #2258
@ramsiddu007 Please fix the description of the issue and let us know where this has occurred.

[2018-11-20 10:49] ramsiddu007 commented on #2258
I am trying to submit my email in forgot password screen in www.pgconf.in, it seems error. Please rectify it.

[2018-11-20 11:55] differentreality commented on #2258
OK but which part isn't working? Do you submit your email successfully? Do you receive an email afterwards? Can you visit the URL in the email? Do you enter a new password successfully? Is the new password not working?

That said, I cannot reproduce the error with the current master, why did you submit an issue here instead of contacting the organizers of the conference?

[2018-11-21 03:26] meonkeys opened #2270 "Email is still displayed on talk page even if Email public is unchecked"
**I'm submitting a ..**
- [X] Bug Report
- [ ] Feature Request

**Current behavior:**

On https://osem.seagl.org/conferences/seagl2017/program/proposals/290 , my email is displayed, but on https://osem.seagl.org/accounts/edit "Email public" is unchecked.

**Expected correct behavior:**

If "Email public" is unchecked, email address is not displayed on the talk page.

[2018-11-21 08:15] altsalt commented on #2025
This seems like an oversight. Blind reviews are designed such that the reviewers have no information about the proposal.

Blind voting is a separate, but also important feature, such that the reviewers don't know how their fellow reviewers voted.

[2018-11-21 18:52] bear454 commented on #2025
Agreed; this issue needs to be renovated as a new feature request, to add blind reviews, in addition to the blind voting.

[2018-11-28 19:16] bear454 opened #2272 "CVE-2018-16476 in rails"
[Security issue from Hakiri](https://hakiri.io/projects/d1eb39a7696349/stacks/70eaa9009f1f2b/builds/9aabdd668fdda5/warnings/bb6f304fb54ab5): There is a vulnerability in Active Job. This vulnerability has been assigned the CVE identifier CVE-2018-16476. Versions Affected:

[2018-11-28 19:43] #2272 closed

[2018-12-09 11:06] divyanshumehta opened #2283 "Cannot deploy OSEM to heroku"
**I'm submitting a ..**
- [ ] Bug Report

**Current behavior:**
Cannot deploy OSEM to heroku by clicking on `Deploy to Heroku` from INSTALL.md

**Expected correct behavior:**

**Steps to reproduce:**
On clicking `Deploy to Heroku` from INSTALL.md and filling up the environment variables, I get build failures.
[code]

[2018-12-09 23:31] underworld111 opened #2284 "How to install this step by step in Docker PLEASE???"
**I'm submitting a ..**
Tutorial request for Docker deply / installation

Hi all, I have a synology server running and really want to deploy this OSEM on my server through Docker. I have already got the docker installed and running. But how do I install or deply OSEM in Docker??

Tried Heroku too.....no luck. Needs step by step instruction PLEASE. Thank you very much.

**Current behavior:**

**Exp

[2018-12-13 11:17] pavanvd commented on #698
Seems like this issue still exists, but affects Safari and not Chrome.

[2018-12-18 13:49] hennevogel opened #2285 "Multi venue conference"
Support for conferences that have multiple venues.

- displaying them on the splash page
- assigning rooms to venues

[2018-12-21 12:18] senvB commented on #2283
I am facing the same issue (same error message and dependency tree) when running bundle install on Ubuntu14.04 und Ruby2.5.3.

[2018-12-28 11:48] differentreality commented on #2283
I can confirm that's indeed the case.
This must be happening because the button tries to deploy our old version :disappointed:
https://github.com/openSUSE/osem/tree/v1.0

Sorry there is no other release currently.

[2018-12-28 11:49] differentreality commented on #2284
https://github.com/openSUSE/osem/blob/master/INSTALL.md#deploy-with-docker

[2018-12-28 11:49] #2284 closed

[2018-12-28 11:58] #2258 closed

[2018-12-28 12:04] #1863 closed

[2019-01-01 23:02] bcornec commented on #2285
Would be very useful indeed for our event: http://www.flosscon.org

[2019-01-05 11:06] rifkiaz opened #2309 "Schedule not show in splash page"
Hello I installed OSEM in Docker and I created event in there, but when I show the Event, schedule not show in there...
why ?

Best regrards
Rifki

[2019-01-06 12:01] #2309 closed

[2019-01-11 10:18] aspiers commented on #1975
I'm a bit confused by this issue.  Firstly the title is "Installation instructions not based on docker" but `INSTALL.md` *is* based on Docker.  Did you mean it to say "*Need* installation instructions not based on docker"?

Secondly:

which sounds like you are saying you expect the docker-based install to not work.  Did you mean to write:

?

[2019-01-11 10:20] aspiers commented on #2065
The current `INSTALL.md` in `master` is indeed out of date, for example it refers to files which no longer exist.  I would suggest that fixing this should be one of the highest priority tasks for the project, since if the documented installation process doesn't work then that will quickly scare away any potential contributors (including me).

[2019-01-11 11:12] differentreality commented on #481
@aspiers this is now configurable through program, marked as **schedule interval** and it is expected to be a value of 5, 6, 10, 12, 15, 20, 30 or 60.

http://demo.osem.io/admin/conferences/osemdemo/program/edit

[2019-01-11 11:44] #1975 closed

[2019-01-11 12:12] differentreality opened #2311 "Not possible to add multiple speakers to event"
Multiple is set to false in https://github.com/openSUSE/osem/blob/master/app/helpers/application_helper.rb#L124
https://github.com/openSUSE/osem/pull/2074

It breaks the functionality of having multiple users per event.

[2019-01-11 12:24] #481 closed, assigned to nobody

[2019-01-11 12:36] aspiers commented on #2065
Thanks for the quick replies!

[**@differentreality**](https://github.com/differentreality) commented on [11 Jan 2019, 11:27 GMT](https://github.com/openSUSE/osem/issues/2065#issuecomment-453488277 "2019-01-11T11:27:18Z - Replied by Github Reply Comments"):

Most of the files mentioned in the "Deploy with Docker" section. `docker-compose.yml.example` doesn't exist, and even if it did, copying it t

[2019-01-11 12:46] hennevogel commented on #2065
That's my fault as I have changed our docker setup. I'll address this...

[2019-01-11 12:50] aspiers commented on #1975
Not sure why this was closed just now?

[**@hennevogel**](https://github.com/hennevogel) commented on [3 Aug 2018, 09:46 BST](https://github.com/openSUSE/osem/issues/1975#issuecomment-410188367 "2018-08-03T08:46:53Z - Replied by Github Reply Comments"):

Yes, that makes sense.

I disagree with this, sorry.  It's entirely possible to provide instructions with caveats and disclaimers at the top whic

[2019-01-11 13:06] hennevogel commented on #1975
development != production

For developing we have a development environment and documentation. For trying osem we have the demo server.

[2019-01-16 17:27] grepwood commented on #2065
Me and my customer moved to a proprietary solution as time was of the essence and we couldn't focus on OSEM. For what it's worth, I'm still interested on providing an installation manual for setups outside of Docker in the last week of January. This week all of my efforts are pre-allocated to my paid duties.

[2019-01-20 09:51] monochromec opened #2313 "How to change the email address associated with an account"
**I'm submitting a ..**
- [ ] Bug Report
- [ ] Feature Request

**Current behavior:**

As I did't see anyhting in the UI: How do I verify / change the email address of an account
after successful login?

**Expected correct behavior:**

**Steps to reproduce:**

**Other information:**

[2019-01-21 08:25] rgiessmann opened #2315 "Caching for splash page does not work as expected"
**I'm submitting a ..**
- [x] Bug Report
- [ ] Feature Request

**Current behavior:**
I restart the osem app with `passenger-config restart-app`. On first loading of the conferences view (splash page for a specific conference) I get a banner with the fancy pattern background.
When reloading the page, the pattern disappears.

**Expected correct behavior:**
Have the banner displayed every time.

**S

[2019-01-29 17:17] felipelovato opened #2316 "Installation with Docker fails: the compose file is invalid without a build context specified"
**I'm submitting a ..**
- [x] Bug Report
- [ ] Feature Request

**Current behavior:**

When running **docker-compose run --rm osem bundle exec rake db:bootstrap** an error:
[code]

**Expected correct behavior:**

Install project for development using docker.

**Steps to reproduce:**

[code]

**Other information:**

I was able to workaround this by just adding a ```context: .``` in docker-compose.o

[2019-01-29 20:14] hennevogel commented on #2316
The problem is more that the service names mismatch. web != osem

[2019-01-29 20:47] #2316 closed

[2019-01-30 01:34] hennevogel commented on #2283
You can fix this by setting this environment variable in your heroku configuration:

`NOKOGIRI_USE_SYSTEM_LIBRARIES=1`

If you want to deploy the *unstable* version, go to

https://heroku.com/deploy?template=https://github.com/openSUSE/osem

[2019-01-30 01:34] hennevogel commented on #2283
I will make a 1.0.1 release that includes this...

[2019-01-30 01:38] hennevogel commented on #2087
we do not use vagrant anymore. sorry...

[2019-01-30 01:38] #2087 closed

[2019-02-01 00:00] #2065 closed

[2019-02-01 10:55] Ana06 commented on #2065
@grepwood

PRs are always welcome. If you think the documentation can be improved, we will be more than happy to review your improvement suggestions.

[2019-02-01 19:24] albarnaz opened #2321 "SSL problem"
**I'm submitting a ..**
- [x] Bug Report
- [ ] Feature Request

**Current behavior:**
When access https://osem.io/ got a SSL problem

![image](https://user-images.githubusercontent.com/20689519/52144534-bdc64f80-2645-11e9-9d57-ff02e63b5931.png)

![image](https://user-images.githubusercontent.com/20689519/52144579-dc2c4b00-2645-11e9-8b58-b67fdf1b024c.png)

[2019-02-05 17:25] aspiers opened #2322 "more clarity around use of commercials?"
### I'm submitting a ...

- [ ] Bug Report
- [ ] Feature Request
- [x] UI/UX issue

### Current behavior

I was just confirming my talk for the openSUSE Summit (which runs on osem) and I see a "Commercials" feature which says

However I'm not entirely sure how these commercials would be displayed, or what is the purpose of them?  I see that you can paste a URL to a video on YouTube / Vimeo etc. bu

[2019-02-11 15:31] abhiyan52 commented on #1924
Please close this .. Its already done

[2019-02-11 15:33] abhiyan52 commented on #2285
I will work on it. It's my first time here contributing to open source

[2019-02-13 17:06] abhiyan52 opened #2323 "Send email to friend with ticket for a conference"
**I'm submitting a ..**
- [x] Bug Report
- [1] Feature Request
Add send email feature in the physical ticket section

[2019-02-14 09:59] hennevogel commented on #2323
I'm sure you have an email client :-)

[2019-02-14 09:59] #2323 closed

[2019-02-16 10:28] Ana06 opened #2328 "Content overlap in admin page"
This is how the admin page looks in events.opensuse.org using the phone.

![screenshot_2019-02-16-11-10-04-844_com android chrome](https://user-images.githubusercontent.com/16052290/52898398-becab580-31dd-11e9-9773-870dc899aeea.png)
![screenshot_2019-02-16-11-09-34-405_com android chrome](https://user-images.githubusercontent.com/16052290/52898399-becab580-31dd-11e9-829b-bfc82648748d.png)

There i

[2019-02-16 16:00] hennevogel commented on #2321
github pages do not support ssl

[2019-02-16 16:23] hennevogel commented on #2321
Ups sorry that is not true anymore.

[2019-02-16 16:24] hennevogel commented on #2321
waiting for dns to prapagate

[2019-02-16 20:52] hennevogel commented on #2321
done. thanks for reminding us @albarnaz :bouquet:

[2019-02-16 20:52] #2321 closed

[2019-02-19 09:37] Ana06 opened #2330 "The links to talks are broken"
For example:

https://events.opensuse.org/conferences/oSC17/program/proposal/1388
https://events.opensuse.org/conferences/oSC18/program/proposal/1690

I am linking this pages and also openSUSE from blog post and other communication channels, so we should fix this fast.

[2019-02-19 09:56] Ana06 commented on #2330
This is also broken from the links in the app. This is a really visual bug

[2019-02-19 10:38] Ana06 commented on #2330
I am working on it.

[2019-02-19 10:44] Ana06 opened #2331 "Old conference should be in descendant order"
It is not usable to show a conference from 2013 the first. Latest talk should be shown first.

![image](https://user-images.githubusercontent.com/16052290/53009241-609b0e00-343b-11e9-84c3-166b29f938c1.png)

[2019-02-19 10:45] Ana06 commented on #1343
This is still not fixed, check for example https://events.opensuse.org/conferences/oSC17/schedule without login

[2019-02-19 10:52] Ana06 opened #2332 "It is allowed to send proposals although the CFP is closed"
For example the next openSUSE Conference:

![image](https://user-images.githubusercontent.com/16052290/53009867-be7c2580-343c-11e9-87ae-cadb0de63538.png)

![image](https://user-images.githubusercontent.com/16052290/53009920-da7fc700-343c-11e9-8e70-8ebc29bcd7d7.png)

The same happens for booths and tracks and there is not event a call for booths/tracks created. In my profile I have things like "My

[2019-02-19 10:55] Ana06 commented on #2332
@ddemaio you may be aware of this

[2019-02-19 11:00] Ana06 opened #2333 "get rid of travel info"
I wonder why we want the arrival and departure time of the attendees. In the registration:

![image](https://user-images.githubusercontent.com/16052290/53010314-ddc78280-343d-11e9-81f9-6ff7f699fbc2.png)

After registering:
![image](https://user-images.githubusercontent.com/16052290/53010559-8544b500-343e-11e9-8105-aea65fdb5fc4.png)

Should we get rid of this?

Related to https://github.com/openSUS

[2019-02-19 11:01] Ana06 commented on #2333
@differentreality @ddemaio any opinion?

[2019-02-19 11:02] Ana06 commented on #1810
I agree with @differentreality :+1:

[2019-02-19 11:09] Ana06 opened #2334 "Revision history is broken"
The [revision history link](https://events.opensuse.org/admin/revision_history) in the profile dropdown is broken:

![image](https://user-images.githubusercontent.com/16052290/53010850-30556e80-343f-11e9-8de7-d77487e4fcaf.png)

[2019-02-19 11:43] ddemaio commented on #2332
@Ana06 Since you are an admin foroSC19, it provides that option. It's a feature and not a bug.

[2019-02-19 12:11] Ana06 opened #2335 "Improve voting process"
Currently people can see what other people vote. I think that what a person has voted affects (even without realizing) what other people vote. Also, the people voting could share the voting information. One idea to solve this would be that admin and organizers see the result without knowing who voted what. The rest of the people voting only could see their own vote.

[2019-02-19 12:13] Ana06 opened #2336 "Both and tracks"
Booth and tracks complicate the app a lot. In the events.opensuse.org instance I think we are now using this feature. Is any other conference using this feature? If not, I would get rid of it. Otherwise, I would make this configurable for every instance.

[2019-02-19 12:14] Ana06 commented on #2333
@differentreality @ddemaio @bear454 @hennevogel  any opinion?

[2019-02-19 12:14] Ana06 commented on #2335
@differentreality @ddemaio @bear454 @hennevogel  any opinion?

[2019-02-19 12:14] Ana06 commented on #2336
@differentreality @ddemaio @bear454 @hennevogel  any opinion?

[2019-02-19 12:25] Ana06 commented on #2332
But in the profile it says my tracks, and not tracks :thinking:

[2019-02-19 12:25] ddemaio commented on #2335
@Ana06 I agree it has an affect, and of course there is some significant differences of option for certain votes. I don't know if changing it would have a big difference, but it is worth considering.

[2019-02-19 12:27] Ana06 commented on #2011
As mentioned in #2333, it may be better to completely get rid of this information.

[2019-02-19 12:28] Ana06 commented on #2332
But in the profile it says my tracks, and not tracks :thinking:  I'll check as a different user :thinking:

[2019-02-19 15:55] bear454 commented on #2333
I agree: https://gitlab.com/lfnw/osem/commit/d18cc02f0185df39bb4213d8a63a955dfb433dcb

[2019-02-19 15:56] bear454 commented on #2333
Want me to submit this as a PR, @Ana06 ?

[2019-02-19 15:58] bear454 commented on #2336
We use tracks, both internal and external. We treat tracks internally as tags on sessions, and extenal (with owner) to allow other groups to administer their own sessions. For example, Postgres US runs a track within LFNW.

[2019-02-19 15:58] bear454 commented on #2336
We don't use booths, though; but IIRC this was added by/for FOSDEM.

[2019-02-19 16:03] bear454 commented on #2335
The blind voting feature hides other users votes during the voting period:
https://github.com/openSUSE/osem/blob/master/app/views/admin/programs/_form.html.haml#L13

[2019-02-19 16:23] Ana06 commented on #2335
@bear454

But it still show you other's people votes when you have voted and you can change your vote. There is still the privacy concern that I could for example share with other people what another person has voted.

[2019-02-19 16:24] Ana06 commented on #2336
@differentreality has FOSDEM ever used OSEM or is it planned to use it in the future? :thinking:

[2019-02-19 16:25] Ana06 commented on #2336
Maybe a checkbox per conference to enable this is enough, so that it can be disabled when not needed. It is really disturbing in the admin panel when you don't use it. @ddemaio can you see any use of case for us?

[2019-02-19 16:27] Ana06 commented on #2333
@bear454

I would suggest we give the rest a bit of time to answer (just in case someone find it useful). If everybody agrees it would be great if you could send a PR :cupid:

[2019-02-19 18:31] hennevogel commented on #2336
Hm how is it disturbing? By being there? :wink:

[2019-02-19 18:35] hennevogel commented on #2335
1. Blind voting should not show what people have voted for, ever. Only show an accumulated vote
1. You should not be able to change your vote after the voting period has ended

[2019-02-20 06:26] ddemaio commented on #2336
@Ana06 I never really used it, but tried it out for this year's. I don't think it is necessary, but since I'm not the only one using OSEM, I would say it is best to keep it.

[2019-02-20 11:04] Ana06 commented on #2335
@hennevogel

I think even the accumulated one is a problem and shouldn't be shown as long as I am able to change my own vote. It can also affect what I vote. Let see I think a talk should be in the conference but that is not one of the most important ones. I blindly would vote a 7. But if the accumulated vote is 3, then I may vote 10 to try to compensate the bad votes from other people. After voti

[2019-02-20 11:06] Ana06 commented on #2336
@hennevogel

by being shown everywhere (at least as admin) when you don't want to use it... maybe it is just enough to remove from some places when there haven't been a call for booths yet.

[2019-02-20 13:10] Ana06 opened #2345 "docker doesn't work"
Following the _docker-compose_ section in [our contribution guide](https://github.com/openSUSE/osem/blob/master/CONTRIBUTING.md#development-environment), I run `docker-compose run --rm osem bundle exec rake db:bootstrap` and I got the following error:

[code]
Shouldn't docker create the database for me? :thinking:

[2019-02-20 13:12] Ana06 commented on #1213
@hennevogel what is the state of this? it seems docker is already being used and documented. Should we get rid of vagrant?

[2019-02-20 14:52] Ana06 commented on #2345
This was a bug in Ruby 2.5.0, but if I get the docker again it install Ruby 2.6

[2019-02-20 15:31] bear454 commented on #2335
for LFNW,  we set a 2-week blind voting period. In our fork I've completely rewritten the Events index, using ajax-datatables-rails, and I only show your votes during the blind voting period. After the 2 weeks, notices start going out, and we collaborate on 'finishing' scoring anything that was left out.

[2019-02-20 15:44] Ana06 opened #2347 "Dates fields are plain text"
When creating a new conference in admin/conferences/new, the data fields are plain text instead of date picker:

![image](https://user-images.githubusercontent.com/16052290/53103794-835a1f00-352e-11e9-8fd4-83e7d08c2340.png)

[2019-02-20 15:46] Ana06 commented on #2335
@bear454 then the solution I propose will also work for you, right? That would make easier getting new changes in master.

Using datatables also sounds like a good idea :+1:

[2019-02-20 15:49] Ana06 opened #2348 "Creating an event fails from admin panel"
If after creating a conference, I try to create an event from the admin panel I get `undefined method 'enable_registrations?' for nil:NilClass`.

This stop happening once a call for events is created (which shouldn't be needed for an admin)

[2019-02-20 15:52] Ana06 opened #2349 "Calls dates are broken"
In the Call for Events/Booths/Tracks, start and end dates are broken, which makes that creating then is not anymore possible.

![image](https://user-images.githubusercontent.com/16052290/53104561-dd0f1900-352f-11e9-8416-d496dd03293e.png)

[2019-02-20 17:16] hennevogel commented on #1213
for me this would be okay

[2019-02-20 17:28] hennevogel commented on #2336
everywhere? it's like 2 entries in the menu, no?

I mean sure we can do an app wide configuration of those things, why not. But by default I would show this always. Both and tracks are usual things with FOSS conferences.

[2019-02-20 20:08] hennevogel commented on #2345
fixed in 02f0fb078c3fe2dd22cafa379fb6da8426cc06d8

[2019-02-20 20:08] #2345 closed

[2019-02-20 20:10] hennevogel commented on #2335
I meant: Only show an accumulated vote after the voting period ended.

[2019-02-21 09:16] kkaempf opened #2352 "The change you wanted was rejected"
**I'm submitting a ..**
- [x] Bug Report
- [ ] Feature Request

**Current behavior:**
I was editing https://events.opensuse.org/conferences/oSC19/program/proposals/2390 to complete the proposal with values from https://events.opensuse.org/conferences/oSSN19/program/proposals/2294/edit

Upon clicking "Update Proposal", a "The change you wanted was rejected.
Maybe you tried to change something you d

[2019-02-21 09:54] Ana06 commented on #2330
The url was changed to https://events.opensuse.org/conferences/oSC18/program/proposals/1690 (proposals with s)

[2019-02-21 09:55] Ana06 opened #2353 "It is not possible to create an schedule"
According to @ddemaio, it is not possible to create an schedule. This is important for the conferences coming on.

[2019-02-21 09:56] Ana06 commented on #2349
Those are not the only datapickers which are broken

[2019-02-21 09:57] Ana06 commented on #2347
Related to https://github.com/openSUSE/osem/issues/2349

[2019-02-21 10:05] ddemaio commented on #2353
Schedules can't be viewed anymore. When trying to view, it says "You are not authorized to access this page." The schedules I had previously made were erased. When I try to made a schedule, it is impossible to schedule anything after 1 p.m. because of the view, non-scrolling option and an error saying "not defined" when adding a new schedule and trying to schedule talks.

[2019-02-21 10:08] Ana06 commented on #2353
That old schedules are not visible might be related with https://github.com/openSUSE/osem/issues/2330

[2019-02-21 10:27] ddemaio commented on #2353
![bugfrosem](https://user-images.githubusercontent.com/8996626/53161961-4d1ead00-35cb-11e9-9a00-8389ee08d7e8.png)
Here is the view. I have to shrink the view to 50 percent to move the talks to the correct position. I can put in one talk, then when I try to schedule the second talk, I get the undined error. Once I refresh it, I can put on more talk in the schedule, but will get the same error when

[2019-02-21 10:30] ddemaio commented on #2353
![unscheduleosem](https://user-images.githubusercontent.com/8996626/53162310-1006ea80-35cc-11e9-9bcd-a902acffbfeb.png)
![moveosem](https://user-images.githubusercontent.com/8996626/53162317-139a7180-35cc-11e9-8af4-0149c61c643d.png)
Also, I can't move talks or unschedule talks as you can see from the screenshot above.

[2019-02-21 10:52] Ana06 commented on #2335
@hennevogel

ok, then it is the same (or similar) to what I suggested. In summary we need a voting period/call for voting or something similar. :wink:

[2019-02-21 10:53] Ana06 commented on #2345
Thanks!

[2019-02-21 13:03] Ana06 opened #2356 "Flickering test: Event as a participant signed_in user submits a valid proposal"
[code]

[2019-02-21 14:21] Ana06 commented on #2256
@bear454 we could run travis twice with a different database. Would you like to set this up? You would need to fix the failures, but after that we would ensure that this keep working in every PR. :thinking:

[2019-02-21 14:22] Ana06 commented on #2218
@differentreality @hennevogel any idea? I have not much insight how transifex works and how it is setup.

[2019-02-21 14:24] Ana06 commented on #2091
@hennevogel now that we also updated an old version, is there some documentation we can write down? :thinking:

[2019-02-21 14:25] Ana06 commented on #2043
As we want to get rid of vagrant, I guess we can close this....

[2019-02-21 14:25] #2043 closed

[2019-02-21 14:26] Ana06 commented on #2042
@jpescola can you provide more information? where is the link you speak about?

[2019-02-21 14:27] Ana06 commented on #2025
Related to https://github.com/openSUSE/osem/issues/2335

[2019-02-21 15:08] bear454 commented on #2335
We have a voting period; it's defined on the program:

* https://github.com/openSUSE/osem/blob/master/app/views/admin/programs/_form.html.haml#L13-L15
* https://github.com/openSUSE/osem/blob/master/app/views/admin/programs/show.html.haml#L58-L73

[2019-02-21 16:09] #2330 closed

[2019-02-21 17:00] #1213 closed

[2019-02-21 17:04] hennevogel commented on #2091
When we do a release all of this will be in the release notes.

@redimido we have one release here https://github.com/openSUSE/osem/releases
more will follow.

[2019-02-21 17:04] #2091 closed

[2019-02-21 17:06] hennevogel commented on #2256
@Ana06 read the discussion in #2225

[2019-02-21 17:06] hennevogel commented on #2356
This is flickering hard.

[2019-02-21 17:09] hennevogel commented on #2042
@Ana06 this is a feature request.

If an event wants to hand out certificates it can. nothing OSEM will help you with, sorry.

[2019-02-21 17:09] #2042 closed

[2019-02-21 22:08] hennevogel commented on #2353
Obviously no one ever tried this feature in production with CSRF protection on...

[2019-02-22 00:07] uebmaster opened #2360 "Error on image uploads"
**I'm submitting a ..**
- [ ] Bug Report

**Current behavior:**

When i try to atttach an image to an organization I get the next:
Errno::EACCES (Permission denied @ dir_s_mkdir - /osem/public/system/organizations):

I can create the organization but without image

**Expected correct behavior:**

I expect the creation of an organization with an image attached

**Steps to reproduce:**

Click on Org

[2019-02-22 06:04] Ana06 opened #2363 "Conference should be a link in the proposal page"
![screenshot_2019-02-22-07-02-43-877_com android chrome](https://user-images.githubusercontent.com/16052290/53222992-18186600-3670-11e9-8764-7d015380244e.png)

[2019-02-22 09:42] Ana06 commented on #2353
The new `Regression` label need to be added to the wiki: https://github.com/openSUSE/osem/wiki/Labels-for-issues-and-PRs

[2019-02-22 09:45] #2353 closed

[2019-02-22 09:46] Ana06 opened #2364 "Scroll in the schedule doesn't work"
The scroll thing from jauery-ui draggable doesn't work

Related to https://github.com/openSUSE/osem/issues/2353 follow-up of https://github.com/openSUSE/osem/pull/2362

[2019-02-22 09:50] Ana06 commented on #2347
It should be fixable similarly to https://github.com/openSUSE/osem/pull/2354

[2019-02-22 09:52] Ana06 commented on #2360
Maybe related to https://github.com/openSUSE/osem/issues/2179

[2019-02-22 10:29] ddemaio opened #2365 "Schedule not viewable"
The schedule is not viewable when logged in and also when logged out.

When signed out, it is says "You are not authorized to access this page. Maybe you need to sign in?"

When signed in, it says "You are not authorized to access this page."
![schedule](https://user-images.githubusercontent.com/8996626/53236602-fc738680-3694-11e9-9c6e-5cb4b760bcd2.png)

[2019-02-22 10:41] Ana06 commented on #2365
Related to https://github.com/openSUSE/osem/issues/1343

[2019-02-22 12:15] hennevogel commented on #1343
are you working on this?

[2019-02-22 14:01] ehrenfeu commented on #2179
This happened to me as well when running OSEM through `docker-compose` as documented in the [installation instructions][1]. Unfortunately neither the report here nor #2360 states **how (or where)** they are running OSEM.

For me, I could fix the issue locally by giving ownership and write-permissions to the system user running the `foreman` process on the folder `/osem/public/system` (which transl

[2019-02-22 20:05] BelieveC commented on #1343
@hennevogel, No I'm not currently working on this.

[2019-02-22 20:40] uebmaster commented on #2179
Would you tell me the process?

I don't know what you mean with foreman process.

![captura de pantalla de 2019-02-22 14-40-11](https://user-images.githubusercontent.com/5565506/53269925-d0193380-36af-11e9-856a-6f13cbe437bd.png)
![captura de pantalla de 2019-02-22 14-40-18](https://user-images.githubusercontent.com/5565506/53269926-d0193380-36af-11e9-9644-93a89303cf2a.png)

[2019-02-22 22:47] hennevogel commented on #2179
@uebmaster judging from the first screenshot you run this via `docker-compose -f docker-compose.yml.production-example` right? What exactly are you doing?

[2019-02-22 23:23] uebmaster commented on #2179
Exactly what install.md tells

I have made several attempts, in this moment i'm only just changing the secret_base_key and starting the container like you said in your answer.

i am on opensuse leap 15.0

i don't know what's happen, that is supposed to be the docker's advantage and I do not know why it does not work as it should.

Thanks for your time.

[2019-02-25 09:44] ehrenfeu commented on #2179
Hi @uebmaster,

as you can see from the `docker-compose.yml.production-example` file in the `command` line,
https://github.com/openSUSE/osem/blob/51f6ad6d146402cb20f0b9b7bcf43bd19063f90f/docker-compose.yml.production-example#L21
once the container is "up", the [`/osem/bin/osem-init.sh`](https://github.com/openSUSE/osem/blob/f8b7233404c990363f5fbee371733875bc2df1a7/bin/osem-init.sh) is run - which

[2019-02-26 12:54] ehrenfeu commented on #1376
:+1:
Same here, and I'd love to see it as a "mixed" authentication (as indicated by @TheAssassin already) to allow for externals (non-LDAP) as well.

[2019-02-26 13:36] hennevogel commented on #1376
We use devise. You can make use of https://github.com/cschiewek/devise_ldap_authenticatable until we have integrated this.

[2019-02-26 13:58] ehrenfeu commented on #1376
Thanks for the quick reply, that looks very interesting / promising! I'll try to look into it - currently I'm fighting myself through rails again, realizing I haven't done anything with it in almost a decade :frowning:

[2019-02-26 15:18] ehrenfeu commented on #2348
This should probably read "*an event*" rather than "*a conference*", right?

[2019-02-26 15:30] Ana06 commented on #2348
@ehrenfeu

right :see_no_evil: Thanks!

[2019-02-26 18:16] ddemaio opened #2373 "Questions are not viewable"
Questions that are marked for someone who registers and not viewable by admin, so a question like t-shirt size can't be seen, which doesn't help with ordering the right sizes of t-shirts.
![error](https://user-images.githubusercontent.com/8996626/53436210-f7973580-39fa-11e9-8aef-93171917e3cc.png)
![questions](https://user-images.githubusercontent.com/8996626/53436214-fa922600-39fa-11e9-83f7-268fb4

[2019-02-27 00:05] uebmaster commented on #2179
You are awesome @ehrenfeu , it works, so many thanks.

[2019-02-27 00:10] uebmaster commented on #2360
@Ana06 the answer of @ehrenfeu works for me, thanks.

How can i mark the issue like solved?

The true is that i don't know much about github xD

I will make click in "close and comment", i hope that's the way.

PD: Sorry for my bad english.

[2019-02-27 00:10] #2360 closed

[2019-02-27 09:54] dguttierrez opened #2375 "Can't login to events.opensuse.org"
**I'm submitting a ..**
- [X] Bug Report
- [ ] Feature Request

**Current behavior:**

When I login to https://events.opensuse.org/conferences/oSC19 I got Error 500: Internal error.

**Expected correct behavior:**

There must be registration portal.

**Steps to reproduce:**

It happened to my username only "ast53". Coworker testet with his user/pass and have no errors. I have try to change passwor

[2019-02-27 18:37] rahul2240 commented on #2334
@Ana06 Can I work on it?

[2019-02-27 18:58] rahul2240 commented on #2347
@Ana06 removing the pickTime from [osem-datepickers.js](https://github.com/openSUSE/osem/blob/master/app/assets/javascripts/osem-datepickers.js) worked for me. Should I create a PR for it?

[2019-02-27 19:21] rahul2240 opened #2376 "Not able to create event"
**I'm submitting a ..**
- [x] Bug Report
- [ ] Feature Request

**Current behavior:**

After creating a conference, go to create events.
![bug](https://user-images.githubusercontent.com/25618739/53516677-dade2900-3af2-11e9-8f97-28c2ee309313.png)

**Expected correct behavior:**

Either redirect the user to /program/cfps to add cfp or allow the admin to create an event.

**Steps to reproduce:**

1.C

[2019-02-28 02:22] georgooty opened #2377 "messge while running Bundle install - issue"
**I'm submitting a ..**
- [ 1] Bug Report

**Current behavior:**

Bundle complete! 115 Gemfile dependencies, 273 gems now installed.
Use `bundle info [gemname]` to see where a bundled gem is installed.
Post-install message from rails-assets-markdown:
This component doesn't define main assets in bower.json.
Please open new pull request in component's repository:
https://github.com/evilstreak/markdo

[2019-02-28 10:14] ehrenfeu commented on #2376
Duplicate of #2348 ?

[2019-02-28 10:47] rahul2240 commented on #2376
@ehrenfeu my bad.

[2019-02-28 10:47] #2376 closed

[2019-02-28 11:00] snpd25 opened #2378 "Links are showing up, even when the conference is not created."
![screenshot from 2019-02-28 16-13-28](https://user-images.githubusercontent.com/32434989/53561574-3bae4580-3b75-11e9-9ebe-f1a370591da8.png)

On the right side, we can see that the links related to the conference are showing up, even when the conference could not be created as the organization name was blank.

**Expected correct behaviour:**
These links should not show up as they throw errors when

[2019-02-28 11:08] snpd25 commented on #2270
@Ana06 , I want to work on this issue, but the code [here](https://github.com/openSUSE/osem/blob/b68b7ca4006fff612e39e1b9df41c9bff90ec1f7/app/views/proposals/show.html.haml#L40) looks fine to me. Where do you think lies the bug?

[2019-02-28 16:19] Ana06 commented on #2270
@snpd25 have you been able to reproduce the issue?

[2019-02-28 16:22] Ana06 commented on #2347
@rahul2240

I also needed to get rid of it in https://github.com/openSUSE/osem/pull/2354 It seems it is not a valid attribute (maybe it was deprecated at some point :confused:)

Sure! :wink:  If you want to take a look if there are more broken datapickers, it would be appreciated :bouquet:

[2019-02-28 16:29] #2363 closed

[2019-02-28 16:34] Ana06 commented on #2378
Maybe we need to discuss how the workflow should be :thinking:

[2019-02-28 16:41] Ana06 commented on #2375
@hennevogel is that the problem which generate several users with same logins and different emails? Do we have an idea of how we want to solve this?

[2019-02-28 16:43] Ana06 commented on #2373
@ddemaio in case you need this info before the bug is fixed, let me know

[2019-02-28 22:52] hennevogel commented on #2375
Yeah there are two users in the production DB

a = {email: 'blah@example.com', username: 'user123', created_at: 2014-12-20)
b = {email: 'some@where.com, username: 'somewhere', created_at: 2013-02-28}

Now @dguttierrez tries to log in with 'somewhere' which in turn tries to update the email of that user to 'blah@example.com' because this is what the login proxy tells us (what is configured in the S

[2019-03-01 06:38] dguttierrez commented on #2375
Hello

I confirm, that registration now works.

Regards, Davor

[2019-03-01 09:45] Ana06 commented on #2375
@hennevogel but we can not know what users are affected until they report it, or do we have a way to know that? :thinking:

[2019-03-01 15:17] Ana06 commented on #2334
@rahul2240 sure! :wink:

[2019-03-01 16:21] hennevogel commented on #2375
nope. and you also never know the direction (which one of the two logins they use) until it happens. We could get rid of the index so we can have multiple accounts with the same email. But I'm not sure we're prepared for this.

[2019-03-01 16:28] hennevogel commented on #2377
Those are just info messages. Nothing to worry about.

[2019-03-01 16:28] #2377 closed

[2019-03-01 16:34] hennevogel commented on #2378
Obviously it is: Create Organization -> Anything else. So if there is none, we have only one thing to do: create one.

[2019-03-01 16:35] hennevogel commented on #1343
tracked in #2365 now...

[2019-03-01 16:35] #1343 closed

[2019-03-01 16:37] hennevogel commented on #2315
fixed this a while ago.

[2019-03-01 16:37] #2315 closed

[2019-03-01 16:38] hennevogel commented on #2179
So not a problem with our setup but ubuntu's handling of docker volumes. Sorry can't help you with that...

[2019-03-01 16:38] #2179 closed

[2019-03-02 08:27] rahul2240 commented on #2347
@Ana06 on it :+1:

[2019-03-02 09:14] snpd25 commented on #2270
@Ana06 sorry for replying late. I got in some trouble with setting up the development environment, will get back to this, once that's fixed.

[2019-03-02 17:17] differentreality commented on #2365
@Ana06 can you reproduce this locally?

[2019-03-02 18:17] #1924 closed

[2019-03-02 18:19] rishabhptr commented on #1926
Issue was resolved, so closing.

[2019-03-02 18:19] #1926 closed

[2019-03-02 18:42] Ana06 commented on #2270
@snpd25

To set up the development environment check the [development section of the CONTRIBUTING guide](https://github.com/openSUSE/osem/blob/master/CONTRIBUTING.md#development-environment) and if something there is not clear or you need help, just ask! :wink:

[2019-03-02 19:20] snpd25 commented on #2270
Thanks @Ana06 , I have mentioned the issue [https://stackoverflow.com/questions/54956329/error-message-asking-for-bundle-install-even-when-i-have-run-bundle-install](here) , please see if you need any other detail.

[2019-03-02 19:51] Ana06 commented on #2270
@snpd25

The version that is in the Gemfile.lock of the gem is 0.10.8, so it shouldn't be installed when running `bundle install`. Can you please provide more details of how you have set up docker and what are to exactly trying to execute?

[2019-03-02 19:54] Ana06 commented on #2270
@snpd25

The version that is in the Gemfile.lock of the gem is 0.10.8, so it shouldn't be installed when running `bundle install`. Can you please provide more details of how you have set up docker and what are to exactly trying to execute?

[2019-03-02 19:55] snpd25 commented on #2270
I have installed `docker-compose` and was trying to execute this command:
`docker-compose run --rm osem bundle exec rake db:bootstrap`

[2019-03-03 18:00] Ana06 commented on #2270
@snpd25 have you also run the following line from the guide?

[code]

[2019-03-04 08:42] snpd25 commented on #2270
Yes @Ana06 , I had done that, but nothing changed.

[2019-03-04 10:45] eduardoj opened #2387 "[production][questions#show] undefined method `answer' for nil:NilClass"
questions#show threw this 5 times
<pre>
undefined method `answer&#39; for nil:NilClass
</pre>
[https://events.opensuse.org/admin/conferences/oSC19/questions/65](https://events.opensuse.org/admin/conferences/oSC19/questions/65)"

[See this exception on Errbit](https://errbit-opensuse.herokuapp.com/apps/5620ca99dc71fa00b1000002/problems/5c7581700aff810008d7bbb8)

[2019-03-04 10:58] Ana06 commented on #2270
@snpd25 I think you may have updated the branch with master in the middle of the setup. Feel free to reach me in freenode IRC (Ana06 is my nickname) or to ask in the  #osem channel. I think it will be easier than writing it in Github. :wink:

[2019-03-05 08:01] kayleachampion opened #2388 "real name/display name handling"
**I'm submitting a ..**
- [ ] Bug Report
- [X ] Feature Request

**Current behavior:**

My apologies if this bug is too instance dependent (i.e. it's due to local configuration of the linux fest northwest site) and doesn't make sense to the team developing the product; since the site owners expressed that my request to have my name appear differently posed them some difficulty, I thought perhaps t

[2019-03-05 15:14] Ana06 commented on #2270
@meonkeys I can not reproduce the error. Are you the responsible of the instance where you get the bug? Does it have the current master code?

[2019-03-05 15:51] Ana06 commented on #2388
@kayleachampion from my point of view, there is just (Display) Name and Nick name. I don't think that having a Legal name in the application is needed. Why would Admins use this Legal name for?

[2019-03-05 15:52] Ana06 commented on #2388
@kayleachampion thanks for your feedback.

From my point of view, there is just (Display) Name and Nick name. I don't think that having a Legal name in the application is needed. Why would Admins use this Legal name for? What is the problem of having just a Display Name?

[2019-03-05 16:24] kayleachampion commented on #2388
I can think of a few reasons that admins might seek a legal name:
 -- they're making a list for checking people in and want to check the person's government-issued ID
 -- they need to supply a list of invitees to a security desk (which will in turn check ID)
 -- they will be issuing letters of invitation (my understanding is that this is useful for people trying to get institutional support or get

[2019-03-05 16:38] Ana06 commented on #2388
@kayleachampion

Why don't they use tickets instead? I have never been asked for my ID in a conference... Is this a real case?

is this a real case? are there conference checking IDs for security?

but I don't think something like this is supported with OSEM, how do you know if someone needs a VISA?

@ddemaio @differentreality @hennevogel what do you think? do you see a use of case for storing a L

[2019-03-05 18:33] uebmaster commented on #2348
i get the same, but for the comment of ehrenfeu i suppose that there is not problem, then how works "events"?

[2019-03-05 23:34] Sadat97 commented on #2020
I would love to help, can I be assigned to this?

[2019-03-05 23:54] Zennoe commented on #2365
Thank you for the PR. Can confirm that this issue was fixed.

[2019-03-06 03:42] georgooty opened #2392 "Unknown ruby interpreter version"
**I'm submitting a ..**
- [ 1] Bug Report
- [ 0] Feature Request

**Current behavior:**
RVM used your Gemfile for selecting Ruby, it is all fine - Heroku does that too,
you can ignore these warnings with 'rvm rvmrc warning ignore /osem_repo/Gemfile'.
To ignore the warning for all files run 'rvm rvmrc warning ignore allGemfiles'.

Unknown ruby interpreter version (do not know how to handle): ENV[OS

[2019-03-06 04:01] georgooty opened #2393 "rake aborted!"
**I'm submitting a ..**
- [1 ] Bug Report
- [0 ] Feature Request

**Current behavior:**

rake secret
rake aborted!
ExecJS::RuntimeUnavailable: Could not find a JavaScript runtime. See https://github.com/rails/execjs for a list of available runtimes.

ruby --version
ruby 2.5.0p0 (2017-12-25 revision 61468) [x86_64-linux]

**Expected correct behavior:**

**Steps to reproduce:**

**Other information:

[2019-03-06 05:40] meonkeys commented on #2270
@Ana06 I think it's old code. I'll ask the folks on the SeaGL SRE team.

[2019-03-06 08:06] snpd25 commented on #2022
@differentreality , Is this issue fixed or I can work on it?

[2019-03-06 08:24] snpd25 commented on #1951
@rishabhptr , Is this issue fixed? as I can't reproduce the error, It's working fine for me.

[2019-03-06 09:10] Ana06 commented on #2348
@uebmaster

I am not sure what you mean, can you please elaborate?

[2019-03-06 09:11] Ana06 commented on #2393
@georgooty can you provide more details of what have you done before this error happens?

[2019-03-06 09:12] Ana06 commented on #2392
@georgooty I do not completely understand what the problem is, can you please elaborate?

[2019-03-06 09:36] Ana06 commented on #2270
It seems this was fixed in https://github.com/openSUSE/osem/commit/6fa709a4de497a52100d14b458a975a4fe7ca645 This should fix the problem in your instance. Closing as this is already fixed in master.

[2019-03-06 09:36] #2270 closed

[2019-03-06 09:43] snpd25 commented on #2019
@differentreality , Is the issue fixed, if not can you provide an insight on how to reproduce this?

[2019-03-06 11:38] rahul2240 opened #2396 "Can't create questions if question type is nil"
**I'm submitting a ..**
- [x] Bug Report
- [ ] Feature Request

**Current behavior:**
![bu](https://user-images.githubusercontent.com/25618739/53878617-5f203700-4032-11e9-9404-bdfb2a7dae02.png)

**Steps to reproduce:**
1. Create conference
2. Questions
3. Create question

[2019-03-06 13:33] snpd25 opened #2397 "Unable to edit "call for events" form in call for content."
**I'm submitting a ..**
- [x] Bug Report

**Current behavior:**
I am unable to edit the call for event form. The text field for "start date" and "end date" is not being edited.

**Steps to reproduce:**
Create a new conference and try to create a call for event.

![screenshot from 2019-03-06 19-02-22](https://user-images.githubusercontent.com/32434989/53884830-71a26c80-4042-11e9-8d4c-73987b1d9b05.p

[2019-03-06 13:58] Ana06 commented on #2397
@snpd25 there is already an issue for this: https://github.com/openSUSE/osem/issues/2349

[2019-03-06 13:58] #2397 closed

[2019-03-06 16:00] Ana06 opened #2398 "create a factory for organizer"
A factory for organizer to be able to have in our tests just:

[code]

instead of:

[code]

Just similarly as how it is done with `admin`.

The current code needs to be adapted to use this factory.

[2019-03-06 16:01] Ana06 commented on #2396
Same https://github.com/openSUSE/osem/issues/2387 Can you please add this information in the original issue? I close this one.

[2019-03-06 16:01] #2396 closed

[2019-03-06 16:08] rahul2240 commented on #2396
@Ana06 this is related to questions#new and #2387 is related to questions#show, should I add this information to that issue?

[2019-03-06 16:11] Ana06 commented on #2396
I think both issues can be fixed together. Please add the info to #2387 :wink:

[2019-03-06 16:13] rahul2240 commented on #2387
same with creating questions without question type

![bu](https://user-images.githubusercontent.com/25618739/53895799-ccdf5980-4058-11e9-8d06-14ec8e532b3c.png)

[2019-03-06 17:02] georgooty commented on #2393
I installed ruby version 2.5.0 . and installed bundle version 1.17.1. then run bundle install.
I followed the below steps  to install osem, https://github.com/openSUSE/osem/blob/73c15e940458daf7da59ed855a987a4d2cc2123c/INSTALL.md
Please see the logs
----------------------
rake secret
rake aborted!
ExecJS::RuntimeUnavailable: Could not find a JavaScript runtime. See https://github.com/rails/execjs

[2019-03-06 17:02] georgooty commented on #2393
I installed ruby version 2.5.0 . and installed bundle version 1.17.1. then run bundle install.
I followed the below steps  to install osem, https://github.com/openSUSE/osem/blob/73c15e940458daf7da59ed855a987a4d2cc2123c/INSTALL.md
Please see the logs
----------------------
rake secret
rake aborted!
ExecJS::RuntimeUnavailable: Could not find a JavaScript runtime. See https://github.com/rails/execjs

[2019-03-06 17:04] georgooty commented on #2392
I installed ruby version 2.5.0 . and installed bundle version 1.17.1. then run bundle install.
I followed the below steps  to install osem, https://github.com/openSUSE/osem/blob/73c15e940458daf7da59ed855a987a4d2cc2123c/INSTALL.md

[2019-03-06 18:49] uebmaster commented on #2348
Hola, ya veo que hablas español y como veras mi ingles no es muy bueno que digamos jeje.

A lo que me referia es de que yo también experimente la misma situación que tu, cree una conferencia de ejemplo y al tratar de agregar un evento me marco error.

Pero por lo que veo que te contesto ehrenfeu al parecer no es un error del sistema, pero no entendí muy bien la respuesta que te dio de:"This should

[2019-03-06 19:08] differentreality commented on #2387
I think oSC19 should use surveys instead of questions, and we should work on bringing your answers from questions to surveys. We are no longer maintaining questions, as they are deprecated in favor of surveys.

[2019-03-06 20:55] kayleachampion commented on #2388
In the specific case that inspired me to write in, yes, they are asking for my legal name for an ID check; and yes, I've been asked for my ID when checking in to conferences many times. I agree that the international travel example is speculative; it's an example of a situation where event organizers might need legal name.

[2019-03-06 21:03] altsalt commented on #2388
Hello, I can affirm as a conference organizer that all of the cases mentioned do occur in the real world. There is often a requirement for legal identification, especially at events when alcohol is being served.

Also, I should mention that I personally do not go by my government issued name and have on occasion encountered issues related to it at conferences.

[2019-03-07 04:30] differentreality commented on #2388
I do see the real scenarios behind the examples mentioned above.

The real question is: Which part of those examples does OSEM relate to?
So that we can determine if it makes sense for OSEM to include that option (for legal name).

Registration would be one place - based on who is registered (speaker or not), organizers can grant extra access.

[2019-03-07 04:48] bear454 commented on #2388
@altsalt thx - yes Kaylea raised this with me first. LinuxFest Northwest runs parties, for which registered attendees are invited. Washington State Liquor Control Board insists we provide a list of legal names of party attendees, we have no intention of sharing this publicly.

WRT to ticketing, we don't use tickets for registration (it's redundant to require both (a) registration, and (b) a regist

[2019-03-07 04:53] differentreality commented on #2322
The video would be embedded in the page showing your proposal, ie https://events.opensuse.org/conference/oSSN19/program/proposal/2309

Randomly selected example:
https://events.opensuse.org/conferences/oSC18/program/proposal/1663/

What would you suggest? A better hint on the URL you mentioned?
A more extensive mention somewhere in a readme file?

[2019-03-07 04:55] differentreality commented on #2333
This can now be part of surveys anyway.

Part of this, though, is migrating travel details of older conferences into surveys.
We can make this a `good first issue` to handle the removal from the view file only. And let the DB fields be handled along with the above mentioned migration.

[2019-03-07 04:57] differentreality commented on #2332
Well that's the user profile menu - as an admin you can also add your own proposal :)

So you are only seeing that because you are a super user, but inspired by this issue, I know FOSDEM would be interested in having a way to allow users (any user, not just admins/organizers) to submit after the deadline (as an exception)

[2019-03-07 05:16] differentreality commented on #2378
The same thing would happen if the short_title already existed, it's because we build the conference in the new action, so there is a @conference item to be shown when we render back to new form.

I do agree with the workflow - have a default organization?

[2019-03-07 05:21] differentreality commented on #2352
Possibly because oSC19 does not allow speakers to edit their proposal after it has been confirmed. This is an option in program. But I'd like to confirm that's indeed the reason with server logs.

[2019-03-07 05:24] differentreality commented on #2022
@snpd25 sure :+1: go ahead, if you haven't already started working on something else!

[2019-03-07 05:25] differentreality commented on #2020
@Sadat97 sure :+1: go ahead! Thank you.

[2019-03-07 09:09] Ana06 opened #2399 "Log out with ichain enabled doesn't work"
I clicked _Sign out_ as a normal user in events.opensuse.org

![image](https://user-images.githubusercontent.com/16052290/53944990-d7cdd480-40c0-11e9-85b7-33a8bcfa118e.png)

and I got the following error:

![image](https://user-images.githubusercontent.com/16052290/53944972-c97fb880-40c0-11e9-9a61-a69a30d91b4e.png)

And I was still logged in.

I tried again and it did work.... so not sure if this

[2019-03-07 09:13] Ana06 opened #2400 "Make clearer that you need to log in to register"
If you are not logged in, the register button is disabled.

![image](https://user-images.githubusercontent.com/16052290/53945129-32673080-40c1-11e9-9346-3b68277b5854.png)

This is confusing, as the users think the registration is over or that there is a problem and not that they need to log in. Check: https://lists.opensuse.org/opensuse-conference/2019-03/msg00000.html

We should make this clearer

[2019-03-07 09:15] Ana06 commented on #2393
@hennevogel is https://github.com/openSUSE/osem/blob/73c15e940458daf7da59ed855a987a4d2cc2123c/INSTALL.md up to date? I don't think it is. Should we drop this guide and encourage people to use docker instead?

@georgooty thanks for the issue. You should be able to set your development environment easily with docker following the steps in the [CONTRIBUTING guide](https://github.com/openSUSE/osem/blo

[2019-03-07 09:16] Ana06 commented on #2392
@georgooty what is the error? what are you executing when the error happen?

[2019-03-07 09:20] Ana06 commented on #2387
@differentreality

But if we don't maintain them, why do they appear in the app? We should drop the functionality then and document this somewhere. :thinking:

[2019-03-07 10:25] Ana06 commented on #2333
@differentreality

well, you need two migrations, right? one data migration to move things around (if needed) and another migration to get rid of those fields. I think all this should be done together and I don't think it is a good candidate for good first issue. We have many small bugs lately anyway that we can label as good first issue.

[2019-03-07 10:27] Ana06 commented on #2388
ok, it seems this would be useful. :smile:

[2019-03-07 12:46] Ana06 commented on #2348
@uebmaster sorry, but we need to write English in the issues/PRs to allow that other people can follow the conversation and participate on it. You can ping me in freenode IRC or write me an email in Spanish if you have concrete problems, but in the issues/PRs is where we decide what we do and how. We have to give everybody the opportunity to be involved in the discussion. Just using other words or

[2019-03-07 12:47] Ana06 commented on #2348
@snpd25 just for next time, it is a good practice to write in the issue that you will take care of it before working on it. Just to avoid that two people work at the same time on it. :wink:

[2019-03-07 14:06] snpd25 commented on #2348
@Ana06 , will take care of it from now onwards!

[2019-03-07 14:18] snpd25 commented on #2400
@Ana, May I work on it?

[2019-03-07 17:03] differentreality commented on #2387
Because we haven't implemented a way to migrate the data for questions of past conferences just yet.

[2019-03-07 17:05] differentreality commented on #2333
Right, however, my point was not to split the migrations. I was merely saying we could drop the **view files** associated with questions, mainly because there are issues with questions, and organizers may or may not be able to see the answers to the questions anyway.
Touching tables, migrating data, that's another story.

[2019-03-07 17:27] rishabhptr commented on #1951
@snpd25 Yes this issue is quite old now, it seems to be fixed in latest build. :+1:

[2019-03-07 17:27] #1951 closed

[2019-03-07 18:33] georgooty commented on #2393
I'm still facing other errors if I used Docker.
$ docker-compose run --rm osem bundle exec rake db:bootstrap
ERROR: Couldn't connect to Docker daemon at http+docker://localhost - is it running?

If it's at a non-standard location, specify the URL with the DOCKER_HOST environment variable.

[2019-03-07 18:42] hennevogel commented on #2393
This is the current version.

https://github.com/openSUSE/osem/blob/master/INSTALL.md

[2019-03-07 18:42] #2393 closed

[2019-03-08 00:26] uebmaster commented on #2348
ok, it is understood.
Thanks for the explanaition.

[2019-03-08 02:05] georgooty commented on #2392
I installed ruby version 2.5.0. Nothing do, just go to the folder, this message comes.. Please note that I didn't set any environment variable. Please let me ruby which version supporting by osem?

[2019-03-08 12:18] #2348 closed

[2019-03-08 12:19] cyrillefr commented on #2398
Hello, I would like to work on this one.

[2019-03-08 12:29] Ana06 commented on #2398
go ahead @cyrillefr

[2019-03-08 13:29] Ana06 commented on #2392
@georgooty I am sorry, but I don't get when you get this error. Can you please try to use docker instead? It should work smoothy.

[2019-03-08 13:31] #2349 closed

[2019-03-08 13:57] #2331 closed

[2019-03-08 15:10] hennevogel commented on #2399
Works for me. Still an issue?

[2019-03-08 15:12] Ana06 commented on #2399
It happens once. For me it does work now. It was just after I created a new user... maybe related... Let close it and reopen if needed in the future.

[2019-03-08 15:12] #2399 closed

[2019-03-08 15:17] hennevogel commented on #2392
If RVM has problems with parsing ruby in Gemfiles you should report this to RVM, not here.

[2019-03-08 15:17] #2392 closed

[2019-03-08 19:25] ddemaio opened #2409 "Admin can't add commercial/slidedeck"
![commercialerror](https://user-images.githubusercontent.com/8996626/54050578-d34c0d80-41df-11e9-9715-3aaf1f05f403.png)

Unable to add slidedeck as an administrator for the commercial section. When submitting on the below section, the response on the topic appears.

![commercialpage](https://user-images.githubusercontent.com/8996626/54050689-1a3a0300-41e0-11e9-99e2-2b992ad8b90e.png)

[2019-03-09 13:59] ddemaio commented on #2409
The bug not only affects the administrator mode, but the user as well.

[2019-03-10 07:44] Dsxv opened #2411 "Easier schedule date input"
Hi!
This is a :
- [x] Feature Request while creating the new conference
<hr>

**Current Behaviour**
When the admin creates a  new conference , has to manually input date in `(dd/mm/yy)` format
![osem1current](https://user-images.githubusercontent.com/36789080/54082040-7f533d00-4335-11e9-8522-c9087b262361.gif)

<hr>

**Proposed Behaviour**
What we can do is set the input type to date so that the ad

[2019-03-10 07:54] Dsxv commented on #2411
Ps :I'd also like to work on this! :smile:

[2019-03-10 08:50] rahul2240 commented on #2411
Hi @Dsxv  :smile: ,
There is already a code for selecting date from calendar ([Check here](https://github.com/openSUSE/osem/blob/master/app/assets/javascripts/osem-datepickers.js)) but there is a bug in it right now.
Check this #2347 #2391

[2019-03-10 09:51] Dsxv commented on #2411
@rahul2240 I'm sorry! :sweat_smile: I did this hastily without looking up previous issues, by the way, are there any gitter channel for osem because I am new to this org and had some doubts in code base/website so I'd like to clarify them.
Thanks!

[2019-03-10 12:07] rahul2240 commented on #2411
You can use #osem channel on freenode IRC :smiley:

[2019-03-10 12:09] rishabhptr opened #2412 "Error on creating a Survey with empty title."
**I'm submitting a ..**
- [x] Bug Report
- [ ] Feature Request

**Current behavior:**

![survey](https://user-images.githubusercontent.com/26951824/54084792-40d07900-435b-11e9-92cc-2d4936dd305e.png)

**Expected correct behavior:**
It should display a message with the error.

**Steps to reproduce:**

Try to create a survey without any title.

[2019-03-10 12:51] Dsxv commented on #2328
@Ana06 Can I work on this?

[2019-03-10 18:56] differentreality commented on #2412
Good catch! Thanks @rishabhptr

[2019-03-11 06:27] snpd25 commented on #2311
@differentreality , can you provide more insight on what is needed to be done here?
Thanks.

[2019-03-11 08:04] differentreality commented on #2311
A talk can be given by multiple speakers. We need to allow the user to add multiple speakers in the proposal form.

[2019-03-11 08:08] differentreality commented on #2313
From your account `/accounts/edit` - there is a link for `Edit account` in the user menu (top right corner).

![Screenshot from 2019-03-11 10-07-00](https://user-images.githubusercontent.com/4322737/54108756-791c9980-43e5-11e9-83ba-5229f30087f7.png)

[2019-03-11 08:08] #2313 closed

[2019-03-11 08:11] snpd25 opened #2414 "Date-picker is not incorporated in creating Surveys"
**I'm submitting a ..**
- [ ] Bug Report
- [ ] Feature Request

In the surveys form the date-picker is not implemented. We can use #2354 here as well.
It is in addition to #2347 .

Steps to reproduce:
Try to create a survey.

[2019-03-11 15:17] Ana06 opened #2415 "Link to schedule in splash-page is gone"
In the program there use to be a see full schedule button that is now not shown. From [events.opensuse.org](https://events.opensuse.org/conferences/oSC19):

![image](https://user-images.githubusercontent.com/16052290/54134902-1218d800-4419-11e9-8c0f-613808834c1b.png)

It is really confusing for user not to find a link to the schedule. It is in the conference index page though.

[2019-03-11 15:40] Ana06 commented on #2414
I think that with one issue is enough. There are many datepicker broken. Let's keep https://github.com/openSUSE/osem/issues/2347 and close this. There is already a PR: https://github.com/openSUSE/osem/pull/2391

[2019-03-11 15:40] #2414 closed

[2019-03-11 15:42] Ana06 commented on #2411
Closing as there is already an issue for this (as @rahul2240 pointed out). @Dsxv apart from the #osem channel on freenode IRC, you can also ask directly in the issues/PR. :wink:

[2019-03-11 15:42] #2411 closed

[2019-03-12 05:49] rahul2240 opened #2418 "Error on submitting proposal when cfp is nil"
**I'm submitting a ..**
- [x] Bug Report
- [ ] Feature Request

**Current behavior:**
![bug](https://user-images.githubusercontent.com/25618739/54177543-966e6800-44b8-11e9-8273-c8df154d14ec.png)

**Expected correct behavior:**
Submit proposal button should not be present if cfp is nil

**Steps to reproduce:**
1.Create conference
2.Submit proposal

[2019-03-12 10:39] snpd25 commented on #2311
@differentreality ,Turning the multiple option true , looked fine to me.
![image](https://user-images.githubusercontent.com/32434989/54193772-c29ddf00-44e0-11e9-9ae4-3b146d081884.png)
and after saving.
![image](https://user-images.githubusercontent.com/32434989/54193889-009b0300-44e1-11e9-9238-54513cb5ddb9.png)
What else is required?

[2019-03-12 11:33] snpd25 commented on #2412
@rishabhptr , @differentreality , why survey_params is passed while rendering new? [here](https://github.com/openSUSE/osem/blob/2a0552d6b29bf3ce1ed64b33da2b643667718479/app/controllers/admin/surveys_controller.rb#L13). Is it for rendering already filled up data? I removed it and changed the redirection path.
![image](https://user-images.githubusercontent.com/32434989/54196185-b4eb5800-44e6-11e9-8a

[2019-03-12 12:30] Ana06 commented on #2418
Repeated issue: https://github.com/openSUSE/osem/issues/2348

This is already fixed on master

[2019-03-12 12:31] Ana06 opened #2420 "Add validation for Conference timezone"
If the time zone is nil when creating a conference it will fail the database level. We should have a validation as well.

To reproduce it, execute in the Rails console:

[code]

which raises:

[code]

[2019-03-12 16:54] rahul2240 commented on #2418
@Ana06 what about ([proposals#new](https://github.com/openSUSE/osem/blob/master/app/views/proposals/new.html.haml#L62))

[2019-03-12 21:35] cboltz opened #2421 "Discussion: Better proposal for the schedule design than the current carousel"
# Proposals for a design
## Current design: Carousel

### Pros

- It works for conferences with many rooms such as FOSDEM
- It is mobile friendly

### Cons

- You have to click multiple times to see the schedule of a single day
- The talks in the border are not clickable
- It is not possible to have smaller intervals (15 minutes)

## Keeping the rooms as files but with horizontal scroll

### Pros

[2019-03-13 00:14] josegomezr opened #2422 "DB Migration crashes"
**I'm submitting a ..**
- [x] Bug Report
- [ ] Feature Request

**Current behavior:**
Cannot run osem on a Postgresql database. Because of incompatible type changes in migrations.

**Expected correct behavior:**
It should migrate flawlessly

**Steps to reproduce:**
1. Fresh clone from openSUSE/osem (master branch, ref `2a0552d`).
2. Install dependencies.
3. Setup db environment variables.
3. `$ bu

[2019-03-13 04:48] differentreality commented on #2311
Sure looks like it! Please open a pull request so that we can see the proposed changes in the code.

[2019-03-13 04:52] differentreality commented on #2412
Params tell us the kind of survey we are creating.
For instance, here we are defining that we are creating a new Survey for a conference
https://github.com/openSUSE/osem/blob/master/app/views/admin/surveys/index.html.haml#L6

[2019-03-13 04:57] bear454 commented on #2415
Just went around in a circle with this myself - it's on the program - **Public Schedule**:

![Screenshot from 2019-03-12 21-57-17](https://user-images.githubusercontent.com/108494/54254675-ddd51280-4511-11e9-8785-629d8efe5dfc.png)

[2019-03-13 04:58] bear454 commented on #2415
https://github.com/openSUSE/osem/blob/master/app/views/conferences/_program.haml#L27

[2019-03-13 04:59] bear454 commented on #2388
I've started on this:

https://gitlab.com/lfnw/osem/commit/0b8dffd340c4aca394741140be098d1b13157c36

[2019-03-13 05:01] bear454 commented on #2421
This isn't a bug; the 'carousel' was added as a feature ... years ago.

https://github.com/openSUSE/osem/pull/1030

[2019-03-13 05:03] bear454 commented on #2322
it should be called 'video/slides' ... not 'commercial'.

[2019-03-13 06:22] differentreality commented on #2421
The bug is that you cannot click on some events because of the side arrows

On Wed, Mar 13, 2019, 07:01 James Mason <notifications@github.com> wrote: